{% extends "static_site/_template.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ asset_path }}stylesheets/{{ 'application.css' | version_filter }}" />
    {% if config.GOOGLE_ANALYTICS_ID %}
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ config.GOOGLE_ANALYTICS_ID }}', 'auto');
          ga('require', 'eventTracker', {
            attributePrefix: 'data-'
          });
          {% block google_analytics %}{% endblock %}
          ga('send', 'pageview');

        </script>
        <script src="/static/vendor/autotrack/autotrack.js"></script>
    {% endif %}
  <!--[if lte IE 8 ]>
    <link href="{{ asset_path }}stylesheets/ie8-fixes.css" media="screen" rel="stylesheet" />
  <![endif]-->

{% endblock %}
{% block header_class %}with-proposition{% endblock %}

{% block content %}

    {% block main_content %}
    {% endblock %}

{% endblock %}


{% block footer_top %}
  {% include 'static_site/_footer.html' %}
{% endblock %}


{% block proposition_header %}
    {%  if not preview %}
      {% include 'static_site/_header_navigation.html' %}
    {% endif %}
{% endblock %}


{% block body_end %}
  <script type="text/javascript" src="{{ asset_path }}javascripts/{{ 'all.js' | version_filter }}"></script>

  {% block body_end_more %}{% endblock %}
{% endblock %}
