<div class="footer-categories grid-row">
  <div class="column-two-thirds">
      <h2>Further information</h2>
      <ul>
          <li>
              <a href="https://www.gov.uk/government/publications/race-disparity-audit" data-on="click" data-event-category="Race Disparity Audit report" data-event-action="Link clicked">Race Disparity Audit report</a>
          </li>

          <li>
              <a href="/static/statement-of-compliance.pdf" data-on="click" data-event-category="PDF downloaded" data-event-action="Statement of compliance">Statement of compliance (PDF)</a>
          </li>
          <li>
              <a href="https://guide.ethnicity-facts-figures.service.gov.uk">Style guide and templates</a>
          </li>
      </ul>
  </div>
  <div class="column-one-third">
      <h2>Contact</h2>
      <ul>

          <li>
              <a data-on="click" data-event-category="E-mail link clicked" data-event-action="Contact e-mail" data-event-label="Footer" href="mailto:ethnicity@cabinetoffice.gov.uk">ethnicity@cabinetoffice.gov.uk</a>
          </li>

          {% if not static_mode and not current_user.is_anonymous and not preview %}
               <li>
                  <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
              </li>
               <li>
                   <a href="{{ url_for('static_site.topic', uri='testing-space') }}">Testing space</a>
               </li>
              {% if current_user.is_admin() %}
                  <li>
                      <a href="{{ url_for('admin.index') }}">Admin</a>
                  </li>
              {% endif %}
          {% endif %}
      </ul>
  </div>
</div>