<div class=" govuk-!-margin-top-4">
  <h2 class="govuk-heading-m">Sign up for our newsletter</h2>
  <p class="govuk-body">Get monthly updates on new and updated pages, policy activity, and events.

  </p>
  <p class="govuk-body">
    <a class="govuk-link"
       href="{{ url_for('static_site.privacy_policy').rstrip('/') }}">How we use and protect your data</a></p>

  <form action="{{ config.NEWSLETTER_SUBSCRIBE_URL }}"
        method="post">
    <input type="hidden"
           name="csrf_token"
           value="{{ csrf_token() }}" />

    <div class="govuk-form-group email">
      <label class="govuk-label"
             for="newsletter-email">Email address</label>
      <input id="newsletter-email"
             type="email"
             class="govuk-input govuk-input--width-20"
             name="EMAIL" />
      <button class="govuk-button">Subscribe</button>
    </div>

  </form>
</div>
