<div class=" govuk-!-margin-top-4">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Subscribe to our monthly updates</h2>
  <p class="govuk-body">We send out monthly updates on new and updated pages, and policy activity.</p>

  <form action="{{ config.NEWSLETTER_SUBSCRIBE_URL }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="govuk-form-group email">
      <label class="govuk-label" for="newsletter-email">Email address</label>
      <input id="newsletter-email" type="email" class="govuk-input" name="EMAIL" />
      <button class="govuk-button">Subscribe</button>
    </div>

  </form>
</div>
