<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6" />
    <h2 class="govuk-heading-s">Share this page</h2>
    <div class="share">

      {% set encoded_url = (config.RDU_SITE.rstrip('/') + url_for('static_site.measure_version', topic_slug=measure_version.measure.subtopic.topic.slug, subtopic_slug=measure_version.measure.subtopic.slug, measure_slug=measure_version.measure.slug, version='latest')) | urlencode %}

      {% set encoded_title = (measure_version.title | urlencode ) %}

      {% set links = [
        ['Twitter',  'https://twitter.com/intent/tweet?text=' + encoded_title  + '&url=' + encoded_url + '&hashtags=ethnicityfacts&via=cabinetofficeuk'],
        ['Facebook', 'https://www.facebook.com/sharer/sharer.php?u=' + encoded_url],
        ['LinkedIn', 'https://www.linkedin.com/cws/share?url=' + encoded_url]
        ]%}

      {% for platform, link in links %}
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-right-4 {{ platform | lower }}" href="{{ link }}" rel="noreferrer noopener nofollow" data-on="click" data-event-category="External link clicked" data-event-action="Share" data-event-label="{{ platform }}"><span class="govuk-visually-hidden">Share on </span>{{ platform }}</a>
      {% endfor %}

    </div>
  </div>
</div>
