{% if config.SURVEY_ENABLED and static_mode %}
  <script>
  setTimeout(function() {

    (function(t,e,s,o){var n,a,c;t.SMCX=t.SMCX||[],e.getElementById(o)||(n=e.getElementsByTagName(s),a=n[n.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=o,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdwINbe8_2FWhBurBaqpnZstlOod2KI6Grt8O8SQBV1RXQp.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");

  }, 10000)
  </script>
{% endif %}
