{% if dimension_dict.table_title %}
  <h3 class="govuk-heading-s">{{ dimension_dict.table_title }}</h3>
{% endif %}

{% set missing_data_sort_order_values = {
  "N/A": -9999999,
  "-": -9999998,
  "!": -9999997,
  "?": -9999996
}  %}

<div class="table-container-outer fixed-headers">
  <div class="table-container-middle">
    <div class="table-container-inner">

      <div class="table-container">
    <table class="govuk-table eff-table--dense measure-data {{ 'grouped' if dimension_dict.table.type == 'grouped' }} {{ 'grouped-rows no-sort' if dimension_dict.table.parent_child }}">
    <thead class="govuk-table__head">

      {% if (dimension_dict.table.type == "grouped") and (dimension_dict.table.columns|length > 1) %}
        {% set total_cells = (dimension_dict.table.columns|length * (dimension_dict.table.group_columns|length)) + 1 %}

        <tr class="govuk-table__row">
          <th class="govuk-table__header first eff-table__header--border-right"> </th>
          {% for group_column in dimension_dict.table.group_columns %}
              {% if group_column %}
                  <th colspan="{{ dimension_dict.table.columns|length }}" class="govuk-table__header eff-table__cell--padding-left {{ '' if loop.last else 'eff-table__header--border-right' }}">{{ group_column|safe }}</th>
              {% endif %}
          {% endfor %}
        </tr>

      {% else %}
      {% set total_cells = (dimension_dict.table.columns|length + 1) %}
      {% endif %}

      <tr>
        <th class="govuk-table__header first eff-table__header--border-right eff-table__cell--padding-left" aria-sort="none">
            {% if dimension_dict.table.category_caption %}
                {{ dimension_dict.table.category_caption }}
            {% else %}
                {{ dimension_dict.table.category }}
            {% endif %}
        </th>

        {% if dimension_dict.table.type == "grouped" %}

          {% if (dimension_dict.table.columns|length == 1) %}

            {% for group_column in dimension_dict.table.group_columns %}

                {% set th_class = "eff-table__header--border-right" if (loop.index != loop.length) %}

                {% if group_column %}
                    <th class="govuk-table__header eff-table__cell--padding-left {{th_class}}" aria-sort="none"> {{ group}} {{ group_column|safe }}</th>
                {% endif %}
            {% endfor %}

          {% else %}

            {% for group_column in dimension_dict.table.group_columns %}
                {% set group_loop = loop %}
                {% if group_column %}
                    {% for column in dimension_dict.table.columns %}
                      {% set th_class = "eff-table__header--border-right" if loop.last and (group_loop.index != group_loop.length) %}
                      <th class="govuk-table__header eff-table__cell--padding-left {{ th_class }}" aria-sort="none">{{ column }}</th>
                    {% endfor %}
                {% endif %}
            {% endfor %}
          {% endif %}
        {% else %}
          {% for text in dimension_dict.table.columns %}
          <th aria-sort="none" class="govuk-table__header eff-table__cell--padding-left">
            {{ text|safe }}
          </th>
          {% endfor %}

        {% endif %}
      </tr>

      {% if (dimension_dict.table.type == "grouped") and (dimension_dict.table.columns|length == 1) %}
        {% for heading in dimension_dict.table.columns %}
          {% if heading != '' %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell eff-table__cell--border-right eff-table__cell--padding-left"></td>
              {% for group_column in dimension_dict.table.group_columns %}
                {% set th_class = "eff-table__header--border-right" if (loop.index != loop.length) %}

                {% if group_column %}
                  <th class="govuk-table__header eff-table__cell--padding-left {{th_class}}"> {{ heading }}</th>
                {% endif %}
              {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}

    </thead>
    <tbody>
      {% for data in dimension_dict.table.data %}
        {% set next_row = dimension_dict.table.data[loop.index0 + 1] %}
        <tr class="govuk-table__row">
          {% set row_loop = loop %}
          {% for value in data['values'] %}
            {% set sort_value = value %}

            {% if data.sort_values %}
              {% if data.sort_values[loop.index0] in missing_data_sort_order_values %}
                {% set sort_value = missing_data_sort_order_values[data.sort_values[loop.index0]] %}
              {% elif data.sort_values[loop.index0] %}
                {% set sort_value = data.sort_values[loop.index0] %}
              {% endif %}
            {% endif %}

            {% set width = 100 /(loop.length + 1) %}

            {% if loop.first %}
              {% set data_order = data.order if data.order else row_loop.index0 %}
              {% set row_scope = 'rowgroup' if data.relationships and data.relationships.is_parent else 'row' %}
              <th class="govuk-table__header eff-table__header--padding-left eff-table__header--border-right" data-sort-value="{{ data_order }}" scope="{{ row_scope }}">{{ data.category }}</th>
            {% endif %}

            {# We only want the 'eff-table-__header-border-right' class on the last column within each group #}
            {% set td_class = "eff-table__header--border-right" if ((loop.index != loop.length) and (loop.index % (dimension_dict.table.columns|length) == 0)) %}

            <td data-sort-value="{{sort_value}}" class="govuk-table__cell eff-table__cell--padding-left {{ td_class }}">{{ value|value_filter|safe }}</td>
          {% endfor %}
        </tr>

        {% if next_row and next_row.relationships and next_row.relationships.is_parent %}
          </tbody>
          <tbody>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  </div></div></div>
</div>
<div class="table-footer">

    <p class="missing-data-explanation govuk-body">
        {% set table_data = dimension_dict.table.data | flatten %}

        {% if "N/A" in table_data or "n/a" in table_data %}
            <span class="explanation"><sup>*</sup> Not applicable</span>
        {% endif %}

        {% if "-" in table_data %}
            <span class="explanation"><span class="missing-data not-collected"></span> Data not collected</span>
        {% endif %}

        {% if "!" in table_data %}
            <span class="explanation"><span class="missing-data confidential"></span> Data withheld to protect confidentiality</span>
        {% endif %}

        {% if "?" in table_data %}
            <span class="explanation"><span class="missing-data sample-too-small"></span> Data withheld because a small sample size makes it unreliable</span>
        {% endif %}

    </p>

    {% if dimension_dict.table.footer %}
      <p>{{ dimension_dict.table.footer }}</p>
    {% endif %}

</div>
