{% extends "static_site/_base.html" %}

{% block main_content %}
<main id="content" role="main">
  {% include 'static_site/_phase_banner.html' %}
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="{{ url_for('static_site.index') }}">
          Ethnicity facts and figures
        </a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        About ethnicity
      </h1>
      <p>The population of England and Wales is made up of different ethnic groups, or ethnicities.</p>
      <p>This overview covers how ethnicity is defined, how data about ethnicity is gathered, and how this has changed over time.</p>
      <p>The section also gives an overall picture of the population by ethnicity.It analyses the different ethnic groups by age and sex and answers questions about income, birthplace, home and family.</p>
      <p><a href="{{ url_for('static_site.ethnic_groups_and_data_collected') }}{% if static_mode %}.html{%  endif %}">Ethnic groups and how data on ethnicity is collected</a></p>

      <div class="accordion">

        <div class="accordion-section">
          <div class="accordion-section-header">
            <h2 class="heading-medium">Overview of ethnicity in the UK</h2>
          </div>
          <div class="accordion-section-body">
            <ul class="links">
              <li>
                <a href="{{ url_for('static_site.ethnicity_and_type_of_family_or_household') }}{% if static_mode %}.html{% endif %}">
                  Ethnicity and type of family or household
                </a>
              </li>
              <li>
                <a href="{{ url_for('static_site.ethnic_groups_by_gender') }}{% if static_mode %}.html{% endif %}">
                  Ethnic groups by gender
                </a>
              </li>
              <li>
                <a href="{{ url_for('static_site.ethnic_groups_by_age') }}{% if static_mode %}.html{% endif %}">Ethnic groups in England and Wales by age</a>
              </li>
              <li>
                <a href="{{ url_for('static_site.population_by_ethnicity') }}{% if static_mode %}.html{% endif %}">Population of England and Wales by ethnicity</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</main>

{% endblock %}