{% extends "static_site/base.html" %}
{% block main_content %}
<main id="content" role="main">
  {% include 'static_site/phase_banner.html' %}
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="{{ url_for('static_site.index')}}">
          Ethnicity facts and figures
        </a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge margin-bottom-large">
        Origins of the project
      </h1>
      <p>The Prime Minister announced the Race Disparity Audit in August 2016 to publish Government data on disparities in treatment and outcomes in public services for all races.</p>
    </div>
  </div>
 
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">
        Data collection
      </h2>
      <h3 class="heading-medium">Scope</h3>
      <p>The initial review required all government departments to identify what information on race and ethnicity is held across UK public services.</p>
      <p>Given the scale of the exercise, data from central government departments was prioritised. Devolved administrations were asked to participate and share their data in order to provide a UK-wide picture. This means that:</p>
      <ul>
	      <li>local authority data is not included unless it is also available from a central department (e.g. the Department for Education provides school data in England at a local level)</li>
	      <li>Scotland, Wales and Northern Ireland data is included in areas that are not devolved (e.g. the Home Office reports on victims of crime across the UK), and we hope to include more of their data in the future</li>
      </ul>
    </div>
  </div>  
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">
        Framework
      </h2>
      <p>In order to benefit from best practice, expertise, rigorous public consultation and testing, we referenced the measurement framework used by the Equality and Human Rights Commission (EHRC). The EHRC framework measures and monitors progress on equality and human rights in England, Scotland and Wales and consists of a number of domains, indicators and measures. It aims to “describe the central and valuable things in life that are important to people and provide them with opportunities to flourish such as enjoying an adequate standard of living, being healthy, having good opportunities for learning and education, having legal security, and being free from crime and the fear of crime.” 
      </p>
      <p>There are a number of parallels between the EHRC domains and the areas that government is responsible for. In their final public consultation in early 2017, EHRC identified education, work, housing, health, living standards and social care, security and justice, participation and private life as their 7 proposed domains. This helped guide the 6 domains we now use, which give structure to the underlying ethnicity facts and figures:
      </p>
      <ul>
	      <li>Community and community action</li>
	      <li>Crime, justice and the law</li>
	      <li>Education</li>
	      <li>Health</li>
	      <li>Housing and living standards</li>
	      <li>Work</li>
      </ul>
      <p>EHRC have a framework model using domains, indicators and measures:</p>
       <ul>
	      <li>Domains reflect the things or areas in life that are important to people and enable them to flourish</li>
	      <li>Indicators are intended to capture and define the underlying concept that we are trying to measure</li>
	      <li>Measures capture and define the specific statistics that we are using to measure the underlying concept</li>
      </ul>
      <p>Our framework has a parallel structure in the form of topics, sub-topics and measures:</p>
       <ul>
	      <li>Topics reflect the key areas within the public sector that are important to people</li>
	      <li>Sub-topics group together similar subject areas within a topic</li>
	      <li>Measures capture specific facts and figures on a subject e.g. victims of crime, unemployment</li>
      </ul>  
      <p>We did not base our framework on government structures or departments. Instead, they are based on people’s perceptions and how they group subjects together. The website is structured around this framework and has been thoroughly tested to check that users can navigate easily and find the content that they are looking for.</p>         
    </div>
  </div> 
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">
        Selecting measures
      </h2>
      <p>Every department returned details of the data they held on race and ethnicity which included:</p>
      <ul>
	      <li>name of data source e.g. English Housing Survey or Census</li>
	      <li>a description of the data held to describe what is in the data source</li>
	      <li>type of data e.g. administrative or survey data</li>
	      <li>status e.g. Official Statistic or unpublished data</li>
	      <li>disaggregation
	      	<ul>
		      	<li>what level are ethnicities broken down to e.g. 2 categories (white/non-white), or 19 different ethnicities</li>
		      	<li>what other breakdowns are available e.g. by location, gender, income</li>
	      	</ul>
	      </li>
      </ul>
      
      <p>A list of questions was drawn up against the returns, to test with departments whether these datasets could show disparities, e.g. from the Home Office’s Crime Survey in England and Wales, how likely are people from different ethnicities to be victims of crime?</p>
      
      <p>The question list was refined as the structure of the datasets became clearer, and further details were understood on:</p>
      
       <ul>
	      <li>ethnicity breakdown e.g. 5 categories (Asian, Black, Mixed, White, Other) or 18 categories (which breaks Asian down further into Indian, Pakistani, Bangladeshi, Chinese and Other Asian)</li>
	      <li>other factors provided against the ethnicity data e.g. location, gender, income</li>
      </ul>  
      
      <p>A list of measures was then produced, which could provide facts and figures to answer those questions. For example, the question “Do children and young people from different ethnic backgrounds do better or worse than others in Key Stage 2?” mapped to the following measures:</p>  
      <ul>
	      <li>Key Stage 2 reading, writing and maths</li>
	      <li>Key Stage 2 reading</li>
	      <li>Key Stage 2 writing</li>
	      <li>Key Stage 2 maths</li>
	      <li>Key Stage 2 grammar, punctuation and spelling</li>
      </ul>
      <p>Each of these measures is presented online as an individual page. Each page shows how pupils achieve expected or higher standards in the above subjects, according to their backgrounds - which as well as ethnicity may include gender, where they live and free school meals eligibility. </p>
      <p>As there is a vast amount of data held by government relating to ethnicity, it was important to prioritise datasets and subject areas in order to add the most value as soon as possible. Hence the decision was made to focus on central government data which:</p>
      <ul>
	      <li>covered subject areas that matter most to our users e.g. health, education, work</li>
	      <li>provided more granular ethnicity breakdowns i.e. favouring a higher number of different ethnicities than merely “white or non-white”</li>
	      <li>included breakdowns by geography, income and gender</li>
	      <li>Provided more granular breakdowns by local area or business unit e.g. school, prison, hospital</li>
	  </ul>
	  <p>The prioritised list for launch was approved with government departments and No.10, with all other remaining datasets and measures to be added from July 2017 onwards. The aim being to improve ethnicity data collection and reporting over time, as well as progress.</p>   
    </div>
  </div>   

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">
        Collecting cross-government data
      </h2>
      <p>Based on our own user research, data expertise and existing good practices from ONS publishing, we established a format for collecting content from departments for each measure.</p>
      <p>The data held by different departments varies greatly in size, consistency and quality. There is limited standardisation and categorisation of the different ethnicities can vary greatly depending on how data was collected, when and by whom. We needed to establish common formats for the departments so that:</p>
      <ul>
	      <li>departments had a clear request that they were able to meet within a short time frame</li>
	      <li>we would have a standard format to receive, process, check and upload</li>
	      <li>we met users needs so that the website would present valuable content and data in formats they could understand and work with</li>
	      <li>the website could have a consistent experience which made it easy for users to find what they wanted, to navigate the site, and to understand and compare the content they were presented with</li>
	      <li>we could ensure trust, quality and value across the content that we presented</li>
      </ul>
      <p>Each measure, which relates to an individual web page, is built of a combination of 2 file templates:</p>
      <ul>	
      	<li><a href="#">Data format file</a> - this data is used to populate charts and tables</li>
	    <li><a href="#">Commentary</a> - this provides the content describing the facts and figures displayed, as well as caveats, technical details and how the data was collected</li>
      </ul>
      <p>Government departments returned these files for each of the prioritised measures which then went through additional checks to ensure quality and consistency.</p>
    </div>
  </div>  

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">
        Quality and consistency
      </h2>
      <h3 class="heading-medium">The review process</h3>
      <p>Every measure was reviewed by a data analyst and a content designer. They worked with the original department author on any changes that could improve quality, consistency and user understanding. These changes are explained in more detail below. Once all three had finalised the content, it was uploaded and sent for final departmental sign-off. Following sign-off, the measure was then ready for publication on the website.</p>
      
      <h3 class="heading-medium">Content design</h3>
      <p>Content designers reviewed each measure to make sure that the content:</p>
      <ul>
	      <li>was written in plain English</li>
	      <li>avoided jargon and explained technical terms clearly and simply</li>
	      <li>was consistent across the website</li>
	      <li>highlighted salient points and caveats or inconsistencies</li>
	      <li>followed the <a href="https://docs.google.com/document/d/1CHCfk7Qg_7tFtgupGI3uFhnpr68JbElraAnBTGeAam4/edit">GOV.UK and ONS styleguides</a></li>
      </ul>
      <p>Each measure, which relates to an individual web page, is built of a combination of 2 file templates:</p>
      <ul>	
      	<li><a href="#">Data format file</a> - this data is used to populate charts and tables</li>
	    <li><a href="#">Commentary</a> - this provides the content describing the facts and figures displayed, as well as caveats, technical details and how the data was collected</li>
      </ul>
      <p>Government departments returned these files for each of the prioritised measures which then went through additional checks to ensure quality and consistency.</p>
      <h3 class="heading-medium">Data analysis QA</h3>
      <p>Analysts quality assured the data returns to check for errors and files that weren’t in the specified format. They also worked with the content designers to check the commentary from a statistical perspective and give guidance on more technical points. Their review was based on:</p>
      <ul>
	      <li><a href="https://docs.google.com/document/d/1zU3klsebiWq0NG29lfFkce4Y0q76dQFLatmNg8npcn8/edit?usp=sharing">Race Disparity statistical principles</a></li>
	      <li><a href="https://docs.google.com/document/d/1YMeNUkVB55VSmINlppCaEZ_m7rUbJsbt0b8-i8eQj6g/edit?usp=sharing">Communicating quality</a></li>
      </ul>
    </div>
  </div>    
 
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">
        Developing the website
      </h2>
      
      <h3 class="heading-medium">Digital service standard</h3>
      <p>The service was delivered in line with Government Digital Service (GDS) <a href="https://www.gov.uk/service-manual">service manual</a> and <a href="https://www.gov.uk/service-manual/service-standard">digital service standard</a>. The Digital Service Standard is a set of 18 criteria to help government create and run good digital services. All public facing transactional services must meet the standard. It’s used by departments and the Government Digital Service to check whether a service is good enough for public use. The first of the 18 criteria is “Understand user needs”.</p>
      
      <h3 class="heading-medium">Understanding user needs</h3>
      <p>We have spoken to hundreds of users since the project started, to help us understand who are users are, what their different needs are, how those might already be met elsewhere, and what problems they had that we could solve.</p>
      <p>The different groups of users included:</p>
      <ul>
	      <li>members of the public</li>
	      <li>government policy officials and analysts</li>
	      <li>press and media</li>
	      <li>NGOs</li>
	      <li>academics</li>
	      <li>public service managers e.g. headteachers, job centre managers</li>
      </ul>
      <p>Their needs vary a great deal as does their comprehension of statistical data. We had to present our content in a clear and meaningful way to non-experts in statistics and data. We also needed to make sure it was accessible so that visually or manually impaired people could use the service. Users with more expertise in statistics and data manipulation needed access to the data and richer background information to give context on how it was collected and analysed.</p>
      <p>Our users came from a variety of ethnic backgrounds, locations and demographic profiles to reflect the diversity of the website’s user base.</p>
      <h3 class="heading-medium">Data analysis QA</h3>
      <p>Analysts quality assured the data returns to check for errors and files that weren’t in the specified format. They also worked with the content designers to check the commentary from a statistical perspective and give guidance on more technical points. Their review was based on:</p>
      
      <h3 class="heading-medium">Designing and testing the website</h3>
      <p>After an initial <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works">discovery phase</a>, where we investigated who our users were and what they needed, we started prototyping the website. We made a basic version of our website, which allowed us to test out specific areas with users. This happened on a weekly basis with different groups of users, and each week we adapted and changed the prototype based on what we had discovered in our user research.</p>
      <p>As we evolved our design, we were also able to look at the technology options that we needed in order to build the full version of the site, once we had finished the initial prototyping phase of work.</p>
      <p>We still continued to prototype and carry out user research, even as we built the platform, and will do so after going live. User research is an ongoing and vital part of maintaining and adapting digital services in order to improve them and consider changing user needs or users.</p>
      <p>Our users came from a variety of ethnic backgrounds, locations and demographic profiles to reflect the diversity of the website’s user base.</p>
      
      <h3 class="heading-medium">Assessments</h3>
      <p>All public facing government digital services need to go through <a href="https://www.gov.uk/service-manual/service-assessments/how-service-assessments-work">service assessments</a> to make sure that we have built the right thing in the right way. We passed our alpha assessment in March 2017, which allowed us to buy the technology we needed and start building the platform.</p>
      <p>Before the service could be publicly available, it went through private beta, which is a period of testing with a larger number of users on the launch-ready website. During this period, the website access is restricted only to specific users. Following feedback and analysis of the findings of private beta, MCO reviewed the site and we underwent a beta assessment which is a mandatory requirement to be a GOV.UK service and launch to the public.</p>
      <h3 class="heading-medium">Future changes</h3>
      <p>More measures will be added to the website over time. This will consist of new measures as well as updates over time to those already published.</p>
      <p>We will continue to update the website based on user feedback and what we learn after launch. Any feedback or queries should be sent to <a href="mailto:ethnicityenquiries@cabinetoffice.gov.uk">ethnicityenquiries@cabinetoffice.gov.uk</a>.</p>
    </div>
  </div>   
  
</main>

{% endblock %}
