{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Corrections to published data - GOV.UK{% endblock %}
{% block metaDescription %}All corrections we’ve made to data published on Ethnicity facts and figures, starting with the most recent.{% endblock %}
{% block socialTitle %}Corrections to published data on Ethnicity facts and figures{% endblock %}
{% block socialDescription %}All corrections we’ve made to data published on Ethnicity facts and figures, starting with the most recent.{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Corrections to published data');{% endblock %}


{% block content %}
    <h1 class="govuk-heading-xl">Corrections to published data</h1>

    {% if measure_versions_with_corrections|length > 0 %}
      {% for measure_version in measure_versions_with_corrections %}
        <div class="corrected-measure-version">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="{{ url_for('static_site.measure_version',
                               topic_slug=measure_version.measure.subtopic.topic.slug,
                               subtopic_slug=measure_version.measure.subtopic.slug,
                               measure_slug=measure_version.measure.slug,
                               version=measure_version.version) }}">
            {{ measure_version.title }}
          </a>
        </h2>
        <p class="govuk-body">
          Version: {{ measure_version.version }}
          <br>
          {{ measure_version.published_at | format_friendly_date }}
          <br>
          {{ measure_version.external_edit_summary }}
        </p>
        </div>
        <br>
      {% endfor %}
    {% else %}
      <p class="govuk-body">No data corrections have been published.</p>
    {% endif %}
{% endblock %}
