{% extends "base.html" %}
{% from "_shared/_status_banner_macro.html" import status_banner %}
{% from "_shared/_previous_and_next_navigation.html" import previousAndNextNavigation %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for("static_site.topic", topic_slug=topic_slug), "text": measure_version.measure.subtopic.topic.title},
  ]
  if not preview else
  none
%}

{% block pageTitle %}{{ measure_version.title }} - GOV.UK Ethnicity facts and figures{% endblock %}
{% block socialTitle %}{{ measure_version.title }}{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Measure');{% endblock %}

{% set version = 'latest' if measure_version.has_no_later_published_versions() else measure_version.version %}

{% block headEnd %}
    {{ super() }}

    {% if not measure_version.has_no_later_published_versions() %}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock %}

{% block mainElementDefinition %}<main id="content" itemscope itemtype="http://schema.org/NewsArticle">{% endblock %}

{% block content %}

  {% include "static_site/_measure_header.html" %}

  <div class="grid-row" itemscope itemtype="http://schema.org/Dataset">
    <div class="column-two-thirds">

          <meta itemprop="version" content=" {{ measure_version.version }}">
          <div itemprop="spatialCoverage" itemscope itemtype="http://schema.org/Place">
            <meta itemprop="name" content="{{ measure_version.format_area_covered() }}">
          </div>
          {% if measure_version.published_at %}<meta itemprop="dateModified" content="{{ measure_version.published_at | format_iso8601_date }}">{% endif %}
          {% if first_published_date %}<meta itemprop="datePublished" content="{{ first_published_date | format_iso8601_date }}">{% endif %}
          <div itemprop="creator" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="Race Disparity Unit">
            <meta itemprop="url" content="https://www.gov.uk/government/organisations/race-disparity-unit">
          </div>
        <div class="accordion-section">

          <div data-on="click" data-event-category="Accordion" data-event-action="Section opened" data-event-label="Data sources" class="accordion-section-header">
            <h2 id="data-sources" class="govuk-heading-m">Data sources</h2>
          </div>

          <div class="accordion-section-body">
            <div itemprop="isBasedOn" itemscope itemtype="http://schema.org/Dataset">
            <h3 class="heading-small">Source</h3>
            <p itemprop="name"><a href="{{ measure_version.primary_data_source.source_url }}" data-on="click" data-event-category="External link clicked" data-event-action="Data Source (Source Details section)" data-event-label="{{ measure_version.title }}" itemprop="url">
                {{ measure_version.primary_data_source.title }}</a>
            </p>

            {% if measure_version.primary_data_source %}
              {% if measure_version.primary_data_source.type_of_data %}
              <h3 class="heading-small">Type of data</h3>
              <p>{{ measure_version.primary_data_source.type_of_data| join_enum_display_names(' and ') }} data</p>
              {% endif %}

              {% if measure_version.primary_data_source.type_of_statistic %}
                <h3 class="heading-small">Type of statistic</h3>
                <p>{{ measure_version.primary_data_source.type_of_statistic.external }}</p>
              {% endif %}

              {% if measure_version.primary_data_source.publisher %}
                <h3 class="heading-small">Publisher</h3>
                <p itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{ measure_version.primary_data_source.publisher.name }}</span></p>
              {% endif %}

              {% if measure_version.primary_data_source.note_on_corrections_or_updates %}
                <h3 class="heading-small">Note on corrections or updates</h3>
                <p>{{ measure_version.primary_data_source.note_on_corrections_or_updates | render_markdown }}</p>
              {% endif %}

              {% if measure_version.primary_data_source.frequency_of_release %}
                <h3 class="heading-small">Publication frequency</h3>
                {% if measure_version.primary_data_source.frequency_of_release.description == 'Other' %}
                      {{ measure_version.primary_data_source.frequency_other }}
                {% else %}
                    {{ measure_version.primary_data_source.frequency_of_release.description }}
                {% endif %}
              {% endif %}

              {% if measure_version.primary_data_source.purpose %}
                  <h3 class="heading-small">Purpose of data source</h3>
                  {{ measure_version.primary_data_source.purpose | render_markdown }}
              {% endif %}
            {% endif %}

            </div>
            {% if measure_version.secondary_data_source %}
              <div class="secondary-source" itemprop="isBasedOn" itemscope itemtype="http://schema.org/Dataset">
                <h3 class="heading-small">Secondary source</h3>
                <p itemprop="name"><a href="{{ measure_version.secondary_data_source.source_url }}" data-on="click" data-event-category="External link clicked" data-event-action="Data Source (Source Details section)" data-event-label="{{ measure_version.secondary_data_source.title }}" itemprop="url">
                    {{ measure_version.secondary_data_source.title }}
                </a></p>

                {% if measure_version.secondary_data_source.type_of_data %}
                 <h3 class="heading-small">Type of data</h3>
                 <p>{{ measure_version.secondary_data_source.type_of_data| join_enum_display_names(' and ') }} data</p>
                {% endif %}

                {% if measure_version.secondary_data_source.type_of_statistic %}
                 <h3 class="heading-small">Type of statistic</h3>
                 <p>{{ measure_version.secondary_data_source.type_of_statistic.external }}</p>
                {% endif %}

                {% if measure_version.secondary_data_source.publisher %}
                  <h3 class="heading-small">Publisher</h3>
                  <p itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{ measure_version.secondary_data_source.publisher.name }}</span></p>
                {% endif %}

              {# We aren't showing this until dates in the database have been reviewed for consistency and correctness
                {% if measure_version.secondary_data_source.publication_date %}
                  <h3 class="heading-small">Publication release date</h3>
                  <p>{{ measure_version.secondary_data_source.publication_date }}</p>
                {% endif %}
              #}

                {% if measure_version.secondary_data_source.note_on_corrections_or_updates %}
                  <h3 class="heading-small">Note on corrections or updates</h3>
                  <p>{{ measure_version.secondary_data_source.note_on_corrections_or_updates | render_markdown }}</p>
                {% endif %}

                {% if measure_version.secondary_data_source.frequency_of_release %}
                  <h3 class="heading-small">Publication frequency</h3>
                  {% if measure_version.secondary_data_source.frequency_of_release.description == 'Other' %}
                        {{ measure_version.secondary_data_source.frequency_of_release_other }}
                  {% else %}
                      {{ measure_version.secondary_data_source.frequency_of_release.description }}
                  {% endif %}
                {% endif %}

                {% if measure_version.secondary_data_source.purpose %}
                  <h3 class="heading-small">Purpose of data source</h3>
                  {{ measure_version.secondary_data_source.purpose | render_markdown }}
                {% endif %}
              </div>

            {% endif %}

          </div>

        </div>

    {{ previousAndNextNavigation(
      previous_title="Methodology",
      previous_link=url_for('static_site.measure_version_methodology',
          topic_slug=topic_slug,subtopic_slug=subtopic_slug,measure_slug=measure_version.measure.slug,version='latest'),
      next_title="Download the data",
      next_link=url_for('static_site.measure_version_download_the_data',
          topic_slug=topic_slug,subtopic_slug=subtopic_slug,measure_slug=measure_version.measure.slug,version='latest')) }}


{% endblock %}
