{% extends "base.html" %}
{% from "_shared/_status_banner_macro.html" import status_banner %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for("static_site.topic", topic_slug=topic_slug), "text": measure_version.measure.subtopic.topic.title},
  ]
  if not preview else
  none
%}

{% block pageTitle %}{{ measure_version.title }} - GOV.UK Ethnicity facts and figures{% endblock %}
{% block socialTitle %}{{ measure_version.title }}{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Measure');{% endblock %}

{% set version = 'latest' if measure_version.has_no_later_published_versions() else measure_version.version %}

{% block headEnd %}
    {{ super() }}

    {% if not measure_version.has_no_later_published_versions() %}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock %}

{% block mainElementDefinition %}<main id="content" itemscope itemtype="http://schema.org/NewsArticle">{% endblock %}

{% block content %}

  {% include "static_site/_measure_header.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 id="download-the-data" class="govuk-heading-m">Download the data</h2>

            <div itemprop="license" itemscope itemtype="http://schema.org/CreativeWork">
              <meta itemprop="url" content="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">
              <meta itemprop="name" content="Open Government Licence">
            </div>

            {% for file in measure_version.uploads  %}
              {% if file.file_name %}
                {% set measure_version_data_url =
                  ("/" + topic_slug + "/"+  subtopic_slug + "/"+  measure_version.measure.slug + "/"+  version + "/downloads/" + file.file_name)
                  if static_mode else
                  url_for('static_site.measure_version_file_download',
                          topic_slug=topic_slug,
                          subtopic_slug=subtopic_slug,
                          measure_slug=measure_version.measure.slug,
                          version=measure_version.version,
                          filename=file.file_name)
                %}

                <div itemprop="distribution" itemscope itemtype="http://schema.org/DataDownload">
                  <meta itemprop="encodingFormat" content="text/csv">
                  <meta itemprop="contentSize" content="{{ file.size|filesize }}">
                  <meta itemprop="name" content="{{ file.title | striptags }}">
                  <a itemprop="contentUrl" href="{{ measure_version_data_url }}" data-on="click" data-event-category="CSV downloaded" data-event-action="Source data" data-event-label="{{ file.title }}">
                        {{ file.title }}
                        {{ " - Spreadsheet " if file.extension() == "csv" }}
                        {{ " - Microsoft Excel " if file.extension() == "xls" or file.extension() == "xlsx" }}
                        {{ " - Open Document Format " if file.extension() == "odf" }}
                        ({{ file.extension() }})
                        {{ file.size|filesize }}
                  </a>
                  {% if file.description %}
                    <p>{{ file.description }}</p>
                  {% else %}
                    <br />
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

          <div itemprop="includedInDataCatalog" itemscope itemtype="http://schema.org/DataCatalog">
            <meta itemprop="name" content="Ethnicity facts and figures">
            <meta itemprop="url" content="{{ url_for('static_site.index') }}">
          </div>
        </div>

        </div>
      </div>
    </div>
  </main>
{% endblock %}
