{% extends "static_site/_base.html" %}

{% block main_content %}
<main id="content">
  {% include 'static_site/_phase_banner.html' %}
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="{{ url_for('static_site.index') }}">
          Ethnicity facts and figures
        </a>
      </li>
      <li>
        <a href="/about-ethnicity{% if static_mode %}.html{%  endif %}">
          About ethnicity
        </a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Ethnic groups by economic status
      </h1>

      <p>To put the statistics about ethnicity in context, it’s useful to understand the socio-economic makeup of the general population. Socio-economic status is based on the type of work a person does (their ‘occupation’).</p>

      <p>Where there are differences between ethnic groups in accessing public services, the impact of factors like socio-economic status on those differences helps to interpret the findings.</p>

      <p>Socio-economic status can affect people’s lives in areas such as unemployment, housing and health. For example, people in higher managerial and professional occupations are more likely to own their own home, regardless of their ethnicity.</p>

      <h2 class="heading-medium">How the government collects socio-economic data</h2>

      <p>A census is held in the UK every 10 years to collect data on every person living in the country on a specific date. The government needs this data to develop policies, plan and run public services, and allocate funding. It also help illustrate differences between various groups of the population.</p>

      <p>In England and Wales, the census is planned and carried out by the Office for National Statistics. The last census was held in March 2011.</p>

      <p>The National Statistics Socio-economic Classification (NS-SEC) is used to identify socio-economic position based on occupation. A person’s NS-SEC category is worked out from a combination of:</p>

      <ul>
        <li>their occupation title</li>
        <li>whether they are employed or self-employed</li>
        <li>whether or not they supervise other employees</li>
      </ul>

      <p>The socio-economic classifications are:</p>

      <ul>
        <li>higher managerial and professional occupations</li>
        <li>lower managerial, administrative and professional occupations</li>
        <li>intermediate occupations (clerical, sales, service)</li>
        <li>small employers and own account workers</li>
        <li>lower supervisory and technical occupations</li>
        <li>semi-routine occupations</li>
        <li>routine occupations</li>
        <li>never worked or long-term unemployed</li>
        <li>full-time students</li>
      </ul>

      <p>In the census, full-time students are recorded in the 'full-time student' category even if they also work.</p>

      <h2 class="heading-medium">Ethnicity data</h2>

      <p>The 2011 Census used a <a href="/ethnic-groups-and-data-collected">standard set of ethnic groups</a> to collect and classify ethnicity data. There are 18 standardised ethnic categories, grouped under 5 broad categories: White, Mixed/Multiple, Asian/Asian British, Black/African/Caribbean/Black British, and Other ethnic group.</p>

      <h2 class="heading-medium">Socio-economic status by ethnicity</h2>

      <p>The White ethnic group is the largest in England and Wales, making up 86% of the total population. White people account for:</p>

      <ul>
        <li>71% of never worked and long-term unemployed</li>
        <li>72% of full-time students</li>
        <li>between 88% and 92% of every other socio-economic group, which is higher than their share of the general population</li>
      </ul>

      <p>Ethnic minority groups are around twice as likely to be in the never worked and long-term unemployed, or full-time student, categories, than in other categories.</p>

      <p>The large proportion of people from a White background, compared with other ethnic groups, makes it difficult to identify differences within most other socio-economic categories.</p>


    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <img src="/static/images/about-ethnicity/socio-economic-status-by-broad-ethnic-group.png" style="max-width: 100%;">

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Ethnicity by socio-economic status</h2>

      <p>It may be clearer to illustrate the population’s socio-economic makeup by taking ethnicity as the starting point. The socio-economic makeup of each ethnic group gives a better view of differences between groups.</p>

      <p>The higher managerial and professional occupations category includes:</p>

      <ul>
        <li>1 in 10 White British people (10%)</li>
        <li>nearly 1 in 7 Indians (15%), which is the highest proportion of all the ethnic groups</li>
        <li>just 3% of Gypsy and Irish Travellers, making it the group with the smallest proportion of members in this category</li>
      </ul>

      <p>On the other hand, just under 1 in 7 Gypsy and Irish Travellers (15%) are in the category of small employers and own account workers, making them the group with the highest proportion in the category.</p>

      <p>Nearly 1 in 10 White British people (9%) are in the category of small employers and own account workers. The group with the smallest proportion in this category is Black African, with 1 in 20 people (5%).</p>

      <p>Several ethnic groups have a large proportion of their population in the never worked and long-term unemployed category. For example:</p>

      <ul>
        <li>more than 3 in 10 Gypsy and Irish travellers (31%)</li>
        <li>around 1 in 4 Bangladeshi (25%) and Pakistani people (24%)</li>
        <li>1 in 5 people who identified as Arab (20%)</li>
      </ul>

      <p>For many of the ethnic groups, the largest proportion of their population was in the full-time student category. In the Census, full-time students are recorded in that category, even if they also work.</p>

      <p>One-third (33%) of people who identified as Chinese were in the full-time students category, the highest proportion of any of the ethnic groups.The other ethnic groups with full-time students making up the largest proportion of their group are:</p>

      <ul>
        <li>Mixed White and Black Caribbean (19%)</li>
        <li>Mixed White and Black African (22%)</li>
        <li>Mixed White and Asian (23%)</li>
        <li>Other Asian (19%)</li>
        <li>Black African (23%)</li>
        <li>Other Black (17%)</li>
        <li>Arab (28%)</li>
      </ul>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <table class="table measure-data grouped no-sort" style="margin-top: 2em;">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Ethnicity</th>
            <th aria-sort="none" class="line">Higher managerial, administrative, professional</th>
            <th aria-sort="none" class="line">Lower managerial, administrative, professional</th>
            <th aria-sort="none" class="line">Intermediate occupations</th>
            <th aria-sort="none" class="line">Small employers and own account workers</th>
            <th aria-sort="none" class="line">Lower supervisory and technical</th>
            <th aria-sort="none" class="line">Semi-routine occupations</th>
            <th aria-sort="none" class="line">Routine occupations</th>
            <th aria-sort="none" class="line">Never worked or long-term unemployed</th>
            <th aria-sort="none" class="">Full-time students</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="101" scope="row">Bangladeshi</th>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="" data-sort-value="0"></td>
          </tr>
          <tr>
            <th data-sort-value="102" scope="row">Chinese</th>
            <td class="line" data-sort-value="12.8">12.8</td>
            <td class="line" data-sort-value="9.6">9.6</td>
            <td class="line" data-sort-value="7.8">7.8</td>
            <td class="line" data-sort-value="7.3">7.3</td>
            <td class="line" data-sort-value="7.7">7.7</td>
            <td class="line" data-sort-value="11.5">11.5</td>
            <td class="line" data-sort-value="7.9">7.9</td>
            <td class="line" data-sort-value="25.3">25.3</td>
            <td class="" data-sort-value="18.7">18.7</td>
          </tr>
          <tr>
            <th data-sort-value="103" scope="row">Indian</th>
            <td class="line" data-sort-value="15.4">15.4</td>
            <td class="line" data-sort-value="13.4">13.4</td>
            <td class="line" data-sort-value="6.4">6.4</td>
            <td class="line" data-sort-value="9.8">9.8</td>
            <td class="line" data-sort-value="6.2">6.2</td>
            <td class="line" data-sort-value="7.4">7.4</td>
            <td class="line" data-sort-value="4.1">4.1</td>
            <td class="line" data-sort-value="6.7">6.7</td>
            <td class="" data-sort-value="33.3">33.3</td>
          </tr>
          <tr>
            <th data-sort-value="104" scope="row">Pakistani</th>
            <td class="line" data-sort-value="6.6">6.6</td>
            <td class="line" data-sort-value="17.7">17.7</td>
            <td class="line" data-sort-value="11.1">11.1</td>
            <td class="line" data-sort-value="8.2">8.2</td>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="line" data-sort-value="12.2">12.2</td>
            <td class="line" data-sort-value="8.7">8.7</td>
            <td class="line" data-sort-value="9.3">9.3</td>
            <td class="" data-sort-value="13.2">13.2</td>
          </tr>
          <tr>
            <th data-sort-value="109" scope="row">Asian other</th>
            <td class="line" data-sort-value="8.8">8.8</td>
            <td class="line" data-sort-value="9.9">9.9</td>
            <td class="line" data-sort-value="7.9">7.9</td>
            <td class="line" data-sort-value="11.4">11.4</td>
            <td class="line" data-sort-value="3.7">3.7</td>
            <td class="line" data-sort-value="11.3">11.3</td>
            <td class="line" data-sort-value="8.5">8.5</td>
            <td class="line" data-sort-value="24.4">24.4</td>
            <td class="" data-sort-value="16.3">16.3</td>
          </tr>
          <tr>
            <th data-sort-value="201" scope="row">Black African</th>
            <td class="line" data-sort-value="7.5">7.5</td>
            <td class="line" data-sort-value="16.5">16.5</td>
            <td class="line" data-sort-value="8.7">8.7</td>
            <td class="line" data-sort-value="7.5">7.5</td>
            <td class="line" data-sort-value="5.2">5.2</td>
            <td class="line" data-sort-value="14.1">14.1</td>
            <td class="line" data-sort-value="8.3">8.3</td>
            <td class="line" data-sort-value="12.4">12.4</td>
            <td class="" data-sort-value="18.6">18.6</td>
          </tr>
          <tr>
            <th data-sort-value="202" scope="row">Black Caribbean</th>
            <td class="line" data-sort-value="6.2">6.2</td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="" data-sort-value="0"></td>
          </tr>
          <tr>
            <th data-sort-value="209" scope="row">Black other</th>
            <td class="line" data-sort-value="5.9">5.9</td>
            <td class="line" data-sort-value="17">17.0</td>
            <td class="line" data-sort-value="8.2">8.2</td>
            <td class="line" data-sort-value="4.7">4.7</td>
            <td class="line" data-sort-value="3.9">3.9</td>
            <td class="line" data-sort-value="13.9">13.9</td>
            <td class="line" data-sort-value="7.9">7.9</td>
            <td class="line" data-sort-value="13.5">13.5</td>
            <td class="" data-sort-value="23.4">23.4</td>
          </tr>
          <tr>
            <th data-sort-value="301" scope="row">Mixed White/Asian</th>
            <td class="line" data-sort-value="11.5">11.5</td>
            <td class="line" data-sort-value="20.5">20.5</td>
            <td class="line" data-sort-value="14">14.0</td>
            <td class="line" data-sort-value="6">6.0</td>
            <td class="line" data-sort-value="6.4">6.4</td>
            <td class="line" data-sort-value="15.7">15.7</td>
            <td class="line" data-sort-value="11.8">11.8</td>
            <td class="line" data-sort-value="9.4">9.4</td>
            <td class="" data-sort-value="10">10.0</td>
          </tr>
          <tr>
            <th data-sort-value="302" scope="row">Mixed White/Black African</th>
            <td class="line" data-sort-value="7.9">7.9</td>
            <td class="line" data-sort-value="17.3">17.3</td>
            <td class="line" data-sort-value="11.1">11.1</td>
            <td class="line" data-sort-value="5.7">5.7</td>
            <td class="line" data-sort-value="5">5.0</td>
            <td class="line" data-sort-value="13.5">13.5</td>
            <td class="line" data-sort-value="9.2">9.2</td>
            <td class="line" data-sort-value="15">15.0</td>
            <td class="" data-sort-value="17.2">17.2</td>
          </tr>
          <tr>
            <th data-sort-value="303" scope="row">Mixed White/Black Caribbean</th>
            <td class="line" data-sort-value="4.9">4.9</td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="" data-sort-value="0"></td>
          </tr>
          <tr>
            <th data-sort-value="309" scope="row">Mixed other</th>
            <td class="line" data-sort-value="10.3">10.3</td>
            <td class="line" data-sort-value="19.7">19.7</td>
            <td class="line" data-sort-value="10.4">10.4</td>
            <td class="line" data-sort-value="6.6">6.6</td>
            <td class="line" data-sort-value="4.5">4.5</td>
            <td class="line" data-sort-value="9.8">9.8</td>
            <td class="line" data-sort-value="6.4">6.4</td>
            <td class="line" data-sort-value="8">8.0</td>
            <td class="" data-sort-value="23">23.0</td>
          </tr>
          <tr>
            <th data-sort-value="401" scope="row">White British</th>
            <td class="line" data-sort-value="9.8">9.8</td>
            <td class="line" data-sort-value="17.4">17.4</td>
            <td class="line" data-sort-value="9.6">9.6</td>
            <td class="line" data-sort-value="6.1">6.1</td>
            <td class="line" data-sort-value="5.5">5.5</td>
            <td class="line" data-sort-value="12.1">12.1</td>
            <td class="line" data-sort-value="9.3">9.3</td>
            <td class="line" data-sort-value="10.4">10.4</td>
            <td class="" data-sort-value="21.8">21.8</td>
          </tr>
          <tr>
            <th data-sort-value="402" scope="row">White Irish</th>
            <td class="line" data-sort-value="12">12.0</td>
            <td class="line" data-sort-value="15.1">15.1</td>
            <td class="line" data-sort-value="10.9">10.9</td>
            <td class="line" data-sort-value="5.8">5.8</td>
            <td class="line" data-sort-value="5.8">5.8</td>
            <td class="line" data-sort-value="14.7">14.7</td>
            <td class="line" data-sort-value="10.9">10.9</td>
            <td class="line" data-sort-value="12.5">12.5</td>
            <td class="" data-sort-value="19.4">19.4</td>
          </tr>
          <tr>
            <th data-sort-value="409" scope="row">White other</th>
            <td class="line" data-sort-value="12.4">12.4</td>
            <td class="line" data-sort-value="19.7">19.7</td>
            <td class="line" data-sort-value="10.6">10.6</td>
            <td class="line" data-sort-value="7.1">7.1</td>
            <td class="line" data-sort-value="5.2">5.2</td>
            <td class="line" data-sort-value="11.1">11.1</td>
            <td class="line" data-sort-value="8.8">8.8</td>
            <td class="line" data-sort-value="8.3">8.3</td>
            <td class="" data-sort-value="18.9">18.9</td>
          </tr>
          <tr>
            <th data-sort-value="601" scope="row">Arab</th>
            <td class="line" data-sort-value="11.5">11.5</td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="line" data-sort-value="0"></td>
            <td class="" data-sort-value="0"></td>
          </tr>
          <tr>
            <th data-sort-value="609" scope="row">Any other</th>
            <td class="line" data-sort-value="9.2">9.2</td>
            <td class="line" data-sort-value="21.3">21.3</td>
            <td class="line" data-sort-value="13.9">13.9</td>
            <td class="line" data-sort-value="9.5">9.5</td>
            <td class="line" data-sort-value="7.6">7.6</td>
            <td class="line" data-sort-value="14.8">14.8</td>
            <td class="line" data-sort-value="11.9">11.9</td>
            <td class="line" data-sort-value="4.7">4.7</td>
            <td class="" data-sort-value="6.6">6.6</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Ethnicity by socio-economic status and sex</h2>

      <p>A person's sex, alongside their ethnicity, may also have an impact on their socio-economic status.</p>

      <p>The Annual Population Survey (APS) collects data on adults aged 16 years and over. The data from 3 consecutive years is added together to produce estimates on how ethnicity is distributed by socio-economic status and sex.</p>

      <p>In the 3 years ending December 2015, women in nearly all ethnic groups were more likely to be in the never worked or unemployed category. The only exception was Black Caribbean women.</p>

      <p>In some ethnic groups, there are specific socio-economic categories with a clear difference between women and men. For example:</p>

      <ul>
        <li>Mixed White and Black African women are more likely to be in the lower managerial and professional category than men (25% compared with 11%)</li>
        <li>Pakistani women are less likely to be in the small employers and own account workers category than men (3% compared with 19%)</li>
        <li>Indian women are less likely to be in the higher managerial and professional category than men (13% compared with 27%)</li>
      </ul>

      <p>Unlike the census, the APS does not identify students as a separate category, so the two sources should not be compared.This is particularly important where a large proportion of an ethnic group are students, such as Chinese (where 1 in 3 are students) and Arab (nearly 1 in 4 are students).</p>

      <p>In the APS, students are counted in the socio-economic category that best relates to their economic activity categories. People from a Mixed ethnic background are the most likely to be inactive because they are students, while White British people are the least likely.</p>


    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <h2 class="heading-medium">Ethnicity by socio-economic group of men</h2>

      <table class="table measure-data grouped grouped-rows no-sort">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Ethnicity</th>
            <th aria-sort="none" class="line">Higher managerial, administrative, professional</th>
            <th aria-sort="none" class="line">Lower managerial, administrative, professional</th>
            <th aria-sort="none" class="line">Intermediate occupations</th>
            <th aria-sort="none" class="line">Small employers and own account workers</th>
            <th aria-sort="none" class="line">Lower supervisory and technical</th>
            <th aria-sort="none" class="line">Semi-routine occupations</th>
            <th aria-sort="none" class="line">Routine occupations</th>
            <th aria-sort="none" class="">Never worked or long-term unemployed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="101" scope="row">Bangladeshi</th>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="14">14</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="" data-sort-value="28">28</td>
          </tr>
          <tr>
            <th data-sort-value="102" scope="row">Chinese</th>
            <td class="line" data-sort-value="19">19</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="2">2</td>
            <td class="" data-sort-value="47">47</td>
          </tr>
          <tr>
            <th data-sort-value="103" scope="row">Indian</th>
            <td class="line" data-sort-value="27">27</td>
            <td class="line" data-sort-value="18">18</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="9">9</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="" data-sort-value="20">20</td>
          </tr>
          <tr>
            <th data-sort-value="104" scope="row">Pakistani</th>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="19">19</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="" data-sort-value="27">27</td>
          </tr>
          <tr>
            <th data-sort-value="109" scope="row">Asian other</th>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="14">14</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="14">14</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="" data-sort-value="27">27</td>
          </tr>
          <tr>
            <th data-sort-value="201" scope="row">Black African</th>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="15">15</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="" data-sort-value="33">33</td>
          </tr>
          <tr>
            <th data-sort-value="202" scope="row">Black Caribbean</th>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="15">15</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="" data-sort-value="33">33</td>
          </tr>
          <tr>
            <th data-sort-value="209" scope="row">Black other</th>
            <td class="line" data-sort-value="18">18</td>
            <td class="line" data-sort-value="20">20</td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="" data-sort-value="29">29</td>
          </tr>
          <tr>
            <th data-sort-value="301" scope="row">Mixed White/Asian</th>
            <td class="line" data-sort-value="19">19</td>
            <td class="line" data-sort-value="22">22</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="1">1</td>
            <td class="" data-sort-value="29">29</td>
          </tr>
          <tr>
            <th data-sort-value="302" scope="row">Mixed White/Black African</th>
            <td class="line" data-sort-value="16">16</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="line" data-sort-value="9">9</td>
            <td class="line" data-sort-value="2">2</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="14">14</td>
            <td class="" data-sort-value="31">31</td>
          </tr>
          <tr>
            <th data-sort-value="303" scope="row">Mixed White/Black Caribbean</th>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="21">21</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="" data-sort-value="29">29</td>
          </tr>
          <tr>
            <th data-sort-value="309" scope="row">Mixed other</th>
            <td class="line" data-sort-value="17">17</td>
            <td class="line" data-sort-value="24">24</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="" data-sort-value="26">26</td>
          </tr>
          <tr>
            <th data-sort-value="401" scope="row">White British</th>
            <td class="line" data-sort-value="15">15</td>
            <td class="line" data-sort-value="20">20</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="9">9</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="9">9</td>
            <td class="" data-sort-value="25">25</td>
          </tr>
          <tr>
            <th data-sort-value="402" scope="row">White Irish</th>
            <td class="line" data-sort-value="20">20</td>
            <td class="line" data-sort-value="19">19</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="" data-sort-value="27">27</td>
          </tr>
          <tr>
            <th data-sort-value="409" scope="row">White other</th>
            <td class="line" data-sort-value="15">15</td>
            <td class="line" data-sort-value="16">16</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="9">9</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="18">18</td>
            <td class="" data-sort-value="16">16</td>
          </tr>
          <tr>
            <th data-sort-value="601" scope="row">Arab</th>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="" data-sort-value="40">40</td>
          </tr>
          <tr>
            <th data-sort-value="609" scope="row">Any other</th>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="" data-sort-value="27">27</td>
          </tr>
        </tbody>
      </table>
      <div class="table-footer">
        <p class="missing-data-explanation"><span class="explanation"><span class="missing-data confidential"></span> Data withheld to protect confidentiality</span></p>
        <p>Source: Annual Population Survey 3-year dataset 2013/2015</p>
      </div>

      <h2 class="heading-medium">Ethnic group by socio-economic classification of women</h2>

      <table class="table measure-data grouped grouped-rows no-sort">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Ethnicity</th>
            <th aria-sort="none" class="line">Higher managerial, administrative, professional</th>
            <th aria-sort="none" class="line">Lower managerial, administrative, professional</th>
            <th aria-sort="none" class="line">Intermediate occupations</th>
            <th aria-sort="none" class="line">Small employers and own account workers</th>
            <th aria-sort="none" class="line">Lower supervisory and technical</th>
            <th aria-sort="none" class="line">Semi-routine occupations</th>
            <th aria-sort="none" class="line">Routine occupations</th>
            <th aria-sort="none" class="">Never worked or long-term unemployed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="101" scope="row">Bangladeshi</th>
            <td class="line" data-sort-value="4">4</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="15">15</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="2">2</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="" data-sort-value="51">51</td>
          </tr>
          <tr>
            <th data-sort-value="102" scope="row">Chinese</th>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="16">16</td>
            <td class="line" data-sort-value="9">9</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="" data-sort-value="47">47</td>
          </tr>
          <tr>
            <th data-sort-value="103" scope="row">Indian</th>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="22">22</td>
            <td class="line" data-sort-value="14">14</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="" data-sort-value="31">31</td>
          </tr>
          <tr>
            <th data-sort-value="104" scope="row">Pakistani</th>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="2">2</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="" data-sort-value="50">50</td>
          </tr>
          <tr>
            <th data-sort-value="109" scope="row">Asian other</th>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="19">19</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="14">14</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="" data-sort-value="35">35</td>
          </tr>
          <tr>
            <th data-sort-value="201" scope="row">Black African</th>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="19">19</td>
            <td class="line" data-sort-value="9">9</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="2">2</td>
            <td class="line" data-sort-value="16">16</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="" data-sort-value="36">36</td>
          </tr>
          <tr>
            <th data-sort-value="202" scope="row">Black Caribbean</th>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="21">21</td>
            <td class="line" data-sort-value="17">17</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="15">15</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="" data-sort-value="30">30</td>
          </tr>
          <tr>
            <th data-sort-value="209" scope="row">Black other</th>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="26">26</td>
            <td class="line" data-sort-value="14">14</td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="line" data-sort-value="14">14</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="" data-sort-value="33">33</td>
          </tr>
          <tr>
            <th data-sort-value="301" scope="row">Mixed White/Asian</th>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="21">21</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="" data-sort-value="34">34</td>
          </tr>
          <tr>
            <th data-sort-value="302" scope="row">Mixed White/Black African</th>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="25">25</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="" data-sort-value="33">33</td>
          </tr>
          <tr>
            <th data-sort-value="303" scope="row">Mixed White/Black Caribbean</th>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="20">20</td>
            <td class="line" data-sort-value="19">19</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="1">1</td>
            <td class="line" data-sort-value="16">16</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="" data-sort-value="30">30</td>
          </tr>
          <tr>
            <th data-sort-value="309" scope="row">Mixed other</th>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="23">23</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="2">2</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="" data-sort-value="28">28</td>
          </tr>
          <tr>
            <th data-sort-value="401" scope="row">White British</th>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="20">20</td>
            <td class="line" data-sort-value="15">15</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="" data-sort-value="32">32</td>
          </tr>
          <tr>
            <th data-sort-value="402" scope="row">White Irish</th>
            <td class="line" data-sort-value="9">9</td>
            <td class="line" data-sort-value="27">27</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="3">3</td>
            <td class="line" data-sort-value="2">2</td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="" data-sort-value="38">38</td>
          </tr>
          <tr>
            <th data-sort-value="409" scope="row">White other</th>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="20">20</td>
            <td class="line" data-sort-value="11">11</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="5">5</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="line" data-sort-value="13">13</td>
            <td class="" data-sort-value="21">21</td>
          </tr>
          <tr>
            <th data-sort-value="601" scope="row">Arab</th>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="9">9</td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="line" data-sort-value="0"><span class="missing-data confidential"></span><span class="visually-hidden">withheld to protect confidentiality</span></td>
            <td class="line" data-sort-value="7">7</td>
            <td class="line" data-sort-value="4">4</td>
            <td class="" data-sort-value="60">60</td>
          </tr>
          <tr>
            <th data-sort-value="609" scope="row">Any other</th>
            <td class="line" data-sort-value="8">8</td>
            <td class="line" data-sort-value="19">19</td>
            <td class="line" data-sort-value="10">10</td>
            <td class="line" data-sort-value="6">6</td>
            <td class="line" data-sort-value="2">2</td>
            <td class="line" data-sort-value="12">12</td>
            <td class="line" data-sort-value="8">8</td>
            <td class="" data-sort-value="37">37</td>
          </tr>
        </tbody>
      </table>

      <div class="table-footer">
        <p class="missing-data-explanation"><span class="explanation"><span class="missing-data confidential"></span> Data withheld to protect confidentiality</span></p>
        <p>Source: Annual Population Survey 3-year dataset 2013/2015</p>
      </div>

    </div>
  </div>

</main>
{% endblock %}