{% extends "static_site/base.html" %}
{% block page_title %}Ethnic groups by gender - GOV.UK{% endblock %}
{% block meta_title %}Ethnic groups by gender{% endblock %}

{% block main_content %}
<main id="content" role="main">
  {% include 'static_site/phase_banner.html' %}
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="{{ url_for('static_site.index') }}">
          Ethnicity facts and figures
        </a>
      </li>
      <li>
        <a href="/about-ethnicity{% if static_mode %}.html{%  endif %}">
          About ethnicity
        </a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Ethnic groups by gender
      </h1>

      <p>This service measures how experiences and outcomes differ for people of various ethnicities across public sector services.</p>

      <p>Gender can have an impact on people’s experiences of public services. For this reason, the service will often analyse data both by ethnicity and gender. </p>

      <p>To put the differences in context, it’s also important to understand how gender breaks down within ethnic groups across England and Wales.  </p>

      <p>Most ethnic groups are made of almost equal numbers of women and men.</p>

      <p>However, there are some exceptions. The Other White, Chinese and Black Caribbean groups all contain a higher percentage of women, at 53%.  </p>

      <p>The Arab and Any Other ethnic groups contain a higher percentage of men, at 58% and 54% respectively. </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <table class="table grouped grouped-rows no-sort" style="width: auto; margin-top: 20px;">
        <thead>
          <tr>
            <td class="first" style="width:25.0%">Ethnicity</td>
            <td colspan="1" style="width:25.0%">Male</td>
            <td class="" colspan="1" style="width:25.0%">Female</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-order="100" scope="rowgroup" style="width: 33.333333333333336%">Asian</th>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
          </tr>
          <tr>
            <th data-order="101" scope="row" style="width: 33.333333333333336%">Bangladeshi</th>
            <td data-order="52" style="width: 33.333333333333336%">52%</td>
            <td data-order="48" style="width: 33.333333333333336%">48%</td>
          </tr>
          <tr>
            <th data-order="102" scope="row" style="width: 33.333333333333336%">Chinese</th>
            <td data-order="47" style="width: 33.333333333333336%">47%</td>
            <td data-order="53" style="width: 33.333333333333336%">53%</td>
          </tr>
          <tr>
            <th data-order="103" scope="row" style="width: 33.333333333333336%">Indian</th>
            <td data-order="51" style="width: 33.333333333333336%">51%</td>
            <td data-order="49" style="width: 33.333333333333336%">49%</td>
          </tr>
          <tr>
            <th data-order="104" scope="row" style="width: 33.333333333333336%">Pakistani</th>
            <td data-order="51" style="width: 33.333333333333336%">51%</td>
            <td data-order="49" style="width: 33.333333333333336%">49%</td>
          </tr>
          <tr>
            <th data-order="109" scope="row" style="width: 33.333333333333336%">Asian other</th>
            <td data-order="49" style="width: 33.333333333333336%">49%</td>
            <td data-order="51" style="width: 33.333333333333336%">51%</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-order="200" scope="rowgroup" style="width: 33.333333333333336%">Black</th>
            <td data-order="48" style="width: 33.333333333333336%">48%</td>
            <td data-order="52" style="width: 33.333333333333336%">52%</td>
          </tr>
          <tr>
            <th data-order="201" scope="row" style="width: 33.333333333333336%">Black african</th>
            <td data-order="48" style="width: 33.333333333333336%">48%</td>
            <td data-order="52" style="width: 33.333333333333336%">52%</td>
          </tr>
          <tr>
            <th data-order="202" scope="row" style="width: 33.333333333333336%">Black caribbean</th>
            <td data-order="47" style="width: 33.333333333333336%">47%</td>
            <td data-order="53" style="width: 33.333333333333336%">53%</td>
          </tr>
          <tr>
            <th data-order="209" scope="row" style="width: 33.333333333333336%">Black other</th>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-order="300" scope="rowgroup" style="width: 33.333333333333336%">Mixed</th>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
          </tr>
          <tr>
            <th data-order="301" scope="row" style="width: 33.333333333333336%">Mixed White/Asian</th>
            <td data-order="51" style="width: 33.333333333333336%">51%</td>
            <td data-order="49" style="width: 33.333333333333336%">49%</td>
          </tr>
          <tr>
            <th data-order="302" scope="row" style="width: 33.333333333333336%">Mixed White/Black african</th>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
          </tr>
          <tr>
            <th data-order="303" scope="row" style="width: 33.333333333333336%">Mixed White/Black caribbean</th>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
          </tr>
          <tr>
            <th data-order="309" scope="row" style="width: 33.333333333333336%">Mixed other</th>
            <td data-order="49" style="width: 33.333333333333336%">49%</td>
            <td data-order="51" style="width: 33.333333333333336%">51%</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-order="400" scope="rowgroup" style="width: 33.333333333333336%">White</th>
            <td data-order="49" style="width: 33.333333333333336%">49%</td>
            <td data-order="51" style="width: 33.333333333333336%">51%</td>
          </tr>
          <tr>
            <th data-order="401" scope="row" style="width: 33.333333333333336%">White British</th>
            <td data-order="49" style="width: 33.333333333333336%">49%</td>
            <td data-order="51" style="width: 33.333333333333336%">51%</td>
          </tr>
          <tr>
            <th data-order="402" scope="row" style="width: 33.333333333333336%">White Irish</th>
            <td data-order="48" style="width: 33.333333333333336%">48%</td>
            <td data-order="52" style="width: 33.333333333333336%">52%</td>
          </tr>
          <tr>
            <th data-order="405" scope="row" style="width: 33.333333333333336%">White Gypsy or Irish Traveller</th>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
            <td data-order="50" style="width: 33.333333333333336%">50%</td>
          </tr>
          <tr>
            <th data-order="409" scope="row" style="width: 33.333333333333336%">White other</th>
            <td data-order="47" style="width: 33.333333333333336%">47%</td>
            <td data-order="53" style="width: 33.333333333333336%">53%</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-order="600" scope="rowgroup" style="width: 33.333333333333336%">Other</th>
            <td data-order="55" style="width: 33.333333333333336%">55%</td>
            <td data-order="45" style="width: 33.333333333333336%">45%</td>
          </tr>
          <tr>
            <th data-order="601" scope="row" style="width: 33.333333333333336%">Arab</th>
            <td data-order="58" style="width: 33.333333333333336%">58%</td>
            <td data-order="42" style="width: 33.333333333333336%">42%</td>
          </tr>
          <tr>
            <th data-order="609" scope="row" style="width: 33.333333333333336%">Any other</th>
            <td data-order="54" style="width: 33.333333333333336%">54%</td>
            <td data-order="46" style="width: 33.333333333333336%">46%</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-order="900" scope="rowgroup" style="width: 33.333333333333336%">All</th>
            <td data-order="49" style="width: 33.333333333333336%">49%</td>
            <td data-order="51" style="width: 33.333333333333336%">51%</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</main>

{% endblock %}