{% extends "static_site/_base.html" %}
{% block page_title %}Ethnicity and type of family or household - GOV.UK{% endblock %}
{% block meta_title %}Ethnicity and type of family or household{% endblock %}

{% block main_content %}
<main id="content" role="main">
  {% include 'static_site/_phase_banner.html' %}
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="{{ url_for('static_site.index') }}">
          Ethnicity facts and figures
        </a>
      </li>
      <li>
        <a href="/about-ethnicity{% if static_mode %}.html{%  endif %}">
          About ethnicity
        </a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Ethnicity and type of family or household
      </h1>

      <p>A household is one person or a group of people (not necessarily related) who have the accommodation as their only or main residence. If it is a group, they must share cooking facilities and also share a living room, sitting room or dining area.</p>

      <p>Researchers group households according to the relationship between the household members, also known as the ‘household composition’.</p>

      <p>Some households are composed of just one family. These families are classified according to whether the adults are married, in a same-sex civil partnership or cohabiting couple family, or whether one adult heads a single parent family. </p>

      <p>Other households may be composed of multi-generational families (grandparents, parents and children), wider family (aunts and uncles), or two unrelated families sharing a house. They may consist of students, people aged 65 and over, unrelated people, or be a single person household.</p>

      <p>In all of these households, the number of dependent children under 18, if any, is also taken into account. (Dependent children are those aged under 15, or aged 16 to 18 and in full-time education.)</p>

      <p>The ethnicity of a household is classified according to the ethnicity of the ‘household reference person’, (usually the oldest and most economically active member of the household). For this reason, the data presented here doesn’t reflect the true ethnic makeup of all households (some, for example, may be made up of relationships between people of different ethnicities).  </p>

      <p>However, because only 9% of relationships involve people from different ethnic groups, the analysis presented here is broadly reliable. </p>

      <p>The 2011 Census shows us that White British people make up 80.5% of the population of England and Wales and for this reason they are also the majority ethnic group in each type of household. </p>

      <p>However, a closer look at the data show trends within and between ethnic minority groups.

      <p>For example, 21% of households made up of a multi-generational family with dependent children were Asian, compared to 11% of households consisting of a married couple with dependent children. </p>

      <p>21% of all student households were also Asian.</p>

      <p>Similarly, 8% of lone parent with dependent children households were Black, compared to 3% of married or cohabiting couples with dependent children.</p>

      <p>These figures indicate that Asian households are more likely to be multi-generational or all student, and Black households more likely to be headed by lone parents than by a couple. </p>


      <p>[GRAPH GOES HERE]</p>


      <p>Looking at the types of household found within each ethnic group provides better insight  into the differences between ethnic groups.

      <p>The 2011 Census shows that within the broad ethnic groups, almost 1 in 3 Asian household reference people (HRPs) are part of married couples with dependent children.</p>

      <p>A similar proportion (31%) of Mixed race HRPs were in single person households under age 65.</p>

      <p>Around 1 in 5 (19%) Black HRPs were lone parents with dependent children, as were 16% of Mixed ethnicity HRPs.</p>


      <p>[GRAPH GOES HERE]</p>


      <p>Types of household among White ethnic groups</p>

      <p>Around a quarter (25%) of Other White HRPs were in single person households compared with 2 in 5 (40%) of those who identified as Irish. </p>

      <p>The Gypsy and Irish Traveller ethnic group were most likely to living in lone parent with dependent children households – 20% did so, the highest percentage of any ethnic group. </p>

      <p>The Other White ethnic group had the greatest percentage of people living in a married or same-sex couple with dependent children – 19% did so.  </p>

      <p>A further 13% of the Other white ethnic group lived in the Other household category (such as a multi-generational or student household). </p>

      <p>[GRAPH GOES HERE]</p>

      <p>Types of household among Mixed/Multiple ethnic groups</p>

      <p>The young age profile of the Mixed/Multiple ethnic groups is reflected in their type of household</p>

      <p>Overall, more than 1 in 3 Mixed ethnic HRPs (35%) were in single person households, and 16% were lone parents with dependent children. </p>

      <p>A quarter of Mixed White and Black Caribbean HRPs (23%) were lone parents with dependent children. Another 37% of Mixed White and Black Caribbean HRPs were in single person households. </p>

      <p>[GRAPH GOES HERE]</p>

      <p>Types of household among Asian ethnic groups</p>

      <p>Overall, Asian HRPs were the least likely of any of the broad ethnic groups to live in a single person households, with only 17% doing so.</p>

      <p>However, when the data is broken down into the detailed Asian ethnic categories, we see that a quarter (25%) of Chinese HRPs headed single person households under age 65. </p>

      <p>Similarly, at the broad category level, Asians HRPs were the least likely ethnic group to cohabit, with 3% doing so. However,  7% of Chinese HRPs were found to be in cohabiting households. </p>

      <p>Chinese HRPs were also more likely than any other Asian group to be part of an all-student household, with 7% living in one. </p>

      <p>Pakistanis and Bangladeshis were most likely to be in households with dependent children:
      39% of Pakistani HRPs and 43% of Bangladeshi HRPs lived in a married couple household, and 15% of Pakistani HRPs and 16% of Bangladeshi HRPs lived in the Other household type (multi-generational or all student). </p>

      <p>[GRAPH GOES HERE]</p>

      <p>Types of household among Black/Black British ethnic groups</p>

      <p>Of the broad ethnic groups, the Black ethnic group has the highest proportion of lone parent households, at 13%. </p>

      <p>However, when the data is broken down into the more specific ethnic categories, we see that a higher proportion (26%) of Other Black HRPs headed lone parent households, with 21% having dependent children, and 5% non-dependent children. This is in contrast to the data for lone parents households in the population as a whole, where only two-thirds were found to have dependent children. </p>

      <p>Almost 2 in 5 (38%) Black Caribbean HRPs were in single person households, the largest proportion within the broad Black ethnic group.</p>

      <p>Black African HRPs were twice as likely to be in married or same sex couples with dependent children than Black Caribbean HRPs (20% compared with 10%). Black African HRPs were also more likely than Other Black ethnic group to be in Other household types (eg, multi-generational) with 18% in this household type.</p>

      <p>[GRAPH GOES HERE]</p>

      <p>Other ethnic groups</p>

      <p>A similar proportion of Arab HRPs and those in the Other ethnic groups were in single person households (31% and 30%). </p>

      <p>Arabs were more likely than those in the Other ethnic groups to be in married or same sex couple households with dependent children (30% compared with 23%).</p>

      <p>HRPs in the Other ethnic groups were more likely than Arabs to be cohabiting (6% compared with 4%).</p>

      <p>[GRAPH GOES HERE]</p>

      <p>Data shown is taken from the Office of National Statistics 2011 Census and categorises households using the definitions explained on this page.</p>

    </div>
  </div>
</main>

{% endblock %}