<div class='footer-categories grid-row'>
  <div class='column-one-third'>
      <h2>Contact</h2>
      <ul>
        <li>
          <a href='#'>ethnicty-enquiries@.cabinetoffice.gov.uk</a>
        </li>
      </ul>
  </div>
  <div class='column-two-thirds'>
      <h2>About Government Data on Ethnicity</h2>
      <ul>
        <li>
          <a href='https://docs.google.com/document/d/1C-9dyVUNcsIZJjmktCCdKwZ5HmtUZw9d9Jjqo1OFwLo/edit'>
            Methodology
          </a>
        </li>
        <li>
          <a href='#'>Contextual analysis</a>
        </li>
      </ul>
  </div>
</div>
