{% extends "base.html" %}

{% set breadcrumbs = none %}

{% block pageTitle %}Ethnicity facts and figures – GOV.UK{% endblock %}
{% block socialTitle %}Ethnicity facts and figures{% endblock %}
{% block socialDescription %}Government data on how race and ethnicity affects health, education, housing, work & crime
outcomes for people in the UK, produced by the Race Disparity Audit{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Home');{% endblock %}

{% block head %}
{{ super() }}
<meta name="description"
      content="Government data on how race and ethnicity affects health, education, housing, work & crime outcomes for people in the UK, produced by the Race Disparity Audit">
{% endblock %}

{% block bodyClasses %}with-hero{% endblock %}
{% block bodyStart %}{{ super( )}}
<div itemscope
     itemtype="http://schema.org/DataCatalog">{% endblock %}
  {% block bodyEnd %}{{ super( )}}</div>{% endblock %}

{% block phaseBanner %}
{{ render_phase_banner(reversed=True) }}
{% endblock %}

{% block main %}
<main id="main-content">

  <div class="hero-container">
    <div class="hero">
      <div class="hero-inner">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
              Ethnicity facts and figures
            </h1>
            <p class="govuk-body">Government data about the UK's different ethnic groups.</p>
            <p class="govuk-body"> 87% of people in the UK are
              White, and 13% belong to a Black, Asian, Mixed or Other ethnic group (2011
              Census data).
            </p>

            <p class="govuk-body">Find information about the experiences and outcomes of people from a variety of ethnic
              backgrounds.</p>

            <form id="search-form"
                  class="eff-search__form"
                  action="{{ config.GOOGLE_CUSTOM_SEARCH_ENDPOINT }}"
                  method="get"
                  role="search">
              <label for="site-search-text"
                     class="eff-search__label"
                     id="site-search-label">Search</label>
              <input type="search"
                     name="q"
                     id="site-search-text"
                     title="Search facts and figures"
                     class="eff-search__input eff-search__input--text js-search-focus"
                     value="{{ current_search_value if current_search_value is defined and current_search_value else '' }}">
              <input id="search-form-cx"
                     type="hidden"
                     name="cx"
                     value="{{ config.GOOGLE_CUSTOM_SEARCH_ID }}"
                     class="eff-search__input">
              <input class="eff-search__input eff-search__input--submit"
                     type="submit"
                     value="Search">
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-row"
         id="topic-section">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Data by topic
        </h2>
      </div>
    </div>

    <ul class="govuk-list">
      {% for topic_batch in (topics|selectattr('has_published_measures') if static_mode else topics)|batch(3) %}
      <div class="govuk-grid-row topic-row govuk-!-margin-bottom-3">
        {% for topic in topic_batch %}
        <div class="govuk-grid-column-one-third topic">
          <li>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link"
                 href="{{ url_for('static_site.topic', topic_slug=topic.slug) }}">{{ topic.short_title_or_title }}{% if topic.has_published_measures == false %}
                (not published){% endif %}</a>
            </h3>
            <p class="govuk-body">{{ topic.description }}</p>
          </li>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </ul>

    <div class="govuk-grid-row govuk-!-margin-bottom-3"
         id="ethnicity-reports-section">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Data by ethnic group
        </h2>

        <p class="govuk-body">There are <a class="govuk-link"
             href="{{ url_for('static_site.style_guide_ethnic_groups') }}">18 ethnic groups</a> in England and Wales.</p>
        <p class="govuk-body">These are the first in a <a class="govuk-link"
             rel="external"
             href="https://dataingovernment.blog.gov.uk/2019/06/27/how-were-helping-people-understand-ethnicity-data/">
            series of summaries</a> about some of those groups.</p>
      </div>
    </div>

    <ul class="govuk-list govuk-grid-row ">
      <li class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Asian</h3>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link"
               href="{{ url_for('static_site.indian_ethnic_group') }}">
              Indian
            </a>
          </li>
          <li>
            <a class="govuk-link"
               href="{{ url_for('static_site.chinese_ethnic_group') }}">
              Chinese
            </a>
          </li>
        </ul>
      </li>
      <li class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Black</h3>

        <a class="govuk-link"
           href="{{ url_for('static_site.black_caribbean_ethnic_group') }}">
          Black Caribbean
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-4" />

    {% include 'static_site/_newsletter-sign-up.html' %}

  </div>
</main>

{% endblock %}
