{% extends "base.html" %}

{% set breadcrumbs = none %}

{% block pageTitle %}Ethnicity facts and figures – GOV.UK{% endblock %}
{% block socialTitle %}Ethnicity facts and figures{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Home');{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="description" content="Government data on how race and ethnicity affects health, education, housing, work & crime outcomes for people in the UK, produced by the Race Disparity Audit">
    <meta property="og:description" content="Government data on how race and ethnicity affects health, education, housing, work & crime outcomes for people in the UK, produced by the Race Disparity Audit" />
{% endblock %}

{% block bodyClasses %}with-hero{% endblock %}
{% block bodyStart %}{{ super( )}}<div itemscope itemtype="http://schema.org/DataCatalog">{% endblock %}
{% block bodyEnd %}{{ super( )}}</div>{% endblock %}

{% block phaseBanner %}
  {{ render_phase_banner(reversed=True) }}
{% endblock %}

{% block main %}
<main id="main-content">

  <div class="hero-container">
    <div class="hero">
      <div class="hero-inner">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">
                  Ethnicity facts and figures
              </h1>
              <p class="govuk-body">87% of people in the UK are White, and 13% belong to a Black, Asian, Mixed or Other ethnic group, according to the combined 2011 censuses for England and Wales, Scotland, and Northern Ireland.</p>

              <p class="govuk-body">Use this service to find information about the different experiences of people from a variety of ethnic backgrounds. It gathers data collected by government in one place, making it available to the public, specialists and charities.</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-row" id="topic-section">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">
                Explore data on ethnicity by topic
            </h2>
        </div>
    </div>

    <ul class="govuk-list">
    {% for topic_batch in (topics|selectattr('has_published_measures') if static_mode else topics)|batch(3) %}
      <div class="govuk-grid-row topic-row">
          {% for topic in topic_batch %}
          <div class="govuk-grid-column-one-third topic">
            <li>
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                  <a class="govuk-link" href="{{ url_for('static_site.topic', topic_slug=topic.slug) }}">{{ topic.short_title_or_title }}{% if topic.has_published_measures == false %} (not published){% endif %}</a>
              </h3>
              <p class="govuk-body">{{ topic.description }}</p>
            </li>
          </div>
          {% endfor %}
      </div>
    {% endfor %}
    </ul>

    <div class="govuk-grid-row" id="ethnicity-reports-section">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Ethnic group summaries
        </h2>
      </div>
    </div>

    <ul class="govuk-list govuk-grid-row">
      <li class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Asian</h3>

          <ul class="govuk-list">
            <li>
              <a class="govuk-link"
                href="https://www.gov.uk/government/publications/ethnicity-facts-and-figures-indian-ethnic-group">
                Indian
              </a>
            </li>
          </ul>
      </li>
      <li class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Black</h3>

          <a class="govuk-link"
            href="https://www.gov.uk/government/publications/ethnicity-facts-and-figures-black-caribbean-ethnic-group">
            Black Caribbean
          </a>
      </li>
    </ul>

    <div class="govuk-grid-row">
      <p class="govuk-body govuk-grid-column-two-thirds">
      These are the first summaries in a planned series.
        <a class="govuk-link"
          href="https://dataingovernment.blog.gov.uk/2019/06/27/how-were-helping-people-understand-ethnicity-data/">
          Read our blog post about these summaries</a>.
      </p>
    </div>


    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-4" />

    <h2 class="govuk-heading-m">Updates</h2>

    <ul class="govuk-list">
      <div class="govuk-grid-row">
        <li>
          <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="{{ url_for('dashboards.whats_new') }}">New and updated pages</a></h3>
              <p class="govuk-body">Recent updates to the website</p>
          </div>
        </li>

        <li>
          <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="{{ url_for('dashboards.planned_pages') }}">Planned pages</a></h3>
              <p class="govuk-body">What’s being worked on and coming up next</p>
          </div>
        </li>
      </div>
    </ul>

    {% include 'static_site/_newsletter-sign-up.html' %}

  </div>
</main>

{% endblock %}
