{% extends "static_site/_base.html" %}
{% block page_title %}{{ measure_page.title }} - GOV.UK Ethnicity facts and figures{% endblock %}
{% block meta_title %}{{ measure_page.title }}{% endblock %}

{% block head %}
    {{ super() }}
    {% if config.JSON_ENABLED %}
        {% if static_mode %}
            {% set version = 'latest' if measure_page.has_no_later_published_versions(config['PUBLICATION_STATES']) else measure_page.version %}
            <link rel="alternate" type="application/json" title="{{ measure_page.title }}"
                  href="/{{ topic }}/{{ subtopic }}/{{ measure_page.uri }}/{{ version }}/data.json">
        {% else %}
            <link rel="alternate" type="application/json" title="{{ measure_page.title }}" href="{{ url_for('static_site.measure_page_json',
                          topic=topic,
                          subtopic=subtopic,
                          measure=measure_page.uri,
                          version=measure_page.version) }}">
        {% endif %}

    {% endif %}
{% endblock %}

{% block main_content %}

<main id="content">
  {%  include 'static_site/_phase_banner.html' %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('static_site.index') }}" data-event="breadcrumb-homepage">Ethnicity facts and figures</a></li>
      <li>
        <a href="{{ url_for('static_site.topic', topic=topic) }}" data-event="breadcrumb-{{ topic }}">{{ topic | breadcrumb_friendly }}</a>
      </li>
    </ol>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        {{ measure_page.title }}
      </h1>
    </div>
  </div>

  {% if newer_edition %}
    <div class="old-edition-notice">
      <h2 class="heading-large">There is a new version of this page</h2>
      <p>View the <a href="{{ url_for('static_site.measure_page',
                            topic=topic,
                            subtopic=subtopic,
                            measure=newer_edition.uri,
                            version=newer_edition.version) }}">latest release</a></p>
    </div>
  {% endif %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="metadata">
        <dl>
          {% if measure_page.department_source %}
            <dt>Department:</dt>
            <dd>
             {{ measure_page.department_source }}
            </dd>
          {% endif %}

          {%  if first_published_date %}
            <dt>Published:</dt>
            <dd>
                {{ first_published_date|format_friendly_date }}
            </dd>
          {%  endif %}

          {% if measure_page.publication_date != first_published_date %}
            <dt>Last updated:</dt>
            <dd>
              {{ measure_page.publication_date|format_friendly_date }}, <a href="#history">see all updates</a>
            </dd>
          {% endif %}

          {% if measure_page.source_text %}
          <dt>Source:</dt>
          <dd>
            <a href="{{ measure_page.source_url }}" data-event="metadata-measure-page-source-url">
              {{ measure_page.source_text }}
            </a>
          </dd>
          {% endif %}

          {% if measure_page.geographic_coverage %}
          <dt>Area covered:</dt>
          <dd>
            {{ measure_page.geographic_coverage }}
          </dd>
          {% endif %}
          {% if measure_page.time_covered %}
          <dt>Time period:</dt>
          <dd>
            {{ measure_page.time_covered }}
          </dd>
          {% endif %}


        </dl>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        The main facts and figures show that:
      </p>
      <div class="bullets spaced-out">
          {{ measure_page.summary | render_markdown }}
      </div>


      {% if measure_page.need_to_know %}
      <details data-event="data-reliability" class="normalize">
        <summary>
          <span class="summary">
            Things you need to know
          </span>
        </summary>
        <div class="panel panel-border-narrow">
            {{ measure_page.need_to_know | render_markdown  }}
        </div>
        <noscript>
          <div>
            {{ measure_page.need_to_know | render_markdown  }}
          </div>
        </noscript>
      </details>
      {% endif %}

      {% if measure_page.measure_summary %}
      <details data-event="data-measured" class="normalize">
        <summary>
          <span class="summary">
            What the data measures
          </span>
        </summary>
        <div class="panel panel-border-narrow">
            {{ measure_page.measure_summary | render_markdown  }}
        </div>
        <noscript>
          <div>
            {{ measure_page.measure_summary | render_markdown  }}
          </div>
        </noscript>
      </details>
      {% endif %}

      {% if measure_page.ethnicity_definition_summary %}
      <details data-event="categories-chosen" class="normalize">
        <summary>
          <span class="summary">
            Why these ethnic categories were chosen
          </span>
        </summary>
        <div class="panel panel-border-narrow">
            {{ measure_page.ethnicity_definition_summary | render_markdown  }}
          <p><a href="{{ url_for('static_site.about_ethnicity') }}{% if static_mode %}.html{%  endif %}">Ethnic groups and how data on ethnicity is collected</a></p>
        </div>
        <noscript>
          <div id="ethnicity-definition" class="section-expandable-region">
            {{ measure_page.ethnicity_definition_summary | render_markdown  }}
          </div>
        </noscript>
      </details>
      {% endif %}
    </div>
  </div>

  <div class="grid-row">
      {% if measure_page.dimensions %}
          {% for dimension in dimensions %}
              <div class="column-two-thirds">
                  <h2 class="heading-medium">{{ dimension.title }}</h2>
                  <div class="metadata">
                      <dl>
                          {% if measure_page.geographic_coverage %}
                              <dt>Location:</dt>
                              <dd>
                                  {{ measure_page.geographic_coverage }}
                              </dd>
                          {% endif %}
                          {% if dimension.time_period %}
                              <dt>Time period:</dt>
                              <dd>
                                  {{ dimension.time_period }}
                              </dd>
                          {% endif %}
                          {% if measure_page.source_text %}
                              <dt>Source:</dt>
                              <dd>
                                  <a href="{{ measure_page.source_url }}" data-event="metadata-measure-page-source-url">
                                      {{ measure_page.source_text }}
                                  </a>
                              </dd>
                          {% endif %}
                      </dl>
                  </div>
              </div>


              <div class="chart-and-footer">
                <div class="rd_chart" id="chart_{{ dimension.guid }}" style="clear: both; overflow: hidden">
                    {% if static_mode and dimension.chart %}
                        <img src="charts/{{ dimension.guid }}.png" alt="{{ dimension.title }}">
                    {% endif %}
                </div>

                <div class="column-full chart-footer">
                  <!-- TODO: flatten text values into a single array -->

                    <p class="missing-data-explanation">
                        {% set chart_text_data = dimension.chart | flatten_chart %}

                        {% if "N/A" in chart_text_data %}
                            <span class="explanation"><sup>*</sup> Not applicable</span>
                        {% endif %}

                        {% if "-" in chart_text_data %}
                            <span class="explanation"><span class="missing-data not-collected"></span> Data not collected</span>
                        {% endif %}

                        {% if "!" in chart_text_data %}
                            <span class="explanation"><span class="missing-data confidential"></span> Data withheld to protect confidentiality</span>
                        {% endif %}

                        {% if "?" in chart_text_data %}
                            <span class="explanation"><span class="missing-data sample-too-small"></span> Data withheld because a small sample size makes it unreliable</span>
                        {% endif %}

                    </p>
                </div>
              </div>

              <div class="column-full"
                   style="{% if not dimension.table and not dimension.chart %}display: none;{% endif %}">
                  {% if dimension.table %}
                      {% include "static_site/_table.html" %}
                  {% endif %}
              </div>
              <div class="column-two-thirds">
                  <h3 class="heading-small">Summary</h3>

                  {{ dimension.summary | render_markdown }}
              </div>
              <div class="column-one-third"
                   style="{% if not dimension.table and not dimension.chart %}display: none;{% endif %}">
                  {% set chart_and_downloadable = True if dimension.chart and dimension.chart['type'] not in ['panel_bar_chart', 'panel_line_chart'] else False %}
                  {% set tabular_download_viable = True if dimension.table else False %}
                  <h3 class="heading-small">Download{% if chart_and_downloadable %} image and{%  endif %} data</h3>
                  <ul class="no-bullets font-size-small">
                      {% if chart_and_downloadable %}
                          <li>
                              <a href="#" data-event="measure-download-graph-image" class="download-png"
                                 id="download-{{ dimension.guid }}">
                                  Image of the chart (PNG)
                              </a>
                          </li>
                      {% endif %}
                  {% if tabular_download_viable %}
                      <li>
                          {% if static_mode %}
                              {% set version = 'latest' if measure_page.has_no_later_published_versions(config['PUBLICATION_STATES']) else measure_page.version %}
                              <a href="/{{ topic }}/{{ subtopic }}/{{ measure_page.uri }}/{{ version }}/downloads/{{ dimension.static_table_file_name }}"
                                 download="{{ dimension.static_table_file_name }}">Table as spreadsheet (CSV)</a>
                          {% else %}
                              <a href="{{ url_for('static_site.dimension_file_table_download',
                                   topic=topic,
                                   subtopic=subtopic,
                                   measure=measure_page.guid,
                                   version=measure_page.version,
                                   dimension=dimension.guid) }}" data-event="measure-download-table-csv">Table as spreadsheet (CSV)</a>
                          {% endif %}
                      </li>
                    {% endif %}

                      <li>
                          {% if static_mode %}
                              {% set version = 'latest' if measure_page.has_no_later_published_versions(config['PUBLICATION_STATES']) else measure_page.version %}
                              <a href="/{{ topic }}/{{ subtopic }}/{{ measure_page.uri }}/{{ version }}/downloads/{{ dimension.static_file_name }}"
                                 download="{{ dimension.static_file_name }}">Source data (CSV)</a>
                          {% else %}
                              <a href="{{ url_for('static_site.dimension_file_download',
                                   topic=topic,
                                   subtopic=subtopic,
                                   measure=measure_page.guid,
                                   version=measure_page.version,
                                   dimension=dimension.guid) }}" data-event="measure-download-csv">Source data (CSV)</a>
                          {% endif %}
                      </li>
                  </ul>
              </div>
          {% endfor %}
      {% endif %}
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="accordion">
        <div class="accordion-section">
          <div data-event="methodology" class="accordion-section-header">
            <h2 class="heading-medium">Methodology and type of data</h2>
          </div>

          <div class="accordion-section-body">

            {% if measure_page.data_type %}
            <h3 class="heading-small">
              Type of data
            </h3>
            <p>
              {{ measure_page.data_type }}
            </p>
            {% endif %}

            {% if measure_page.data_source_purpose %}
            <h3 class="heading-small">
              Purpose of data source
            </h3>
              {{ measure_page.data_source_purpose | render_markdown }}
            {% endif %}

            {% if measure_page.methodology %}
            <h3 class="heading-small">
              Methodology
            </h3>
              {{ measure_page.methodology | render_markdown  }}
            {% endif %}

            {% if measure_page.estimation %}
            <h3 class="heading-small">
              Rounding
            </h3>
              {{ measure_page.estimation  | render_markdown  }}
            {% endif %}

            {% if measure_page.related_publications %}
              <h3 class="heading-small">Related publications</h3>
              {{ measure_page.related_publications | render_markdown }}
            {% endif %}

            {% if measure_page.qmi_url %}
              <a href="{{ measure_page.qmi_url }}">Quality and methodology information</a>
            {% endif %}

            {% if measure_page.further_technical_information %}
            <h3 class="heading-small">
              Further technical information
            </h3>
              {{ measure_page.further_technical_information  | render_markdown }}
            {% endif %}

          </div>
        </div>

        <div class="accordion-section">

          <div data-event="publishing-details" class="accordion-section-header">
            <h2 class="heading-medium">Data source details</h2>
          </div>

          <div class="accordion-section-body">

            <h3 class="heading-small">Source</h3>
            <p><a href="{{ measure_page.source_url }}" data-event="metadata-measure-page-source-url">
                {{ measure_page.source_text }}
            </a></p>

            {% if measure_page.department_source %}
              <h3 class="heading-small">Department</h3>
              <p>{{ measure_page.department_source }}</p>
            {% endif %}

            {% if measure_page.type_of_statistic %}
              <h3 class="heading-small">Type of statistic</h3>
              <p>{{ measure_page.type_of_statistic }}</p>
            {% endif %}

            {% if measure_page.frequency %}
              <h3 class="heading-small">Publication frequency</h3>
              <p>{{ measure_page.frequency }}</p>
            {% endif %}

            {% if measure_page.suppression_rules %}
            <h3 class="heading-small">
              Suppression rules
            </h3>
              {{ measure_page.suppression_rules | render_markdown }}
            {% endif %}

            {% if measure_page.disclosure_control %}
            <h3 class="heading-small">
              Disclosure control
            </h3>
              {{ measure_page.disclosure_control | render_markdown  }}
            {% endif %}


            {% if measure_page.secondary_source_1_title %}

              <div class="secondary-source">
                <h3 class="heading-small">Secondary source</h3>
                <p><a href="{{ measure_page.secondary_source_1_url }}" data-event="metadata-measure-page-source-url">
                    {{ measure_page.secondary_source_1_title }}
                </a></p>

                {% if measure_page.secondary_source_1_publisher %}
                  <h3 class="heading-small">Publisher</h3>
                  <p>{{ measure_page.secondary_source_1_publisher }}</p>
                {% endif %}

                {% if measure_page.secondary_source_1_statistic_type %}
                  <h3 class="heading-small">Type of statistic</h3>
                  <p>{{ measure_page.secondary_source_1_statistic_type }}</p>
                {% endif %}

                {% if measure_page.secondary_source_1_frequency %}
                  <h3 class="heading-small">Publication frequency</h3>
                  <p>{{ measure_page.secondary_source_1_frequency }}</p>
                {% endif %}

                {% if measure_page.secondary_source_1_suppression_rules %}
                <h3 class="heading-small">
                  Suppression rules
                </h3>
                  {{ measure_page.secondary_source_1_suppression_rules | render_markdown }}
                {% endif %}

                {% if measure_page.secondary_source_1_disclosure_control %}
                <h3 class="heading-small">
                  Disclosure control
                </h3>
                  {{ measure_page.secondary_source_1_disclosure_control | render_markdown  }}
                {% endif %}
              </div>

            {% endif %}

            {% if measure_page.secondary_source_2_title %}

              <div class="secondary-source">
                <h3 class="heading-small">Secondary source</h3>
                <p><a href="{{ measure_page.secondary_source_2_url }}" data-event="metadata-measure-page-source-url">
                    {{ measure_page.secondary_source_2_title }}
                </a></p>

                {% if measure_page.secondary_source_2_publisher %}
                  <h3 class="heading-small">Publisher</h3>
                  <p>{{ measure_page.secondary_source_2_publisher }}</p>
                {% endif %}

                {% if measure_page.secondary_source_2_statistic_type %}
                  <h3 class="heading-small">Type of statistic</h3>
                  <p>{{ measure_page.secondary_source_2_statistic_type }}</p>
                {% endif %}

                {% if measure_page.secondary_source_2_frequency %}
                  <h3 class="heading-small">Publication frequency</h3>
                  <p>{{ measure_page.secondary_source_2_frequency }}</p>
                {% endif %}

                {% if measure_page.secondary_source_2_suppression_rules %}
                <h3 class="heading-small">
                  Suppression rules
                </h3>
                  {{ measure_page.secondary_source_2_suppression_rules | render_markdown }}
                {% endif %}

                {% if measure_page.secondary_source_2_disclosure_control %}
                <h3 class="heading-small">
                  Disclosure control
                </h3>
                  {{ measure_page.secondary_source_2_disclosure_control | render_markdown  }}
                {% endif %}
              </div>

            {% endif %}

          </div>

        </div>

        <div class="accordion-section">
          <div data-event="download-data" class="accordion-section-header">
            <h2 class="heading-medium">Download the data</h2>
          </div>

          <div class="accordion-section-body downloads">
            {% for file in measure_page.uploads  %}
              {% if file.file_name %}
                  {%  if static_mode %}
                    {% set version = 'latest' if measure_page.has_no_later_published_versions(config['PUBLICATION_STATES']) else measure_page.version %}
                    <a href="/{{ topic }}/{{ subtopic }}/{{ measure_page.uri }}/{{ version }}/downloads/{{ file.file_name}}" download="{{ file.file_name }}">{{ file.file_name }}</a>
                  {%  else %}
                    <a href="{{ url_for('static_site.measure_page_file_download',
                        topic=topic,
                        subtopic=subtopic,
                        measure=measure_page.guid,
                        version=measure_page.version,
                        filename=file.file_name) }}" data-event="accordion-download-page">
                          {{ file.title }}
                          {{ " - Spreadsheet " if file.extension() == "csv" }}
                          {{ " - Microsoft Excel " if file.extension() == "xls" or file.extension() == "xlsx" }}
                          {{ " - Open Document Format " if file.extension() == "odf" }}
                          ({{ file.extension() }})
                          {{ file.size|filesize }}
                    </a>
                      {% endif %}
                {% if file.description %}
                  <p>{{ file.description }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% if config.JSON_ENABLED %}
              {% if static_mode %}
                  {% set version = 'latest' if measure_page.has_no_later_published_versions(config['PUBLICATION_STATES']) else measure_page.version %}
                  <a href="/{{ topic }}/{{ subtopic }}/{{ measure_page.uri }}/{{ version }}/data.json">View this page as JSON</a>
              {% else %}
                  <a href="{{ url_for('static_site.measure_page_json',
                      topic=topic,
                      subtopic=subtopic,
                      measure=measure_page.uri,
                      version=measure_page.version) }}">View this page as JSON</a>
              {% endif %}
            {% endif %}
            <button class="js--print print-btn">Print this page</button>
          </div>
        </div>

        </div>
      </div>
    </div>
      <!-- TODO end versions -->

      <div class="govuk-document-footer">

        <div class="history-information" id="history">

            <p>
                Published:
                <span class="published definition">
                    {% if first_published_date %}
                        {{ first_published_date|format_friendly_date }}
                    {% else %}
                        TBC
                    {% endif %}
                </span>
            </p>

        {% if measure_page.publication_date != first_published_date %}
          <p>
            Updated:
            <span class="updated definition"> {{ measure_page.publication_date|format_friendly_date }}</span>
          </p>

          <div class="change-notes">

            <details class="full-page-history">
              <summary>full page history</summary>

              <div class="" id="full-history" aria-live="polite" role="region"><span class="arrow"></span>
                <ol>
                {% for x in edit_history %}
                  <li>
                    <time datetime="{{ x.publication_date }}" class="timestamp">{{ x.publication_date|format_friendly_date }}</time>

                    {% if (loop.index == loop|length) %}
                      {% set edit_summary = x.external_edit_summary or "First published" %}
                    {% else %}
                      {% set edit_summary = x.external_edit_summary or "Minor edit" %}
                    {% endif %}

                    {{ edit_summary }}
                  </li>
                {% endfor %}
                </ol>
              </div>
            </details>

          </div>
        {% endif %}
        </div>
        <div class="related-information">
          <p>
            From:
            <span class="definition">{{ measure_page.department_source }}</span>
          </p>

          {% if versions %}
            {% set version_count = versions|length %}

            <div class="previous-editions">
              Previous {{ "editions" if version_count > 1 else "edition" }}:

              <ol>
                {% for v in versions %}
                    <li>
                        <a href="{{ url_for('static_site.measure_page',
                            topic=topic,
                            subtopic=subtopic,
                            measure=v.uri,
                            version=v.version) }}">{{ v.publication_date|format_friendly_date }}</a>
                    </li>
                {% endfor %}
              </ol>
            </div>

            {% endif %}
        </div>

      </div>


</main>

{% endblock %}

{% block body_end_more %}
<script src="{{ url_for('static', filename='vendor/highcharts/5.0.11/highcharts.js') }}"></script>
<script type="text/javascript" src="{{ asset_path }}vendor/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ asset_path }}vendor/underscore-min.js"></script>
<script src="{{ url_for('static', filename='javascripts/rd-data-tools.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/rd-graph.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/highcharts/5.0.11/modules/exporting.js') }}"></script>
<script type="text/javascript">

  var dimensions = {{ dimensions|tojson }};

  $(document).ready(function () {
    for (d in dimensions) {
      var chartObject = dimensions[d].chart;
      if(chartObject) {
          // code writes title as html and creates sub-container
          var chartContainer = 'chart_' + dimensions[d].guid;
          var chartHtml = '<div class="column-full">';
          chartHtml = chartObject.title.text ? chartHtml + '<h3 class="heading-small">' + chartObject.title.text + '</h3>': chartHtml;
          chartHtml = chartHtml + '<div id="' + chartContainer + '_image"></div>';
          chartHtml = chartHtml + '</div>';
          $('#' + chartContainer).html(chartHtml);

          // draws chart in sub-container
          chartObject.title = '';
          drawChart(chartContainer + '_image', chartObject);
      }
    };

    {% if static_mode %}

        var sendToAnalytics = function (event) {
            var eventLabel = $(event.currentTarget).data('event');

            if (!eventLabel && $(event.currentTarget).attr('href')){
                eventLabel = $(event.currentTarget).attr('href');
            }

            ga('send', {
              hitType: 'event',
              eventCategory: 'Action',
              eventAction: 'click',
              eventLabel: eventLabel
            });
        };

        $('details.normalize').click(function(event) {
            sendToAnalytics(event);
        });

        $('.accordion__header').click(function(event) {
             sendToAnalytics(event);
        });

        $('a').click(function(event){
            sendToAnalytics(event);
        });

    {%  endif %}

    $('.download-png').click(function(evt){
        var dimensionGuid = $(evt.currentTarget).attr('id').replace('download-', ''),
            chartId = '#chart_' + dimensionGuid + '_image',
            chart = $(chartId),
            dimension = dimensions.find(function(d){return d.guid == dimensionGuid});

        var subtitle = 'Title:' +  dimension.title
                                + '. Location: ' + '{{ measure_page.geographic_coverage }}'
                                + '. Time period: '  + dimension.time_period
                                + '. Source:  {{ measure_page.source_text }}'
                                + '| Ethnicity Facts and Figures GOV.UK';

        chart.highcharts().options.subtitle.text = subtitle;
        chart.highcharts().exportChart();
    });


    function getSourceText(source){
        var regex = /\[(.*?)\]\(.*?\)/;
        if(regex.test(source)){
            var match = regex.exec(source);
            if(match.length == 2) {
               return match[1];
            }
            else {
                return source;
            }
        } else {
            return source;
        }
    };

  });
</script>
{% endblock %}

