{% extends "base.html" %}
{% from "_shared/_status_banner_macro.html" import status_banner %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for("static_site.topic", topic_slug=topic_slug), "text": measure_version.measure.subtopic.topic.title},
  ]
  if not preview else
  none
%}

{% block pageTitle %}{{ measure_version.title }} - GOV.UK Ethnicity facts and figures{% endblock %}
{% block socialTitle %}{{ measure_version.title }}{% endblock %}
{% block socialDescription %}{{ measure_version.social_description | render_markdown | striptags }}{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Measure');{% endblock %}

{% set version = 'latest' if measure_version.has_no_later_published_versions() else measure_version.version %}

{% block headEnd %}
    {{ super() }}

    {% if not measure_version.has_no_later_published_versions() %}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock %}

{% block mainElementDefinition %}<main id="content" itemscope itemtype="http://schema.org/NewsArticle">{% endblock %}

{% block content %}
  {% include "static_site/_measure_header.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="govuk-heading-m">Overview</h2>
      <p>
        The main facts and figures show that:
      </p>
        {% if measure_version.summary %}
            <div class="bullets spaced-out">
                {{ measure_version.summary | render_markdown }}
            </div>
        {% endif %}


      {% if measure_version.need_to_know %}
      <details data-on="click" data-event-category="Disclosure" data-event-action="Opened" data-event-label="Things you need to know" class="normalize">
        <summary>
          <span id="things-you-need-to-know" class="summary">
            Things you need to know
          </span>
        </summary>
        <div class="panel panel-border-narrow">
            {{ measure_version.need_to_know | render_markdown  }}
        </div>
        <noscript>
          <div>
            {{ measure_version.need_to_know | render_markdown  }}
          </div>
        </noscript>
      </details>
      {% endif %}

      {% if measure_version.measure_summary %}
      <details data-on="click" data-event-category="Disclosure" data-event-action="Opened" data-event-label="What the data measures" class="normalize">
        <summary>
          <span id="what-the-data-measures" class="summary">
            What the data measures
          </span>
        </summary>
        <div class="panel panel-border-narrow" itemprop="description">
            {{ measure_version.measure_summary | render_markdown  }}
        </div>
        <noscript>
          <div>
            {{ measure_version.measure_summary | render_markdown  }}
          </div>
        </noscript>
      </details>
      {% endif %}

      {% if measure_version.ethnicity_definition_summary %}
      <details data-on="click" data-event-category="Disclosure" data-event-action="Opened" data-event-label="The ethnic categories used in this data" class="normalize">
        <summary>
          <span id="the-ethnic-categories-used-in-this-data" class="summary">
            The ethnic categories used in this data
          </span>
        </summary>
        <div class="panel panel-border-narrow">
            {{ measure_version.ethnicity_definition_summary | render_markdown  }}
          <p><a href="{{ url_for('static_site.ethnicity_in_the_uk') }}">Ethnic groups and how data on ethnicity is collected</a></p>
        </div>
        <noscript>
          <div id="ethnicity-definition" class="section-expandable-region">
            {{ measure_version.ethnicity_definition_summary | render_markdown  }}
          </div>
        </noscript>
      </details>
      {% endif %}
    </div>
  </div>

{% endblock %}