{% extends "static_site/_template.html" %}
{% block content %}
    <div id="hero-container">
        <main id="content">
            <div class="phase-banner">
                <p>
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>
            </div>
        </main>
    </div>
    <main id="content" role="main">
           <div class="error-summary">
            <h1 class="heading-medium error-summary-heading">
                This page is not available
            </h1>
        </div>
     </main>
{% endblock %}

