<div class="panel-border-narrow{{ ' panel' if dimension.chart is mapping }}">
  {{ dimension.header }}
  {% if dimension.table.header %}
    <h3 class="heading-small">{{ dimension.table.header }}</h3>
  {% endif %}
  {% if dimension.table.subtitle %}
    <p class="subtitle">{{ dimension.table.subtitle }}</p>
  {% endif %}
  <table columns='{{ dimension.table.columns|length if dimension.table.type == "grouped" }}' class="table{{ ' cropped' if dimension.table.data|length > 10 }}{{ ' grouped' if dimension.table.type == 'grouped' }}{{ ' extra-wide' if dimension.table.group_columns|length > 5 }}">
    <thead>

      {% if dimension.table.type == "grouped" %}
      {% set total_cells = (dimension.table.columns|length * dimension.table.group_columns|length) + 1 %}

      <tr>
        <td style="width:{{ (100 / total_cells) * 1 }}%"></td>
        {% for group_column in dimension.table.group_columns %}
        {% if group_column %}
        <td style="width:{{ (100 / total_cells) * dimension.table.columns|length }}%" colspan="{{ dimension.table.columns|length }}" class="{{ '' if loop.last else 'line' }}">
        {% endif %}
        {{ group_column|safe }}</td>
        {% endfor %}
      </tr>
      {% else %}
      {% set total_cells = (dimension.table.columns|length + 1) %}
      {% endif %}
      <tr>
        <td class="first" style="width:{{ 100 / total_cells }}%"><button>{{ dimension.table.category }}</button></td>
        {% if dimension.table.type == "grouped" %}
        {% for group_column in dimension.table.group_columns %}
        {% if group_column %}
        {% for column in dimension.table.columns %}
          <td style="width:{{ 100 / total_cells }}%"><button>{{ column }}</button></td>
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% else %}
        {% for text in dimension.table.columns %}
        <td style="width:{{ 100 / total_cells }}%">
          <button>
            {{ text|safe }}
          </button>
        </td>
        {% endfor %}

        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for data in dimension.table.data %}
      <tr>
        {% set row_loop = loop %}
        {% for text in data['values'] %}
          {% if loop.first %}

            {% if data.order %}
                <th style="width:{{ 100 /(loop.length + 1) }}%" data-order="{{ data.order }}">
            {% else %}
                <th style="width:{{ 100 /(loop.length + 1) }}%" data-order="{{ row_loop.index }}">
            {% endif %}
            <b>{{ data.category }}</b>
          </th>

          <td style="width:{{ 100 /(loop.length + 1) }}%">
            {{ text }}
          </td>
          {% else %}
          <td style="width:{{ 100 /(loop.length + 1) }}%">
            {{ text }}
          </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if dimension.table.footer %}
    <p class="table-footer">{{ dimension.table.footer }}</p>
  {% endif %}
</div>