<div class="panel-border-narrow{{ ' panel' if dimension.chart is mapping }}">
  {{ dimension.header }}
  {% if dimension.table.header %}
    <h3 class="heading-small">{{ dimension.table.header }}</h3>
  {% endif %}
  {% if dimension.table.subtitle %}
    <p class="subtitle">{{ dimension.table.subtitle }}</p>
  {% endif %}

  <table columns='{{ dimension.table.columns|length if dimension.table.type == "grouped" }}' class="table{{ ' cropped' if dimension.table.data|length > 10 }}{{ ' grouped' if dimension.table.type == 'grouped' }}{{ ' extra-wide' if dimension.table.group_columns|length > 5 }} {{ 'grouped-rows no-sort' if dimension.table.parent_child }}">
    <thead>

      {% if dimension.table.type == "grouped" %}
        {% set total_cells = (dimension.table.columns|length * (dimension.table.group_columns|length)) + 1 %}

        <tr>
          <td class="first" style="width:{{ 100 / total_cells }}%"></td>
          {% for group_column in dimension.table.group_columns %}
              {% if group_column %}
                  <td style="width:{{ (100 / total_cells) * dimension.table.columns|length }}%" colspan="{{ dimension.table.columns|length }}" class="{{ '' if loop.last else 'line' }}">{{ group_column|safe }}</td>
              {% endif %}
          {% endfor %}
        </tr>

      {% else %}
      {% set total_cells = (dimension.table.columns|length + 1) %}
      {% endif %}

      <tr>
        <td class="first" style="width:{{ 100 / total_cells }}%"><button>{{ dimension.table.category }}</button></td>
        {% if dimension.table.type == "grouped" %}
            {% for group_column in dimension.table.group_columns %}
                {% if group_column %}
                    {% for column in dimension.table.columns %}
                      {% set th_class = "line" if loop.last %}
                      <td style="width:{{ 100 / total_cells }}%" class="{{ th_class }}"><button>{{ column }}</button></td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% else %}
        {% for text in dimension.table.columns %}
        <td style="width:{{ 100 / total_cells }}%">
          <button>
            {{ text|safe }}
          </button>
        </td>
        {% endfor %}

        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for data in dimension.table.data %}
        {% set next_row = dimension.table.data[loop.index0 + 1] %}
        <tr>
          {% set row_loop = loop %}
          {% for value in data['values'] %}
          {% set sort_value = data.sort_values[loop.index0] if data.sort_values else value %}
          {% set width = 100 /(loop.length + 1) %}

            {% if loop.first %}
              {% set data_order = data.order if data.order else row_loop.index %}
              {% set row_scope = 'rowgroup' if data.relationships and data.relationships.is_parent else 'row' %}
              <th style="width: {{ width }}%" data-order="{{ data_order }}" scope="{{ row_scope }}">{{ data.category }}</th>
            {% endif %}

            {# We only want the 'line' class on the last column within each group #}
            {% set td_class = "line" if (loop.index % (dimension.table.columns|length) == 0) %}

            <td style="width: {{ width }}%" data-order="{{sort_value}}" class="{{ td_class }}">{{ value|value_filter|safe }}</td>
          {% endfor %}
        </tr>

        {% if next_row and next_row.relationships and next_row.relationships.is_parent %}
          </tbody>
          <tbody>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% if dimension.table.footer %}
    <p class="table-footer">{{ dimension.table.footer }}</p>
  {% endif %}
</div>