{% extends "static_site/base.html" %}

{% block main_content %}

<main id="content" role="main">
	{%  include 'static_site/phase_banner.html' %}
	<div class="breadcrumbs">
		<ol>
			<li> <a href="/">Ethnicity facts and figures</a></li>
		</ol>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				{{ page.title }}
			</h1>
            <p>
                {{ page.description | render_markdown }}
            </p>
		</div>
	</div>

	<div class="grid-row">
        <div class="column-two-thirds">


            <div class="accordion">
            <div class="container">
                {% for subtopic in subtopics %}
                    {% if measures[subtopic.guid] %}
                            <div class="accordion-section">
                                <div class="accordion-section-header">
                                    <h2 class="heading-medium">
                                        {{ subtopic.title }}
                                    </h2>
                                </div>

                                <div class="accordion-section-body">
                                    <ul class="links">
                                        {% for m in measures[subtopic.guid] %}
                                            <li>
                                                <a href="{{ url_for('static_site.measure_page',
                                                                    topic=page.uri,
                                                                    subtopic=subtopic.uri,
                                                                    measure=m.uri,
                                                                    version='latest') }}">{{ m.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                    {% endif %}
                {% endfor %}
			</div>
		</div>
	</div>

</main>

{% endblock %}
