{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
  ]
%}

{% block pageTitle %}{{ topic.title }} - GOV.UK Ethnicity facts and figures{% endblock %}
{% block socialTitle %}{{ topic.title }}{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Topic');{% endblock %}

{% block content %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">
                    {{ topic.title }}
                </h1>
                {% if topic.additional_description  %}
                    <p>
                        {{ topic.additional_description | render_markdown  }}
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="grid-row">

        {% if static_mode %}
            <div class="column-two-thirds">
        {% else %}
            <div class="column-full">
        {% endif %}

                <div class="accordion">
                    <div class="container">
                        {% for subtopic in (subtopics|selectattr('is_published_measure_or_parent_of') if static_mode else subtopics) %}
                            {% if measures[subtopic.guid]|length > 0 or current_user.can(CREATE_MEASURE) %}
                                <div class="accordion-section">
                                    <div class="accordion-section-header" data-on="click" data-event-category="Accordion" data-event-action="Section opened" data-event-label="{{ subtopic.title }}" >
                                        <h2 class="heading-medium">
                                            {{- subtopic.title -}}{% if subtopic.is_published_measure_or_parent_of == false %} (not published){% endif %}
                                        </h2>
                                    </div>
                                    <div class="accordion-section-body {% if not static_mode %}eff-!-padding-bottom-40{% endif %}">
                                        {% if not static_mode %}
                                            {% if current_user.can(CREATE_MEASURE) %}
                                                <p class="button-container"><a href="{{ url_for('cms.create_measure_page', topic_uri=topic.uri, subtopic_uri=subtopic.uri) }}" class="button">Create a new page</a></p>
                                            {% endif %}
                                        {% endif %}
                                        {% if measures[subtopic.guid] %}
                                            {% if static_mode %}
                                                <ul class="links">
                                                    {% for m in measures[subtopic.guid] %}
                                                        <li>
                                                            <a href="{{ url_for('static_site.measure_page',
                                                                                topic_uri=topic.uri,
                                                                                subtopic_uri=subtopic.uri,
                                                                                measure_uri=m.uri,
                                                                                version='latest') }}">{{ m.title }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                {% include 'cms/_measures_with_version_history.html' %}
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


    {% block bodyEnd %}
        {{ super( )}}

        {% if not static_mode and current_user.can(ORDER_MEASURES) %}

        <script type="text/javascript">

            var setupReorderableTables = function() {
                var tableBodies = document.querySelectorAll('tbody');
                tableBodies.forEach(function (tbody) {
                    if (tbody.rows.length > 1) {
                        var r = new ReorderableRows(tbody);
                        r.onDrop = orderMeasures;
                    }
                });
            };

            var orderMeasures = function(tbody) {

                var status = tbody.parentElement.previousElementSibling;
                var savingIntervalId;

                var stillSaving = function () {
                    switch (status.textContent) {
                        case 'Saving new order':
                            status.textContent = 'Saving new order.';
                            break;
                        case 'Saving new order.':
                            status.textContent = 'Saving new order..';
                            break;
                        case 'Saving new order..':
                            status.textContent = 'Saving new order...';
                            break;
                        case 'Saving new order...':
                            status.textContent = 'Saving new order';
                            break;
                    }
                };

                var saved = function (savingIntervalId) {
                    clearInterval(savingIntervalId);
                    status.textContent = 'Saved';
                    status.classList.add('status-invisible');
                };

                var positions = [];
                for(var i = 0; i < tbody.rows.length; i++) {
                     positions.push({"position": i,
                                     "guid": tbody.rows[i].dataset.guid,
                                     "subtopic": tbody.rows[i].dataset.subtopic})
                }

                status.classList.remove('status-invisible');
                status.textContent = 'Saving new order';
                savingIntervalId = setInterval(stillSaving, 300);
                tbody.classList.toggle('reorderable');

                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('cms.set_measure_order') }}",
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({"positions": positions}),
                    success: function (data) {
                        console.log('Set order for measures:', positions);
                        saved(savingIntervalId);
                        tbody.classList.toggle('reorderable');
                    },
                    error: function (data) {
                        console.log('Error setting order for measures:', positions);
                    }
                });
            };

            setupReorderableTables();

        </script>

        {% endif %}

    {% endblock %}
