{% extends "static_site/_base.html" %}


{% block main_content %}

  <style>
    .date { color: #6F777B; margin-left: 1em; font-size: 16px; }
    .new { text-transform: uppercase; letter-spacing: 0px; margin-left: 1em; font-size: 16px; font-weight: bold;  }
  </style>

  <main id="content">

    <h1 class="heading-xlarge">Recent updates</h1>

    <p>The following pages have recently been published or updated:</p>


    <h2 class="heading-large">2018</h2>

    <h2 class="heading-medium" style="margin-top: 0;">June</h2>

    <ol>
      <li><a href="#">Success of shortlisted NHS job applicants</a> <strong class="new">new</strong> <span class="date">6th June</span></li>
    </ol>


    <h2 class="heading-medium">May</h2>

    <ol>
      <li><a href="#">Driving licences</a> <span class="date">16th May</span></li>
      <li><a href="#">Car or van ownership</a> <span class="date">16th May</span></li>
      <li><a href="#">Entry rates into higher education</a> <strong class="new">new</strong> <span class="date">11th May</span></li>
      <li><a href="#">Stop and search</a> <span class="date">11th May</span></li>
      <li><a href="#">Armed forces workforce</a> <span class="date">10th May</span></li>

      <li><a href="#">Reading attainments for children aged 6 to 7 (key stage 1)</a> <span class="date">4th May</span></li>
      <li><a href="#">Phonics attainments for children aged 5 to 7 (key stage 1)</a> <span class="date">4th May</span></li>
      <li><a href="#">Mathematics attainments for children aged 6 to 7 (key stage 1)</a> <span class="date">4th May</span></li>
      <li><a href="#">Science attainments for children aged 6 to 7 (key stage 1)</a> <span class="date">4th May</span></li>
      <li><a href="#">Writing attainments for children aged 6 to 7 (key stage 1)</a> <span class="date">4th May</span></li>
    </ol>


    <h2 class="heading-medium">April</h2>

    <ol>
      <li><a href="#">Police workforce</a> <span class="date">19th April</span></li>
      <li><a href="#">Judges and non-legal members of the judiciary</a> <span class="date">17th April</span></li>
      <li><a href="#">Proven re-offending</a> <strong class="new">new</strong> <span class="date">3rd April</span></li>
    </ol>


    <p style="margin-top: 100px;">etc</p>

  </main>

{% endblock %}
