{% extends "static_site/_base.html" %}


{% block main_content %}

  <style>
    .date { color: #6F777B; margin-left: 1em; font-size: 16px; }
    .new { text-transform: uppercase; letter-spacing: 0px; margin-left: 1em; font-size: 16px; font-weight: bold;  }
  </style>

  <main id="content">

    <h1 class="heading-xlarge">Recent updates</h1>

    <p>The following pages have recently been published or updated:</p>

    {% for year in data %}
      <h2 class="heading-large">{{ year[0] }}</h2>

      {% for month in year[1] %}

        <h3 class="heading-medium">{{ month[0].strftime("%B") }}</h3>

        <ol>
          {% for publication in month[1] %}
            <li><a href="{{ url_for('static_site.measure_page',
                                                            topic=publication.parent.parent.uri,
                                                            subtopic=publication.parent.uri,
                                                            measure=publication.uri,
                                                            version='latest') }}">
              {{ publication.title }}</a>

              {% if publication.version == '1.0' %}
                <strong class="new">new</strong>
              {% endif %}

              <span class="date">{{ publication.publication_date | format_friendly_short_date }}</span>
            </li>
          {% endfor %}
          </ol>

      {% endfor %}
    {% endfor %}

  </main>

{% endblock %}
