{% extends "prototype/template.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ asset_path }}stylesheets/application.css">
{% endblock %}
{% block content %}
<div id="hero-container">
  <main id="content">
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge"> 
          Ethnicity facts and figures
        </h1>
        <p class="proposition">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p> 
        <p class='propisition'>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </main>
</div>

<main id="content" role="main">
  <div class="grid-row" style="display: none">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
      {{ page.news.title }}
      </h2>
      {% for story in page.news.stories %}
      <p>
        {{ story.blurb }}
        <br>
        <a href="##">
          {{ story.link }}
        </a>
      </p>
      {% endfor %}
    </div>
  </div>

  <div class="grid-row" id="topic-section">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        View data on ethnicity by topic
      </h2>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/private-life-and-community">
          Community, arts and culture
        </a>
      </span>
      <p>
        Culture and the media, communities, environmental issues, civil action
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/security-and-justice">
          Crime, justice and the law
        </a>
      </span>
      <p>
        Justice, crimes, police, sentencing, custody
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/education">
          Education
        </a>
      </span>
      <p>
        Schools, higher education, adult education and where people go after leaving education
      </p>
    </div>

  </div>
  <div class='grid-row'>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/health">
          Health
        </a>
      </span>
      <p>
        Physical and mental health, preventing illness, quality of care, access to treatment, patient experiences, patient outcomes
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/housing-and-living-standards">
          Housing and living standards
        </a>
      </span>
      <p>
        Home ownership, private renting, social housing, being homeless, losing your home, housing conditions, standard of living
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/work">
          Work
        </a>
      </span>
      <p>
        Employment, inactivity, unemployment, professions, benefits, Job Centres, and the public sector workforce
      </p>
  </div>
</div>

  <div class='grid-row'>
<!--     <div class="column-two-thirds">
      <h2 class="heading-medium">
        View information on ethnicity across the UK
      </h2>
      <ul class='no-bullets homepage-list'>
        <li>
          <a href='https://docs.google.com/document/d/17dolx0oDI7dvopxCwJUUlgYgqOOEMHra57xwTV2wMf4/edit'>
            Ethnic groups by gender and age
          </a>
        </li>
        <li>
          <a href='https://docs.google.com/document/d/1gjUatH-JFb_P2iyfQcfiSxebcxfPrJr-4zu_0_GxVRc/edit'>
            Ethnic groups and working
          </a>
        </li>
        <li>
          <a href='https://docs.google.com/document/d/1WM_M-1Fnlq-g3g-sI9qRl5-hm-qhwv8JIyD2MrQekeQ/edit'>
            Where residents of the UK were born
          </a>
        </li>
        <li>
          <a href='https://docs.google.com/document/d/1NSTRipNaYkETiI3e4Ujj-l2Bm1BhPuZ1oWbj6-wwLEQ/edit'>
            Where residents of the UK were born by region
          </a>
        </li>
        <li>
          <a href='https://docs.google.com/document/d/1nIlRMp9k894CoE8U0q7cKgYw_c01MeohFf1IS8M7ZKk/edit'>
            Ethnicity and household composition
          </a>
        </li>
        <li>
          <a href='https://docs.google.com/document/d/1FWA5P6bi4F6hE8E-a1LjhsAF4ooggXvMjpZO_Etg14k/edit'>
            Ethnic groups and how data on ethnicity is collected
          </a>
        </li>
        <li>
          <a href='https://docs.google.com/document/d/1I4qHLQ04MeyeYo0Qkcnj7TdB2FUGclys7Jtp1ghKaDg/edit'>
            Inter-ethnic relationships
          </a>
        </li>
      </ul>
    </div> -->
      <div class="column-two-thirds">
        <ul class='no-bullets homepage-list'>
          <li>
            <a href='€'>
              View information on ethnicity across the UK
            </a>
          </li>
          <li>
            <a href='https://docs.google.com/document/d/1C-9dyVUNcsIZJjmktCCdKwZ5HmtUZw9d9Jjqo1OFwLo/edit'>
              Read about how this data is collected
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block footer_top %}
  {% include 'prototype/footer.html' %}
{% endblock %}
