{% extends "prototype/template.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ asset_path }}stylesheets/application.css">
{% endblock %}
{% block content %}
<div id="hero-container">
  <main id="content">
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge"> 
          Contextual analysis
        </h1>
        <p class="proposition">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p> 
        <p class='propisition'>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </main>
</div>
</main>

{% endblock %}

{% block footer_top %}
  {% include 'prototype/footer.html' %}
{% endblock %}
