<div class='footer-categories grid-row'>
  <div class='column-one-third'>
      <h2>Contact</h2>
      <ul>
          <li>
              <a href='#'>ethnicity-enquiries@.cabinetoffice.gov.uk</a>
          </li>
          {% if current_user.is_internal_user() %}
              <li>
                  <a href="{{ url_for('cms.index') }}">CMS</a>
              </li>
              <li>
                  <a href="{{ url_for('static_site.index') }}">Site preview</a>
              </li>
          {% endif %}
      </ul>
  </div>
</div>
