{% extends "prototype/template.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ asset_path }}stylesheets/application.css">
{% endblock %}
{% block content %}
<div id="hero-container">
  <main id="content">
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">Private Beta</strong>
        <span>This is a new service – please send your feedback to <a href="mailto:ethnicity@cabinetoffice.gov.uk">ethnicity@cabinetoffice.gov.uk</a></span>
      </p>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge"> 
          Ethnicity facts and figures
        </h1>
        <p class="proposition">
          Government departments collect data and run surveys, which include information on ethnicity. This is the first time that this data has been collected together and shown openly in one place.
        </p> 
        <p class='propisition'>
          Now government departments and other organisations can see where there are differences and where there is a need for change in order to have a fairer Britain.
        </p>
        <p class='propisition'>
	        Members of the public will be able to see how experiences and outcomes differ for people of various ethnicities across public sector services, which cover important areas of their life such as health, work and education.
        </p>
      </div>
    </div>
  </main>
</div>

<main id="content" role="main">
  <div class="grid-row" style="display: none">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
      {{ page.news.title }}!!!
      </h2>
      {% for story in page.news.stories %}
      <p>
        {{ story.blurb }}
        <br>
        <a href="##">
          {{ story.link }}
        </a>
      </p>
      {% endfor %}
    </div>
  </div>

  <div class="grid-row" id="topic-section">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        View data on ethnicity by topic
      </h2>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/culture-and-community">
          Culture and community
        </a>
      </span>
      <p>
        Arts, culture, museums, libraries, volunteering, local area and neighbourhoods 
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/crime-justice-and-the-law">
          Crime, justice and the law 
        </a>
      </span>
      <p>
        Crimes, police, courts, sentencing prisons and custody 
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/education">
          Education
        </a>
      </span>
      <p>
	      Early years, schools, higher education, adult education and where people go after leaving education
      </p>
    </div>

  </div>
  <div class='grid-row'>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/health">
          Health
        </a>
      </span>
      <p>
	      Physical and mental health, preventing illness, quality of care, access to treatment, patient experiences and outcomes
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/housing-and-living-standards">
          Housing and living standards
        </a>
      </span>
      <p>
	      Home ownership, private renting, social housing, homelessness, and living standards
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/work">
          Work
        </a>
      </span>
      <p>
	      Employment, unemployment, pay and income, benefits, and the public sector workforce
      </p>
  </div>
</main>

{% endblock %}

{% block footer_top %}
  {% include 'prototype/footer.html' %}
{% endblock %}

{% block proposition_header %}
  {% include 'prototype/header_navigation.html' %}
{% endblock %}
