<div class="grid-row">
  <div class="column-full">
    <nav class="dashboard-nav">
      Dashboards: <a href="{{ url_for('dashboards.index') }}" class="{{ 'current' if url_for('dashboards.index') == request.path }}">Published measures</a>
      <a href="{{ url_for('dashboards.ethnicity_categorisations') }}" class="{{ 'current' if url_for('dashboards.ethnicity_categorisations') == request.path }}">Ethnicity categorisations</a>
      <a href="{{ url_for('dashboards.ethnic_groups') }}" class="{{ 'current' if url_for('dashboards.ethnic_groups') == request.path }}">Ethnic groups</a>
      <a href="{{ url_for('dashboards.measure_progress') }}" class="{{ 'current' if url_for('dashboards.measure_progress') == request.path }}">Measure progress</a>
    </nav>
  </div>
</div>