{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('dashboards.index'), "text": "Dashboards"},
  ]
%}

{% block pageTitle %}Ethnic groups{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Ethnic groups
      </h1>

        <p class="govuk-body-l">There are <strong>{{ ethnic_groups|length }}</strong> different ethnic groups referenced in the data:</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table" id="ethnic-group">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header eff-table__header--dense" aria-sort="none">Ethnic group</th>
            <th class="govuk-table__header govuk-table__header--numeric eff-table__header--dense eff-table__header--numeric--dense numeric" aria-sort="descending">Pages</th>
            <th class="govuk-table__header govuk-table__header--numeric eff-table__header--dense eff-table__header--numeric--dense numeric" aria-sort="none">Dimensions</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for ethnic_group in ethnic_groups %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell eff-table__cell--dense"><a class="govuk-link" href="{{ ethnic_group.url }}">{{ ethnic_group.value }}</a></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric eff-table__cell--dense eff-table__cell--numeric--dense numeric">{{ ethnic_group.measure_count }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric eff-table__cell--dense eff-table__cell--numeric--dense numeric">{{ ethnic_group.dimension_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('ethnic-group');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>
{% endblock %}
