{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('dashboards.index'), "text": "Dashboards"},
  ]
%}

{% block page_title %}Ethnicity categorisations{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class='heading-xlarge'>
          Ethnicity categorisations
      </h1>

        <p class="lede">There are <strong>{{ ethnicity_categorisations|length }}</strong> different categorisations of ethnicity used across the charts and tables:</p>
    </div>
  </div>

  <table class="with-double-header ethnicity-categorisations smaller-text dashboard" id="ethnicity-categorisation">

    <thead>
      <tr>
        <th colspan="3" class="">&nbsp;</th>
        <th colspan="3" class="rowspan-header">Additional values shown within dimensions</th>
      </tr>
      <tr>
        <th aria-sort="none">Categorisation</th>
        <th class="numeric" aria-sort="descending">Pages</th>
        <th class="numeric" aria-sort="none" style="border-right: 1px solid #bfc1c3; padding-right: 20px;">Dimensions</th>
        <th class="numeric" aria-sort="none" style="width: 110px;">Broad group</th>
        <th class="numeric" aria-sort="none">‘All’</th>
        <th class="numeric" aria-sort="none">‘Unknown’</th>
      </tr>
    </thead>

    <tbody>
      {% for ethnicity_categorisation in ethnicity_categorisations %}
          {% set has_broad_group = ethnicity_categorisation.parent_values|length > 0 %}
            <tr>
              <th><a href="/dashboards/ethnicity-categorisations/{{ ethnicity_categorisation.id }}">{{ ethnicity_categorisation.title }}</a></th>
              <td class="numeric">{{ ethnicity_categorisation.measure_count }}</td>
              <td class="numeric">{{ ethnicity_categorisation.dimension_count }}</td>
                {% if not ethnicity_categorisation.has_parents %}
                <td class="numeric not-applicable" >N/A</td>
                {% else %}
              <td class="numeric" data-sort-value="{{ (100 * ethnicity_categorisation.includes_parents_count / ethnicity_categorisation.dimension_count) }}">{{ (100 * ethnicity_categorisation.includes_parents_count / ethnicity_categorisation.dimension_count)|round|int }}%</td>
                {% endif %}
              <td class="numeric" data-sort-value="{{ (100 * ethnicity_categorisation.includes_all_count / ethnicity_categorisation.dimension_count) }}">{{ (100 * ethnicity_categorisation.includes_all_count / ethnicity_categorisation.dimension_count)|round|int }}%</td>
              <td class="numeric" data-sort-value="{{ (100 * ethnicity_categorisation.includes_unknown_count / ethnicity_categorisation.dimension_count) }}">{{ (100 * ethnicity_categorisation.includes_unknown_count / ethnicity_categorisation.dimension_count)|round|int }}%</td>
            </tr>
      {% endfor %}
    </tbody>
  </table>


  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('ethnicity-categorisation');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>
{% endblock %}
