{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('dashboards.index').rstrip('/'), "text": "Dashboards"},
  ]
%}

{% block pageTitle %}Ethnicity classifications{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Ethnicity classifications
      </h1>

        <p class="govuk-body-l">There are <strong class="govuk-!-font-weight-bold">{{ ethnicity_classifications|length }}</strong> different classifications of ethnicity used across the charts and tables:</p>
    </div>
  </div>

  <table class="with-double-header ethnicity-classifications" id="ethnicity-classification">

    <thead>
      <tr>
        <th colspan="3" class="">&nbsp;</th>
        <th colspan="3" class="rowspan-header">Additional values shown within dimensions</th>
      </tr>
      <tr>
        <th aria-sort="none">Classification</th>
        <th class="numeric" aria-sort="descending">Pages</th>
        <th class="numeric" aria-sort="none" style="border-right: 1px solid #bfc1c3; padding-right: 20px;">Dimensions</th>
        <th class="numeric" aria-sort="none" style="width: 110px;">Broad group</th>
        <th class="numeric" aria-sort="none">‘All’</th>
        <th class="numeric" aria-sort="none">‘Unknown’</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% for ethnicity_classification in ethnicity_classifications %}
          {% set has_broad_group = ethnicity_classification.parent_values|length > 0 %}
            <tr>
              <th><a href="/dashboards/ethnicity-classifications/{{ ethnicity_classification.id }}">{{ ethnicity_classification.title }}</a></th>
              <td class="numeric">{{ ethnicity_classification.measure_count }}</td>
              <td class="numeric">{{ ethnicity_classification.dimension_count }}</td>
                {% if not ethnicity_classification.has_parents %}
                <td class="numeric not-applicable" >N/A</td>
                {% else %}
              <td class="numeric" data-sort-value="{{ (100 * ethnicity_classification.includes_parents_count / ethnicity_classification.dimension_count) }}">{{ (100 * ethnicity_classification.includes_parents_count / ethnicity_classification.dimension_count)|round|int }}%</td>
                {% endif %}
              <td class="numeric" data-sort-value="{{ (100 * ethnicity_classification.includes_all_count / ethnicity_classification.dimension_count) }}">{{ (100 * ethnicity_classification.includes_all_count / ethnicity_classification.dimension_count)|round|int }}%</td>
              <td class="numeric" data-sort-value="{{ (100 * ethnicity_classification.includes_unknown_count / ethnicity_classification.dimension_count) }}">{{ (100 * ethnicity_classification.includes_unknown_count / ethnicity_classification.dimension_count)|round|int }}%</td>
            </tr>
      {% endfor %}
    </tbody>
  </table>


  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('ethnicity-classification');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>
{% endblock %}
