{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
    {"url": url_for('dashboards.index').rstrip('/'), "text": "Dashboards"},
    {"url": url_for('dashboards.ethnicity_classifications'), "text": "Ethnicity classifications"},
  ]
%}

{% block pageTitle %}{{ classification_title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ classification_title }}</h1>

        {% if page_count > 1 %}
            <p class="govuk-body-l">There are <strong>{{ page_count }}</strong> published pages using this classification.</p>
        {% else %}
            <p class="govuk-body-l">There is <strong>1</strong> published pages using this classification.</p>
        {% endif %}
    </div>
  </div>

  <table class="govuk-table" id="measures">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header eff-table__header--dense" aria-sort="none">Topic</th>
          <th class="govuk-table__header eff-table__header--dense" aria-sort="none">Sub-topic</th>
          <th class="govuk-table__header eff-table__header--dense" aria-sort="ascending">Title</th>
        </tr>
      </thead>

    <tbody class="govuk-table__body">
    {% for topic_title, measures_with_dimensions_by_subtopic in nested_measures_and_dimensions.items() %}
      {% for subtopic_title, measures_with_dimensions in measures_with_dimensions_by_subtopic.items() %}
        {% for measure_title, measure_with_dimensions in measures_with_dimensions.items() %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell eff-table__cell--dense eff-table__cell--align-top">{{ topic_title }}</td>
            <td class="govuk-table__cell eff-table__cell--dense eff-table__cell--align-top">{{ subtopic_title }}</td>
            <td class="govuk-table__cell eff-table__cell--dense eff-table__cell--align-top">
              <a class="govuk-link" href="{{ measure_with_dimensions.url }}">{{ measure_with_dimensions.title }}</a>

              <ul class="govuk-list govuk-!-margin-top-1 eff-table__list--inset govuk-!-font-size-16">
              {% for dimension in measure_with_dimensions.dimensions %}
                 <li><a class="govuk-link" href="{{ measure_with_dimensions.url }}#{{ dimension.title|slugify_value }}">… {{ dimension.short_title }}</a></li>
              {%  endfor %}
              </ul>
            </td>
          </tr>
        {%  endfor %}
      {%  endfor %}
    {%  endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('measures');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>

    {% set all_ethnicities = classification.get_data_items() %}
    {% set parent_ethnicities = classification.get_parent_items() %}
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
            List of ethnicities in this classification
        </caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    Ethnicity name
                </th>
                <th scope="col" class="govuk-table__header">
                    Required
                </th>
                <th scope="col" class="govuk-table__header">
                    Display order
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for parent_ethnicity in parent_ethnicities %}
                <tr class="govuk-table__row" style="background-color: lightgrey">
                    <th scope="row" class="govuk-table__header">
                        {{ parent_ethnicity.display_ethnicity }}
                    </th>
                    <td class="govuk-table__cell">
                        {{ parent_ethnicity.required }}
                    </td>
                    <td class="govuk-table__cell">
                        {{ parent_ethnicity.order }}
                    </td>
                </tr>

                {% for child_ethnicity in all_ethnicities %}
                    {% if (child_ethnicity.parent == parent_ethnicity.display_ethnicity) and not (child_ethnicity.display_ethnicity == parent_ethnicity.display_ethnicity) %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header" style="padding-left: 20px;">
                                {{ child_ethnicity.display_ethnicity }}
                            </th>
                            <td class="govuk-table__cell">
                                {{ child_ethnicity.required }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ child_ethnicity.order }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
