{% extends "base.html" %}

{% block title %}{{ ethnic_group }}{% endblock %}

{% block main_content %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('dashboards.index') }}">Dashboards</a></li>
      <li><a href="{{ url_for('dashboards.ethnic_groups') }}">Ethnic groups</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ethnic_group }}</h1>

        {% if measure_count > 1 %}
            <p class="lede">There are <strong>{{ measure_count }}</strong> published pages using this ethnic group.</p>
        {% else %}
            <p class="lede">There is <strong>1</strong> published page using this ethnic group.</p>
        {% endif %}
    </div>
  </div>

  <table class="measures" id="measures">
      <thead>
        <tr>
          <th class="" aria-sort="none">Topic</th>
          <th class="" aria-sort="none">Sub-topic</th>
          <th class="" aria-sort="ascending">Title</th>
        </tr>
      </thead>

    <tbody>
    {% for subtopic in measure_tree %}
        {% for page in subtopic.measures %}
          <tr>
            <td>{{ subtopic.topic }}</td>
            <td>{{ subtopic.title }}</td>
            <td>
              <a href="{{ page.url }}">{{ page.title }}</a>
                {% for dimension in page.dimensions %}
                    <ul class="dimensions">
                       <li><a href="{{ page.url }}#{{ dimension.title|slugify_value }}">… {{ dimension.short_title }}</a></li>
                    </ul>
                {%  endfor %}
            </td>
          </tr>
        {%  endfor %}
    {%  endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('measures');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>


{% endblock %}
