{% extends "base.html" %}
{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('dashboards.index'), "text": "Dashboards"},
    {"url": url_for('dashboards.ethnic_groups'), "text": "Ethnic groups"},
  ]
%}

{% block pageTitle %}{{ ethnic_group }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ ethnic_group }}</h1>

        {% if measure_count > 1 %}
            <p class="govuk-body-l">There are <strong>{{ measure_count }}</strong> published pages using this ethnic group.</p>
        {% else %}
            <p class="govuk-body-l">There is <strong>1</strong> published page using this ethnic group.</p>
        {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table eff-table--dense measures" id="measures">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="none">Topic</th>
            <th class="govuk-table__header" aria-sort="none">Sub-topic</th>
            <th class="govuk-table__header" aria-sort="ascending">Title</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% for topic_title, measures_with_dimensions_by_subtopic in nested_measures_and_dimensions.items() %}
            {% for subtopic_title, measures_with_dimensions in measures_with_dimensions_by_subtopic.items() %}
                {% for measure_title, measure_with_dimensions in measures_with_dimensions.items() %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ topic_title }}</td>
                    <td class="govuk-table__cell">{{ subtopic_title }}</td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="{{ measure_with_dimensions.url }}">{{ measure_with_dimensions.title }}</a>
                        {% for dimension in measure_with_dimensions.dimensions %}
                            <ul class="dimensions">
                               <li><a class="govuk-link" href="{{ measure_with_dimensions.url }}#{{ dimension.title|slugify_value }}">… {{ dimension.short_title }}</a></li>
                            </ul>
                        {%  endfor %}
                    </td>
                  </tr>
                {%  endfor %}
            {%  endfor %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('measures');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>
{% endblock %}
