{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('dashboards.index'), "text": "Dashboards"},
  ]
%}

{% block pageTitle %}Ethnic groups{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Ethnic groups
      </h1>

        <p class="govuk-body govuk-!-font-size-24">There are <strong>{{ ethnic_groups|length }}</strong> different ethnic groups referenced in the data:</p>
    </div>
  </div>

  <table class="govuk-grid-column-two-thirds table-skinny ethnic-groups smaller-text dashboard" id="ethnic-group">

    <thead>
      <tr>
        <th aria-sort="none">Ethnic group</th>
        <th class="numeric" aria-sort="descending">Pages</th>
        <th class="numeric" aria-sort="none">Dimensions</th>
      </tr>
    </thead>

    <tbody>
      {% for ethnic_group in ethnic_groups %}
            <tr>
              <th><a href="{{ ethnic_group.url }}">{{ ethnic_group.value }}</a></th>
              <td class="numeric">{{ ethnic_group.measure_count }}</td>
              <td class="numeric">{{ ethnic_group.dimension_count }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>


  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('ethnic-group');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>
{% endblock %}
