{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('dashboards.index'), "text": "Dashboards"},
  ]
%}

{% block pageTitle %}Geographic areas{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Geographic areas
      </h1>

        <p class="govuk-body-l">There are <strong>{{ location_levels|length }}</strong> different levels of geography used on the pages:</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table eff-table--dense" id="geographic-area">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th class="govuk-table__header" aria-sort="none">Level of geography</th>
           <th class="govuk-table__header govuk-table__header--numeric numeric" aria-sort="descending">Pages</th>
        </tr>
      </thead>

    <tbody class="govuk-table__body">
      {% for location_level in location_levels %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="{{ location_level.url }}">{{ location_level.name }}</a></td>
              <td class="govuk-table__cell govuk-table__cell--numeric numeric">{{ location_level.pages }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>


  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('geographic-area');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>
{% endblock %}
