
{% macro render_value_line(values, x_scale, y_scale, graph_height, colour, start_index=0) %}
  {% set start_index_scaled = (start_index * x_scale) %}
  <path d="
  {% for value in values[start_index:] %}
      {% if loop.index0 == 0 %}M{% else %}L{% endif %}
      {{ (loop.index0 * x_scale) + start_index_scaled + 0.5 }} {{ (graph_height) - (value * y_scale) }}
  {% endfor %}
  " stroke-width="2" stroke="{{ colour }}" fill="none" />
{% endmacro %}

{% macro render_value_circles(values, x_scale, y_scale, graph_height, colour="#2B8CC4", start_index=0) %}
  {% set start_index_scaled = (start_index * x_scale) %}
  {% for value in values[start_index:] %}
    <circle cx="{{ (loop.index0 * x_scale) + start_index_scaled + 0.5 }}" cy="{{ graph_height - (value * y_scale) }}" r="3" fill="{{ colour }}" />
  {% endfor %}
{% endmacro %}

{% macro render_value_label(value, index, x_scale, y_scale, graph_height, text_anchor='start', vertical_offset=20, unit='') %}

  <text x="{{ index * x_scale }}" y="{{ graph_height - (value * y_scale) + vertical_offset }}" text-anchor="{{ text_anchor }}" style="font-size: 16px;">{{ value }} {{ unit }}</text>

{% endmacro %}

{%  macro render_line_chart(data, graph_height, graph_width, left_margin, right_margin, top_margin, bottom_margin) %}

  <svg focusable="false" class="eff-line-chart" viewbox="0 0 {{ graph_width }} {{ graph_height }}" style="width: 100%; margin-bottom: 10px;">

    <rect width="{{ graph_width }}" height="{{ graph_height }}" x="0" y="0" fill="#F5F5F5" />

    {% if data.total_page_count_each_week|length > 1 %}
    {% set x_scale = (graph_width - (left_margin + right_margin)) / (data.total_page_count_each_week|length - 1) %}
    {% set y_scale = (graph_height - (top_margin + bottom_margin)) / (data.total_page_count_each_week|last) %}


    <g transform="translate({{ left_margin }},-{{ bottom_margin }})">

      <text x="0" y="{{ graph_height + 20 }}" text-anchor="start" style="font-size: 12px;">Week beginning {{ (data.weeks|last).week | format_friendly_short_date_with_year }}</text>

      <text x="{{ graph_width - (left_margin + right_margin) }}" y="{{ graph_height + 20 }}" text-anchor="end" style="font-size: 12px;">Week beginning {{ (data.weeks|first).week | format_friendly_short_date_with_year }}</text>

      <line x1="0" x2="{{ graph_width - (right_margin + left_margin) }}" y1="{{ graph_height }}" y2="{{ graph_height }}" stroke="#e6e6e6" stroke-width="1"/>


      {# Cumulative number of pages #}

      {{ render_value_line(data.total_page_count_each_week, x_scale, y_scale, graph_height, colour="#2B8CC4") }}

      {{ render_value_circles(data.total_page_count_each_week, x_scale, y_scale, graph_height) }}

      {{ render_value_label(data.total_page_count_each_week|first, 0, x_scale, y_scale, graph_height, unit='pages')  }}

      {{ render_value_label(data.total_page_count_each_week|last, (data.total_page_count_each_week|length - 1), x_scale, y_scale, graph_height, text_anchor='end', vertical_offset=-5, unit='pages')  }}


      {# Cumulative number of major updates (starting with the first one) #}

      {{ render_value_line(data.total_major_updates_count_each_week, x_scale, y_scale, graph_height, colour='#28A197', start_index=data.total_major_updates_count_each_week|index_of_last_initial_zero) }}

      {{ render_value_circles(data.total_major_updates_count_each_week, x_scale, y_scale, graph_height, colour='#28A197', start_index=data.total_major_updates_count_each_week|index_of_last_initial_zero) }}

      {{ render_value_label(data.total_major_updates_count_each_week|last, (data.total_major_updates_count_each_week|length - 1), x_scale, y_scale, graph_height, text_anchor='end', vertical_offset=2, unit='updates')  }}

    </g>

    {% endif %}
  </svg>

{% endmacro %}
