{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Dashboards{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Dashboards
      </h1>
      <p class="govuk-body-l">Find information about the pages and data published on <a href="{{ config.RDU_SITE }}" class="govuk-link">Ethnicity facts and figures</a>.</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-5">

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Published and planned pages</h2>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2><a href="{{ url_for('dashboards.whats_new') }}" class="govuk-link govuk-heading-s govuk-!-margin-bottom-1">New and updated pages</a></h2>
      <p class="govuk-body govuk-!-font-size-16">Recent updates to the website</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2><a href="{{ url_for('dashboards.planned_pages') }}" class="govuk-link govuk-heading-s govuk-!-margin-bottom-1">Planned pages</a></h2>
      <p class="govuk-body govuk-!-font-size-16">What’s being worked on and coming up next</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2><a href="{{ url_for('dashboards.published') }}" class="govuk-link govuk-heading-s govuk-!-margin-bottom-1">Pages published by week</a></h2>
      <p class="govuk-body govuk-!-font-size-16">A week-by-week count of new and updated pages</p>
    </div>

  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-5">

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">How the data is grouped by ethnicity and geography</h2>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2><a href="{{ url_for('dashboards.ethnic_groups') }}" class="govuk-link govuk-heading-s govuk-!-margin-bottom-1">Ethnic groups</a></h2>
      <p class="govuk-body govuk-!-font-size-16">The individual ethnic groups referenced in the data and the pages they appear in</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2><a href="{{ url_for('dashboards.ethnicity_classifications') }}" class="govuk-link govuk-heading-s govuk-!-margin-bottom-1">Ethnicity classifications</a></h2>
      <p class="govuk-body govuk-!-font-size-16">The ethnicity groupings used in the data and the pages they appear in</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2><a href="{{ url_for('dashboards.locations') }}" class="govuk-link govuk-heading-s govuk-!-margin-bottom-1">Geographic areas</a></h2>
      <p class="govuk-body govuk-!-font-size-16">The geographic areas covered by the data and the pages they appear in</p>
    </div>

  </div>
{% endblock %}
