{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('dashboards.index'), "text": "Dashboards"},
    {"url": url_for('dashboards.locations'), "text": "Geographic areas"},
  ]
%}

{% block pageTitle %}{{ level_of_geography }}{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">{{ level_of_geography }}</h1>

        {% if page_count > 1 %}
            <p class="lede">There are <strong>{{ page_count }}</strong> published pages using this level of geography.</p>
        {% else %}
            <p class="lede">There is <strong>1</strong> published pages using this level of geography.</p>
        {% endif %}
    </div>
  </div>

  <table class="measures smaller-text" id="measures">
      <thead>
        <tr>
          <th class="" aria-sort="none">Topic</th>
          <th class="" aria-sort="none">Sub-topic</th>
          <th class="" aria-sort="ascending">Title</th>
        </tr>
      </thead>

    <tbody>
    {% for topic_title, measure_titles_and_urls_by_subtopic in measure_titles_and_urls_by_topic_and_subtopic.items() %}
        {% for subtopic_title, measure_titles_and_urls in measure_titles_and_urls_by_subtopic.items() %}
        <tr>
            <td>{{ topic_title }}</td>
            <td>{{ subtopic_title }}</td>

            <td>
            {% for measure_title_and_url in measure_titles_and_urls %}
                <ul class="dimensions">
                    <a href="{{ measure_title_and_url.url }}">{{ measure_title_and_url.title }}</a>
                </ul>
            {%  endfor %}
            </td>

          </tr>
        {% endfor %}
    {%  endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('measures');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>
{% endblock %}
