{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
  ]
%}

{% block pageTitle %}Measure pages{% endblock %}

{% block content %}
    <div class="grid-row">
        <div class="column-full">
            <h1 class='heading-xlarge no-breadcrumb'>
                Measure pages
            </h1>
            <table id="status-table">

                <thead>
                <tr>
                    <td>Measure</td>
                    <td>Internal reference</td>
                    <td>Version</td>
                    <td>Topic</td>
                    <td>Subtopic</td>
                    <td>Status</td>
                </tr>
                </thead>
                {% for topic in pages %}
                    {% for subtopic in topic.children %}
                        {% for measure in subtopic.children %}
                            <tr>
                                <td><a href="{{ url_for('cms.edit_measure_page', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure.version) }}">{{ measure.title }}</a></td>
                                <td>{{ measure.internal_reference }}</td>
                                <td><a href="{{ url_for('cms.edit_measure_page', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure.version) }}">{{ measure.version }}</a></td>
                                <td>{{ topic.title}}</td>
                                <td>{{ subtopic.title }}</td>
                                <td>{{ measure.status }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
