{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Measure pages{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class='govuk-heading-xl no-breadcrumb'>
                Measure pages
            </h1>
            <table id="status-table">

                <thead>
                <tr>
                    <td>Measure</td>
                    <td>Internal reference</td>
                    <td>Version</td>
                    <td>Topic</td>
                    <td>Subtopic</td>
                    <td>Status</td>
                </tr>
                </thead>
                {% for topic in topics %}
                    {% for subtopic in topic.subtopics %}
                        {% for measure in subtopic.measures %}
                            <tr>
                                <td><a class="govuk-link" href="{{ url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure.latest_version.version) }}">{{ measure.latest_version.title }}</a></td>
                                <td>{{ measure.reference }}</td>
                                <td><a class="govuk-link" href="{{ url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure.latest_version.version) }}">{{ measure.latest_version.version }}</a></td>
                                <td>{{ topic.title}}</td>
                                <td>{{ subtopic.title }}</td>
                                <td>{{ measure.latest_version.status }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
