{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
    {"url": url_for('dashboards.index'), "text": "Dashboards"},
  ]
%}

{% block pageTitle %}Planned pages - GOV.UK Ethnicity facts and figures{% endblock %}
{% block metaDescription %}Pages we’re planning or working on for Ethnicity facts and figures.{% endblock %}
{% block socialTitle %}Planned pages{% endblock %}
{% block socialDescription %}Pages we’re planning or working on for Ethnicity facts and figures.{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Planned pages');{% endblock %}


{% block content %}
    <div class="progress">
        <h1 class="progress__title govuk-heading-xl">
            Planned pages
        </h1>
        <div class="govuk-body">
            The dashboard shows what we are planning to publish and which new pages or updated versions we are working on now. You can also find out what we have <a class="govuk-link" href="{{ url_for('dashboards.whats_new') }}">recently published</a>.
        </div>
        <div class="progress__cards">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <div id="planned" class="govuk-body progress-card progress-card--selected">
                        <div id="planned-measures" class="govuk-!-font-size-48">
                            {{ planned_count }}
                        </div>
                        <div class="govuk-!-font-weight-bold">
                            Planned
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div id="progress" class="govuk-body progress-card progress-card--active">
                        <div id="progress-measures" class="govuk-!-font-size-48">
                            {{ progress_count }}
                        </div>
                        <div class="govuk-!-font-weight-bold">
                            In progress
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div id="review" class="govuk-body progress-card progress-card--active">
                        <div id="review-measures" class="govuk-!-font-size-48">
                            {{ review_count }}
                        </div>
                        <div class="govuk-!-font-weight-bold">
                            Under review
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="measure-table" class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header column-width-40" aria-sort="none">Page</th>
                <th class="govuk-table__header column-width-30" aria-sort="none">Organisation</th>
                <th class="govuk-table__header column-width-15" aria-sort="none">Stage</th>
                <th class="govuk-table__header column-width-15" aria-sort="none">Type</th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% for measure in measures %}
            <tr class="govuk-table__row measure-row {{ measure.stage }}">
                <td class="govuk-table__cell">{{ measure.name }}</td>
                <td class="govuk-table__cell">{{ measure.department }}</td>
                <td class="govuk-table__cell">{{ measure.list }}</td>
                <td class="govuk-table__cell">{{ measure.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        var processCards;

        document.addEventListener('DOMContentLoaded', function () {

            var table = document.getElementById('measure-table');

            if (table) {
                new SortableTable(table)
            }

            var planned = document.getElementById("planned");
            planned.onclick = function () {
                selectState('planned')
            };

            var progress = document.getElementById("progress");
            progress.onclick = function () {
                selectState('progress')
            };

            var review = document.getElementById("review");
            review.onclick = function () {
                selectState('review')
            };

            processCards = {'planned': planned, 'progress': progress, 'review': review};

            selectState('progress');
        });

        function selectState(state) {
            var cards = document.getElementsByClassName('progress-card');

            for (var c in cards) {
                var card = cards[c];
                if (card.classList) {
                    card.classList.remove('progress-card--selected');
                }
                if (card.classList) {
                    card.classList.remove('progress-card--active');
                }

                if (card.id === state) {
                    if (card.classList) {
                        card.classList.add('progress-card--selected');
                    }
                } else {
                    if (card.classList) {
                        card.classList.add('progress-card--active');
                    }
                }
            }
            setMeasureTableRows(state)
        }

        function setMeasureTableRows(state) {
            var rows = document.getElementsByClassName('measure-row');
            for (var i in rows) {
                var row = rows[i];
                if (row && row.classList !== undefined) {
                    if (row.classList.contains(state)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}
