{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('dashboards.index'), "text": "Dashboards"},
  ]
%}

{% block pageTitle %}New and updated pages for Ethnicity facts and figures - GOV.UK{% endblock %}

{% block content %}
    <h1 class="heading-xlarge">New and updated pages</h1>

    <p>All pages published on Ethnicity facts and figures, starting with the most recent.</p>

    {% for year, months in pages_by_years_and_months|dictsort(reverse=True) %}

      <h2 class="heading-large">{{ year }}</h2>

      {% for month, pages in months|dictsort(reverse=True) %}

        <h3 class="heading-medium">{{ month.strftime("%B") }}</h3>

        <ol>
          {% for page in pages %}
            <li><a href="{{ url_for(
              'static_site.measure_version',
              topic_slug=page.parent.parent.slug,
              subtopic_slug=page.parent.slug,
              measure_slug=page.slug,
              version='latest'
            ) }}">

              {{ page.title }}</a>

              {% if page.version == '1.0' %}
                <strong class="new-tag">new</strong>
              {% endif %}

              <span class="item-date">{{ page.published_at | format_friendly_short_date }}</span>
            </li>
          {% endfor %}
          </ol>

      {% endfor %}
    {% endfor %}
{% endblock %}
