{% extends "static_site/_base.html" %}
{% block page_title %}Ethnic groups by region - GOV.UK{% endblock %}
{% block meta_title %}Ethnic groups by region{% endblock %}

{% block google_analytics %}ga('set','contentGroup1','Ethnicity in the UK'){% endblock %}
{% block main_content %}
<main id="content">
  {% include 'static_site/_phase_banner.html' %}
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="{{ url_for('static_site.index') }}">
          Ethnicity facts and figures
        </a>
      </li>
      <li>
        <a href="{{ url_for('static_site.ethnicity_in_the_uk') }}">
          Ethnicity in the UK
        </a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Ethnic groups by region
      </h1>

      <p>Awareness of where ethnic groups are located throughout the UK is important for understanding the magnitude of disparities. The populations of some ethnic groups are more highly concentrated in particular regions of the country, which can have the effect of compounding disparities for these groups.</p>

      <p>In 2011 the majority of the UK population described themselves as belonging to the White ethnic group (87% or 55 million). The remaining 13% (8.1 million) belonged to an ethnic minority group – the equivalent of one person in 8 in the UK.</p>

      <p>The percentage of the UK population for each ethnic minority group was:</p>

      <ul class="bullets">
        <li>7% for Asian/Asian British (4.4 million people)</li>
        <li>3% for Black/African/Caribbean/Black British (1.9 million)</li>
        <li>3% for Mixed/Multiple ethnicities (1.3 million)</li>
        <li>1% for Gypsy/Traveller/Irish Traveller/Other groups (63,000)</li>
      </ul>

      <p>In England 85% of residents described themselves as White, the only nation of the UK where the percentage was lower than the UK average of 87%. Northern Ireland had the highest proportion of residents describing themselves as White, at 98%.</p>

      <h2 class="heading-medium">Ethnic diversity of the English regions and Wales</h2>

      <p>Comparing all English regions and Wales, the most ethnically diverse region was London, where 40% of residents identified as belonging to an ethnic minority group.</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <figure>
        <figcaption class="heading-small">Regions of England and Wales by ethnicity</figcaption>
        <img src="/static/images/ethnicity-in-the-uk/regions-by-ethnicity.png" alt="" style="width: 100%">
      </figure>


    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>The most common ethnicities (aside from White British) found across the regions of England and in Wales are Other White, Indian and Pakistani. London has a much more diverse profile, with substantial percentages of people identifying as Other Asian (5%), Black Caribbean (7%) or Black African (4%).</p>

      <h2 class="heading-medium">Ethnic groups by region</h2>

      <p>At the broad category level, the White ethnic group is fairly evenly dispersed across England and Wales. However, other ethnic groups are more likely to be concentrated in London or the Midlands. More than half (58%) of people who identified as Black were located in London. While more than 1 in 3 (36%) people who identified as Asian were located in London, a further 1 in 5 (21%) were located in the Midlands.</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <figure style="margin-top: 2em;">
        <figcaption class="heading-small">Regional profile of ethnic groups</figcaption>
        <img src="/static/images/ethnicity-in-the-uk/regional-profile-by-ethnicity.png" alt="" style="width: 100%">
      </figure>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>People who identified as Gypsy or Irish travellers, Pakistani, or as Mixed White and Black Caribbean ethnicity were relatively less concentrated in London than other groups. Nearly 2 in 5 Gypsy or Irish Travellers (39% or 22,707 people) were located in the East or South East, accounting for around 0.1% and 0.2% of these regions’ populations respectively.</p>

      <p>Around 3 in 5 (57%) people who identified as Pakistani were located in the North West, Yorkshire and The Humber, and the West Midlands (14%, 20% and 28% respectively). Within these regions, people from a Pakistani background accounted for 2.7%, 4.3% and 4.1% of the population respectively.</p>

      <p>People who identified as Mixed White and Black Caribbean were more dispersed across the English regions than people from a Pakistani background or Irish and Gypsy Travellers. Just over a quarter (26%) were located in the East and West Midlands accounting for 0.9% and 1.2% of these regions’ populations. A further fifth (19%) were in the East and South East accounting for 0.6% and 0.5 % of these regions’ populations. In addition, the North West and Yorkshire and The Humber were home to around 1 in 6 people (17%) who identified as Mixed White and Black Caribbean, accounting for 0.6% of these regions’ populations.</p>

      <p>The majority of all ethnic groups were located in urban areas. However, the White and Mixed ethnic groups were more likely to be in rural areas than others.</p>

      <p>Around 1 in 4 people (25%) who identified as Gypsy or Irish traveller were located in rural areas, which was just slightly higher than the percentage of people identifying as White British (22%). However, Gypsies and Irish Travellers accounted for just 58,000 usual residents (0.1% of the population), making it the smallest ethnic category with a tick-box on the 2011 Census.</p>

      <p>The White Irish group had the third highest percentage located in rural areas, closely followed by the Mixed White and Asian group (10% each). Those who identified as Pakistani or Bangladeshi were the least likely to live in rural areas (1% each) closely followed by the 3 Black ethnic groups (2% each).</p>

      <p>The distribution of each ethnic group between rural and urban locations can differ between regions. While more than 9 in 10 Gypsy or Irish Travellers (91%) in the North West were located in urban areas, for those in Wales just 6 in 10 (60%) were in urban areas.</p>

      <p>Within the Mixed ethnic group, those identifying as Mixed White and Asian were less likely to live in urban areas than those identifying as Mixed White and Black Caribbean (90% compared with 93%) . However, in the North East, the picture is reversed, with Mixed White and Black Caribbean less likely than Mixed White and Asian to live in urban areas (85% compared with 89%).</p>

      <p>The Asian ethnic groups follow similar patterns across all the regions except in the South West and Wales, where those identifying as Other Asian are least likely to live in urban areas than the other groups (83% in SW and 84% in Wales). In all other regions, those identifying as Chinese were the least likely group of Asians to live in urban areas.</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <figure>
        <figcaption class="heading-small">Percentage of people in urban and rural locations by ethnicity</figcaption>
        <img src="/static/images/ethnicity-in-the-uk/percentage-of-people-in-urban-and-rural-locations-by-ethnicity.png" alt="" style="width: 100%">
      </figure>


    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>The vast majority of the 3 ethnic groups within the broad Black ethnic category were located in urban areas. However, in the East of England 86% of people identifying as Other Black live in urban areas, less than the other Black ethnic groups. People in the Black Caribbean ethnic group were less likely to live in urban areas than the other Black ethnic groups in the North East (86%) and in Wales (84%).</p>

      <p>Across the English regions and Wales, people who identified as Arab were more likely to live in urban areas than those who identified as Any other ethnic group. This difference was more pronounced in the East (89% for Arab compared with 85% for Other), the South West (92% for Arab, 85% for Other) and in Wales (92% for Arab, 86% for Other).</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">


      <h2 class="heading-small" style="margin-bottom: 1em;">Regional profile of detailed ethnic groups</h2>

      <table class="table measure-data grouped grouped-rows no-sort">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Ethnicity</th>
            <th aria-sort="none" class="line">East</th>
            <th aria-sort="none" class="line">East Midlands</th>
            <th aria-sort="none" class="line">London</th>
            <th aria-sort="none" class="line">North East</th>
            <th aria-sort="none" class="line">North West</th>
            <th aria-sort="none" class="line">South East</th>
            <th aria-sort="none" class="line">South West</th>
            <th aria-sort="none" class="line">Wales</th>
            <th aria-sort="none" class="line">West Midlands</th>
            <th aria-sort="none" class="">Yorkshire and The Humber</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="100" scope="rowgroup">Asian</th>
            <td class="line" data-sort-value="6.6">6.6</td>
            <td class="line" data-sort-value="7">7.0</td>
            <td class="line" data-sort-value="35.9">35.9</td>
            <td class="line" data-sort-value="1.8">1.8</td>
            <td class="line" data-sort-value="10.4">10.4</td>
            <td class="line" data-sort-value="10.7">10.7</td>
            <td class="line" data-sort-value="2.5">2.5</td>
            <td class="line" data-sort-value="1.7">1.7</td>
            <td class="line" data-sort-value="14.3">14.3</td>
            <td class="" data-sort-value="9.2">9.2</td>
          </tr>
          <tr>
            <th data-sort-value="101" scope="row">Bangladeshi</th>
            <td class="line" data-sort-value="7.4">7.4</td>
            <td class="line" data-sort-value="3">3.0</td>
            <td class="line" data-sort-value="49.7">49.7</td>
            <td class="line" data-sort-value="2.5">2.5</td>
            <td class="line" data-sort-value="10.3">10.3</td>
            <td class="line" data-sort-value="6.3">6.3</td>
            <td class="line" data-sort-value="1.9">1.9</td>
            <td class="line" data-sort-value="2.4">2.4</td>
            <td class="line" data-sort-value="11.7">11.7</td>
            <td class="" data-sort-value="5">5.0</td>
          </tr>
          <tr>
            <th data-sort-value="102" scope="row">Chinese</th>
            <td class="line" data-sort-value="8.5">8.5</td>
            <td class="line" data-sort-value="6.2">6.2</td>
            <td class="line" data-sort-value="31.6">31.6</td>
            <td class="line" data-sort-value="3.6">3.6</td>
            <td class="line" data-sort-value="12.2">12.2</td>
            <td class="line" data-sort-value="13.5">13.5</td>
            <td class="line" data-sort-value="5.7">5.7</td>
            <td class="line" data-sort-value="3.5">3.5</td>
            <td class="line" data-sort-value="8">8.0</td>
            <td class="" data-sort-value="7.2">7.2</td>
          </tr>
          <tr>
            <th data-sort-value="103" scope="row">Indian</th>
            <td class="line" data-sort-value="6.1">6.1</td>
            <td class="line" data-sort-value="12">12.0</td>
            <td class="line" data-sort-value="38.4">38.4</td>
            <td class="line" data-sort-value="1.1">1.1</td>
            <td class="line" data-sort-value="7.6">7.6</td>
            <td class="line" data-sort-value="10.8">10.8</td>
            <td class="line" data-sort-value="2.4">2.4</td>
            <td class="line" data-sort-value="1.2">1.2</td>
            <td class="line" data-sort-value="15.5">15.5</td>
            <td class="" data-sort-value="4.9">4.9</td>
          </tr>
          <tr>
            <th data-sort-value="104" scope="row">Pakistani</th>
            <td class="line" data-sort-value="5.9">5.9</td>
            <td class="line" data-sort-value="4.4">4.4</td>
            <td class="line" data-sort-value="19.9">19.9</td>
            <td class="line" data-sort-value="1.8">1.8</td>
            <td class="line" data-sort-value="16.8">16.8</td>
            <td class="line" data-sort-value="8.8">8.8</td>
            <td class="line" data-sort-value="1">1.0</td>
            <td class="line" data-sort-value="1.1">1.1</td>
            <td class="line" data-sort-value="20.2">20.2</td>
            <td class="" data-sort-value="20.1">20.1</td>
          </tr>
          <tr>
            <th data-sort-value="109" scope="row">Asian other</th>
            <td class="line" data-sort-value="7">7.0</td>
            <td class="line" data-sort-value="4.5">4.5</td>
            <td class="line" data-sort-value="47.7">47.7</td>
            <td class="line" data-sort-value="1.6">1.6</td>
            <td class="line" data-sort-value="5.6">5.6</td>
            <td class="line" data-sort-value="14.3">14.3</td>
            <td class="line" data-sort-value="3.5">3.5</td>
            <td class="line" data-sort-value="2">2.0</td>
            <td class="line" data-sort-value="9">9.0</td>
            <td class="" data-sort-value="4.8">4.8</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-sort-value="200" scope="rowgroup">Black</th>
            <td class="line" data-sort-value="6.3">6.3</td>
            <td class="line" data-sort-value="4.4">4.4</td>
            <td class="line" data-sort-value="58.4">58.4</td>
            <td class="line" data-sort-value="0.7">0.7</td>
            <td class="line" data-sort-value="5.2">5.2</td>
            <td class="line" data-sort-value="7.3">7.3</td>
            <td class="line" data-sort-value="2.7">2.7</td>
            <td class="line" data-sort-value="1">1.0</td>
            <td class="line" data-sort-value="9.8">9.8</td>
            <td class="" data-sort-value="4.3">4.3</td>
          </tr>
          <tr>
            <th data-sort-value="201" scope="row">Black African</th>
            <td class="line" data-sort-value="7.1">7.1</td>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="line" data-sort-value="58">58.0</td>
            <td class="line" data-sort-value="1.1">1.1</td>
            <td class="line" data-sort-value="6">6.0</td>
            <td class="line" data-sort-value="8.8">8.8</td>
            <td class="line" data-sort-value="2.4">2.4</td>
            <td class="line" data-sort-value="1.2">1.2</td>
            <td class="line" data-sort-value="6.5">6.5</td>
            <td class="" data-sort-value="4.7">4.7</td>
          </tr>
          <tr>
            <th data-sort-value="202" scope="row">Black Caribbean</th>
            <td class="line" data-sort-value="5.7">5.7</td>
            <td class="line" data-sort-value="4.9">4.9</td>
            <td class="line" data-sort-value="57.9">57.9</td>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="line" data-sort-value="3.9">3.9</td>
            <td class="line" data-sort-value="5.8">5.8</td>
            <td class="line" data-sort-value="2.5">2.5</td>
            <td class="line" data-sort-value="0.6">0.6</td>
            <td class="line" data-sort-value="14.6">14.6</td>
            <td class="" data-sort-value="3.9">3.9</td>
          </tr>
          <tr>
            <th data-sort-value="209" scope="row">Black other</th>
            <td class="line" data-sort-value="5">5.0</td>
            <td class="line" data-sort-value="3.9">3.9</td>
            <td class="line" data-sort-value="60.7">60.7</td>
            <td class="line" data-sort-value="0.4">0.4</td>
            <td class="line" data-sort-value="5.5">5.5</td>
            <td class="line" data-sort-value="5.2">5.2</td>
            <td class="line" data-sort-value="3.6">3.6</td>
            <td class="line" data-sort-value="0.9">0.9</td>
            <td class="line" data-sort-value="11.1">11.1</td>
            <td class="" data-sort-value="3.9">3.9</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-sort-value="300" scope="rowgroup">Mixed</th>
            <td class="line" data-sort-value="9.2">9.2</td>
            <td class="line" data-sort-value="7">7.0</td>
            <td class="line" data-sort-value="33.1">33.1</td>
            <td class="line" data-sort-value="1.8">1.8</td>
            <td class="line" data-sort-value="9.1">9.1</td>
            <td class="line" data-sort-value="13.7">13.7</td>
            <td class="line" data-sort-value="5.9">5.9</td>
            <td class="line" data-sort-value="2.6">2.6</td>
            <td class="line" data-sort-value="10.8">10.8</td>
            <td class="" data-sort-value="6.9">6.9</td>
          </tr>
          <tr>
            <th data-sort-value="301" scope="row">Mixed White/Asian</th>
            <td class="line" data-sort-value="9.4">9.4</td>
            <td class="line" data-sort-value="6.3">6.3</td>
            <td class="line" data-sort-value="29.7">29.7</td>
            <td class="line" data-sort-value="2.3">2.3</td>
            <td class="line" data-sort-value="8.9">8.9</td>
            <td class="line" data-sort-value="17.2">17.2</td>
            <td class="line" data-sort-value="6.3">6.3</td>
            <td class="line" data-sort-value="2.6">2.6</td>
            <td class="line" data-sort-value="9.5">9.5</td>
            <td class="" data-sort-value="7.6">7.6</td>
          </tr>
          <tr>
            <th data-sort-value="302" scope="row">Mixed White/Black African</th>
            <td class="line" data-sort-value="9.3">9.3</td>
            <td class="line" data-sort-value="5.3">5.3</td>
            <td class="line" data-sort-value="39.5">39.5</td>
            <td class="line" data-sort-value="2.1">2.1</td>
            <td class="line" data-sort-value="11.1">11.1</td>
            <td class="line" data-sort-value="13.8">13.8</td>
            <td class="line" data-sort-value="5.2">5.2</td>
            <td class="line" data-sort-value="2.7">2.7</td>
            <td class="line" data-sort-value="5.6">5.6</td>
            <td class="" data-sort-value="5.6">5.6</td>
          </tr>
          <tr>
            <th data-sort-value="303" scope="row">Mixed White/Black Caribbean</th>
            <td class="line" data-sort-value="8.7">8.7</td>
            <td class="line" data-sort-value="9.5">9.5</td>
            <td class="line" data-sort-value="28">28.0</td>
            <td class="line" data-sort-value="1.4">1.4</td>
            <td class="line" data-sort-value="9.2">9.2</td>
            <td class="line" data-sort-value="10.8">10.8</td>
            <td class="line" data-sort-value="6">6.0</td>
            <td class="line" data-sort-value="2.6">2.6</td>
            <td class="line" data-sort-value="16.1">16.1</td>
            <td class="" data-sort-value="7.8">7.8</td>
          </tr>
          <tr>
            <th data-sort-value="309" scope="row">Mixed other</th>
            <td class="line" data-sort-value="9.4">9.4</td>
            <td class="line" data-sort-value="5.3">5.3</td>
            <td class="line" data-sort-value="41">41.0</td>
            <td class="line" data-sort-value="1.7">1.7</td>
            <td class="line" data-sort-value="7.9">7.9</td>
            <td class="line" data-sort-value="13.9">13.9</td>
            <td class="line" data-sort-value="5.6">5.6</td>
            <td class="line" data-sort-value="2.4">2.4</td>
            <td class="line" data-sort-value="7.4">7.4</td>
            <td class="" data-sort-value="5.5">5.5</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-sort-value="400" scope="rowgroup">White</th>
            <td class="line" data-sort-value="11">11.0</td>
            <td class="line" data-sort-value="8.4">8.4</td>
            <td class="line" data-sort-value="10.1">10.1</td>
            <td class="line" data-sort-value="5.1">5.1</td>
            <td class="line" data-sort-value="13.2">13.2</td>
            <td class="line" data-sort-value="16.2">16.2</td>
            <td class="line" data-sort-value="10.5">10.5</td>
            <td class="line" data-sort-value="6.1">6.1</td>
            <td class="line" data-sort-value="9.6">9.6</td>
            <td class="" data-sort-value="9.7">9.7</td>
          </tr>
          <tr>
            <th data-sort-value="401" scope="row">White British</th>
            <td class="line" data-sort-value="11">11.0</td>
            <td class="line" data-sort-value="8.6">8.6</td>
            <td class="line" data-sort-value="8.1">8.1</td>
            <td class="line" data-sort-value="5.4">5.4</td>
            <td class="line" data-sort-value="13.6">13.6</td>
            <td class="line" data-sort-value="16.3">16.3</td>
            <td class="line" data-sort-value="10.8">10.8</td>
            <td class="line" data-sort-value="6.3">6.3</td>
            <td class="line" data-sort-value="9.8">9.8</td>
            <td class="" data-sort-value="10">10.0</td>
          </tr>
          <tr>
            <th data-sort-value="402" scope="row">White Irish</th>
            <td class="line" data-sort-value="10.5">10.5</td>
            <td class="line" data-sort-value="5.4">5.4</td>
            <td class="line" data-sort-value="33.1">33.1</td>
            <td class="line" data-sort-value="1.5">1.5</td>
            <td class="line" data-sort-value="12.2">12.2</td>
            <td class="line" data-sort-value="13.9">13.9</td>
            <td class="line" data-sort-value="5.4">5.4</td>
            <td class="line" data-sort-value="2.7">2.7</td>
            <td class="line" data-sort-value="10.4">10.4</td>
            <td class="" data-sort-value="5">5.0</td>
          </tr>
          <tr>
            <th data-sort-value="405" scope="row">White Gypsy or Irish Traveller</th>
            <td class="line" data-sort-value="14.2">14.2</td>
            <td class="line" data-sort-value="5.9">5.9</td>
            <td class="line" data-sort-value="14.2">14.2</td>
            <td class="line" data-sort-value="2.9">2.9</td>
            <td class="line" data-sort-value="7.2">7.2</td>
            <td class="line" data-sort-value="25.2">25.2</td>
            <td class="line" data-sort-value="9.8">9.8</td>
            <td class="line" data-sort-value="4.8">4.8</td>
            <td class="line" data-sort-value="8.2">8.2</td>
            <td class="" data-sort-value="7.6">7.6</td>
          </tr>
          <tr>
            <th data-sort-value="409" scope="row">White other</th>
            <td class="line" data-sort-value="10.5">10.5</td>
            <td class="line" data-sort-value="5.8">5.8</td>
            <td class="line" data-sort-value="41.6">41.6</td>
            <td class="line" data-sort-value="1.4">1.4</td>
            <td class="line" data-sort-value="6.1">6.1</td>
            <td class="line" data-sort-value="15.3">15.3</td>
            <td class="line" data-sort-value="6.3">6.3</td>
            <td class="line" data-sort-value="2.2">2.2</td>
            <td class="line" data-sort-value="5.6">5.6</td>
            <td class="" data-sort-value="5.2">5.2</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-sort-value="600" scope="rowgroup">Other</th>
            <td class="line" data-sort-value="5.1">5.1</td>
            <td class="line" data-sort-value="4.6">4.6</td>
            <td class="line" data-sort-value="49.9">49.9</td>
            <td class="line" data-sort-value="2">2.0</td>
            <td class="line" data-sort-value="7.8">7.8</td>
            <td class="line" data-sort-value="9.1">9.1</td>
            <td class="line" data-sort-value="2.8">2.8</td>
            <td class="line" data-sort-value="2.7">2.7</td>
            <td class="line" data-sort-value="8.9">8.9</td>
            <td class="" data-sort-value="7.3">7.3</td>
          </tr>
          <tr>
            <th data-sort-value="601" scope="row">Arab</th>
            <td class="line" data-sort-value="5.5">5.5</td>
            <td class="line" data-sort-value="4.8">4.8</td>
            <td class="line" data-sort-value="52.5">52.5</td>
            <td class="line" data-sort-value="1.6">1.6</td>
            <td class="line" data-sort-value="5.9">5.9</td>
            <td class="line" data-sort-value="9.5">9.5</td>
            <td class="line" data-sort-value="3">3.0</td>
            <td class="line" data-sort-value="1.7">1.7</td>
            <td class="line" data-sort-value="9.6">9.6</td>
            <td class="" data-sort-value="5.9">5.9</td>
          </tr>
          <tr>
            <th data-sort-value="960" scope="row">Any other</th>
            <td class="line" data-sort-value="4.5">4.5</td>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="line" data-sort-value="46">46.0</td>
            <td class="line" data-sort-value="2.5">2.5</td>
            <td class="line" data-sort-value="10.6">10.6</td>
            <td class="line" data-sort-value="8.4">8.4</td>
            <td class="line" data-sort-value="2.5">2.5</td>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="line" data-sort-value="7.8">7.8</td>
            <td class="" data-sort-value="9.3">9.3</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Ethnic diversity at local council level</h2>

      <p>Eight of the 10 most ethnically diverse local councils are in London. Slough is the most ethnically diverse local council outside of London, with a 46% White, 40% Asian population).</p>

      <p>The 10 local councils that are almost wholly White are predominantly in rural areas. There will of course be differences between these local councils when looking at the specific ethnic groups.</p>

      <p>Further data on ethnic groups by local council can be sourced from either the ONS including some brief analysis, or Nomis</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <figure>
        <figcaption class="heading-small" style="margin-bottom: 1em;">Most and least diverse local authorities in England and Wales</figcaption>

        <table class="table measure-data">
          <thead>
            <tr>
              <th aria-sort="none" class="first line">Local authority</th>
              <th aria-sort="none">% White</th>
              <th aria-sort="none">Position</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th data-sort-value="29" scope="row">Newham</th>
              <td class="" data-sort-value="29">29.0</td>
              <td class="" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th data-sort-value="36.3" scope="row">Brent</th>
              <td class="" data-sort-value="36.3">36.3</td>
              <td class="" data-sort-value="2">2</td>
            </tr>
            <tr>
              <th data-sort-value="42.2" scope="row">Harrow</th>
              <td class="" data-sort-value="42.2">42.2</td>
              <td class="" data-sort-value="3">3</td>
            </tr>
            <tr>
              <th data-sort-value="42.5" scope="row">Redbridge</th>
              <td class="" data-sort-value="42.5">42.5</td>
              <td class="" data-sort-value="4">4</td>
            </tr>
            <tr>
              <th data-sort-value="45.2" scope="row">Tower Hamlets</th>
              <td class="" data-sort-value="45.2">45.2</td>
              <td class="" data-sort-value="5">5</td>
            </tr>
            <tr>
              <th data-sort-value="45.7" scope="row">Slough</th>
              <td class="" data-sort-value="45.7">45.7</td>
              <td class="" data-sort-value="6">6</td>
            </tr>
            <tr>
              <th data-sort-value="49" scope="row">Ealing</th>
              <td class="" data-sort-value="49">49.0</td>
              <td class="" data-sort-value="7">7</td>
            </tr>
            <tr>
              <th data-sort-value="50.5" scope="row">Leicester</th>
              <td class="" data-sort-value="50.5">50.5</td>
              <td class="" data-sort-value="8">8</td>
            </tr>
            <tr>
              <th data-sort-value="51.4" scope="row">Hounslow</th>
              <td class="" data-sort-value="51.4">51.4</td>
              <td class="" data-sort-value="9">9</td>
            </tr>
            <tr>
              <th data-sort-value="52.2" scope="row">Waltham Forest</th>
              <td class="" data-sort-value="52.2">52.2</td>
              <td class="" data-sort-value="10">10</td>
            </tr>
            <tr>
              <th data-sort-value="98.2" scope="row">County Durham</th>
              <td class="" data-sort-value="98.2">98.2</td>
              <td class="" data-sort-value="165">165</td>
            </tr>
            <tr>
              <th data-sort-value="98.2" scope="row">Herefordshire, County of</th>
              <td class="" data-sort-value="98.2">98.2</td>
              <td class="" data-sort-value="166">166</td>
            </tr>
            <tr>
              <th data-sort-value="98.3" scope="row">Caerphilly</th>
              <td class="" data-sort-value="98.3">98.3</td>
              <td class="" data-sort-value="167">167</td>
            </tr>
            <tr>
              <th data-sort-value="98.4" scope="row">Northumberland</th>
              <td class="" data-sort-value="98.4">98.4</td>
              <td class="" data-sort-value="168">168</td>
            </tr>
            <tr>
              <th data-sort-value="98.4" scope="row">Powys</th>
              <td class="" data-sort-value="98.4">98.4</td>
              <td class="" data-sort-value="169">169</td>
            </tr>
            <tr>
              <th data-sort-value="98.5" scope="row">Blaenau Gwent</th>
              <td class="" data-sort-value="98.5">98.5</td>
              <td class="" data-sort-value="170">170</td>
            </tr>
            <tr>
              <th data-sort-value="98.5" scope="row">Cumbria</th>
              <td class="" data-sort-value="98.5">98.5</td>
              <td class="" data-sort-value="171">171</td>
            </tr>
            <tr>
              <th data-sort-value="98.5" scope="row">Flintshire</th>
              <td class="" data-sort-value="98.5">98.5</td>
              <td class="" data-sort-value="172">172</td>
            </tr>
            <tr>
              <th data-sort-value="98.5" scope="row">Redcar and Cleveland</th>
              <td class="" data-sort-value="98.5">98.5</td>
              <td class="" data-sort-value="173">173</td>
            </tr>
            <tr>
              <th data-sort-value="98.8" scope="row">Isles of Scilly</th>
              <td class="" data-sort-value="98.8">98.8</td>
              <td class="" data-sort-value="174">174</td>
            </tr>
          </tbody>
        </table>
      </figure>

    </div>
  </div>

</main>
{% endblock %}