{% extends "base.html" %}

{% set breadcrumbs = 
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('static_site.ethnicity_in_the_uk'), "text": "Ethnicity in the UK"},
  ]
%}

{% block pageTitle %}Ethnicity and type of family or household - GOV.UK{% endblock %}
{% block socialTitle %}Ethnicity and type of family or household{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Ethnicity in the UK');{% endblock %}

{% block headEnd %}<link rel="canonical" href="{{ config.RDU_SITE | strip_trailing_slash }}{{ url_for('static_site.ethnicity_in_the_uk_page', page_name='ethnicity-and-type-of-family-or-household') }}">{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Ethnic groups by type of family or household
      </h1>

      <p>This service measures how experiences and outcomes differ for people of various ethnicities across public sector services.</p>

      <p>Looking at the number of people who live in each different type of household provides insight into differences between ethnic groups.</p>

      <h2 class="heading-medium">Types of household</h2>

      <p>A household is one person or a group of people (not necessarily related) who have the accommodation as their only or main residence. If it is a group, they must share cooking facilities and also share a living room, sitting room or dining area.</p>

      <p>Researchers group households according to the relationship between the household members, also known as the ‘household composition’.</p>

      <p>Households are classified according to whether they consist of:</p>

      <ul>
        <li>2 married adults </li>
        <li>a same-sex civil partnership</li>
        <li>a cohabiting couple family</li>
        <li>a single parent family</li>
        <li>multi-generational families (grandparents, parents and children)</li>
        <li>wider family (aunts and uncles)</li>
        <li>2 unrelated families sharing a house</li>
        <li>students</li>
        <li>people aged 65 and over</li>
        <li>unrelated people</li>
        <li>a single person household</li>
      </ul>

      <p>In all of these households, the number of dependent children under 18, if any, is also taken into account. (Dependent children are those aged under 15, or aged 16 to 18 and in full-time education.)</p>

      <h2 class="heading-medium">Determining ethnicity for a household</h2>

      <p>The ethnicity of a household is classified according to the ethnicity of the ‘household reference person’ (HRP) (usually the oldest and most economically active member of the household). For this reason, the data presented here doesn’t reflect the true ethnic composition of all households (some, for example, may be made up of relationships between people of different ethnicities).</p>

      <p>However, because only 9% of relationships involve people from different ethnic groups, the analysis presented here is broadly reliable.</p>

      <h2 class="heading-medium">What the data shows</h2>

      <p>The 2011 Census shows us that White British people make up 80.5% of the population of England and Wales and for this reason they are also the majority ethnic group in each type of household.</p>

      <p>However, a closer look at the data shows trends within and between ethnic minority groups.</p>

      <p>For example, 21% of households made up of a multi-generational family with dependent children were Asian, compared to 11% of households consisting of a married couple with dependent children.</p>

      <p>21% of all-student households were also Asian.</p>

      <p>Similarly, 8% of lone parent with dependent children households were Black, compared to 3% of married or cohabiting couples with dependent children.</p>

      <p>These figures indicate that Asian households are more likely to be multi-generational or all student than households of other ethnicities, and Black households more likely than other households to be headed by lone parents than by a couple.</p>


    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <figure>
        <figcaption class="heading-small">Percentage of household type by ethnicity</figcaption>
        <img src="/static/images/ethnicity-in-the-uk/percentage-of-household-type-by-ethnicity.png" style="max-width: 100%;">
      </figure>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">


      <p>The 2011 Census shows that within the broad ethnic groups, almost 1 in 3 Asian household reference people (HRPs) are part of married couples with dependent children.</p>

      <p>A similar proportion (31%) of Mixed race HRPs were in single person households under age 65.</p>

      <p>Around 1 in 5 (19%) Black HRPs were lone parents with dependent children, as were 16% of Mixed ethnicity HRPs.</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <figure>
        <figcaption class="heading-small">Household composition by ethnicity</figcaption>
        <img src="/static/images/ethnicity-in-the-uk/household-composition-by-ethnicity.png" style="max-width: 100%;">
      </figure>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>White British households with dependent children were underrepresented in England and Wales, accounting for less than 77% of such households when they made up 83% of all households.</p>

      <p>Asian households with dependent children were overrepresented in England and Wales, accounting for 9% of such households when they made up 5% of all households. Black households with dependent children were also overrepresented.</p>


      <h2 class="heading-medium">Types of household among White ethnic groups</h2>

      <p>Around a quarter (25%) of Other White HRPs were in single person households compared with 2 in 5 (40%) of those who identified as Irish.</p>

      <p>The Gypsy and Irish Traveller ethnic group were most likely to be living in lone parent with dependent children households – 20% did so, the highest percentage of any ethnic group.</p>

      <p>The Other White ethnic group had the highest percentage of people living in a married or same-sex couple with dependent children – 19% did so.</p>

      <p>A further 13% of the Other White ethnic group lived in the Other household category (such as a multi-generational or student household).</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <table class="table measure-data grouped">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Household type</th>
            <th aria-sort="none" class="line">White</th>
            <th aria-sort="none" class="line">White British</th>
            <th aria-sort="none" class="line">White Irish</th>
            <th aria-sort="none" class="line">White Gypsy or Irish Traveller</th>
            <th aria-sort="none" class="">White other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="1" scope="row">Single pensioner</th>
            <td class="line" data-sort-value="13.4">13.4</td>
            <td class="line" data-sort-value="13.8">13.8</td>
            <td class="line" data-sort-value="19.4">19.4</td>
            <td class="line" data-sort-value="6.1">6.1</td>
            <td class="" data-sort-value="4.9">4.9</td>
          </tr>
          <tr>
            <th data-sort-value="1" scope="row">Single non-pensioner</th>
            <td class="line" data-sort-value="17.5">17.5</td>
            <td class="line" data-sort-value="17.3">17.3</td>
            <td class="line" data-sort-value="20.3">20.3</td>
            <td class="line" data-sort-value="23.3">23.3</td>
            <td class="" data-sort-value="19.9">19.9</td>
          </tr>
          <tr>
            <th data-sort-value="2" scope="row">Pensioner couple</th>
            <td class="line" data-sort-value="8.9">8.9</td>
            <td class="line" data-sort-value="9.2">9.2</td>
            <td class="line" data-sort-value="9.3">9.3</td>
            <td class="line" data-sort-value="2">2.0</td>
            <td class="" data-sort-value="2.6">2.6</td>
          </tr>
          <tr>
            <th data-sort-value="3" scope="row">Married, no children</th>
            <td class="line" data-sort-value="13">13.0</td>
            <td class="line" data-sort-value="13.2">13.2</td>
            <td class="line" data-sort-value="9.9">9.9</td>
            <td class="line" data-sort-value="6.8">6.8</td>
            <td class="" data-sort-value="10.3">10.3</td>
          </tr>
          <tr>
            <th data-sort-value="4" scope="row">Married, Dependent children</th>
            <td class="line" data-sort-value="14.2">14.2</td>
            <td class="line" data-sort-value="14.1">14.1</td>
            <td class="line" data-sort-value="10.4">10.4</td>
            <td class="line" data-sort-value="12.6">12.6</td>
            <td class="" data-sort-value="18.9">18.9</td>
          </tr>
          <tr>
            <th data-sort-value="5" scope="row">Married, non-dependent children</th>
            <td class="line" data-sort-value="5.7">5.7</td>
            <td class="line" data-sort-value="5.9">5.9</td>
            <td class="line" data-sort-value="5.7">5.7</td>
            <td class="line" data-sort-value="3.6">3.6</td>
            <td class="" data-sort-value="2.8">2.8</td>
          </tr>
          <tr>
            <th data-sort-value="6" scope="row">Cohab, no children</th>
            <td class="line" data-sort-value="5.6">5.6</td>
            <td class="line" data-sort-value="5.5">5.5</td>
            <td class="line" data-sort-value="4.8">4.8</td>
            <td class="line" data-sort-value="3.2">3.2</td>
            <td class="" data-sort-value="8.1">8.1</td>
          </tr>
          <tr>
            <th data-sort-value="7" scope="row">Cohab, Dependent children</th>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="line" data-sort-value="4.3">4.3</td>
            <td class="line" data-sort-value="2.2">2.2</td>
            <td class="line" data-sort-value="6.3">6.3</td>
            <td class="" data-sort-value="4.1">4.1</td>
          </tr>
          <tr>
            <th data-sort-value="8" scope="row">Cohab, non-dependent children</th>
            <td class="line" data-sort-value="0.5">0.5</td>
            <td class="line" data-sort-value="0.5">0.5</td>
            <td class="line" data-sort-value="0.4">0.4</td>
            <td class="line" data-sort-value="0.6">0.6</td>
            <td class="" data-sort-value="0.2">0.2</td>
          </tr>
          <tr>
            <th data-sort-value="9" scope="row">Lone parent, Dependent children</th>
            <td class="line" data-sort-value="6.7">6.7</td>
            <td class="line" data-sort-value="6.7">6.7</td>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="line" data-sort-value="20.4">20.4</td>
            <td class="" data-sort-value="6.1">6.1</td>
          </tr>
          <tr>
            <th data-sort-value="10" scope="row">Lone parent, non-dependent children</th>
            <td class="line" data-sort-value="3.5">3.5</td>
            <td class="line" data-sort-value="3.5">3.5</td>
            <td class="line" data-sort-value="5.3">5.3</td>
            <td class="line" data-sort-value="4.1">4.1</td>
            <td class="" data-sort-value="2.1">2.1</td>
          </tr>
          <tr>
            <th data-sort-value="11" scope="row">Other, with dependent children</th>
            <td class="line" data-sort-value="2">2.0</td>
            <td class="line" data-sort-value="1.8">1.8</td>
            <td class="line" data-sort-value="1.4">1.4</td>
            <td class="line" data-sort-value="5.6">5.6</td>
            <td class="" data-sort-value="5.2">5.2</td>
          </tr>
          <tr>
            <th data-sort-value="12" scope="row">All full-time students</th>
            <td class="line" data-sort-value="0.4">0.4</td>
            <td class="line" data-sort-value="0.4">0.4</td>
            <td class="line" data-sort-value="0.5">0.5</td>
            <td class="line" data-sort-value="0.5">0.5</td>
            <td class="" data-sort-value="1.2">1.2</td>
          </tr>
          <tr>
            <th data-sort-value="13" scope="row">Other, All pensioners</th>
            <td class="line" data-sort-value="0.3">0.3</td>
            <td class="line" data-sort-value="0.3">0.3</td>
            <td class="line" data-sort-value="0.5">0.5</td>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="" data-sort-value="0.1">0.1</td>
          </tr>
          <tr>
            <th data-sort-value="14" scope="row">Any other household type</th>
            <td class="line" data-sort-value="4.1">4.1</td>
            <td class="line" data-sort-value="3.6">3.6</td>
            <td class="line" data-sort-value="5.5">5.5</td>
            <td class="line" data-sort-value="4.6">4.6</td>
            <td class="" data-sort-value="13.5">13.5</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Types of household among Mixed/Multiple ethnic groups</h2>

      <p>The young age profile of the Mixed/Multiple ethnic groups is reflected in their type of household.</p>

      <p>Overall, more than 1 in 3 Mixed ethnic HRPs (35%) were in single person households, and 16% were lone parents with dependent children.</p>

      <p>A quarter of Mixed White and Black Caribbean HRPs (23%) were lone parents with dependent children. Another 37% of Mixed White and Black Caribbean HRPs were in single person households.</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <table class="table measure-data grouped">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Household type</th>
            <th aria-sort="none" class="line">Mixed</th>
            <th aria-sort="none" class="line">Mixed White/Black Caribbean</th>
            <th aria-sort="none" class="line">Mixed White/Black African</th>
            <th aria-sort="none" class="line">Mixed White/Asian</th>
            <th aria-sort="none" class="">Mixed other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="1" scope="row">Single pensioner</th>
            <td class="line" data-sort-value="4.3">4.3</td>
            <td class="line" data-sort-value="4.6">4.6</td>
            <td class="line" data-sort-value="2.8">2.8</td>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="" data-sort-value="4.7">4.7</td>
          </tr>
          <tr>
            <th data-sort-value="1" scope="row">Single non-pensioner</th>
            <td class="line" data-sort-value="31">31.0</td>
            <td class="line" data-sort-value="32.7">32.7</td>
            <td class="line" data-sort-value="31.3">31.3</td>
            <td class="line" data-sort-value="30.2">30.2</td>
            <td class="" data-sort-value="29">29.0</td>
          </tr>
          <tr>
            <th data-sort-value="2" scope="row">Pensioner couple</th>
            <td class="line" data-sort-value="1.7">1.7</td>
            <td class="line" data-sort-value="1.6">1.6</td>
            <td class="line" data-sort-value="0.8">0.8</td>
            <td class="line" data-sort-value="2.2">2.2</td>
            <td class="" data-sort-value="1.7">1.7</td>
          </tr>
          <tr>
            <th data-sort-value="3" scope="row">Married, no children</th>
            <td class="line" data-sort-value="5.8">5.8</td>
            <td class="line" data-sort-value="3.9">3.9</td>
            <td class="line" data-sort-value="4.8">4.8</td>
            <td class="line" data-sort-value="7.7">7.7</td>
            <td class="" data-sort-value="7.3">7.3</td>
          </tr>
          <tr>
            <th data-sort-value="4" scope="row">Married, Dependent children</th>
            <td class="line" data-sort-value="12">12.0</td>
            <td class="line" data-sort-value="8">8.0</td>
            <td class="line" data-sort-value="13.2">13.2</td>
            <td class="line" data-sort-value="15.8">15.8</td>
            <td class="" data-sort-value="13.5">13.5</td>
          </tr>
          <tr>
            <th data-sort-value="5" scope="row">Married, non-dependent children</th>
            <td class="line" data-sort-value="2.1">2.1</td>
            <td class="line" data-sort-value="1.9">1.9</td>
            <td class="line" data-sort-value="1.7">1.7</td>
            <td class="line" data-sort-value="2.5">2.5</td>
            <td class="" data-sort-value="2.3">2.3</td>
          </tr>
          <tr>
            <th data-sort-value="6" scope="row">Cohab, no children</th>
            <td class="line" data-sort-value="5.9">5.9</td>
            <td class="line" data-sort-value="4.9">4.9</td>
            <td class="line" data-sort-value="5">5.0</td>
            <td class="line" data-sort-value="7">7.0</td>
            <td class="" data-sort-value="6.6">6.6</td>
          </tr>
          <tr>
            <th data-sort-value="7" scope="row">Cohab, Dependent children</th>
            <td class="line" data-sort-value="5">5.0</td>
            <td class="line" data-sort-value="6.1">6.1</td>
            <td class="line" data-sort-value="5">5.0</td>
            <td class="line" data-sort-value="4.3">4.3</td>
            <td class="" data-sort-value="4">4.0</td>
          </tr>
          <tr>
            <th data-sort-value="8" scope="row">Cohab, non-dependent children</th>
            <td class="line" data-sort-value="0.4">0.4</td>
            <td class="line" data-sort-value="0.5">0.5</td>
            <td class="line" data-sort-value="0.3">0.3</td>
            <td class="line" data-sort-value="0.3">0.3</td>
            <td class="" data-sort-value="0.3">0.3</td>
          </tr>
          <tr>
            <th data-sort-value="9" scope="row">Lone parent, Dependent children</th>
            <td class="line" data-sort-value="16.2">16.2</td>
            <td class="line" data-sort-value="22.7">22.7</td>
            <td class="line" data-sort-value="17.4">17.4</td>
            <td class="line" data-sort-value="9.6">9.6</td>
            <td class="" data-sort-value="12.7">12.7</td>
          </tr>
          <tr>
            <th data-sort-value="10" scope="row">Lone parent, non-dependent children</th>
            <td class="line" data-sort-value="2.9">2.9</td>
            <td class="line" data-sort-value="3.2">3.2</td>
            <td class="line" data-sort-value="3.2">3.2</td>
            <td class="line" data-sort-value="2.2">2.2</td>
            <td class="" data-sort-value="2.9">2.9</td>
          </tr>
          <tr>
            <th data-sort-value="11" scope="row">Other, with dependent children</th>
            <td class="line" data-sort-value="3.9">3.9</td>
            <td class="line" data-sort-value="3.9">3.9</td>
            <td class="line" data-sort-value="5.3">5.3</td>
            <td class="line" data-sort-value="3.2">3.2</td>
            <td class="" data-sort-value="4">4.0</td>
          </tr>
          <tr>
            <th data-sort-value="12" scope="row">All full-time students</th>
            <td class="line" data-sort-value="1.4">1.4</td>
            <td class="line" data-sort-value="0.9">0.9</td>
            <td class="line" data-sort-value="1.5">1.5</td>
            <td class="line" data-sort-value="2.1">2.1</td>
            <td class="" data-sort-value="1.5">1.5</td>
          </tr>
          <tr>
            <th data-sort-value="13" scope="row">Other, All pensioners</th>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="" data-sort-value="0.2">0.2</td>
          </tr>
          <tr>
            <th data-sort-value="14" scope="row">Any other household type</th>
            <td class="line" data-sort-value="7.3">7.3</td>
            <td class="line" data-sort-value="5.1">5.1</td>
            <td class="line" data-sort-value="7.5">7.5</td>
            <td class="line" data-sort-value="8.5">8.5</td>
            <td class="" data-sort-value="9.3">9.3</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">


      <h2 class="heading-medium">Types of household among Asian ethnic groups</h2>

      <p>Overall, Asian HRPs were the least likely of any of the broad ethnic groups to live in a single person households, with only 17% doing so.</p>

      <p>However, when the data is broken down into the detailed Asian ethnic categories, we see that a quarter (25%) of Chinese HRPs headed single person households under age 65.</p>

      <p>Similarly, at the broad category level, Asians HRPs were the least likely ethnic group to cohabit, with 3% doing so. However, 7% of Chinese HRPs were found to be in cohabiting households.</p>

      <p>Chinese HRPs were also more likely than any other Asian group to be part of an all-student household, with 7% living in one.</p>

      <p>Pakistanis and Bangladeshis were the Asian ethnic groups most likely to be in households with dependent children: 39% of Pakistani HRPs and 43% of Bangladeshi HRPs lived in a married couple household, and 15% of Pakistani HRPs and 16% of Bangladeshi HRPs lived in the Other household type (multi-generational or all student).</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <table class="table measure-data grouped">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Household type</th>
            <th aria-sort="none" class="line">Asian</th>
            <th aria-sort="none" class="line">Bangladeshi</th>
            <th aria-sort="none" class="line">Chinese</th>
            <th aria-sort="none" class="line">Indian</th>
            <th aria-sort="none" class="line">Pakistani</th>
            <th aria-sort="none" class="">Asian other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="1" scope="row">Single pensioner</th>
            <td class="line" data-sort-value="2.9">2.9</td>
            <td class="line" data-sort-value="1.3">1.3</td>
            <td class="line" data-sort-value="3.4">3.4</td>
            <td class="line" data-sort-value="3.8">3.8</td>
            <td class="line" data-sort-value="1.9">1.9</td>
            <td class="" data-sort-value="2.8">2.8</td>
          </tr>
          <tr>
            <th data-sort-value="1" scope="row">Single non-pensioner</th>
            <td class="line" data-sort-value="14.1">14.1</td>
            <td class="line" data-sort-value="9.1">9.1</td>
            <td class="line" data-sort-value="25">25.0</td>
            <td class="line" data-sort-value="12.2">12.2</td>
            <td class="line" data-sort-value="9.7">9.7</td>
            <td class="" data-sort-value="18.2">18.2</td>
          </tr>
          <tr>
            <th data-sort-value="2" scope="row">Pensioner couple</th>
            <td class="line" data-sort-value="2.1">2.1</td>
            <td class="line" data-sort-value="0.6">0.6</td>
            <td class="line" data-sort-value="1.9">1.9</td>
            <td class="line" data-sort-value="3.3">3.3</td>
            <td class="line" data-sort-value="1.2">1.2</td>
            <td class="" data-sort-value="1.6">1.6</td>
          </tr>
          <tr>
            <th data-sort-value="3" scope="row">Married, no children</th>
            <td class="line" data-sort-value="8.8">8.8</td>
            <td class="line" data-sort-value="4.1">4.1</td>
            <td class="line" data-sort-value="10.5">10.5</td>
            <td class="line" data-sort-value="11.2">11.2</td>
            <td class="line" data-sort-value="5.8">5.8</td>
            <td class="" data-sort-value="9.1">9.1</td>
          </tr>
          <tr>
            <th data-sort-value="4" scope="row">Married, Dependent children</th>
            <td class="line" data-sort-value="31.3">31.3</td>
            <td class="line" data-sort-value="42.7">42.7</td>
            <td class="line" data-sort-value="17.4">17.4</td>
            <td class="line" data-sort-value="29.5">29.5</td>
            <td class="line" data-sort-value="38.7">38.7</td>
            <td class="" data-sort-value="29.1">29.1</td>
          </tr>
          <tr>
            <th data-sort-value="5" scope="row">Married, non-dependent children</th>
            <td class="line" data-sort-value="6.9">6.9</td>
            <td class="line" data-sort-value="4">4.0</td>
            <td class="line" data-sort-value="5.5">5.5</td>
            <td class="line" data-sort-value="9.9">9.9</td>
            <td class="line" data-sort-value="5.4">5.4</td>
            <td class="" data-sort-value="5.1">5.1</td>
          </tr>
          <tr>
            <th data-sort-value="6" scope="row">Cohab, no children</th>
            <td class="line" data-sort-value="1.8">1.8</td>
            <td class="line" data-sort-value="0.8">0.8</td>
            <td class="line" data-sort-value="4.7">4.7</td>
            <td class="line" data-sort-value="1.5">1.5</td>
            <td class="line" data-sort-value="0.8">0.8</td>
            <td class="" data-sort-value="2.4">2.4</td>
          </tr>
          <tr>
            <th data-sort-value="7" scope="row">Cohab, Dependent children</th>
            <td class="line" data-sort-value="1.5">1.5</td>
            <td class="line" data-sort-value="1.6">1.6</td>
            <td class="line" data-sort-value="2">2.0</td>
            <td class="line" data-sort-value="1">1.0</td>
            <td class="line" data-sort-value="1.5">1.5</td>
            <td class="" data-sort-value="1.8">1.8</td>
          </tr>
          <tr>
            <th data-sort-value="8" scope="row">Cohab, non-dependent children</th>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="" data-sort-value="0.2">0.2</td>
          </tr>
          <tr>
            <th data-sort-value="9" scope="row">Lone parent, Dependent children</th>
            <td class="line" data-sort-value="5.7">5.7</td>
            <td class="line" data-sort-value="8.4">8.4</td>
            <td class="line" data-sort-value="4.5">4.5</td>
            <td class="line" data-sort-value="3.8">3.8</td>
            <td class="line" data-sort-value="8.3">8.3</td>
            <td class="" data-sort-value="5.7">5.7</td>
          </tr>
          <tr>
            <th data-sort-value="10" scope="row">Lone parent, non-dependent children</th>
            <td class="line" data-sort-value="3.1">3.1</td>
            <td class="line" data-sort-value="3.2">3.2</td>
            <td class="line" data-sort-value="2.7">2.7</td>
            <td class="line" data-sort-value="3.5">3.5</td>
            <td class="line" data-sort-value="3.1">3.1</td>
            <td class="" data-sort-value="2.7">2.7</td>
          </tr>
          <tr>
            <th data-sort-value="11" scope="row">Other, with dependent children</th>
            <td class="line" data-sort-value="10.5">10.5</td>
            <td class="line" data-sort-value="16.2">16.2</td>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="line" data-sort-value="9.1">9.1</td>
            <td class="line" data-sort-value="15.3">15.3</td>
            <td class="" data-sort-value="9.2">9.2</td>
          </tr>
          <tr>
            <th data-sort-value="12" scope="row">All full-time students</th>
            <td class="line" data-sort-value="2.2">2.2</td>
            <td class="line" data-sort-value="1.3">1.3</td>
            <td class="line" data-sort-value="7.5">7.5</td>
            <td class="line" data-sort-value="1.5">1.5</td>
            <td class="line" data-sort-value="1.1">1.1</td>
            <td class="" data-sort-value="2.2">2.2</td>
          </tr>
          <tr>
            <th data-sort-value="13" scope="row">Other, All pensioners</th>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="line" data-sort-value="0">0.0</td>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="line" data-sort-value="0">0.0</td>
            <td class="" data-sort-value="0.1">0.1</td>
          </tr>
          <tr>
            <th data-sort-value="14" scope="row">Any other household type</th>
            <td class="line" data-sort-value="8.8">8.8</td>
            <td class="line" data-sort-value="6.6">6.6</td>
            <td class="line" data-sort-value="10.5">10.5</td>
            <td class="line" data-sort-value="9.4">9.4</td>
            <td class="line" data-sort-value="7">7.0</td>
            <td class="" data-sort-value="9.7">9.7</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Types of household among Black/Black British ethnic groups</h2>

      <p>Of the broad ethnic groups, the Black ethnic group has the highest proportion of lone parent households, at 13%.</p>

      <p>However, when the data is broken down into the more specific ethnic categories, we see that a higher percentage (26%) of Other Black HRPs headed lone parent households, with 21% having dependent children, and 5% non-dependent children. This is in contrast to the data for lone parent households in the population as a whole, where two-thirds were found to have dependent children.</p>

      <p>Almost 2 in 5 (38%) Black Caribbean HRPs were in single person households, the largest proportion within the broad Black ethnic group.</p>

      <p>Black African HRPs were twice as likely to be in married or same sex couples with dependent children as Black Caribbean HRPs (20% compared with 10%). Black African HRPs were also more likely than the Other Black ethnic group to be in Other household types (eg, multi-generational), with 18% in this household type.</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <table class="table measure-data grouped">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Household type</th>
            <th aria-sort="none" class="line">Black</th>
            <th aria-sort="none" class="line">Black African</th>
            <th aria-sort="none" class="line">Black Caribbean</th>
            <th aria-sort="none" class="">Black other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="1" scope="row">Single pensioner</th>
            <td class="line" data-sort-value="5.5">5.5</td>
            <td class="line" data-sort-value="2">2.0</td>
            <td class="line" data-sort-value="10.4">10.4</td>
            <td class="" data-sort-value="3.5">3.5</td>
          </tr>
          <tr>
            <th data-sort-value="1" scope="row">Single non-pensioner</th>
            <td class="line" data-sort-value="26.2">26.2</td>
            <td class="line" data-sort-value="23.4">23.4</td>
            <td class="line" data-sort-value="27.7">27.7</td>
            <td class="" data-sort-value="32.2">32.2</td>
          </tr>
          <tr>
            <th data-sort-value="2" scope="row">Pensioner couple</th>
            <td class="line" data-sort-value="1.5">1.5</td>
            <td class="line" data-sort-value="0.3">0.3</td>
            <td class="line" data-sort-value="3.1">3.1</td>
            <td class="" data-sort-value="0.8">0.8</td>
          </tr>
          <tr>
            <th data-sort-value="3" scope="row">Married, no children</th>
            <td class="line" data-sort-value="4.1">4.1</td>
            <td class="line" data-sort-value="4.1">4.1</td>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="" data-sort-value="3.3">3.3</td>
          </tr>
          <tr>
            <th data-sort-value="4" scope="row">Married, Dependent children</th>
            <td class="line" data-sort-value="15">15.0</td>
            <td class="line" data-sort-value="20.3">20.3</td>
            <td class="line" data-sort-value="9.6">9.6</td>
            <td class="" data-sort-value="12">12.0</td>
          </tr>
          <tr>
            <th data-sort-value="5" scope="row">Married, non-dependent children</th>
            <td class="line" data-sort-value="2.5">2.5</td>
            <td class="line" data-sort-value="1.8">1.8</td>
            <td class="line" data-sort-value="3.7">3.7</td>
            <td class="" data-sort-value="1.7">1.7</td>
          </tr>
          <tr>
            <th data-sort-value="6" scope="row">Cohab, no children</th>
            <td class="line" data-sort-value="2.4">2.4</td>
            <td class="line" data-sort-value="2.1">2.1</td>
            <td class="line" data-sort-value="2.5">2.5</td>
            <td class="" data-sort-value="2.9">2.9</td>
          </tr>
          <tr>
            <th data-sort-value="7" scope="row">Cohab, Dependent children</th>
            <td class="line" data-sort-value="4">4.0</td>
            <td class="line" data-sort-value="4.1">4.1</td>
            <td class="line" data-sort-value="4">4.0</td>
            <td class="" data-sort-value="3.8">3.8</td>
          </tr>
          <tr>
            <th data-sort-value="8" scope="row">Cohab, non-dependent children</th>
            <td class="line" data-sort-value="0.4">0.4</td>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="line" data-sort-value="0.6">0.6</td>
            <td class="" data-sort-value="0.4">0.4</td>
          </tr>
          <tr>
            <th data-sort-value="9" scope="row">Lone parent, Dependent children</th>
            <td class="line" data-sort-value="18.9">18.9</td>
            <td class="line" data-sort-value="20.2">20.2</td>
            <td class="line" data-sort-value="16.6">16.6</td>
            <td class="" data-sort-value="21.2">21.2</td>
          </tr>
          <tr>
            <th data-sort-value="10" scope="row">Lone parent, non-dependent children</th>
            <td class="line" data-sort-value="5.4">5.4</td>
            <td class="line" data-sort-value="3.6">3.6</td>
            <td class="line" data-sort-value="7.7">7.7</td>
            <td class="" data-sort-value="4.8">4.8</td>
          </tr>
          <tr>
            <th data-sort-value="11" scope="row">Other, with dependent children</th>
            <td class="line" data-sort-value="6.8">6.8</td>
            <td class="line" data-sort-value="8.6">8.6</td>
            <td class="line" data-sort-value="4.7">4.7</td>
            <td class="" data-sort-value="6.3">6.3</td>
          </tr>
          <tr>
            <th data-sort-value="12" scope="row">All full-time students</th>
            <td class="line" data-sort-value="1">1.0</td>
            <td class="line" data-sort-value="1.7">1.7</td>
            <td class="line" data-sort-value="0.4">0.4</td>
            <td class="" data-sort-value="0.5">0.5</td>
          </tr>
          <tr>
            <th data-sort-value="13" scope="row">Other, All pensioners</th>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="line" data-sort-value="0">0.0</td>
            <td class="line" data-sort-value="0.3">0.3</td>
            <td class="" data-sort-value="0.1">0.1</td>
          </tr>
          <tr>
            <th data-sort-value="14" scope="row">Any other household type</th>
            <td class="line" data-sort-value="6.2">6.2</td>
            <td class="line" data-sort-value="7.5">7.5</td>
            <td class="line" data-sort-value="4.5">4.5</td>
            <td class="" data-sort-value="6.5">6.5</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Other ethnic groups</h2>

      <p>A similar proportion of Arab HRPs and those in the Other ethnic groups were in single person households (31% and 30% respectively).</p>

      <p>Arabs were more likely than those in the Other ethnic groups to be in married or same sex couple households with dependent children (30% compared with 23%).</p>

      <p>HRPs in the Other ethnic groups were more likely than Arabs to be cohabiting (6% compared with 4%).</p>

      <p>Data shown is taken from the Office of National Statistics 2011 Census and categorises households using the definitions explained on this page.</p>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <table class="table measure-data grouped">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Household type</th>
            <th aria-sort="none" class="line">Other</th>
            <th aria-sort="none" class="line">Arab</th>
            <th aria-sort="none" class="">Any other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="1" scope="row">Single pensioner</th>
            <td class="line" data-sort-value="3">3.0</td>
            <td class="line" data-sort-value="2.2">2.2</td>
            <td class="" data-sort-value="3.5">3.5</td>
          </tr>
          <tr>
            <th data-sort-value="1" scope="row">Single non-pensioner</th>
            <td class="line" data-sort-value="27.7">27.7</td>
            <td class="line" data-sort-value="29.1">29.1</td>
            <td class="" data-sort-value="26.8">26.8</td>
          </tr>
          <tr>
            <th data-sort-value="2" scope="row">Pensioner couple</th>
            <td class="line" data-sort-value="1.4">1.4</td>
            <td class="line" data-sort-value="1.1">1.1</td>
            <td class="" data-sort-value="1.7">1.7</td>
          </tr>
          <tr>
            <th data-sort-value="3" scope="row">Married, no children</th>
            <td class="line" data-sort-value="7.3">7.3</td>
            <td class="line" data-sort-value="6.7">6.7</td>
            <td class="" data-sort-value="7.7">7.7</td>
          </tr>
          <tr>
            <th data-sort-value="4" scope="row">Married, Dependent children</th>
            <td class="line" data-sort-value="25.5">25.5</td>
            <td class="line" data-sort-value="29.9">29.9</td>
            <td class="" data-sort-value="22.7">22.7</td>
          </tr>
          <tr>
            <th data-sort-value="5" scope="row">Married, non-dependent children</th>
            <td class="line" data-sort-value="4.2">4.2</td>
            <td class="line" data-sort-value="3.1">3.1</td>
            <td class="" data-sort-value="5">5.0</td>
          </tr>
          <tr>
            <th data-sort-value="6" scope="row">Cohab, no children</th>
            <td class="line" data-sort-value="2.7">2.7</td>
            <td class="line" data-sort-value="2">2.0</td>
            <td class="" data-sort-value="3.1">3.1</td>
          </tr>
          <tr>
            <th data-sort-value="7" scope="row">Cohab, Dependent children</th>
            <td class="line" data-sort-value="2.4">2.4</td>
            <td class="line" data-sort-value="1.9">1.9</td>
            <td class="" data-sort-value="2.7">2.7</td>
          </tr>
          <tr>
            <th data-sort-value="8" scope="row">Cohab, non-dependent children</th>
            <td class="line" data-sort-value="0.2">0.2</td>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="" data-sort-value="0.2">0.2</td>
          </tr>
          <tr>
            <th data-sort-value="9" scope="row">Lone parent, Dependent children</th>
            <td class="line" data-sort-value="7.8">7.8</td>
            <td class="line" data-sort-value="7.4">7.4</td>
            <td class="" data-sort-value="8">8.0</td>
          </tr>
          <tr>
            <th data-sort-value="10" scope="row">Lone parent, non-dependent children</th>
            <td class="line" data-sort-value="2.8">2.8</td>
            <td class="line" data-sort-value="2.3">2.3</td>
            <td class="" data-sort-value="3.1">3.1</td>
          </tr>
          <tr>
            <th data-sort-value="11" scope="row">Other, with dependent children</th>
            <td class="line" data-sort-value="5.4">5.4</td>
            <td class="line" data-sort-value="4.6">4.6</td>
            <td class="" data-sort-value="5.9">5.9</td>
          </tr>
          <tr>
            <th data-sort-value="12" scope="row">All full-time students</th>
            <td class="line" data-sort-value="2.3">2.3</td>
            <td class="line" data-sort-value="4">4.0</td>
            <td class="" data-sort-value="1.2">1.2</td>
          </tr>
          <tr>
            <th data-sort-value="13" scope="row">Other, All pensioners</th>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="line" data-sort-value="0.1">0.1</td>
            <td class="" data-sort-value="0.1">0.1</td>
          </tr>
          <tr>
            <th data-sort-value="14" scope="row">Any other household type</th>
            <td class="line" data-sort-value="7.3">7.3</td>
            <td class="line" data-sort-value="5.7">5.7</td>
            <td class="" data-sort-value="8.4">8.4</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
