{% extends "base.html" %}

{% from "_macros/_accordion.html" import govukAccordion %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('static_site.ethnicity_in_the_uk'), "text": "Ethnicity in the UK"},
  ]
%}

{% block pageTitle %}List of ethnic groups - GOV.UK{% endblock %}
{% block socialTitle %}List of ethnic groups{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Ethnicity in the UK');{% endblock %}

{% block socialDescription %}There are 18 ethnic groups recommended for use by government in England and Wales. Find out how the ethnic groups were chosen, and see how the groups differ in Scotland and Northern Ireland.{% endblock %}


{% block headEnd %}<link rel="canonical" href="{{ config.RDU_SITE | strip_trailing_slash }}{{ url_for('static_site.ethnicity_in_the_uk_page', page_name='ethnic-groups-and-data-collected') }}">{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        List of ethnic groups
      </h1>

      <p class="govuk-body">In England and Wales, there are 18 ethnic groups recommended for use by government when they ask for someone’s ethnicity. These are grouped into 5 broad ethnic groups. The recommend ethnic groups are:</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">White</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>English / Welsh / Scottish / Northern Irish / British</li>
        <li>Irish</li>
        <li>Gypsy or Irish Traveller</li>
        <li>Any other White background (write in)</li>
      </ul>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Mixed / Multiple ethnic groups</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>White and Black Caribbean</li>
        <li>White and Black African</li>
        <li>White and Asian</li>
        <li>Any other Mixed / Multiple ethnic background (write in)</li>
      </ul>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Asian / Asian British</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Indian</li>
        <li>Pakistani</li>
        <li>Bangladeshi</li>
        <li>Chinese</li>
        <li>Any other Asian background (write in)</li>
      </ul>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Black / African / Caribbean / Black British</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>African</li>
        <li>Caribbean</li>
        <li>Any other Black / African / Caribbean background (write in)</li>
      </ul>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Other ethnic group</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Arab</li>
        <li>Any other ethnic group (write in)</li>
      </ul>

      <p class="govuk-body">In Wales, the first option in the White broad category is changed so that Welsh appears first in the list, followed by English, Scottish, Northern Irish and British. </p>

      <p class="govuk-body"><a href="/british-population/national-and-regional-populations/population-of-england-and-wales/latest">Population of England and Wales broken down by ethnicity</a>.</p>

      {% set how_the_groups_were_chosen_html %}

      <p class="govuk-body">The Office for National Statistics (ONS) runs the Census of England and Wales every 10 years. They decide which ethnic groups to include in consultation with:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>users of Census data (like government departments, local authorities, and the National Health Service)</li>
          <li>people completing the Census, and the interest groups that represent them</li>
        </ul>

        <p class="govuk-body">It is recognised that these ethnic groups do not represent how all people identify, which is why people are encouraged to write in their ethnicity using their own words.</p>

        <p class="govuk-body">There has been an ethnicity question in the Census since 1991. It has been updated at every new Census since then. There are separate questions in the Census about <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/culturalidentity/ethnicity/articles/ethnicityandnationalidentityinenglandandwales/2012-12-11#national-identity-in-england-and-wales">national identity</a> and <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/culturalidentity/religion">religion</a>.</p>

        <p class="govuk-body">You can read more about:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the <a href="https://www.ons.gov.uk/file?uri=/census/2011census/howourcensusworks/howweplannedthe2011census/questionnairedevelopment/finalisingthe2011questionnaire/final-recommended-questions-2011-ethnic-group_tcm77-183998.pdf">research and testing</a> (PDF) that went into the 2011 Census ethnicity question
          <li>the <a href="https://www.ons.gov.uk/census/censustransformationprogramme/questiondevelopment/2021censustopicresearchupdatedecember2018#ethnic-group">2021 Census consultation</a>, which considers adding Roma, Sikh, Jewish and Somali ethnic groups</li>
          <li><a href="https://www.gov.uk/government/publications/the-2021-census-of-population-and-housing-in-england-and-wales">recommendations for the 2021 Census</a></li>
          <li><a href="https://history.blog.gov.uk/2019/03/07/50-years-of-collecting-ethnicity-data/">how ethnicity data collection has changed over the last 50 years</a></li>
        </ul>
      {% endset %}

      {% set exceptions_html %}

        <p class="govuk-body">The Government Statistical Service’s (GSS) <a href="https://gss.civilservice.gov.uk/guidances/harmonisation/0-harmonised-principles/ethnicity">harmonised principles for ethnicity</a> recommends that the 18 official ethnic groups are used whenever government carries out social surveys or collects  administrative data.</p>

        <p class="govuk-body">A single, standardised list makes it easier to analyse ethnicity data wherever it is collected.</p>

        <p class="govuk-body">However, in practice, not all departments and organisations use the standardised list. For example, because:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>they need data on some ethnic groups, but not others</li>
          <li>they want their data to be consistent with data they’ve collected previously, which uses different ethnic groups</li>
          <li>the low number of people surveyed in some ethnic groups means data has to be combined to make it more reliable, or to protect individual identities</li>
        </ul>

        <p class="govuk-body">The <a href="https://www.ethnicity-facts-figures.service.gov.uk/dashboards/ethnicity-classifications">dashboard of ethnic categories</a> shows that 20 different ethnicity classifications are used on Ethnicity facts and figures.</p>

      {% endset %}

      {% set scotland_and_northern_ireland_html %}

        <p class="govuk-body">The Censuses in Scotland and Northern Ireland have differences in the ordering of the ethnic groups as well as the groups themselves.

        <h3 class="govuk-heading-s">Northern Ireland</h3>

        <p class="govuk-body">The ethnicity question in the <a href="https://www.nisra.gov.uk/publications/2011-census-questionnaires">2011 Census in Northern Ireland</a> asked respondents to choose from the following 11 ethnic groups:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>White</li>
          <li>Chinese</li>
          <li>Irish Traveller</li>
          <li>Indian</li>
          <li>Pakistani</li>
          <li>Bangladeshi</li>
          <li>Black Caribbean</li>
          <li>Black African</li>
          <li>Black Other</li>
          <li>Mixed ethnic group (write in)</li>
          <li>Any other ethnic group (write in)</li>
        </ul>

        <p class="govuk-body">The <a href="https://gss.civilservice.gov.uk/guidances/harmonisation/0-harmonised-principles/ethnicity/#northern-ireland-input-">GSS harmonised principle for ethnicity in Northern Ireland</a> proposes almost the same standardised ethnic categories as the 2011 Census of England and Wales. However, there are 2 White ethnic groups instead of 4:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>White</li>
          <li>Irish Traveller</li>
        </ul>

        <h3 class="govuk-heading-s">Scotland</h3>

        <p class="govuk-body">The <a href="https://www.scotlandscensus.gov.uk/variables-classification/ethnic-group">ethnicity question in the 2011 Census in Scotland</a> asked respondents to choose from the following 19 ethnic groups:</p>

        <p class="govuk-body">White</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>White Scottish</li>
          <li>Other White British</li>
          <li>White Irish</li>
          <li>Gypsy / Traveller</li>
          <li>White Polish</li>
          <li>Other (write in)</li>
        </ul>

        <p class="govuk-body">Mixed or multiple ethnic group</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Any mixed or multiple ethnic groups (write in)</li>
        </ul>

        <p class="govuk-body">Asian, Asian Scottish or Asian British</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Pakistani, Pakistani Scottish or Pakistani British</li>
          <li>Indian, Indian Scottish or Indian British</li>
          <li>Bangladeshi, Bangladeshi Scottish or Bangladeshi British</li>
          <li>Chinese, Chinese Scottish or Chinese British</li>
          <li>Other (write in)</li>
        </ul>

        <p class="govuk-body">African</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>African, African Scottish or African British</li>
          <li>Other (write in)</li>
        </ul>

        <p class="govuk-body">Caribbean or Black</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Caribbean, Caribbean Scottish or Caribbean British</li>
          <li>Black, Black Scottish or Black British</li>
          <li>Other (write in)</li>
        </ul>

        <p class="govuk-body">Other ethnic group</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Arab, Arab Scottish or Arab British</li>
          <li>Other (write in)</li>
        </ul>

        <p class="govuk-body">These are the same groups as those in the <a href="https://gss.civilservice.gov.uk/guidances/harmonisation/0-harmonised-principles/ethnicity/#scotland-input-">GSS harmonised principle for ethnicity in Scotland</a>.</p>

      {% endset %}

      {% set combining_data_html %}

        <p class="govuk-body">If you need to combine data that uses different ethnic classifications – for example from the different Censuses in the UK – you can aggregate some groups using either the GSS harmonised categories for either:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://gss.civilservice.gov.uk/guidances/harmonisation/0-harmonised-principles/ethnicity/#great-britain-output-">England, Wales and Scotland</a></li>
          <li><a href="https://gss.civilservice.gov.uk/guidances/harmonisation/0-harmonised-principles/ethnicity/#united-kingdom-output-">England, Wales, Scotland and Northern Ireland</a>
        </li>

      {% endset %}


      {{ govukAccordion(
        id="ethnic-groups-accordion",
        items=[
          {
            "heading": {
              "text": "How the groups were chosen"
            },
            "content": {
              "html": how_the_groups_were_chosen_html
            }
          },
          {
            "heading": {
              "text": "Exceptions"
            },
            "content": {
              "html": exceptions_html
            }
          },
          {
            "heading": {
              "text": "Scotland and Northern Ireland"
            },
            "content": {
              "html": scotland_and_northern_ireland_html
            }
          },
          {
            "heading": {
              "text": "Combining data"
            },
            "content": {
              "html": combining_data_html
            }
          }
        ]
      ) }}

    </div>
 </div>
{% endblock %}
