{% extends "base.html" %}

{% set breadcrumbs = 
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('static_site.ethnicity_in_the_uk'), "text": "Ethnicity in the UK"},
  ]
%}

{% block pageTitle %}Ethnic groups and how data on ethnicity is collected - GOV.UK{% endblock %}
{% block socialTitle %}Ethnic groups and how data on ethnicity is collected{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Ethnicity in the UK');{% endblock %}

{% block headEnd %}<link rel="canonical" href="{{ config.RDU_SITE | strip_trailing_slash }}{{ url_for('static_site.ethnicity_in_the_uk_page', page_name='ethnic-groups-and-data-collected') }}">{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Ethnicity categories and the 2011 census
      </h1>

      <p class="govuk-body">An ethnic group question was first included in the England and Wales census in 1991, to help organisations and government monitor equal opportunities and anti-discrimination policies.</p>
      <p class="govuk-body">In 2007, the Office of National Statistics (ONS) held a public consultation to update the 16 categories used in the 2001 Census. An overwhelming majority of the people who responded supported the inclusion of an ethnic category question, and for the 2011 Census, ONS implemented a standardised list of 18 ethnic categories (below).</p>
      <p class="govuk-body">ONS's <a class="govuk-link" href="https://www.ons.gov.uk/file?uri=/census/2011census/howourcensusworks/howweplannedthe2011census/questionnairedevelopment/finalisingthe2011questionnaire/final-recommended-questions-2011-ethnic-group_tcm77-183998.pdf">final recommendations</a> give a detailed explanation of how the categories were tested and why they were chosen.</p>

      <h2 class="govuk-heading-m">The 2011 census: 18 standardised ethnic categories</h2>
      <p class="govuk-body">For the 2011 Census, respondents were asked, 'Choose one option that best describes your ethnic group or background' and invited to tick one of the boxes in the list below. There are 5 broad categories, with a number of subcategories, making a total of 18 choices. Options 4, 8, 13, 16 and 18 allow respondents to write in their own description of their ethnic group.</p>

	    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">White</h3>
	    <ul class="govuk-list">
		    <li>1. English / Welsh / Scottish / Northern Irish / British</li>
		    <li>2. Irish</li>
		    <li>3. Gypsy or Irish Traveller</li>
		    <li>4. Any other White background, please describe</li>
	    </ul>

	    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Mixed / Multiple ethnic groups</h3>
	    <ul class="govuk-list">
		    <li>5. White and Black Caribbean </li>
		    <li>6. White and Black African</li>
		    <li>7. White and Asian </li>
		    <li>8. Any other Mixed / Multiple ethnic background, please describe </li>
	    </ul>

	    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Asian / Asian British</h3>
	    <ul class="govuk-list">
		    <li>9. Indian</li>
		    <li>10. Pakistani</li>
		    <li>11. Bangladeshi</li>
		    <li>12. Chinese</li>
		    <li>13. Any other Asian background, please describe</li>
	    </ul>

	    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Black / African / Caribbean / Black British</h3>
	    <ul class="govuk-list">
		    <li>14. African </li>
		    <li>15. Caribbean</li>
		    <li>16. Any other Black / African / Caribbean background, please describe</li>
	    </ul>

	    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Other ethnic group </h3>
	    <ul class="govuk-list">
		    <li>17. Arab </li>
		    <li>18. Any other ethnic group, please describe</li>
	    </ul>

	    <h2 class="govuk-heading-m">Ethnic category order</h2>
	    <p class="govuk-body">The categories are ordered by population size, with one exception.</p>
	    <p class="govuk-body">The Mixed/Multiple ethnic group category is placed second, after White, because ONS found that respondents often missed it if it was at the bottom of the list. </p>
	    <p class="govuk-body">After testing, ONS concluded: 'Although some respondents with complex identities continued to find the ethnic group question difficult to answer, the terminology "Mixed/Multiple ethnic groups" was generally considered to be clear and acceptable'.</p>
	    <p class="govuk-body">For each broad category (White, Mixed/Multiple, Asian, Black, Other) respondents are also given the opportunity to write in their own description of their ethnicity. In testing, this option was used, for example, by Polish, South African, Australian, Italian and Spanish respondents.</p>
	    <p class="govuk-body">Overall, ONS found that the write-in spaces were used effectively by respondents who felt the tick-boxes did not accurately reflect their ethnic group.</p>

	    <h2 class="govuk-heading-m">Other approaches to ethnic classification</h2>
	    <p class="govuk-body">Although ONS has established the standardised 18 categories outlined above, not all departments and organisations use them. This can be for a variety of reasons.</p>
	    <p class="govuk-body">For example, the development of government policy on a particular issue may mean a department is looking for information about some ethnic sub-categories, but not others.</p>
	    <p class="govuk-body">In other cases, although the data is collected at the level of the 18 detailed ethnic categories, the sample size (number of people surveyed) for each group is small. This data is then grouped at the level of the 5 broad categories, to provide a more reliable result.</p>
	    <p class="govuk-body">Some organisations may have chosen not to update surveys that were developed using the 2001 census categories, so that meaningful comparisons can still be made across a period of years.</p>
	    <p class="govuk-body">Where data is 'disclosive', meaning that the sample size is so small that an individual could be identified if it’s published, the figures are excluded from the results.</p>
	    <p class="govuk-body">At the same time, when publishing data, government departments must give as much detail as they can. For this reason, and those outlined above, the categories published can be a combination of broad and detailed groups: for example, White, Mixed, Indian, Pakistani, Bangladeshi, Chinese, Other Asian, and Black.</p>
	    <p class="govuk-body">Some departments are only able to provide a 'binary' classification, which divides ethnicities in one of two ways:</p>
	    <ul class="govuk-list govuk-list--bullet">
		    <li>White British and Other: White British people compared with all other groups (including White ethnic minorities and all other ethnic minorities)</li>
		    <li>White and Other: White ethnic groups (including White British and White ethnic minorities) compared with all other ethnic minorities</li>
	    </ul>

	    <h2 class="govuk-heading-m">Data reliability</h2>
	    <p class="govuk-body">Some approaches to ethnic classification can affect the reliability of the statistics in question.</p>
	    <p class="govuk-body">Combining categories in any of the ways described above results in a loss of detail and makes it more difficult to compare results from different sets of statistics.</p>
	    <p class="govuk-body">Sometimes the figures are drawn from administrative systems which were not designed with statistical analysis in mind, resulting in badly classified data.</p>
    </div>
 </div>
{% endblock %}
