{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"}
  ]
%}

{% block pageTitle %}Ethnic groups in England and Wales by sexual identity - GOV.UK{% endblock %}
{% block socialTitle %}Ethnic groups in England and Wales by sexual identity{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Ethnicity in the UK');{% endblock %}

{% block headEnd %}<link rel="canonical" href="{{ config.RDU_SITE | strip_trailing_slash }}{{ url_for('static_site.ethnicity_in_the_uk_page', page_name='ethnic-groups-by-sexual-identity') }}">{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Ethnic groups by sexual identity
      </h1>

      <p class="govuk-body">This service measures how experiences and outcomes differ for people of various ethnicities across public sector services.</p>

      <p class="govuk-body">The overlap of a person’s ethnicity and their sexual identity can have a profound impact on how their experience of public services. The collection of information on the size of the Lesbian, Gay, Bisexual, Transgender and Questioning (LGBTQ) community is relatively new. Fewer than half of the people who participated in the Annual Population survey answered the sexual identity question, which was asked in 3 of the 5 waves used to create the 2013 to 2015 dataset.</p>

      <p class="govuk-body">About 2% of those responding to the question in those years identified as lesbian, gay, bisexual or other. There were some differences between ethnic groups in terms of sexual identity, but the very small sample sizes for most ethnicities other than White British means these estimates are somewhat unreliable (for example, the White British sample size was over 209,000, while only around 400 were Mixed White and Asian). This uncertainty needs to be considered when drawing any conclusions from the data.</p>

      <p class="govuk-body">The highest percentage of people responding that they were lesbian, gay, or other people in was for the Other Mixed/Multiple ethnicity group (4%), while the smallest proportion was for the Pakistani ethnic group (1%). Other ethnic groups with a percentage lower than the England and Wales average of 2% were Indians, Other Asians, and those in the broad Black/African/Caribbean category (around 1% each). Ethnic groups with higher percentages than the England and Wales average were White Irish and Other White (including Gypsy and Irish Travellers), which both reported around 3%.</p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <figure>
        <figcaption class="govuk-heading-m">LGBTQ* by ethnic group, England and Wales</figcaption>
        <img src="/static/images/ethnicity-in-the-uk/lgbtq-by-ethnic-group.png" style="max-width: 100%;">
      </figure>


      <table class="table measure-data grouped-rows govuk-table" style="margin-top: 2em;">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="none" class="first line">Ethnicity</th>
            <th class="govuk-table__header" aria-sort="none">%</th>
            <th class="govuk-table__header" aria-sort="none">Sample size</th>
          </tr>
        </thead>
        <tbody>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="0" scope="rowgroup">All</th>
            <td class="govuk-table__cell" data-sort-value="2.1">2.1</td>
            <td class="govuk-table__cell" data-sort-value="242565">242,565</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="101" scope="row">Bangladeshi</th>
            <td class="govuk-table__cell" data-sort-value="1.7">1.7</td>
            <td class="govuk-table__cell" data-sort-value="976">976</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="102" scope="row">Chinese</th>
            <td class="govuk-table__cell" data-sort-value="1.7">1.7</td>
            <td class="govuk-table__cell" data-sort-value="995">995</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="103" scope="row">Indian</th>
            <td class="govuk-table__cell" data-sort-value="1.4">1.4</td>
            <td class="govuk-table__cell" data-sort-value="4778">4,778</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="104" scope="row">Pakistani</th>
            <td class="govuk-table__cell" data-sort-value="0.9">0.9</td>
            <td class="govuk-table__cell" data-sort-value="2621">2,621</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="109" scope="row">Asian other</th>
            <td class="govuk-table__cell" data-sort-value="1.4">1.4</td>
            <td class="govuk-table__cell" data-sort-value="1879">1,879</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="200" scope="rowgroup">Black</th>
            <td class="govuk-table__cell" data-sort-value="1.5">1.5</td>
            <td class="govuk-table__cell" data-sort-value="5415">5,415</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="300" scope="rowgroup">Mixed</th>
            <td class="govuk-table__cell" data-sort-value="0"></td>
            <td class="govuk-table__cell" data-sort-value="0"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="301" scope="row">Mixed White/Asian</th>
            <td class="govuk-table__cell" data-sort-value="2.1">2.1</td>
            <td class="govuk-table__cell" data-sort-value="428">428</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="302" scope="row">Mixed White/Black</th>
            <td class="govuk-table__cell" data-sort-value="2.9">2.9</td>
            <td class="govuk-table__cell" data-sort-value="701">701</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="309" scope="row">Mixed other</th>
            <td class="govuk-table__cell" data-sort-value="3.8">3.8</td>
            <td class="govuk-table__cell" data-sort-value="543">543</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="400" scope="rowgroup">White</th>
            <td class="govuk-table__cell" data-sort-value="0"></td>
            <td class="govuk-table__cell" data-sort-value="0"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="401" scope="row">White British</th>
            <td class="govuk-table__cell" data-sort-value="2.1">2.1</td>
            <td class="govuk-table__cell" data-sort-value="209909">209,909</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="402" scope="row">White Irish</th>
            <td class="govuk-table__cell" data-sort-value="3.1">3.1</td>
            <td class="govuk-table__cell" data-sort-value="1696">1,696</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="409" scope="row">White other</th>
            <td class="govuk-table__cell" data-sort-value="2.9">2.9</td>
            <td class="govuk-table__cell" data-sort-value="9766">9,766</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" data-sort-value="600" scope="rowgroup">Other</th>
            <td class="govuk-table__cell" data-sort-value="2.1">2.1</td>
            <td class="govuk-table__cell" data-sort-value="2858">2,858</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
