{% extends "static_site/_base.html" %}
{% block page_title %}Population of England and Wales by ethnicity - GOV.UK{% endblock %}
{% block meta_title %}Population of England and Wales by ethnicity{% endblock %}

{% block google_analytics %}ga('set','contentGroup1','Ethnicity in the UK'){% endblock %}

{% block end_head %}<link rel="canonical" href="{{ config.RDU_SITE | strip_trailing_slash }}{{ url_for('static_site.ethnicity_in_the_uk_page', file='population-by-ethnicity') }}">{% endblock %}

{% block main_content %}
<main id="content">
  {% include 'static_site/_phase_banner.html' %}
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="{{ url_for('static_site.index') }}">
          Ethnicity facts and figures
        </a>
      </li>
      <li>
        <a href="{{ url_for('static_site.ethnicity_in_the_uk') }}">
          Ethnicity in the UK
        </a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Population of England and Wales by ethnicity
      </h1>

      <p>To put the statistics about ethnicity in context, it’s useful to understand the ethnic makeup of the general population. This helps identify significant differences between ethnic groups in accessing public services.</p>

      <p>For example, the finding that 78% of learners in further education in 2015 were from a White background doesn’t tell the full story on its own. But the fact that the White share of the general population is 86%, allows that finding to be read in a wider context.</p>

      <h2 class="heading-medium">How the government collects ethnicity data</h2>

      <p>A Census is held in the UK every 10 years to collect data on every person living in the country on a specific date. The government needs this data to develop policies, plan and run public services, and allocate funding. It also help illustrate differences between various groups of the population. </p>

      <p>In England and Wales, the Census is planned and carried out by the Office for National Statistics (ONS). The last Census was held in March 2011. </p>

      <p>The census uses a <a href="{{ url_for('static_site.ethnicity_in_the_uk_page', file='ethnic-groups-and-data-collected') }}">standard set of ethnic groups</a> to collect and classify ethnicity data. The 2011 census used 18 standardised ethnic categories, grouped under 5 broad categories: White, Mixed/Multiple, Asian/Asian British, Black/African/Caribbean/Black British, and Other ethnic group.</p>

      <h2 class="heading-medium">Ethnicity data in the 2011 census: main points</h2>

      <p>The 2011 Census found that, in England and Wales:</p>

      <ul class="bullets spaced-out">
        <li>the total population was 56.1 million</li>

        <li>of the 5 broad categories, White is the largest, with 48.2 million people (86%)</li>

        <li>Asian/Asian British is the second largest group, at 4.2 million (7.5%), followed by Black/African/Caribbean/Black British at 1.9 million (3.3%), Mixed/Multiple ethnic groups at 1.2 million (2.2%), and Other ethnic groups at 564,000 (1%)</li>

        <li>of the 18 detailed categories, White British is the largest (80.5%), followed by Other White (4.4%) and Indian (2.5%)</li>
      </ul>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">

      <figure>
        <figcaption class="heading-small">Population of England and Wales by ethnicity (excluding White British)</figcaption>
        <img src="/static/images/ethnicity-in-the-uk/population-by-ethnicity.png" style="max-width: 100%;">
      </figure>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">


      <h2 class="heading-medium">White ethnic group</h2>

      <p>The 2011 census showed that:</p>

      <ul class="bullets spaced-out">
        <li>White British was the largest White group at 45.1 million people (80.5%)</li>

        <li>Other White background was the second largest, at 2.5 million (4.4%), followed by Irish at 531,000 (0.9%), and Gypsy or Irish Traveller at 58,000 (0.1%)</li>

        <li>the White percentage of the population in 2011 has decreased compared with 2001 (91.3%) and 1991 (94.1%)</li>

        <li>the number of White British and White Irish people decreased between 2001 and 2011, while Other White background increased by 1.1 million (1.8%)</li>
      </ul>

      <p>The 2011 census introduced the new category of Gypsy or Irish Traveller, so this was the first time figures for that ethnic group were shown.</p>


      <h2 class="heading-medium">Other ethnic groups</h2>

      <p>The 2011 Census showed that:</p>

      <ul class="bullets spaced-out">
        <li>in the detailed categories, Indian was the third largest ethnic group with 1.4 million people (2.5%), followed by Pakistani at 1.1 million (2%)</li>

        <li>the remaining ethnic groups each accounted for up to 2% of the population</li>

        <li>the newly introduced Arab category accounted for 240,000 people (0.4%)</li>
      </ul>


      <h2 class="heading-medium">Change in ethnicity over time</h2>

      <p>The broad White ethnic group decreased over the last 20 years, while the other ethnic minority groups continued to rise since the 1991 Census.</p>

      <p>In the detailed ethnic categories:</p>

      <ul class="bullets spaced-out">
        <li>between 2001 and 2011, the Other White category had the largest increase, at 1.1 million people (1.8%)</li>

        <li>the increase in the Other White group includes people born in Poland (an increase of 0.5 million between 2001 and 2011); in 2011, Polish people were the second largest group of residents not born in the UK</li>

        <li>between 2001 and 2011, the number of people from Pakistani and Indian backgrounds each increased by around 0.4 million (0.5% and 0.6% respectively).</li>

        <li>the number of people in the other ethnic groups increased by up to 1 per cent for each</li>
      </ul>

      <table class="table measure-data grouped-rows no-sort" style="margin-top: 2em;">
        <thead>
          <tr>
            <th aria-sort="none" class="first line">Ethnicity</th>
            <th aria-sort="none">2001</th>
            <th aria-sort="none">2011</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-sort-value="100" scope="rowgroup">Asian</th>
            <td class="" data-sort-value="0"></td>
            <td class="" data-sort-value="0"></td>
          </tr>
          <tr>
            <th data-sort-value="101" scope="row">Bangladeshi</th>
            <td class="" data-sort-value="0.5">0.5%</td>
            <td class="" data-sort-value="0.8">0.8%</td>
          </tr>
          <tr>
            <th data-sort-value="102" scope="row">Chinese</th>
            <td class="" data-sort-value="0.4">0.4%</td>
            <td class="" data-sort-value="0.7">0.7%</td>
          </tr>
          <tr>
            <th data-sort-value="103" scope="row">Indian</th>
            <td class="" data-sort-value="2">2.0%</td>
            <td class="" data-sort-value="2.5">2.5%</td>
          </tr>
          <tr>
            <th data-sort-value="104" scope="row">Pakistani</th>
            <td class="" data-sort-value="1.4">1.4%</td>
            <td class="" data-sort-value="2">2.0%</td>
          </tr>
          <tr>
            <th data-sort-value="109" scope="row">Asian other</th>
            <td class="" data-sort-value="0.5">0.5%</td>
            <td class="" data-sort-value="1.5">1.5%</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-sort-value="200" scope="rowgroup">Black</th>
            <td class="" data-sort-value="0"></td>
            <td class="" data-sort-value="0"></td>
          </tr>
          <tr>
            <th data-sort-value="201" scope="row">Black African</th>
            <td class="" data-sort-value="0.9">0.9%</td>
            <td class="" data-sort-value="1.8">1.8%</td>
          </tr>
          <tr>
            <th data-sort-value="202" scope="row">Black Caribbean</th>
            <td class="" data-sort-value="1.1">1.1%</td>
            <td class="" data-sort-value="1.1">1.1%</td>
          </tr>
          <tr>
            <th data-sort-value="209" scope="row">Black other</th>
            <td class="" data-sort-value="0.2">0.2%</td>
            <td class="" data-sort-value="0.5">0.5%</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-sort-value="300" scope="rowgroup">Mixed</th>
            <td class="" data-sort-value="0"></td>
            <td class="" data-sort-value="0"></td>
          </tr>
          <tr>
            <th data-sort-value="301" scope="row">Mixed White/Asian</th>
            <td class="" data-sort-value="0.2">0.2%</td>
            <td class="" data-sort-value="0.6">0.6%</td>
          </tr>
          <tr>
            <th data-sort-value="302" scope="row">Mixed White/Black African</th>
            <td class="" data-sort-value="0.4">0.4%</td>
            <td class="" data-sort-value="0.3">0.3%</td>
          </tr>
          <tr>
            <th data-sort-value="303" scope="row">Mixed White/Black Caribbean</th>
            <td class="" data-sort-value="0.5">0.5%</td>
            <td class="" data-sort-value="0.8">0.8%</td>
          </tr>
          <tr>
            <th data-sort-value="309" scope="row">Mixed other</th>
            <td class="" data-sort-value="0.3">0.3%</td>
            <td class="" data-sort-value="0.5">0.5%</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-sort-value="400" scope="rowgroup">White</th>
            <td class="" data-sort-value="0"></td>
            <td class="" data-sort-value="0"></td>
          </tr>
          <tr>
            <th data-sort-value="401" scope="row">White British</th>
            <td class="" data-sort-value="87.4">87.4%</td>
            <td class="" data-sort-value="80.5">80.5%</td>
          </tr>
          <tr>
            <th data-sort-value="402" scope="row">White Irish</th>
            <td class="" data-sort-value="1.2">1.2%</td>
            <td class="" data-sort-value="0.9">0.9%</td>
          </tr>
          <tr>
            <th data-sort-value="405" scope="row">White Gypsy or Irish Traveller</th>
            <td class="" data-sort-value="0">0.0%</td>
            <td class="" data-sort-value="0.1">0.1%</td>
          </tr>
          <tr>
            <th data-sort-value="409" scope="row">White other</th>
            <td class="" data-sort-value="2.6">2.6%</td>
            <td class="" data-sort-value="4.4">4.4%</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th data-sort-value="600" scope="rowgroup">Other</th>
            <td class="" data-sort-value="0"></td>
            <td class="" data-sort-value="0"></td>
          </tr>
          <tr>
            <th data-sort-value="601" scope="row">Arab</th>
            <td class="" data-sort-value="0">0.0%</td>
            <td class="" data-sort-value="0.4">0.4%</td>
          </tr>
          <tr>
            <th data-sort-value="609" scope="row">Any other</th>
            <td class="" data-sort-value="0.4">0.4%</td>
            <td class="" data-sort-value="0.6">0.6%</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</main>
{% endblock %}
