//this site_path needs a bit of thinking - might be able to get rid of it if re org this app a bit
$static_path: '/site/static';
@import '_base/colours';

.plus-minus-icon {
  background-image: url('#{$static_path}/images/icon-plus-minus.svg');
  background: url('#{$static_path}/images/icon-plus-minus.svg');
  height: 16px;
  width: 16px;
  background-position: 0 -16px;
  position:absolute;
  right:15px;
  top: 50%;
  margin-top: -8px;

  &.open{
    background-position: 0 0;
  }

}

#accordion-all-control {
  text-align: center;
  margin-left:85%;

  cursor:pointer;
  border:none;
  font-size:16px;
  font-weight:400;
  background:none;
  color: $link-colour;
  display:block;
}

.accordions-container {
  border-bottom: 1px solid $grey-2;
}

.accordion__header {
  border-top: 1px solid $grey-2;
  position: relative;
  padding-top: 14px;
  padding-bottom: 12px;
  cursor: pointer;
  clear: both;

  &:hover {
    background: $grey-4;
  }

  button {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    border: 0;
    color: $link-colour;
    padding-left:0;
    text-align: left;
    cursor: pointer;
    background:none;
  }

}

.accordion__body {
  ul {
    list-style: none;
  }
}


