@import '_base/colours';
@import '_base/typography';

.font-size-small {
  @include core-16;
}

.metadata {
  @include core-16;
  padding-bottom: 20px;
  dt {
    float: left;
    clear: left;
    width: auto;
    min-width: 120px;
  }
}

.bigger-data {
  @include core-19;
  dt {
    min-width: 200px;
  }
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
  list-style: inherit;
}

.loose-list {
  li {
    margin-bottom: 5px;
  }
}

.no-bullets {
  list-style: none;
  li {
    margin-left: -20px !important;
  }
}

.supporting-information {
  margin-top: 40px;
  border-top: 1px solid $border-colour;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.margin-bottom-small {
  margin-bottom: 5px;
}

.margin-bottom-medium {
  margin-bottom: 20px;
}

.margin-bottom-large {
  margin-bottom: 30px;
}

dt {
  min-height: 1px;
}