-r requirements.txt
Faker==0.8.7
glob2==0.6
parse==1.8.2
parse-type==0.4.2
pluggy==0.6.0
py==1.5.2
pycodestyle==2.3.1
pytest==3.3.1
pytest-bdd==2.19.0
pytest-cov==2.5.1
pytest-flask==0.10.0
pytest-mock==1.6.3
python-dateutil==2.6.1
selenium==3.8.0
text-unidecode==1.1