aadict==0.2.3
alembic==0.9.9
asset==0.6.12
Babel==2.5.3
bcrypt==3.1.4
beautifulsoup4==4.6.0
bidict==0.17.2
blinker==1.4
boto3==1.7.35
botocore==1.10.35       # Required by boto3
certifi==2018.4.16      # Required by requests
cffi==1.11.4
chardet==3.0.4
click==6.7
docutils==0.14
Flask==0.12.2
Flask-BabelEx==0.9.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-SQLAlchemy==2.3.2
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
gitdb2==2.0.3
GitPython==2.1.8
globre==0.1.5
gunicorn==19.7.1
hurry.filesize==0.9
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
lxml==4.2.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
passlib==1.7.1
passwordmeter==0.1.8
psycopg2==2.7.3.2
py-mini-racer==0.1.12
py-trello==0.10.0
pycparser==2.18
python-dateutil==2.7.3  # Required by alembic
python-dotenv==0.8.1
python-editor==1.0.3
python-slugify==1.2.4
pytz==2018.4            # Required by Babel
raven==6.9.0            # Client for Sentry, which does app monitoring
requests==2.18.4
s3transfer==0.1.12
six==1.11.0             # Required by aadict
smmap2==2.0.3
speaklater==1.3
SQLAlchemy==1.2.8
sqreen==1.12.8
Unidecode==1.0.22       # Required by python-slugify
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
