-r requirements.txt
attrs==18.1.0         # Required by pytest
click==6.7
coverage==4.5.1       # Required by pytest-cov
Faker==0.8.15
glob2==0.6
pluggy==0.6.0         # Required by pytest
py==1.5.3
pycodestyle==2.4.0
pytest==3.4.0
pytest-cov==2.5.1
pytest-flask==0.10.0
pytest-mock==1.10.0
requests-mock==1.5.2
selenium==3.8.0
stopit==1.1.2
testfixtures==6.2.0
text-unidecode==1.2   # Required by Faker
black==18.6b4
