{% extends "template.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset_path }}stylesheets/application.css">
{% endblock %}
{% block body_end %}
	<script type="text/javascript" src="{{ asset_path }}javascripts/vendors/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.11/highcharts.js"></script>
	<script type="text/javascript" src="{{ asset_path }}javascripts/all.js"></script>
{% endblock %}


{% block content %}

<main id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">ALPHA</strong>
			<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<div class="breadcrumbs">
		<ol>
			<li> <a href="{{ site_path }}">Government data on ethnicity</a></li>
			<li>
				<a href="{{ site_path }}{{ parent.uri }}">
					{{ parent.name }}
				</a>
			</li>
		</ol>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				<span class="heading-secondary">
					{{ parent.name }}
				</span>
					{{ page.title }}
			</h1>

			{% if page.metadata %}
				<div class="metadata">
					<dl>
					{% for metadata in page.metadata %}
						<dt>{{ metadata.label }}</dt>
						<dd>
							{% if metadata.link %}
							<a href="{{ metadata.link }}">
							{% endif %}

								{{ metadata.value }}
							{% if metadata.link %}
							</a>
							{% endif %}
						</dd>
					{% endfor %}
					</dl>
				</div>
			{% endif %}

		</div>

		{% include "section.html" %}

		{% include "accordion.html" %}


	</div>
</main>

{% endblock %}

