{% extends "template.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ asset_path }}stylesheets/application.css">
{% endblock %}
{% block content %}
<div id="hero-container">
  <main id="content">
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge"> 
          {{ page.title }}
        </h1>
        <p class="proposition">
          {{ page.proposition }}
        </p>
        {% for point in page.copy_text %}
          <p> {{ point }} </p>
        {% endfor %}
      </div>
    </div>
  </main>
</div>

<main id="content" role="main">
  <div class="grid-row" style="display: none">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
      {{ page.news.title }}
      </h2>
      {% for story in page.news.stories %}
      <p>
        {{ story.blurb }}
        <br>
        <a href="##">
          {{ story.link }}
        </a>
      </p>
      {% endfor %}
    </div>
  </div>

  <div class="grid-row" id="topic-section">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        View government data on ethnicity
      </h2>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-one-third topics">
        <span class="heading-small">
          <a href="{{ site_path }}/education">
            Education
          </a>
        </span>
        <p>
          Schools, higher education, adult education and where people go after leaving education
        </p>
    </div>

      <div class="column-one-third topics">
        <span class="heading-small">
          <a href="{{ site_path }}/work">
            Work
          </a>
        </span>
        <p>
          Employment, inactivity, unemployment, professions, benefits, Job Centres, and the public sector workforce
        </p>
    </div>

      <div class="column-one-third topics">
        <span class="heading-small">
          <a href="{{ site_path }}/housing-and-living-standards">
            Housing and Living Standards
          </a>
        </span>
        <p>
          Home ownership, private renting, social housing, being homeless, losing your home, housing conditions, standard of living
        </p>
    </div>

      <div class="column-one-third topics">
        <span class="heading-small">
          <a href="{{ site_path }}/health">
            Health
          </a>
        </span>
        <p>
          Physical and mental health, preventing illness, quality of care, access to treatment, patient experiences, patient outcomes
        </p>
    </div>

      <div class="column-one-third topics">
        <span class="heading-small">
          <a href="{{ site_path }}/security-and-justice">
            Security and justice
          </a>
        </span>
        <p>
          Justice, crimes, police, border controls
        </p>
    </div>

      <div class="column-one-third topics">
        <span class="heading-small">
          <a href="{{ site_path }}/private-life-and-community">
            Private life and community
          </a>
        </span>
        <p>
          Culture and the media, communities, environmental issues, civil action
        </p>
    </div>

  </div>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        Find out more about the audit of government data on ethnicity
      </h2>
      <ul class="no-bullets loose-list">
        {% for story in page.news_more.stories %}
          <li>
            <a href="{{ story.link }}">
              {{ story.blurb }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}

