{% extends "template.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ asset_path }}stylesheets/application.css">
{% endblock %}
{% block content %}

  <main id="content">
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge"> 
          Foo
        </h1>
      </div>
    </div>

  <div class="grid-row">

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/education">
          Education
        </a>
      </span>
      <p>
        Schools, higher education, adult education and where people go after leaving education
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/health">
          Health
        </a>
      </span>
      <p>
        Physical and mental health, preventing illness, quality of care, access to treatment, patient experiences, patient outcomes
      </p>
    </div>

    <div class="column-one-third topics">
      <span class="heading-small">
        <a href="{{ site_path }}/housing-and-living-standards">
          Housing and Living Standards
        </a>
      </span>
      <p>
        Home ownership, private renting, social housing, being homeless, losing your home, housing conditions, standard of living
      </p>
    </div>
      <div class="column-one-third topics">
        <span class="heading-small">
          <a href="{{ site_path }}/private-life-and-community">
            Private life and community
          </a>
        </span>
        <p>
          Culture and the media, communities, environmental issues, civil action
        </p>
    </div>

      <div class="column-one-third topics">
        <span class="heading-small">
          <a href="{{ site_path }}/security-and-justice">
            Security and justice
          </a>
        </span>
        <p>
          Justice, crimes, police, border controls
        </p>
    </div>

      <div class="column-one-third topics">
        <span class="heading-small">
          <a href="{{ site_path }}/work">
            Work
          </a>
        </span>
        <p>
          Employment, inactivity, unemployment, professions, benefits, Job Centres, and the public sector workforce
        </p>
    </div>

  </div>

  <div class='grid-row'>
    <div class="column-two-thirds">
        <h2 class="heading-medium">
          View data on ethnicity across the UK
        </h2>
      </div>
  </div>

  <div class='grid-row'>

    <div class='column-one-third'>
      <span class="heading-small">
          <a href="https://docs.google.com/document/d/1ZXPnMuSVt-REtz9jNGOTcEYm0eS0HxnvZ60wFoOizJ4/edit?ts=59195e7b">
            Where residents of the UK were born
          </a>
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
    </div>

    <div class='column-one-third'>
      <span class="heading-small">
          <a href="https://docs.google.com/document/d/1mgiyqnqI6HipF-GZcg-Z9ci_GfLm_xvm0MLfofL2TKs/edit?ts=59195e7b">
            Ethnic makeup of the UK
          </a>
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
    </div>

    <div class='column-one-third'>
      <span class="heading-small">
          <a href="https://docs.google.com/document/d/1Ds10aDp_BlBZrzQlomQahLu1BBLQJvXwquppbH-LqU4/edit?ts=59195e7b">
            Ethnic makeup of regions in the UK
          </a>
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
    </div>

  </div>
</main>

{% endblock %}

{% block footer_top %}
  {% include 'footer.html' %}
{% endblock %}
