{% extends "template.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset_path }}stylesheets/application.css">
{% endblock %}
{% block body_end %}
	<script type="text/javascript" src="{{ asset_path }}javascripts/vendors/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset_path }}javascripts/all.js"></script>
{% endblock %}
{% block content %}

<main id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">ALPHA</strong>
			<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<div class="breadcrumbs">
		<ol>
			<li> <a href="{{ site_path }}">Government data on ethnicity</a></li>
		</ol>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				{{ page.display_name }}
			</h1>
			{% for paragraph in page.descriptions %}
				<p>
					{{ paragraph }}
				</p>
			{% endfor %}
		</div>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="accordions-container container">
				{% for item in data %}
				<div class="accordion">
					<div class="accordion__header">
						<h2>
							<button>
								{{ item.name }}
							</button>
						</h2>
						<span class="plus-minus-icon"></span>
					</div>

					<div class="accordion__body" style="display: none;">
							<ul class="list">
								<div class="row-description">

								</div>
							</ul>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>

</main>

{% endblock %}