<nav id="global-header" class="top-bar" data-topbar role="navigation">
  <div class='header-wrapper'>
    <div class='column-one-third'>
      <span class='site-title'>
        <a href="/cms">
          Ethnicity facts and figures
        </a>
      </span>
    </div>
    <div class='column-two-thirds'>
      <div class='site-sub-title'>Content management</div>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('security.logout') }}">
          Log out
        </a>
      {% endif %}
    </div>
  </div>
</nav>

<div class='row'>
  <div class='large-12 columns'>
    <div id='global-header-bar'>
    </div>
  </div>
</div>