<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <a href="/">
                Government Data on Ethnicity – Content management
            </a>
        </li>
    </ul>
    
    <section class="top-bar-section">
        {% if current_user.is_authenticated %}
            <ul class="right">
                <li class="has-form">
                    <a href="{{ url_for('security.logout') }}" class="button">Logout</a>
                </li>
            </ul>
        {% endif %}
    </section>
</nav>