{% extends "base.html" %}
{% block content %}
    <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle">
              <i class="fi-list list-icon"></i>
          </a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="service title">RD CMS - {% block title %}{% endblock%}</h1>
        </section>
        <section class="right">
          <a>Sign out</a>
        </section>
      </nav>
      <section class="main-section">
        {% block main_content %}
        {% endblock %}
      </section>
        <aside class="left-off-canvas-menu pages-menu">
        <h4>Topic pages</h4>

        <ul class="off-canvas-list">
          <li><a href="#">Education</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Employment</a></li>
          <li><a href="#">Another thing</a></li>
        </ul>
       </aside>

      </div>
    </div>
{%  endblock %}

