{% from "_shared/_breadcrumb.html" import render_breadcrumbs %}
{% from "_shared/_flash_messages.html" import render_flash_messages %}

<!DOCTYPE html>
<!-- git commit: {{ g.build_info.git_commit }} -->
<!-- git branch: {{ g.build_info.git_branch }} -->
<!-- GitHub Action name: {{ g.build_info.github_action_name }} -->
<!-- GitHub Action run url: {{ g.build_info.github_action_run_url }} -->
<html lang="en" class="govuk-template eff-template--white">
<head>
  <!-- Page built at {{ current_timestamp }} -->

  <meta charset="utf-8" />
  <title>{% if errors is defined and errors %}Error: {% endif %}{% block pageTitle %}GOV.UK - The best place to find government services and information{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {% block headIcons %}
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/static/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/static/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/static/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/static/assets/images/govuk-apple-touch-icon.png">
  {% endblock %}

  <!--[if !IE 8]><!-->
    <link href="/static/stylesheets/{{ 'application.css' | version_filter }}" rel="stylesheet" />
  <!--<![endif]-->

    <meta property="description" content="{% block metaDescription %}{% endblock %}" />

    {% block socialMetadata %}
      <meta property="og:type" content="{% block socialType %}article{% endblock %}" />
      <meta property="og:title" content="{% block socialTitle %}{% endblock %}" />
      <meta property="og:image" content="{% block socialImage %}{{ config.RDU_SITE | strip_trailing_slash }}/static/assets/images/govuk-opengraph-image.png{% endblock %}" />
      <meta property="og:description" content="{% block socialDescription %}{% endblock %}" />

      {% block twitterMetadata %}
        <meta name="twitter:card" content="summary" />
      {% endblock %}
    {% endblock %}

    {% block httpEquiv %}
        <meta http-equiv="Content-Security-Policy" content="{{ get_content_security_policy() }}">
    {% endblock %}

    <script src="{{ url_for('static', filename='javascripts/') }}{{ 'cookies.js' | version_filter }}"></script>
    {% if static_mode %}
      <script>
          if (GOVUK.cookie('cookies_policy')!==null && JSON.parse(GOVUK.cookie('cookies_policy')).usage === true) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ config.GOOGLE_ANALYTICS_ID }}', 'auto');
            ga('set', 'anonymizeIp', true);
            ga('require', 'eventTracker', {
              attributePrefix: 'data-'
            });
            {% block googleAnalytics %}{% endblock %}
            ga('send', 'pageview');
          }
        </script>
        <script src="/static/vendor/autotrack/autotrack.js"></script>


        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-NDZJ82M');</script>
          <!-- End Google Tag Manager -->
    {% endif %}

    {% block headEnd %}
    {% endblock %}
  </head>

  <body class="govuk-template__body {% block bodyClasses %}{% endblock %}">
    {% block bodyStart %}
      <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
      </script>

      {% if static_mode %}
        <!-- Google Tag Manager (noscript) -->
          <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDZJ82M"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
      {% endif %}
    {% endblock %}

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    {% include '_shared/_cookie_message.html' %}

    {% block header %}
      {% if not static_mode %}
        {% include 'static_site/_preview.html' %}
      {% endif %}

      {% include '_shared/_header.html' %}
    {% endblock %}

    <div class="govuk-width-container">
      <div class="govuk-notification-banner govuk-!-margin-top-4 govuk-!-margin-bottom-4" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            How do you use this website?
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Please
            <a href="https://www.smartsurvey.co.uk/s/EFF-feedback-2025/"
               class="govuk-notification-banner__link">
                take our survey</a>.
          </p>
        </div>
      </div>
    </div>
    {% block main %}
      <div class="govuk-width-container">
        {% block beforeContent %}
          {% block breadcrumbs %}
            {{ render_breadcrumbs(breadcrumbs) }}
          {% endblock breadcrumbs %}

          {% block flashMessages %}
            {{ render_flash_messages(get_flashed_messages(with_categories=true)) }}
          {% endblock %}

          {% block displayNavigationLinkOnMessage %}
          {% endblock %}

          {% block errorSummary %}
            {% include '_shared/_error_summary.html' %}
          {% endblock %}
        {% endblock %}

        <main class="govuk-main-wrapper {% block mainClasses %}{% endblock %}" id="main-content" role="main" {% block mainAttributes %}{% endblock %}>
          {% block content %}{% endblock %}
        </main>
      </div>
    {% endblock %}

    {% block footer %}
      {% include '_shared/_footer.html' %}
    {% endblock %}

    {% block bodyEnd %}
        <script type="text/javascript" src="/static/javascripts/{{ 'all.js' | version_filter }}"></script>
        <script>window.GOVUKFrontend.initAll()</script>
        <script>
          if (window.location.pathname == '/') {
            document.getElementById('global-header').style.borderBottom = 'none'
          }
        </script>

        {% if not static_mode %}
            <script>var user_csrf_token = "{{ csrf_token() }}"</script>
            <script type="text/javascript" src="{{ url_for('static', filename='javascripts/') }}{{ 'cms.js' | version_filter }}"></script>
        {% endif %}
    {% endblock %}
  </body>
</html>
