{% extends "base.html" %}
{%  block content %}
  <div class='row'>
    <div class='large-12 columns'>
      {% block breadcrumbs %}
      {% endblock %}
    </div>
    <div class='foo'>
    </div>
    <div class='large-12 columns'>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
          <div class="large-12 columns flash-message">
            {% for category, message in messages %}
            <div data-alert class="alert-box {% if category == 'error' %}alert{% else %}{{ category }}{% endif %}">
              <span>{{ message }}</span>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      {% block page_title %}
      {% endblock %}
    </div>
  </div>
  <div class='row'>
    <div class="large-4 columns">
      {% block left_content %}
      {% endblock %}
    </div>
    <div class="large-8 columns">
      {% block main_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}