{% macro page_list(pages) %}
    <div class="sidebar">
        <div id="jstree">
            <!-- in this example the tree is populated from inline HTML -->
            <ul>
                </li>
                {% for topic, subtopics in pages.items() %}
                    <li>
                        <a href="{{ url_for('cms.edit_topic_page', slug=topic.meta.guid) }}">{{ topic.title | truncate_words }}</a>
                        {% if subtopics %}
                            <ul>
                                {% for subtopic, measures in subtopics.items() %}
                                    <li>
                                        <a href="{{ url_for('cms.edit_topic_page', slug=subtopic.meta.guid) }}">{{ subtopic.title | truncate_words }}</a>
                                        {% if measures %}
                                            <ul>
                                                {% for measure in measures %}
                                                    <li><a href={{ url_for('cms.edit_measure_page', topic_slug=topic.meta.guid, measure_slug=measure.meta.guid) }}>{{ measure.title | truncate_words }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            </li>
                                        {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endmacro %}