{% extends "base.html" %}

{% set breadcrumbs = none %}

{% block pageTitle %}Login{% endblock %}
{% block nav_home %}active{% endblock %}
{% block bodyClasses %}rd_cms{% endblock %}

{% block flashMessages %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if login_user_form.errors %}
                <div class="flash-message">
                    <div data-alert
                         class="alert-box alert">
                        <span>Make sure you've entered the right email address and password. If you've forgotten your password you can reset it by clicking 'Forgotten password'</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Login</h1>

                <form action="{{ url_for('security.login') }}" method="post">
                    {{ login_user_form.csrf_token }}

                    {{ login_user_form.email }}

                    {{ login_user_form.password(autocomplete='off') }}

                    {{ login_user_form.next }}

{#                    So that the button gets displayed on its own line #}
                    <div class="govuk-body">
                      <button type="submit" class="govuk-button" name="login">Login</button>
                    </div>
                </form>

                <div class="govuk-body">
                    <a class="govuk-link" href="{{ url_for('auth.forgot_password') }}">Forgotten password</a>
                </div>


            </div><!-- columns -->
        </div><!-- row -->
{% endblock %}
