{% extends "base.html" %}

{% set breadcrumbs = none %}
{% set errors = get_form_errors(forms=[login_user_form, ]) %}

{# We have to manually add the `Error: ` prefix to the pageTitle here as we don't have control over the context that
this template receives, so can't make sure it's rendered with the `errors` variable from the start. Because `Error: `
is added in the base template, the {% set errors %} above isn't in scope when the base template is rendered, so the
prefix does not get added there. #}

{% block pageTitle %}{% if errors %}Error: {% endif %}Login{% endblock %}
{% block nav_home %}active{% endblock %}
{% block bodyClasses %}rd_cms{% endblock %}

{% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-xl">Login</h1>

                <form action="{{ url_for('security.login') }}" method="post">
                    {{ login_user_form.csrf_token }}

                    {{ login_user_form.email }}

                    {{ login_user_form.password(autocomplete='off') }}

                    {{ login_user_form.next }}

{#                    So that the button gets displayed on its own line #}
                    <div class="govuk-body">
                      <button type="submit" class="govuk-button" name="login">Login</button>
                    </div>
                </form>

                <div class="govuk-body">
                    <a class="govuk-link" href="{{ url_for('auth.forgot_password') }}">Forgotten password</a>
                </div>


            </div><!-- columns -->
        </div><!-- row -->
{% endblock %}
