{% extends "base.html" %}

{% block page_title %}Login{% endblock %}
{% block nav_home %}active{% endblock %}
{% block body_classes %}rd_cms{% endblock %}

{% block messages %}
    <div class='grid-row'>
        <div class='column-full'>
            {% if login_user_form.errors %}
                <div class="row">
                    <div class="flash-message">
                        <div data-alert
                             class="alert-box alert">
                            <span>Make sure you've entered the right email address and password. If you've forgotten your password you can reset it by clicking 'Forgotten password'</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <main id="content" class="main">

        {{ self.messages( )}}

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class='heading-large'>Login</h1>

                <form action="{{ url_for('security.login') }}" method="post">


                    <label for="email">E-mail address</label>
                    {{ login_user_form.email }}

                    <label for="password">{{ login_user_form.password.label }}</label>
                    {{ login_user_form.password(autocomplete='off') }}

                    <button type="submit" class="button" name="login">Login</button>
                    {{ login_user_form.csrf_token }}

                    {{ login_user_form.next }}
                </form>

                <div class="forgotten-password">
                    <a href="{{ url_for('auth.forgot_password') }}">Forgotten password</a>
                </div>


            </div><!-- columns -->
        </div><!-- row -->

    </main>
{% endblock %}
