<p class="govuk-body govuk-hint">Use this section for essential contextual information. Content is essential if
  users might misinterpret the figures without it.</p>
<p class="govuk-body govuk-hint">Use H3 heading markdown, for example '###What the data measures'.</p>

<details class="govuk-details"
         data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Headings
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>What the data measures</li>
      <li>Not included in the data</li>
      <li>How rates are calculated</li>
      <li>The ethnic groups used in this data</li>
      <li>Methodology</li>
      <li>In the data file</li>
    </ul>
  </div>
</details>
