{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "_shared/_page_title.html" import page_title %}
{% from "cms/forms.html" import render_field %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('admin.index'), "text": "Admin"},
    {"url": url_for('admin.users'), "text": "Users"},
  ]
%}

{% block pageTitle %}{{ page_title("Add user", error=(form.errors|length) > 0) }}{% endblock %}
{% block bodyClasses %}rd_cms{% endblock %}

{% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl no-breadcrumb">
                    Add user
                </h1>
                <form action="{{ url_for('admin.add_user') }}" method="POST">
                    {{ form.csrf_token }}
                    {{ form.email() }}
                    {{ form.user_type(inline=True) }}

                    <button type="submit" class="govuk-button" name="add">Add user</button>
                </form>
            </div>
        </div>
{% endblock %}
