{% extends "base_cms.html" %}

{% block title %}Add role{% endblock %}

{% block breadcrumbs %}
    <div class="grid-row">
        <div class='column-two-thirds'>
            <nav class="table-breadcrumbs" aria-label="You are here:" role="navigation">
                <ul class='breadcrumbs'>
                    <li>
                        <a href="{{ url_for('admin.index') }}">Admin</a>
                    </li>
                     <li>
                        <a href="{{ url_for('admin.users') }}">Users</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.user_by_id', user_id=user.id) }}">User</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}


{% block main_content %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class='heading-large no-breadcrumb'>
                    Ethnicity facts and figures
                </h1>
                <h2 class="heading-small">Add role for user {{ user.email }}</h2>
                <form action="{{ url_for('admin.add_role', user_id=user.id) }}"  method="POST">
                    <div class="form-group">
                         <label class="form-label" for="roles">{{ form.roles.label }}</label>
                         {{ form.roles(class="form-control") }}
                         {% for error in form.errors.roles %}
                                <span class="error-message">{{error}}</span>
                         {% endfor %}
                    </div>
                    {{ form.csrf_token }}
                    <button type="submit" class="button" name="add">Add role</button>
                </form>

            </div>
        </div>
{% endblock %}