{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "_shared/_page_title.html" import page_title %}
{% from "cms/forms.html" import render_field %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('admin.index'), "text": "Admin"},
    {"url": url_for('admin.users'), "text": "Users"},
  ]
%}

{% block pageTitle %}{{ page_title("Add user", error=(form.errors|length) > 0) }}{% endblock %}
{% block bodyClasses %}rd_cms{% endblock %}

{% block content %}
        <div class="grid-row">
            <div class="column-full">
                <h1 class='heading-large no-breadcrumb'>
                    Add user
                </h1>
                <h2>Add user</h2>
                <form action="{{ url_for('admin.add_user') }}" method="POST">
                    {{ form.csrf_token }}
                    {{ render_field(form.email) }}
                    <div class="form-group">
                        <fieldset class="inline">

                            <legend>
                                <h2 class="heading-small">
                                    What type of user account?
                                </h2>
                            </legend>

                            {% for field in form.user_type %}
                                <div class="multiple-choice">
                                {% if field.errors %}
                                    {{ field.errors }}
                                    {{ field(class="error " + class) }}
                                {% else %}
                                    {{ field }}
                                    {{ field.label }}
                                {% endif %}
                                </div>
                            {% endfor %}

                        </fieldset>
                    </div>

                    <button type="submit" class="button" name="add">Add user</button>
                </form>
            </div>
        </div>
{% endblock %}
