{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('admin.index'), "text": "Admin"},
  ]
%}

{% block pageTitle %}Data sources{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Data sources</h1>

          <ul class="govuk-list">
            <form method="GET" action="{{ url_for('admin.data_sources') }}">  {# TODO: Update to `merge_data_sources` URL when it's added #}
              {{ form.data_sources }}

              <button type="submit" class="govuk-button">Submit</button>
            </form>
          </ul>

    </div>
  </div>
{% endblock %}
