{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
    {"url": url_for('admin.index'), "text": "Admin"},
    {"url": url_for('admin.manage_topics'), "text": "Manage topics"},
  ]
%}

{% block pageTitle %}Edit topic{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Edit `{{page_title}}` topic</h1>



    {% if error%}
    <div class="govuk-error-summary"
         aria-labelledby="error-summary-title"
         role="alert"
         tabindex="-1"
         data-module="error-summary">
      <h2 class="govuk-error-summary__title"
          id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#error">{{ error }}</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif%}

    <div class="govuk-grid-row"
         id="departmental-sharing">
      <div class="govuk-grid-column-two-thirds">
        <form id="share-page"
              action="{{ url_for('admin.update_topic', topic_id=topic.id) }}"
              method="POST">
          <input type="hidden"
                 name="csrf_token"
                 value="{{ csrf_token() }}" />
          <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l"
                     for="topic-title">
                Topic title
              </label>
            </h1>
            {% if error%}
            <span id="error"
                  class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{error}}
            </span>
            {% endif%}
            <input class="govuk-input"
                   id="topic-title"
                   name="topic-title"
                   type="text"
                   value="{{topic.title}}">
          </div>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l"
                     for="description">
                Description
              </label>

            </h1>
            <textarea class="govuk-textarea"
                      id="description"
                      name="description"
                      rows="10">{{topic.description if topic.description}}</textarea>
          </div>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l"
                     for="additional_description">
                Additional description
              </label>

            </h1>
            <textarea class="govuk-textarea"
                      id="additional_description"
                      name="additional_description"
                      rows="10">{{topic.additional_description if topic.additional_description}}</textarea>
          </div>

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l"
                     for="meta_description">
                Meta description
              </label>

            </h1>
            <textarea class="govuk-textarea"
                      id="meta_description"
                      name="meta_description"
                      rows="10">{{topic.meta_description if topic.meta_description }}</textarea>
          </div>


          <button id="save"
                  class="govuk-button"
                  type="submit"
                  name="save">Save</button>


          <div id="warning"
               class="govuk-error-summary"
               aria-labelledby="error-summary-title"
               role="alert"
               tabindex="-1"
               data-module="error-summary">
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  Please wait and <strong>do not refresh the page.</strong> It takes some time for this process to
                  finish. On completion you will be redirected to topics management page.
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>


    </div>
  </div>
  {% endblock %}


  {% block bodyEnd %}
  {{ super() }}

  <script type="text/javascript">

    document.addEventListener( 'DOMContentLoaded', function ( event ) {
      var warning = document.getElementById( 'warning' );
      var submit = document.getElementById( 'save' );
      warning.style.display = "none";
      submit.onclick = function() {
        submit.style.display = "none";
        warning.style.display = "block";
      };
    })

  </script>
  {% endblock %}
