{% extends "base.html" %}

{% block page_title %}Admin{% endblock %}
{% block body_classes %}rd_cms{% endblock %}

{% block main_content %}
        <div class="grid-row">
            <div class="column-full">
                <h1 class='heading-large no-breadcrumb'>
                    Admin
                </h1>
                {% if current_user.can(MANAGE_USERS) %}
                    <p><a href="{{ url_for('admin.users') }}">Users</a></p>
                {% endif %}

                {% if current_user.can(MANAGE_SYSTEM) %}
                    <p><a href="{{ url_for('admin.site_build') }}">Static site build</a></p>
                {% endif %}
            </div>
        </div>
{% endblock %}
