{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
  ]
%}

{% block pageTitle %}Admin{% endblock %}

{% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Admin
                </h1>
                {% if current_user.can(MANAGE_USERS) %}
                    <p class="govuk-body"><a class="govuk-link" href="{{ url_for('admin.users') }}">Users</a></p>
                {% endif %}

                {% if current_user.can(MANAGE_SYSTEM) %}
                    <p class="govuk-body"><a class="govuk-link" href="{{ url_for('admin.site_build') }}">Static site build</a></p>
                {% endif %}
            </div>
        </div>
{% endblock %}
