<table class="shares">
    {% for page in shared %}
    <tr>
        <td>
            <a href="{{ url_for('static_site.measure_page',
                       topic_slug=page.parent.parent.slug,
                       subtopic_slug=page.parent.slug,
                       measure_slug=page.slug,
                       version='latest') }}">{{ page.title }}</a>
        </td>
        <td>
            <a href="{{ url_for('admin.remove_shared_page_from_user', user_id=user.id, measure_id=page.measure_id) }}">Remove</a>
        </td>
    </tr>
    {% endfor %}
</table>
