{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
    {"url": url_for("admin.index"), "text": "Admin"},
  ]
%}

{% block pageTitle %}Admin{% endblock %}

{% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class='govuk-heading-xl no-breadcrumb'>
                    Things to do with builds
                </h1>
                <p>Some ways to interact with builds? Kick them off, view results etc?</p>
            </div>
        </div>
{% endblock %}
