{% extends "base_cms.html" %}

{% block title %}User{% endblock %}

{% block breadcrumbs %}
    <div class="grid-row">
        <div class='column-two-thirds'>
            <nav class="table-breadcrumbs" aria-label="You are here:" role="navigation">
                <ul class='breadcrumbs'>
                    <li>
                        <a href="{{ url_for('admin.index') }}">Admin</a>
                    </li>
                     <li>
                        <a href="{{ url_for('admin.users') }}">Users</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}


 {% block messages %}
      <div class='grid-row'>
        <div class='column-full'>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="row">
              <div class="flash-message">
                {% for category, message in messages %}
                <div data-alert class="alert-box {% if category == 'error' %}error{% else %}{{ category }}{% endif %}">
                  <span>{{ message }}</span>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
{% endblock %}


{% block main_content %}
        <div class="grid-row">
            <div class="column-full">
                <h1 class='heading-large no-breadcrumb'>
                    Ethnicity facts and figures
                </h1>
                <p>Manage user</p>

                <p>{{ user.email }} - <a href="{{ url_for('admin.deactivate_user', user_id=user.id) }}">Deactivate account</a></p>

                <p>Roles</p>
                <ul>
                    {% for role in user.roles %}
                        <li>
                            {{ role.name }}{% if role.name == 'ADMIN'  and user.id != current_user.id %} -
                                <a href="{{ url_for('admin.remove_user_admin_rights', user_id=user.id) }}">Remove admin rights</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                {% if user.has_role('INTERNAL_USER') and not user.has_role('ADMIN')  %}
                    <p>
                        <a href="{{ url_for('admin.give_user_admin_rights', user_id=user.id) }}">Give user admin rights</a>
                    </p>
                {% endif %}

            </div>
        </div>
{% endblock %}