{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('admin.index'), "text": "Admin"},
    {"url": url_for('admin.users'), "text": "Users"},
  ]
%}

{% block pageTitle %}User{% endblock %}
{% block bodyClasses %}rd_cms{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">User</h1>
            <p class="govuk-body">Manage user</p>
            <p class="govuk-body">
                {{ user.email }} -
                {% if user.is_active %}
                    <a href="{{ url_for('admin.deactivate_user', user_id=user.id) }}" class="govuk-link">Deactivate account</a>
                {% else %}
                    <a href="{{ url_for('admin.resend_account_activation_email', user_id=user.id) }}" class="govuk-link">
                        {% if not user.confirmed_at %}
                            Not activated yet - send activation email
                        {% else %}
                            Deactivated - send reactivation email
                        {% endif %}
                    </a>
                {% endif %}
            </p>
            <p class="govuk-body">User type: {{ user.user_type.name }}</p>
            <p class="govuk-body">This user can:</p>
            <ul>
                {% for capability in user.capabilities %}
                    <li>
                        {{ capability }}
                    </li>
                {% endfor %}
            </ul>

            {% if user.is_rdu_user() %}
                <p class="govuk-body">
                    <a href="{{ url_for('admin.make_admin_user', user_id=user.id) }}" class="govuk-link">Make user admin</a>
                </p>
            {% endif %}

            {% if user.is_admin_user() %}
                <p class="govuk-body">
                    <a href="{{ url_for('admin.make_rdu_user', user_id=user.id) }}" class="govuk-link">Make standard RDU user</a>
                </p>
            {% endif %}
        </div>
    </div>
    {% if user.is_departmental_user() %}
    <div class="govuk-grid-row" id="departmental-sharing">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Share measures</h2>
            <form id="share-page" action="{{ url_for('admin.share_page_with_user', user_id=user.id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label for="measures-picker">Measures</label>
                <div id="measure-autocomplete-container"></div>
                <div class="form-group">
                    <select class="form-control" name="measure-picker" id="measure-picker">
                        <option value="" selected>Select a measure</option>
                        {% for measure_version in latest_measure_versions %}
                            <option value="{{ measure_version.id }}">{{ measure_version.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="save" class="govuk-button" type="submit" name="save">Save</button>
            </form>
        </div>
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Measures shared</h2>
            {% include 'admin/share_page.html' %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}

    {% if user.is_departmental_user() %}
        <script>

          var sharePage = function() {
              var form = document.querySelector("#share-page");
              form.submit();
          };

          var choice = function(valueChosen){

              if(valueChosen !== undefined) {
                  // if I read docs for autocomplete correct it should update
                  // the select to set selected on chosen value but it doesn't
                  // seem to. therefore I find out value (id of page) chosen this way.
                  var select = document.querySelector('#measure-picker-select'),
                      options = Array.from(select.children),
                        selectedIndex = options.findIndex(function(item) {
                      return item.text == valueChosen
                  });
                  select.selectedIndex = selectedIndex;
                  sharePage();
              }
          };

          var initAutocomplete = function() {
            document.addEventListener("DOMContentLoaded", function() {

                document.querySelector("#save").setAttribute("style", "display:none");

                accessibleAutocomplete.enhanceSelectElement({
                    selectElement: document.querySelector("#measure-picker"),
                    onConfirm: choice,
                    id: "measure-autocomplete-container"
                })
            })
          };

          initAutocomplete();

        </script>
    {% endif %}

{% endblock %}
