{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('admin.index'), "text": "Admin"},
  ]
%}

{% block pageTitle %}Users{% endblock %}
{% block bodyClasses %}rd_cms{% endblock %}

{% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Users
                </h1>
                <table id="users" class="govuk-table">
                    <caption class="govuk-table__caption govuk-heading-m">Manage users</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" aria-sort="none">User name</th>
                        <th class="govuk-table__header" scope="col" aria-sort="none">User type</th>
                        <th class="govuk-table__header" scope="col">Account active</th>
                        <th class="govuk-table__header" scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body govuk-!-font-size-16">
                        {% for user in users %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="{{ url_for('admin.user_by_id', user_id=user.id ) }}">{{ user.email }}</a>
                            </td>
                            <td class="govuk-table__cell">
                                {{ user.user_type.value }}
                            </td>
                            <td class="govuk-table__cell">
                                {% if not user.is_active %}
                                    <a class="govuk-link" href="{{ url_for('admin.resend_account_activation_email', user_id=user.id) }}">
                                    {% if not user.confirmed_at %}
                                        Not activated yet - send activation email
                                    {% else %}
                                        Deactivated - send reactivation email
                                    {% endif %}
                                    </a>
                                {%  else %}
                                    {{ user.is_active }}
                                {% endif %}
                            </td>
                            <td class="govuk-table__cell">
                                {% if not user.is_admin_user() and current_user.id != user.id %}
                                    <a class="govuk-link" href="{{ url_for('admin.delete_user', user_id=user.id) }}">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="govuk-button" href="{{ url_for('admin.add_user') }}">Add new user</a>
            </div>
        </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var table = document.getElementById('users');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>
{% endblock %}
