{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('admin.index'), "text": "Admin"},
  ]
%}

{% block pageTitle %}Users{% endblock %}
{% block bodyClasses %}rd_cms{% endblock %}

{% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Users
                </h1>
                <h2>Manage users</h2>
                <table class="smaller-text govuk-!-margin-bottom-5">
                    <thead>
                        <th>User name</th>
                        <th>User type</th>
                        <th>Capabilities</th>
                        <th>Account active</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>
                                <a class="govuk-link" href="{{ url_for('admin.user_by_id', user_id=user.id ) }}">{{ user.email }}</a>
                            </td>
                            <td>
                                {{ user.user_type.name }}
                            </td>
                            <td>
                                {% for capability in user.capabilities %}
                                    {{ capability }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% if not user.is_active %}
                                    <a class="govuk-link" href="{{ url_for('admin.resend_account_activation_email', user_id=user.id) }}">
                                    {% if not user.confirmed_at %}
                                        Not activated yet - send activation email
                                    {% else %}
                                        Deactivated - send reactivation email
                                    {% endif %}
                                    </a>
                                {%  else %}
                                    {{ user.is_active }}
                                {% endif %}
                            </td>
                            <td>
                                {% if not user.is_admin_user() and current_user.id != user.id %}
                                    <a class="govuk-link" href="{{ url_for('admin.delete_user', user_id=user.id) }}">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="govuk-body"><a class="govuk-link" href="{{ url_for('admin.add_user') }}">Add new user</a></p>
            </div>
        </div>
{% endblock %}
