{# USE DIMENSION SECTION FROM EXISTING CMS PAGE UNTIL WE FIGURE OUT HOW THEY'RE GOING TO LOOK #}
 <div class="grid-row">
    <div class="column-full">
        <h3 class="heading-medium">Dimensions</h3>
            {% if measure.dimensions %}
                <table>
                    {% for dimension in measure.dimensions %}
                        <tr class="movable" data-dimension-guid="{{ dimension.guid }}">
                            <td>{{ dimension.title }}</td>
                            <td>
                                <a href="{{ url_for('cms.edit_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid ) }}">
                                    {% if 'UPDATE' in available_actions %}edit{% else %}view{% endif %}</a></td>
                            <td>{% if 'UPDATE' in available_actions %}
                                <a href="{{ url_for('cms.delete_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid ) }}">delete</a>{% endif %}
                            </td>
                            <td class="move-controls">
                                {% if 'UPDATE' in available_actions %}
                                    <span title="move up" class="move-up">&#x25B2</span>
                                    <span title="move down" class="move-down">&#x25BC</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if 'UPDATE' in available_actions %}
                <a href="{{ url_for('cms.create_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">Add
                    dimension</a><br/>
            {% endif %}

            {% if new %}
                <p>Once this page is saved you will be able to add dimensions</p>
            {% endif %}
    </div>
</div>
