{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class='grid-row'>
        <div class='column-full'>
            <div class="row">
                <div class="flash-message">
                    {% for category, message in messages %}
                        <div data-alert class="alert-box {% if category in ['error', 'dimension-error'] %}error{% else %}{{ category }}{% endif %}">
                            <span>{{ message | render_markdown }}</span>
                            {% if form.errors and category =='error' %}
                                <ul>
                                    {% for field, error in form.errors.items() %}
                                        {% if field == 'administrative_data' %}
                                            <li><a href="#type-of-data">Type of data</a>: {{ error[0] }}</li>
                                        {% elif field == 'frequency_id' %}
                                            <li><a href="#frequency-of-release">Frequency of release</a>: {{ error[0] }}</li>
                                        {% elif field == 'type_of_statistic_id' %}
                                            <li><a href="#type-of-statistic">Type of statistic</a>: {{ error[0] }}</li>
                                        {% elif field == 'lowest_level_of_geography_id' %}
                                            <li><a href="#lowest-level-of-geography">Lowest level of geography</a>: {{ error[0] }}</li>
                                        {% elif field == 'department_source' %}
                                            <li><a href="#department-source">Publisher</a>: {{ error[0] }}</li>
                                        {% else %}
                                            <li><a href="#">{{ form[field].label }}</a>: {{ error[0] }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}
