{% extends "base.html" %}

{% block title %}{{ measure.title }}{% endblock %}

{% block main_content %}
<div class="rd_cms_autocomplete">
    {% include 'cms_autosave/_measure_title.html' %}
    {% include 'cms_autosave/_public_metadata.html' %}
    {% include 'cms_autosave/_main_commentary.html' %}
    {% include 'cms_autosave/_dimensions.html' %}

        <div class="grid-row">
        <div class="column-two-thirds">
            <div class="accordion">
            {% include 'cms_autosave/_methodology.html' %}
            {% include 'cms_autosave/_data_sources.html' %}
            {% include 'cms_autosave/_downloads.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script>
    // This script block has functions for click to edit fields
        function PreviewAndEditSection(element) {

          var element = element;
          var preview, edit, text_inputs, text_area;
          setup();

          function setup() {

            preview = element.querySelector('.preview')
            edit = element.querySelector('.edit')
            text_inputs = edit.querySelectorAll('input[type=text]')
            text_area = edit.querySelector('textarea')

            preview.addEventListener('click', previewClicked)
            preview.addEventListener('keyup', previewKeyedUp)

            if (text_inputs.length == 1) {
              text_inputs[0].addEventListener('blur', inputBlurred)
              text_inputs[0].addEventListener('keyup', enterKeyPressed)
            }

            if (text_area) {
              text_area.addEventListener('blur', inputBlurred)
            }


            var cancel = edit.querySelector('.cancel')
            if (cancel) {

              cancel.addEventListener('mousedown', cancelMousedDown)

              cancel.addEventListener('click', cancelClicked)
            }

            var save = edit.querySelector('.save')
            if (save) {
              save.addEventListener('click', saveAndPreview)
            }


          }

          function inputBlurred(event) {

            if (!edit.classList.contains('hidden')) {
              saveAndPreview()
            }

          }

          function cancelMousedDown(event) {
            // Prevent the blur event firing.
            event.preventDefault();
          }

          function cancelClicked(event) {

            showPreview();

            if (text_inputs[0]) {
              if (preview.classList.contains('empty')) {
                text_inputs[0].value = '';
              } else {
                text_inputs[0].value = preview.textContent;
              }

            }


          }

          function enterKeyPressed(event) {
            if (event.keyCode == 13) {
              saveAndPreview(event)
            }
          }

          function saveAndPreview(event) {

            /* TODO: MAKE CALL TO SAVE THE UPDATED FIELD */
            console.log('SAVE AND PREVIEW!')
            if (text_inputs[0]) {
              var value = text_inputs[0].value.trim();
              console.log('TEXT INPUT VALUE IN SAVE AND PREVIEW: ' + value)
              if (value == '') {
                preview.classList.add('empty')
                preview.textContent = preview.getAttribute('data-empty-text');
              } else {
                preview.textContent = value;
                preview.classList.remove('empty')
              }
            }
            if (text_area) {
              var value = text_area.value.trim();
              console.log('TEXT AREA VALUE IN SAVE AND PREVIEW: ' + value)
              if (value == '') {
                preview.classList.add('empty')
                preview.textContent = preview.getAttribute('data-empty-text');
              } else {
                if (text_area.classList.contains('for-bullets')) {
                  preview.innerHTML = value.replace(/^\*\s/gm, "<li>").replace(/\n/g, '</li>');
                } else if (text_area.classList.contains('for-paragraphs')) {
                  preview.innerHTML = value.replace(/\n/g, "<br>").replace(/\n/g, '</li>');
                } else {
                  preview.innerHTML = value;
                }

                preview.classList.remove('empty')
              }
            }


            showPreview();


          }

          function previewKeyedUp(event) {
            if (event.keyCode == 13) {
              showEdit()
            }
          }

          function previewClicked(event) {
            showEdit()
          }

          function showEdit() {
            preview.classList.toggle('hidden')
            edit.classList.toggle('hidden')
            if (text_inputs[0]) {
              text_inputs[0].focus();
            }
            if (text_area) {
              text_area.focus();
            }
          }

          function showPreview() {
            edit.classList.add('hidden')
            preview.classList.remove('hidden')
          }



        }

        function setup() {

          var previewAndEditSections = document.querySelectorAll('.preview-and-edit')

          for (previewAndEditSection of previewAndEditSections) {
            new PreviewAndEditSection(previewAndEditSection);
          }

          var builderButtons = document.querySelectorAll('.open-builder');

          for (builderButton of builderButtons) {
            new BuilderLink(builderButton);
          }

        }

        document.addEventListener('DOMContentLoaded', setup)

    </script>

    <script>
    // This script block has functions from existing CMS page for moving dimensions up and down

        function moveDimensionUp(event) {
            event.preventDefault();
            var row = $(event.currentTarget).parents('tr:first');
            if (row.prev().length > 0) {
                row.insertBefore(row.prev());
                syncDimensionOrder();
            }
        }

        function moveDimensionDown(event) {
            event.preventDefault();
            var row = $(event.currentTarget).parents('tr:last');
            if (row.next().length > 0) {
                row.insertAfter(row.next());
                syncDimensionOrder();
            }
        }

        function syncDimensionOrder() {
            var rows = $('tr.movable'),
                dimensions = [],
                guid;

            $(rows).each(function (index, row) {
                guid = $(row).data('dimension-guid');
                dimensions.push({"index": index, "guid": guid});
            });
            $.ajax({
                type: 'POST',
                url: "{{ url_for('cms.set_dimension_order', topic=topic.guid,
                                                                subtopic=subtopic.guid,
                                                                measure=measure.guid) }}",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({"dimensions": dimensions}),
                success: function (data) {
                    console.log('Set order for dimensions:', dimensions);
                },
                error: function (data) {
                    console.log('Error setting order for dimensions:', dimensions);
                }
            });
        }

        $(document).ready(function () {
            $('.move-up').click(moveDimensionUp);
            $('.move-down').click(moveDimensionDown);
        })
    </script>
{% endblock %}
