{% extends "cms/base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', uri=topic.uri), "text": topic.title},
  ]
%}

{% block bodyEnd %}
  {{ super() }}
    <script>
        var set_dimension_order_post_url = "{{ url_for('cms.set_dimension_order', topic=topic.guid,
                                                            subtopic=subtopic.guid,
                                                            measure=measure.guid) }}"
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/') }}{{ 'cms_autosave.js' | version_filter }}"></script>
{% endblock %}

{% block pageTitle %}{{ measure.title }}{% endblock %}

{% block content %}
    {% include 'cms_autosave/_messages.html' %}

    <form method="POST" action="{{ url_for('cms.edit_and_preview_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">
        <div class="rd_cms_autocomplete">
            {% include 'cms_autosave/_measure_title.html' %}
            {% include 'cms_autosave/_public_metadata.html' %}
            {% include 'cms_autosave/_main_commentary.html' %}
            {% include 'cms_autosave/_dimensions.html' %}

                <div class="grid-row">
                <div class="column-two-thirds">
                    <div class="accordion">
                    {% include 'cms_autosave/_methodology.html' %}
                    {% include 'cms_autosave/_data_sources.html' %}
                    {% include 'cms_autosave/_downloads.html' %}
                    </div>
                </div>
            </div>
        {% if not new %}{{ form.db_version_id }}{% endif %}
        {% if measure.status == 'DRAFT' or new %}
            <div class="grid-row">
                <div class="column-two-thirds">
                {{ form.csrf_token }}
                <button class="button" type="submit" name="save">Save</button>
                </div>
            </div>
        {% endif %}
        </div>
    </form>
{% endblock %}
