{#
    Form macros used by the cms_autosave page
    All form field macros here expect the following kwargs to be supplied when called:
      * empty_message
      * tab_index
#}

{% from "cms/forms.html" import render_department_select %}

{% macro editable_page_heading(field) -%}

    <div class="preview-and-edit">
        <h1 class="preview heading-large{% if not field.data %} empty{% endif %}" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if field.data -%}
            {{ field.data }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </h1>
        <div class="edit hidden">
            {{ field(class="form-control for-heading") }}
            <button class="link save">Save</button>
            <button class="link cancel">Cancel</button>
        </div>
    </div>

{%- endmacro %}


{% macro editable_metadata_dl_text(field) -%}

    <dt>{{ field.label }}:</dt>
    <dd>
        <div class="preview-and-edit">
            <span class="preview{% if not field.data %} empty{% endif %}" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
            {% if field.data -%}
                {{ field.data }}
            {% else %}
                {{ kwargs['empty_message'] }}
            {%- endif %}
            </span>
            <div class="edit hidden">
                {{ field(class="form-control for-metadata") }}
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </dd>

{%- endmacro %}


{% macro editable_metadata_dl_checkboxes(fields, summary=None ) -%}

    <dt>{{ fields.label }}:</dt>
    <dd>
        {% call editable_checkboxes(fields, summary, **kwargs) %}
        {% endcall %}
    </dd>

{%- endmacro %}


{% macro editable_textarea(field, class="for-paragraphs", rows=10, cols=60) %}

    <div class="preview-and-edit">
        <div class="preview {% if not field.data %}empty{% endif %}{% if class=='for-bullets' %} bullets spaced-out{% endif %}" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if field.data -%}
            {{ field.data | render_markdown }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </div>
        <div class="edit hidden">
            {{ field(class=class, rows=rows, cols=cols) }}
            <div>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </div>

{% endmacro %}


{% macro editable_collapsible_textarea(field) %}

    <details>
        <summary>{{ field.label.text }}</summary>
        <div class="panel panel-border-narrow">
            {% call editable_textarea(field, **kwargs) %}
            {% endcall %}
        </div>
    </details>

{% endmacro %}


{% macro editable_text(field) -%}

    <div class="preview-and-edit">
        <p class="{% if not field.data %}empty{% endif %} preview" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if field.data -%}
            {{ field.data }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </p>
      <div class="edit hidden">
          {{ field }}
          <button class="link cancel">Cancel</button>
      </div>
    </div>

{%- endmacro %}


{% macro editable_checkboxes(fields, summary=None ) -%}

    <div class="preview-and-edit">
        <div class="preview {% if not fields.data %}empty{% endif %}" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if summary -%}
            {{ summary }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </div>
        <div class="edit hidden">
            <fieldset {% if fields.name == 'area-covered' %}class="uk-countries"{% endif %}>
            <legend>{{ legend }}
                {% if errors %}
                    <span class="error-message">Select at least one</span>
                {% endif %}
            </legend>
            {% for field in fields %}
                <div class="multiple-choice">
                    {{ field(class=class) }}
                    {% if label_class %}
                        {{ field.label(class=label_class) }}
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
            <div>
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </div>

{%- endmacro %}


{% macro editable_link(link_url_field, link_text_field=None) -%}

    <div class="preview-and-edit">
        <p class="preview pretend-link {% if (not link_text_field and not link_url_field.data) or (link_text_field and not link_text_field.data) %}empty{% endif %}" data-empty-text="{{ kwargs['empty_message'] }}" {% if (kwargs["link_text"]) %}data-preview-text="{{ kwargs['link_text'] }}"{% endif %} tabindex={{ kwargs['tab_index'] }}>
            {% if (link_text_field and link_text_field.data) or (not link_text_field and link_url_field.data) -%}
                {% if link_text_field %}
                    {{ link_text_field.data }}
                {% else %}
                    {{ kwargs['link_text'] }}
                {% endif %}
            {% else %}
                {{ kwargs['empty_message'] }}
            {%- endif %}
        </p>
        <div class="edit hidden">
            <div>
                {% if link_text_field %}
                    Link text  {{ link_text_field() }}
                {% else %}
                    {{ link_url_field.label.text }}
                {% endif %}
            </div>
            <div>
                URL  {{ link_url_field() }}
            </div>
            <div>
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </div>

{%- endmacro %}


{% macro editable_radio_field(field, value, other_field=None) -%}
<div class="preview-and-edit">
    <p class="{% if not value %}empty{% endif %} preview" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if value -%}
            {{ value }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </p>
        <div class="edit hidden">
            <fieldset>
            {% for input in field %}
                <div class="multiple-choice">
                    {#  note the assumption is that 'other' radio button is always last #}
                    {% if input.data == (field.choices | count) %}
                        {{ input(**{'aria-controls': '%s-other-field' % kwargs['field_name'], 'aria-expanded': 'false'}) }}
                    {% else %}
                        {{ input() }}
                    {% endif %}
                    {{ input.label }}
                </div>
            {% endfor %}

            {% if other_field %}
                <div class="panel panel-border-narrow form-group" id="{{ kwargs['field_name'] }}-other-field">
                  {{ other_field.label(class="form-label") }}
                  {{ other_field(class="js-dependent") }}
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        showHideControl(document.getElementById("{{ '%s-%d'| format(kwargs['field_name'], (field.choices | count - 1))  }}"))
                    })
                </script>

            {% endif %}

            </fieldset>
            <div>
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
    </div>
</div>

{%- endmacro %}


{% macro editable_organisation_select(field, organisations_by_type, selected_organisation_name=None, selected_organisation_id=None) -%}
    <div class="preview-and-edit">
        <p class="empty preview" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if selected_organisation_name -%}
            {{ selected_organisation_name }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </p>
        <div class="edit hidden">
            {{ render_department_select('',
                                        field,
                                        selected_organisation_id,
                                        organisations_by_type,
                                        field_id=field.id,
                                        field_name=field.name) }}
            <div>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </div>

{%- endmacro %}
