{#
    Form macros used by the cms_autosave page
    All form field macros here expect the following kwargs to be supplied when called:
      * field_name
      * empty_message
      * tab_index
#}

{% from "cms/forms.html" import render_department_select %}

{% macro editable_heading(heading_text, heading_level='h1') -%}

    <div class="preview-and-edit">
        <{{ heading_level }} class="preview {% if heading_level=='h1' %}heading-large{% else %}heading-medium{% endif %} {% if not heading_text %}empty{% endif %}" data-empty-text="Click to add title" tabindex={{ kwargs['tab_index'] }}>
        {% if heading_text -%}
            {{ heading_text }}
        {% else %}
            kwargs['empty_message']
        {%- endif %}
        </{{ heading_level }}>
        <div class="edit hidden">
            <input type="text" name="{{ kwargs['field_name'] }}" class="form-control for-heading" value="{{ heading_text }}" />
            <button class="link save">Save</button>
            <button class="link cancel">Cancel</button>
        </div>
    </div>

{%- endmacro %}


{% macro editable_metadata_dl_text(key, value) -%}

    <dt>{{ key }}:</dt>
    <dd>
        <div class="preview-and-edit">
            <span class="preview {% if not value %}empty{% endif %}" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
            {% if value -%}
                {{ value }}
            {% else %}
                {{ kwargs['empty_message'] }}
            {%- endif %}
            </span>
            <div class="edit hidden">
                <input type="text" name="{{ kwargs['field_name'] }}" class="form-control for-metadata" value="{{ value }}" />
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </dd>

{%- endmacro %}


{% macro editable_metadata_dl_checkboxes(key, fields, summary=None ) -%}

    <dt>{{ key }}:</dt>
    <dd>
        {% call editable_checkboxes(fields, summary, **kwargs) %}
        {% endcall %}

    </dd>

{%- endmacro %}


{% macro editable_textarea_for_bullets(value) -%}

    <div class="preview-and-edit">
        <ul class="bullets spaced-out preview {% if not value %}empty{% endif %}" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
            <li>
            {% if value -%}
                {{ value }}
            {% else %}
                {{ kwargs['empty_message'] }}
            {%- endif %}
            </li>
        </ul>
        <div class="edit hidden">
            <textarea name="{{ kwargs['field_name'] }}" rows="10" cols="50" class="for-bullets">{% if value %}{{ value }}{% endif %}</textarea>
            <div>
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </div>

{%- endmacro %}


{% macro editable_collapsible_textarea(title, value) -%}

    <details>
        <summary>{{ title }}</summary>
        <div class="panel panel-border-narrow">
            <div class="preview-and-edit">
              <div class="preview {% if not value %}empty{% endif %}" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
              {% if value -%}
                  {{ value }}
              {% else %}
                  {{ kwargs['empty_message'] }}
              {%- endif %}
            </div>
            <div class="edit hidden">
                <textarea name="{{ kwargs['field_name'] }}" rows="5" cols="50" class="for-bullets">{% if value %}{{ value }}{% endif %}</textarea>
                <div>
                    <button class="link save">Save</button>
                    <button class="link cancel">Cancel</button>
                </div>
            </div>
          </div>
        </div>
    </details>

{%- endmacro %}


{% macro editable_text(value) -%}

    <div class="preview-and-edit">
        <p class="empty preview" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if value -%}
            {{ value }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </p>
      <div class="edit hidden">
          <input type="text" name="{{ kwargs['field_name'] }}" />
          <button class="link save">Save</button>
          <button class="link cancel">Cancel</button>
      </div>
    </div>

{%- endmacro %}


{% macro editable_textarea(value) -%}

    <div class="preview-and-edit">
        <p class="empty preview" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if value -%}
            {{ value }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </p>
        <div class="edit hidden">
            <textarea name="{{ kwargs['field_name'] }}" rows="5" cols="50">{% if value %}{{ value }}{% endif %}</textarea>
            <div>
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </div>

{%- endmacro %}


{% macro editable_checkboxes(fields, summary=None ) -%}

    <div class="preview-and-edit">
        <div class="preview {% if not fields.data %}empty{% endif %}" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if summary -%}
            {{ summary }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </div>
        <div class="edit hidden">
            <fieldset {% if fields.name == 'area-covered' %}class="uk-countries"{% endif %}>
            <legend>{{ legend }}
                {% if errors %}
                    <span class="error-message">Select at least one</span>
                {% endif %}
            </legend>
            {% for field in fields %}
                <div class="multiple-choice">
                    {{ field(class=class) }}
                    {% if label_class %}
                        {{ field.label(class=label_class) }}
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
            <div>
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </div>

{%- endmacro %}


{% macro editable_link(link_text, link_url, link_text_field_name, link_url_field_name) -%}

    <div class="preview-and-edit">
        <p class="empty preview" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if link_text -%}
            {{ link_text }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </p>
        <div class="edit hidden">
            {% if link_text_field_name -%}
            Link text <input type="text" name="{{ link_text_field_name }}" value="{{ link_text if link_text else '' }}" />
            {% elif link_text -%}
                {{ link_text }}
            {% else %}
                {{ kwargs['empty_message'] }}
            {%- endif %}
            URL <input type="url" name="{{ link_url_field_name }}" value="{{ link_url if link_url else '' }}" />
            <div>
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </div>

{%- endmacro %}


{% macro editable_radio_field(field, value, other_field=None) -%}
<div class="preview-and-edit">
    <p class="empty preview" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if value -%}
            {{ value }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </p>
        <div class="edit hidden">
            <fieldset>
            {% for input in field %}
                <div class="multiple-choice">
                    {#  note the assumption is that 'other' radio button is always last #}
                    {% if input.data == (field.choices | count) %}
                        {{ input(**{'aria-controls': '%s-other-field' % kwargs['field_name'], 'aria-expanded': 'false'}) }}
                    {% else %}
                        {{ input() }}
                    {% endif %}
                    {{ input.label }}
                </div>
            {% endfor %}

            {% if other_field %}
                <div class="panel panel-border-narrow form-group" id="{{ kwargs['field_name'] }}-other-field">
                  {{ other_field.label(class="form-label") }}
                  {{ other_field() }}
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        showHideControl(document.getElementById("{{ '%s-%d'| format(kwargs['field_name'], (field.choices | count - 1))  }}"))
                    })
                </script>

            {% endif %}

            </fieldset>
            <div>
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
    </div>
</div>

{%- endmacro %}


{% macro editable_department_select(field, value, organisations_by_type) -%}
    <div class="preview-and-edit">
        <p class="empty preview" data-empty-text="{{ kwargs['empty_message'] }}" tabindex={{ kwargs['tab_index'] }}>
        {% if value -%}
            {{ value }}
        {% else %}
            {{ kwargs['empty_message'] }}
        {%- endif %}
        </p>
        <div class="edit hidden">
            {{ render_department_select('',
                                        field,
                                        measure.department_source_id if measure else None,
                                        organisations_by_type) }}
            <div>
                <button class="link save">Save</button>
                <button class="link cancel">Cancel</button>
            </div>
        </div>
    </div>

{%- endmacro %}
