.app-back-to-top {
  margin-top: govuk-spacing(4);
  margin-bottom: govuk-spacing(8);
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -(govuk-spacing(1));
  margin-right: govuk-spacing(2);
  vertical-align: middle;
}
