/* Lifted (with minor modifications) from:
https://github.com/alphagov/static/blob/99f41342b66cde279f231fdc0834fac493260158/app/assets/stylesheets/helpers/_header.scss */

#global-header {
  li.search {
    float: right;
    padding-right: 0;
    width: 50%;
  }

@media (max-width: 769px) {
  li.search {
    width: 100%;
    margin-top: 10px;
  }
}

  .site-search-label {
    float: left;
    color: black;
    font-weight: 400;
  }

  .site-search {

    @media screen and (max-width: 379px) {
      width: auto;
      float: none;
    }

    .content {
      margin: 0 15px;
    }
  }
  &.with-proposition {
    #search-form {
      margin-top: 4px;
    }
  }

  .search-toggle {
    display: none;

    @media screen and (max-width: 379px) {
      display: block;
      float: right;
      height: 30px;
      width: 36px;
      padding: 0;
      margin: -32px 15px;
      overflow: hidden;
      text-indent: -5000px;
      background-color: govuk-colour("blue");
      background-image: url('/static/images/icon-search-govuk.png');
      background-repeat: no-repeat;
      background-position: 0 50%;

      body.search & { display: none; }

      @include govuk-device-pixel-ratio() {
        background-size: 52.5px 35px;
        background-position: 100% 50%;
      }
    }

    &:hover {
      background-color: darken($govuk-brand-colour, 5%);
    }

    &.js-hidden { display: none; }
  }

  #search-form {
    width: 100%;

    .content {
      position: relative;
      background: #fff;
      overflow: hidden;
    }

    label {
      float: left;
      min-height: 36px;
      line-height: 35px;
      text-indent: 15px;
      overflow: hidden;
      display: block;
      margin-right: 10px;

      .js-enabled & {
        float: left;
        position: absolute;
        left: 0;
        top: 1px;
        z-index: 1;
        width: 100%;
        margin-right: 0;
      }
    }
    input {
      box-sizing: border-box;
      float: left;
      min-width: 0;
      display: block;
      margin: 0;
      border: 0;
      min-height: 36px;
      padding: 6px 0;
      &::-moz-focus-inner {
        border: 0;
      }
      appearance: none;
    }

    input#site-search-text {
      @include govuk-font(16);
      position: relative;
      padding: 6px;
      z-index: 3;
      background: transparent;

      &.focus,
      &:focus {
        background: #fff;
        outline-offset: -3px;
      }

      .js-enabled & {
        width: 86%;
      }
    }

    input.submit {
      position: absolute;
      z-index: 4;
      right: 0;
      top: 0;
      width: 36px;
      height: 36px;

      border: 1px solid $govuk-brand-colour;
      border-width: 0 0 0 1px;
      border-left-color: #222;
      border-radius: 0;

      overflow: hidden;
      text-indent: -5000px;

      color: govuk-color("white");
      background-color: $govuk-brand-colour;
      background-image: url('/static/images/icon-search-govuk.png');
      background-repeat: no-repeat;
      background-position: 0 50%;

      @include govuk-device-pixel-ratio() {
        background-size: 52.5px 35px;
        background-position: 100% 50%;
      }

      &:hover {
        background-color: darken($govuk-brand-colour, 5%);
      }

      &.focus,
      &:focus {
        outline-offset: -3px;
      }
    }

    @media screen and (max-width: 379px) {
      display: none;
      width: 100%;

      #site-search-text {
        width: 80%;
      }
    }
    &.js-visible { display: block; }
  }
}