.eff-link__secondary-source {
  @include govuk-font(19);
  @include govuk-responsive-margin(3, $direction: "bottom");

  display: block;
}

.eff-link__secondary-source--delete {
  color: govuk-colour("red");

  &:link, &:visited {
    color: govuk-colour("red");
  }
}
