.eff-previous-and-next-nav {
  margin-top: 40px;
}

.eff-previous-and-next-nav--list {
  margin: 0;
  padding: 0;
}

.eff-previous-and-next-nav__icon {
  width: 15px;
  height: 12px;
  display: inline-block;
  margin-right: 12px;
}

.eff-previous-and-next-nav__item {
  list-style-type: none;
}

.eff-previous-and-next-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.eff-previous-and-next-nav__link:visited {
  color: $govuk-link-colour;
}

.eff-previous-and-next-nav__link:hover {
  background-color: govuk-colour("grey-4");
}

.eff-previous-and-next-nav__title {
  display: block;
  font-weight: bold;
}

.eff-previous-and-next-nav__label {
  text-decoration: underline;
  @include govuk-font($size: 16);
  display: block;
  margin-left: 30px;
}