/* Table modifiers
 *
 * These all modify the standard GOV.UK Design System table component,
 * and should be used in addition to those classes.
 */


/* Table with sticky header */

.eff-table--sticky thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.eff-table--sticky thead th,
.eff-table--sticky thead td {
  background-color: govuk-colour("white");
  background-clip: padding-box;  /* Required for Safari, as otherwise the background covers the borders when the header is drawn in a sticky position. */
}

/* This overrides the Design System default of having no padding on the
   right of the last cell in each row. */
.eff-table--padding-right-on-last-cell .govuk-table__header:last-child,
.eff-table--padding-right-on-last-cell .govuk-table__cell:last-child {
  padding-right: 10px;
}

/* Truncated table (with only 20 rows shown) */
.eff-table--truncated tbody tr:nth-child(n+21) {
  display: none;
}

/* Dense header and table cells
 *
 * This is for use with tables that contain a lot of data.
 * It sets a smaller than usual font size.
 */
.eff-table__header--dense,
.eff-table__cell--dense {
  @include govuk-typography-responsive(16);
}


/* Cells with borders on the right
 *
 * This adds borders to the right hand side of a cell, and reduces
 * the padding. Useful for grouping several columns together.
 */
.eff-table__header--border-right,
.eff-table__cell--border-right {
  border-right: 1px solid $govuk-border-colour;
  padding-right: 10px;
}

/* Removes the border beneath the heading or cell */
.eff-table__header--border-bottom-0,
.eff-table__cell--border-bottom-0 {
  border-bottom-width: 0;
}


/* Cells with no padding on the left
 *
 * This removes the padding on the left
 * Useful for the first cells in the first column, to save space.
 */
.eff-table__header--padding-left,
.eff-table__cell--padding-left {
  padding-left: 10px;
}


/* Removes the padding in a header cell */
.eff-table__header--padding-top-0 {
  padding-top: 0px;
}


.eff-table__head--reversed .govuk-table__header {
  background-color: #005EA5;
  color: white;
  border-bottom-color: #005EA5;
}

.eff-table__head--reversed .govuk-table__header:first-child {
  padding-left: 5px;
}


/* Table header cells with a fixed width of 80px
 *
 */
.eff-table__header--width-80 {
  width: 80px;
}


/* Set text to vertically align to the top of the cell
 *
 */
.eff-table__header--align-top,
.eff-table__cell--align-top {
  vertical-align: top;
}

/* Indent the table header and make it non-bold
 *
 * This is useful where there is a parent-child relationship
 * between rows (eg broad and specific ethnic groups).
 */
.eff-table__header--child {
  @include govuk-typography-weight-regular();
  padding-left: 10px;
}


.chart-footer {
  font-size: 16px;
}

.table-footer {
  font-size: 16px;
  padding: 15px 0 0;
  display: block;
}


.table-footer .missing-data-explanation,
.chart-footer .missing-data-explanation {
  color: govuk-colour("grey-1");
}

.missing-data-explanation .explanation {
  display: inline-block;
  margin-right: 10px;
}

/* Used for showing N/A in tables */
.not-applicable {
  color: govuk-colour("grey-1");
}



/* Collapsible table
 *
 * TODO: convert to Design System css coding conventions.
 */
.measures-by-week {

  .week th,
  .week td {
    cursor: pointer;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }

  .week.empty th,
  .week.empty td {
    cursor: inherit;
  }

  .week td,
  .week th,
  tbody.collapsed .week:hover td,
  tbody.collapsed .week:hover th {
    background-color: #e6e6e6;
    border-bottom-color: #e6e6e6;
  }

  tbody .week td:last-child {
    position: relative;
  }

  tbody .week td:last-child:after {
    position: absolute;
    right: 10px;
    font-size: 19px;
    font-weight: bold;
    color: govuk-colour("grey-1");
  }

  tbody .week.empty td:last-child:after {
    display: none;
  }

  tbody .week td:last-child:after {
    content: '–';
  }

  tbody.collapsed .week td:last-child:after {
    content: '+';
  }

  tbody.collapsed .week td,
  tbody.collapsed .week th,
  tbody.collapsed .week.empty:hover td,
  tbody.collapsed .week.empty:hover th {
    background-color: govuk-colour("white");
  }

  .week th {
    color: $govuk-brand-colour;
  }

  .week.empty th {
    color: govuk-colour("black");
  }

  .week.empty th {
    cursor: auto;
  }

  tbody.collapsed .measure-titles {
    display: none;
  }

  .measure-titles {

    ul {
      list-style-type: none;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 1em;
    }

    li {
      margin-bottom: .5em;
    }

    a {
      margin-right: .5em;
    }

    .source {
      color: #6F777B;
      margin-right: .5em;
    }
  }

}


/* Use on <th> for fixing column widths */
table .column-width-40 {
    width: 40%;
}

table .column-width-30 {
    width: 30%;
}

table .column-width-15 {
    width: 15%;
}
