
commands:
  disable_tmp_mounting:
    command: |
      systemctl mask tmp.mount

  make_static_build_dir_and_set_permissions:
    command: |
      mkdir -p /var/tmp/static-build-dir
      chown ec2-user /var/tmp/static-build-dir
      chmod 777 /var/tmp/static-build-dir

  make_log_file_writable:
    command: |
      touch /var/log/static-site-build.log
      chown ec2-user /var/log/static-site-build.log
      chmod 777 /var/log/static-site-build.log

  unmount_tmp_folder:
    #  Elastic Beanstalk starts a service on boot called "tmp.mount"
    #  As soon as the machine starts, this service mounts a "tmpfs" volume at /tmp
    #  The tmpfs mounted at /tmp is quite small
    #
    #  When running the static site build, some files seem to get saved to /tmp
    #  The /tmp folder on tmpfs fills up quickly and the static site build fails (well, succeeds but some file uploads aren't published!)
    #
    #  So, we want to make the /tmp folder bigger
    #  The root volume is plenty big enough, so we just want to avoid tmpfs being mounted to /tmp
    #
    #  So (above in this file) we disable the tmp.mount service
    #  But, tmp.mount has already run, so we need to unmount /tmp
    #
    #  We can't just run "umount /tmp" here because /tmp is in use (I guess this script is saved to /tmp (rolls eyes!))
    #  So, here I'm running "umount /tmp" on a delay (guessing that it might not be in use after a minute or so)
    #  When I tried this, it succeeded on the first or second attempt, but I've given it 5 tries to make it more likely to succeed
    #
    #  Yes, I know this is a horrible hack!
    command: |
      echo "umount /tmp > /var/log/unmount_tmp_folder_1.log 2>&1 &" | at now +1 minutes
      echo "umount /tmp > /var/log/unmount_tmp_folder_2.log 2>&1 &" | at now +2 minutes
      echo "umount /tmp > /var/log/unmount_tmp_folder_3.log 2>&1 &" | at now +3 minutes
      echo "umount /tmp > /var/log/unmount_tmp_folder_4.log 2>&1 &" | at now +4 minutes
      echo "umount /tmp > /var/log/unmount_tmp_folder_5.log 2>&1 &" | at now +5 minutes

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/static-site-build-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/static-site-build.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/static-site-build-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/static-site-build.log
