
container_commands:
  make_bash_scripts_writable:
    command: chmod +x ./scripts/*.sh

  make_static_build_dir_and_set_permissions:
    command: |
      mkdir -p /var/tmp/static-build-dir
      chown ec2-user /var/tmp/static-build-dir
      chmod 777 /var/tmp/static-build-dir

  make_log_file_writable:
    command: |
      touch /var/log/static-site-build.log
      chown ec2-user /var/log/static-site-build.log
      chmod 777 /var/log/static-site-build.log
