<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-links">
    {{ dimensions_count + 5 }}. Related links
</h2>

<p class="govuk-body">
<a class="govuk-link" href="https://www.ethnicity-facts-figures.service.gov.uk/work-pay-and-benefits/pay-and-income/household-income/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Household income">Household income</a><br />
Black households were most likely to have a weekly income of less than £400, and Indian households most likely to have a weekly income of £1000 or more.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/income-distribution/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Income distribution">Income distribution</a><br />
76% of Pakistani households fell into the 2 lowest income quintiles (after housing costs) – the highest percentage out of all ethnic groups.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/employment/employment-by-occupation/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Employment by occupation">Employment by occupation</a><br />
In 2017, the Black, Mixed and Other ethnic groups had a higher than average percentage of their workforce in ‘elementary’ occupations, the lowest skilled type of occupation.
</p>
