<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-content">
    {{ dimensions_count + 5 }}. Related content
</h2>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/employment/employment-by-occupation/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Employment by occupation">Employment by occupation</a>
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/unemployment-and-economic-inactivity/unemployment/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Unemployment">Unemployment</a>
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/employment/employment-by-sector/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Employment by sector">Employment by sector</a>
</p>
