<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-content">
    {{ dimensions_count + 5 }}. Related content
</h2>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/employment/employment-by-occupation/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Employment by occupation">Employment by occupation</a><br />The Indian ethnic group had the highest percentage of workers in professional occupations (31%) in 2017.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/unemployment-and-economic-inactivity/unemployment/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Unemployment">Unemployment</a><br />9% of Black people were unemployed in 2018, compared with 4% of White people.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/employment/employment-by-sector/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Employment by sector">Employment by sector</a><br />The public administration, education and health sector employed the highest percentage of workers in nearly every ethnic group in 2017.
</p>
