<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-links">
    {{ dimensions_count + 5 }}. Related links
</h2>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/employment/employment-by-occupation/latest">Employment by occupation</a><br />
In 2017, the Black, Mixed and Other ethnic groups had a higher than average percentage of their workforce in ‘elementary’ occupations, the lowest skilled type of occupation.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/unemployment-and-economic-inactivity/unemployment/latest">Unemployment</a><br />
In 2017, just under 4% of White people were unemployed, compared with 8% of people from all other ethnic groups combined.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/employment/employment-by-sector/latest">Employment by sector</a><br />
The public administration, education and health sector employed the highest percentage of workers in every ethnic group except the Pakistani/Bangladeshi group.
</p>
