<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-content">
    {{ dimensions_count + 5 }}. Related content
</h2>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/income-distribution/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Income distribution">Income distribution</a>
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/average-hourly-pay/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Average hourly pay">Average hourly pay</a>
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/sources-of-household-income/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Sources of household income">Sources of household income</a>
</p>
