<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-links">
    {{ dimensions_count + 5 }}. Related links
</h2>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/income-distribution/latest">Income distribution</a><br />
76% of Pakistani households fell into the 2 lowest income quintiles (after housing costs) – the highest percentage out of all ethnic groups.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/average-hourly-pay/latest">Average hourly pay</a><br />
In 2017, White people earned £11.34 per hour on average. People from the Indian ethnic group had the highest average hourly page (£13.14).
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/sources-of-household-income/latest">Sources of household income</a><br />
Households in the Indian and Other White ethnic groups received the highest percentage of their income from employment.
</p>
