<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-content">
    {{ dimensions_count + 5 }}. Related content
</h2>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/income-distribution/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Income distribution">Income distribution</a><br />Pakistani households were the most likely to fall into the lowest 2 income groups in the 3 years to March 2018.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/average-hourly-pay/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Average hourly pay">Average hourly pay</a><br />People from the Indian ethnic group had the highest average hourly pay in 2017 (£13.14).
</p>

<p class="govuk-body">
<a class="govuk-link" href="/work-pay-and-benefits/pay-and-income/sources-of-household-income/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Sources of household income">Sources of household income</a><br />Households in the Indian and Other White ethnic groups received around three-quarters of their income from employment in the 3 years to March 2018.
</p>
