<div class="gem-c-contextual-sidebar">
  <div class="gem-c-related-navigation">

    <h2 id="related-nav-related_items"
        class="govuk-heading-s govuk-!-padding-top-5">
      Related content
    </h2>

    <nav role="navigation"
         class="gem-c-related-navigation__nav-section"
         aria-labelledby="related-nav-related_items">

      <ul class="gem-c-related-navigation__link-list"
          data-module="track-click">

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="/work-pay-and-benefits/pay-and-income/household-income/latest"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="Household income">Household income</a>
        </li>

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="/uk-population-by-ethnicity/demographics/people-living-in-deprived-neighbourhoods/latest"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="People living in deprived neighbourhoods">People living in deprived neighbourhoods</a>
        </li>

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="/work-pay-and-benefits/pay-and-income/income-distribution/latest"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="Income distribution">Income distribution</a>
        </li>

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="/pay-and-income/sources-of-household-income/latest"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="Sources of household income">Sources of household income</a>
        </li>

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="/work-pay-and-benefits/pay-and-income/average-hourly-pay/latest"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="Average hourly pay">Average hourly pay</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
