<div class="gem-c-contextual-sidebar">
  <div class="gem-c-related-navigation">

    <h2 id="related-nav-related_items"
        class="govuk-heading-s govuk-!-padding-top-5">
      Related content
    </h2>

    <nav role="navigation"
         class="gem-c-related-navigation__nav-section"
         aria-labelledby="related-nav-related_items">

      <ul class="gem-c-related-navigation__link-list"
          data-module="track-click">

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="/work-pay-and-benefits/employment/employment/latest"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="Employment">Employment</a>
        </li>

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="/workforce-and-business/workforce-diversity/police-workforce/latest"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="Police workforce">Police workforce</a>
        </li>

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="/workforce-and-business/workforce-diversity/school-teacher-workforce/latest"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="School teacher workforce">School teacher workforce</a>
        </li>

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="/workforce-and-business/workforce-diversity/nhs-trust-board-membership/latest"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="NHS trust board membership">NHS trust board membership</a>
        </li>

        <li class="gem-c-related-navigation__link">
          <a class="govuk-link"
             href="https://www.gov.uk/government/publications/ethnic-diversity-of-public-sector-workforces/ethnic-diversity-of-public-sector-workforces"
             data-on="click"
             data-event-category="Related links"
             data-event-action="Clicked"
             data-event-label="Research and analysis - Ethnic diversity of public sector workforces">Research and analysis: Ethnic diversity of public sector workforces</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
