<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-links">
    {{ dimensions_count + 5 }}. Related links
</h2>

<p class="govuk-body">
<a class="govuk-link" href="/crime-justice-and-the-law/courts-sentencing-and-tribunals/prosecutions-and-convictions/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Prosecutions and convictions">Prosecutions and convictions</a><br />
In 2017, the conviction ratio was lowest for defendants in the Black (78.7%) and Mixed (79.0%) ethnic groups, and highest in the White ethnic group (85.3%).
</p>

<p class="govuk-body">
<a class="govuk-link" href="/crime-justice-and-the-law/crime-and-reoffending/victims-of-crime/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Victims of crime">Victims of crime</a><br />
In 2017/18, a higher percentage of people from the Mixed and Asian ethnic groups said they were victims of crime compared with White people.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/crime-justice-and-the-law/policing/stop-and-search/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Stop and search">Stop and search</a><br />
In 2017/18, Black people were 9 and a half times as likely to be stopped and searched as White people.
</p>

<p class="govuk-body">
<a class="govuk-link" href="https://www.gov.uk/government/publications/ethnicity-facts-and-figures-black-caribbean-ethnic-group/black-caribbean-ethnic-group-facts-and-figures" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="BC report">Research and analysis: Black Caribbean ethnic group</a><br />
An overview of facts and figures about people from the Black Caribbean ethnic group and their experience of education, health, crime and policing, and housing.
</p>
