<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-content">
    {{ dimensions_count + 5 }}. Related content
</h2>

<p class="govuk-body">
<a class="govuk-link" href="/crime-justice-and-the-law/policing/number-of-arrests/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Arrests">Arrests</a><br />
In 2017/18, Black people were over 3 times as likely to be arrested as White people. And overall, men were over 5 times as likely to be arrested as women.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/crime-justice-and-the-law/crime-and-reoffending/victims-of-crime/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Victims of crime">Victims of crime</a><br />
In 2017/18, a higher percentage of people from the Mixed and Asian ethnic groups said they were victims of crime compared with White people.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/workforce-and-business/workforce-diversity/police-workforce/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Police workforce">Police workforce</a>
Between 2007 and 2018, the percentage of police officers from the Asian, Black, Mixed and Other ethnic groups combined increased from 3.9% to 6.6%.
</p>

<p class="govuk-body">
<a class="govuk-link" href="https://www.gov.uk/government/publications/ethnicity-facts-and-figures-black-caribbean-ethnic-group/black-caribbean-ethnic-group-facts-and-figures" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="BC report">Research and analysis: Black Caribbean ethnic group</a><br />
An overview of facts and figures about people from the Black Caribbean ethnic group and their experience of education, health, crime and policing, and housing.
</p>
