<h2 class="govuk-heading-l govuk-!-margin-top-5" id="related-content">
    {{ dimensions_count + 5 }}. Related content
</h2>

<p class="govuk-body">
<a class="govuk-link" href="/crime-justice-and-the-law/policing/number-of-arrests/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Arrests">Arrests</a><br />Black people were over 3 times as likely to be arrested as White people in 2017 to 2018.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/crime-justice-and-the-law/crime-and-reoffending/victims-of-crime/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Victims of crime">Victims of crime</a><br />People from the Mixed and Asian ethnic groups were consistently more likely to be victims of crime than White people in 2017 to 2018.
</p>

<p class="govuk-body">
<a class="govuk-link" href="/workforce-and-business/workforce-diversity/police-workforce/latest" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="Police workforce">Police workforce</a><br />93.1% of police officers were White in 2018, compared with 96.1% in 2007.
</p>

<p class="govuk-body">
<a class="govuk-link" href="https://www.gov.uk/government/publications/ethnicity-facts-and-figures-black-caribbean-ethnic-group/black-caribbean-ethnic-group-facts-and-figures" data-on="click" data-event-category="Related links" data-event-action="Clicked" data-event-label="BC report">Research and analysis: Black Caribbean ethnic group</a><br />A summary of facts and figures about people from the Black Caribbean ethnic group.
</p>
