{% extends "base_cms.html" %}
{% from "cms/forms.html" import render_field %}


{% block main_content %}

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Create new category</h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            {% block category_form %}
                <form method="POST" action="{{ url_for('cms.add_category') }}">
                    {{ form.csrf_token }}
                    {% block fields %}
                        <div>{{ render_field(form.family) }}</div>
                        <div>{{ render_field(form.title) }}</div>
                    {% endblock fields %}
                    <ul class="button-group" data-topbar data-options="sticky_on: large">
                        <li>
                            <button type="submit" class="button" name="save">Save
                            </button>
                        </li>
                    </ul>
                </form>
        {% endblock %}
        </div>

        <div class="column-one-third">
            &nbsp;
        </div>

    </div>

{% endblock %}