{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}How to read survey data on Ethnicity facts and figures - GOV.UK{% endblock %}
{% block socialTitle %}How to read survey data on Ethnicity facts and figures{% endblock %}
{% block socialDescription %}{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Misc');{% endblock %}

{% block headEnd %}
<link rel="canonical"
      href="{{ config.RDU_SITE | strip_trailing_slash }}{{ url_for('static_site.how_to_read_survey_data') }}">{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">How to read survey data</h1>


    <p class="govuk-body">Some of the data on this website comes from surveys.</p>
    <p class="govuk-body">Surveys collect responses from a sample of a group, rather than the whole group. For example, a survey might
      ask 10% of parents their opinion on changing the curriculum rather than asking all parents.</p>
    <p class="govuk-body">The quality of survey data depends on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how people were selected</li>
      <li>the number of people surveyed (the ‘sample size’)</li>
      <li>how the questions were asked</li>
    </ul>
    <p class="govuk-body">Once survey data has been collected and processed, statisticians can use techniques to improve its quality or
      assess how representative the sample is.</p>
    <p class="govuk-body">Different techniques can be used to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>make survey data more representative of the whole group (for example, the population of England) – this is
        known as ‘weighting’</li>
      <li>assess the reliability of estimates and differences between them using ‘confidence intervals’</li>
    </ul>
    <h2 class="govuk-heading-l" id="weighting">Weighting</h2>
    <p class="govuk-body">Weighting adjusts the results of a survey so they better represent the whole group.</p>
    <p class="govuk-body">For example, a survey of 25 women and 75 men may not reflect the views of the general population (which is 50%
      men, 50% women). Statisticians can weight the results to more accurately represent the split of men and women in
      the general population.</p>
    <p class="govuk-body">Survey weights are usually applied to make sure the survey sample has broadly the same gender, age, ethnic or
      geographic make up as the general population.</p>
    <h2 class="govuk-heading-l" id="confidence-intervals">Confidence intervals</h2>
    <div class="govuk-inset-text"><p class="govuk-body govuk-!-font-weight-bold">Example</p> <p>2017/18 data showed that 22.4% of all 4 to 5 year olds in England were overweight. This is only an
        estimate based on a sample of 4 to 5 year olds. The ‘true’ figure for all 4 to 5 year olds was very likely
        somewhere between 22.3% and 22.5%. These are the upper and lower bounds of the confidence interval.</p>
    </div>
    <p class="govuk-body">A confidence interval is a range of values that the 'true' value for the whole group is highly likely to lie
      within. The estimate is the central point of this range.</p>
    <p class="govuk-body">Confidence intervals show how likely it is that the ‘true’ figure falls within the upper and lower bounds (the
      highest and lowest values in the range).</p>
    <p class="govuk-body">A confidence interval of 95% means if we took 100 random samples, the estimate would fall within its upper and
      lower bounds 95 times. Confidence intervals of 90% and 99% are also sometimes used.</p>
    <h3 class="govuk-heading-m">Using confidence intervals</h3>
    <p class="govuk-body">Confidence intervals show how reliable estimates are. The wider the intervals, the less reliable the estimate.
      Wide confidence intervals can be the result of small samples or a lot of variation within survey responses.</p>
    <p class="govuk-body">We can also use confidence intervals to assess whether differences in the statistics for 2 groups are
      meaningful (for example, their mean averages). We can do this to assess differences in the means for 2 ethnic
      groups or 2 time periods.</p>
    <p class="govuk-body">Differences are meaningful ('statistically significant') if the confidence intervals for the 2 sets of
      statistics don't overlap. In other words, they don't have any values in common.</p>
    <p class="govuk-body">If the confidence intervals overlap, this shows that the difference in the 2 estimates is not meaningful. This
      means the findings cannot tell us if the difference observed in the sample is also present in the whole
      population.</p>
    <h2 class="govuk-heading-l" id="limitations">The limitations of survey data</h2>
    <p class="govuk-body">Even using weighting and confidence intervals, it’s important to treat all survey data with caution.</p>
    <p class="govuk-body">In particular, where survey data is broken down by ethnicity, gender, age or region for example, the numbers of
      people involved can be very small.</p>
    <p class="govuk-body">If they are too small, the figures can be too unreliable to use or may be disclosive (you might be able to
      identify individual respondents from the data). In these cases, the figures will be unavailable (or
      ‘suppressed’).</p>
  </div>
</div>
{% endblock %}
