{% extends "base.html" %}
{% block title %}User logins{% endblock %}
{% block content %}

    <div class="row">
        <div class="large-10 columns large-offset-2">
            <h2>User logins</h2>
            <table>
                <thead>
                <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Timestamp</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in audit_log %}
                    <tr>
                        <td>{{ entry.user }}</td>
                        <td>{{ entry.action }}</td>
                        <td>{{ entry.timestamp | format_date_time}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}å