#content, main#content { width: 960px !important; margin: 0 auto !important; padding-bottom: 90px !important; }
table tr td { display: block }
button[type=submit] {border-top-width: 0; border-left-width: 0; border-right-width: 0; color: white;}