{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Blog posts - GOV.UK{% endblock %}
{% block metaDescription %}Blog posts about data and ethnicity from the Race Disparity Unit.{% endblock %}
{% block socialTitle %}Blog posts from Race Disparity Unit{% endblock %}
{% block socialDescription %}Blog posts about data and ethnicity from the Race Disparity Unit.{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Blog posts');{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Blog posts</h1>

    <p class="govuk-body">We regularly publish blog posts about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how ethnicity data is collected and published</li>
      <li>how we can help people understand ethnicity data</li>

    </ul>

    <h2 class="govuk-heading-l">List of blog posts</h2>

    <p class="govuk-body">Our blog posts, starting with the most recent:</p>

    <h3 class="govuk-heading-m">2020</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link"
           href="https://dataingovernment.blog.gov.uk/2020/08/07/covid-19-data-on-ethnicity-facts-and-figures/">COVID-19
          data on ‘Ethnicity facts and figures’</a></li>
      <li><a class="govuk-link"
           href="https://dataingovernment.blog.gov.uk/2020/04/17/why-were-talking-more-about-how-we-collect-and-analyse-data-on-ethnicity/">Why
          we’re talking more about how we collect and analyse data on ethnicity</a></li>

    </ul>

    <h3 class="govuk-heading-m">2019</h3>

    <ul class="govuk-list govuk-list--bullet">

      <li><a class="govuk-link"
           href="https://geospatialcommission.blog.gov.uk/2019/10/24/black-history-month-guest-blog-using-location-data-in-tackling-ethnic-disparities/">Using
          location data in tackling ethnic disparities</a></li>
      <li><a class="govuk-link"
           href="https://dataingovernment.blog.gov.uk/2019/07/30/how-can-the-public-sector-collect-better-data-on-staff-ethnicity/">How
          can the public sector collect better data on staff ethnicity?</a></li>
      <li><a class="govuk-link"
           href="https://civilservice.blog.gov.uk/2019/07/08/please-dont-call-me-bame-or-bme/">Please, don't call me
          BAME or BME!</a></li>
      <li><a class="govuk-link"
           href="https://dataingovernment.blog.gov.uk/2020/04/17/why-were-talking-more-about-how-we-collect-and-analyse-data-on-         ethnicity/">How
          we're helping people understand ethnicity data</a></li>
      <li><a class="govuk-link"
           href="https://insidegovuk.blog.gov.uk/2019/06/26/guest-post-why-we-deleted-one-of-our-most-popular-pages/">Why
          we deleted one of our most popular pages</a></li>
      <li><a class="govuk-link"
           href="https://dataingovernment.blog.gov.uk/2019/06/04/making-ethnicity-data-more-coherent-and-comparable/">Making
          ethnicity data more coherent and comparable</a></li>
      <li><a class="govuk-link"
           href="https://dataingovernment.blog.gov.uk/2019/05/02/a-discovery-into-data-publishing-formats/">A discovery
          into data publishing formats</a></li>
      <li><a class="govuk-link"
           href="https://history.blog.gov.uk/2019/03/07/50-years-of-collecting-ethnicity-data/">50 years of collecting
          ethnicity data</a> </li>
      <li><a class="govuk-link"
           href="https://designnotes.blog.gov.uk/2019/01/29/researching-how-we-ask-users-about-their-ethnicity/">Researching
          how we ask users about their ethnicity</a></li>


    </ul>

    <h3 class="govuk-heading-m">2018</h3>

    <ul class="govuk-list govuk-list--bullet">

      <li><a class="govuk-link"
           href="https://civilservice.blog.gov.uk/2018/12/12/my-dream-open-data-open-dialogue-open-democracies/">My
          dream: Open Data, Open Dialogue, Open Democracies</a></li>

    </ul>

    <h3 class="govuk-heading-m">2017</h3>

    <ul class="govuk-list govuk-list--bullet">

      <li><a class="govuk-link"
           href="https://quarterly.blog.gov.uk/2017/11/15/digitising-the-governments-ethnicity-data-the-race-disparity-audit/">Digitising
          the Government’s ethnicity data: the Race Disparity Audit</a></li>

    </ul>


    <h2 class="govuk-heading-l">Get other updates</h2>

    <p class="govuk-body">You can also:</p>

    <ul class="govuk-list govuk-list--bullet">

      <li>sign up for our monthly <a class="govuk-link"
           href="{{ url_for('static_site.newsletter') }}">newsletter</a></li>
      <li>see the <a class="govuk-link"
           href="{{ url_for('dashboards.whats_new') }}">new and updated pages</a> we’ve published recently</li>
      <li>go to the <a class="govuk-link"
           href="https://www.gov.uk/government/organisations/race-disparity-unit">Race Disparity Unit</a> page and
        sign up to <a class="govuk-link"
           href="https://www.gov.uk/email-signup?link=/government/organisations/race-disparity-unit">email updates</a>
      </li>
    </ul>

    <p class="govuk-body">You might also be interested in:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the <a class="govuk-link"
           href="https://www.gov.uk/government/organisations/commission-on-race-and-ethnic-disparities">Commission on
          Race and Ethnic Disparities</a></li>
      <li>the <a class="govuk-link"
           href="https://www.gov.uk/government/collections/windrush-cross-government-working-group">Windrush
          cross-government working group</a></li>
    </ul>

  </div>
</div>
{% endblock %}
