{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Blog posts - GOV.UK{% endblock %}
{% block metaDescription %}Blog posts about data and ethnicity from the Race Disparity Unit.{% endblock %}
{% block socialTitle %}Blog posts from Race Disparity Unit{% endblock %}
{% block socialDescription %}Blog posts about data and ethnicity from the Race Disparity Unit.{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Blog posts');{% endblock %}


{% block content %}
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Blog posts</h1>

                 <p class="govuk-body">We regularly publish blog posts and reports about ethnicity data quality.</p>


          <p class="govuk-body">Topics include:</p>

          <ul class="govuk-list govuk-list--bullet">
               <li>collecting ethnicity data</li>
               <li>using and interpreting ethnicity data</li>
                           <li>improving data quality</li>
          </ul>

                 <p class="govuk-body">See a list of our blog posts and reports on GOV.UK: <a class="govuk-link"
                       rel="external"
                       href="https://www.gov.uk/government/collections/ethnicity-data-methods-and-quality-reports">Ethnicity data: data quality resources</a>.</p>

          <h2 class="govuk-heading-l">Get other updates</h2>

          <p class="govuk-body">You can also:</p>

          <ul class="govuk-list govuk-list--bullet">
               <li>sign up for our monthly <a class="govuk-link"
                       href="{{ url_for('static_site.newsletter') }}">newsletter</a></li>
               <li>see the <a class="govuk-link"
                       href="{{ url_for('dashboards.whats_new') }}">new and updated pages</a> we have published on Ethnicity facts and figures</li>
               <li>go to the <a class="govuk-link"
                       rel="external"
                       href="https://www.gov.uk/government/organisations/race-disparity-unit">Race Disparity Unit</a>
                    page and
                    sign up to <a class="govuk-link"
                       rel="external"
                       href="https://www.gov.uk/email-signup?link=/government/organisations/race-disparity-unit">email
                         updates</a>
               </li>
            <li>read more about <a class="govuk-link"
                       rel="external"
                       href="https://www.gov.uk/government/collections/inclusive-britain-publications-and-updates">Inclusive Britain</a>, the government's strategy to tackle disparities, promote unity and build a more cohesive and inclusive society
</li>
          </ul>


     </div>
</div>
{% endblock %}
