<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Example data-only measure page | Ethnicity facts and figures consultation</title>
  <meta name="description" content="Example of a data-only measure page. Ethnicity facts and figures consultation">

  <meta name="robots" content="noindex" />
  
</head>

<body syle="text-align:center;">

<img src="{{ url_for('static', filename='images/measure-pensionerIncome-dataonly-screenshot-1440.png') }}"
 alt="" />

</body>
</html>
