{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Cookie settings on Ethnicity facts and figures - GOV.UK{% endblock %}
{% block metaDescription %}{% endblock %}
{% block socialTitle %}{% endblock %}
{% block socialDescription %}{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Cookies');{% endblock %}


{% block content %}


<div id="cookie-settings__confirmation"
     class="cookie-settings__confirmation">
  <section class="notice">
    <h3 class="govuk-heading-m">Your cookie settings were saved</h2>

  </section>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Cookies on Ethnicity facts and figures</h1>

    <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
    <p class="govuk-body">We use cookies to store information about how you use the Ethnicity facts and figures website,
      such as the pages you visit.</p>
    <p class="govuk-body">
      Pages on GOV.UK and other government services set additional cookies and have their own cookie policies.</p>



    <h2 class="govuk-heading-l">Cookie settings</h2>

    <noscript>
      <p class="govuk-body">We use Javascript to set most of our cookies. Unfortunately Javascript is not running on
        your browser, so you cannot change your settings. You can try:</p>
      <ul class="govuk-list">
        <li>reloading the page</li>
        <li>turning on Javascript in your browser</li>
      </ul>
    </noscript>


    <form id="cookie-settings-form"
          name="cookie-settings-form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset"
                  aria-describedby="hint">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Cookies that measure website use</legend>

          <div id="hint"
               class="hint govuk-!-margin-bottom-3">
            <p class="govuk-body govuk-!-margin-top-0">We use Google Analytics to measure how you use the website so we
              can improve
              it based on user needs.
              We do not allow Google to use or share the data about how you use this site.</p>
            <p class="govuk-body">Google Analytics sets cookies that store anonymised information about:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>how you got to the site</li>
              <li>the pages you visit on Ethnicity facts and figures, and how long you spend on each page</li>
              <li>what you click on while you're visiting the site</li>
            </ul>
          </div>

          <div class="govuk-radios">
            <div class="radio govuk-radios__item">
              <input type="radio"
                     name="cookies-settings"
                     id="radio-accept"
                     value="on"
                     class="govuk-radios__input">
              <label for="radio-accept"
                     class="label govuk-label govuk-radios__label">Use cookies that remember my settings on the
                site</label>
            </div>

            <div class="radio govuk-radios__item">
              <input type="radio"
                     name="cookies-settings"
                     id="radio-decline"
                     value="off"
                     class="govuk-radios__input">
              <label for="radio-decline"
                     class="label govuk-label govuk-radios__label">Do not use cookies that remember my settings on
                the site</label>
            </div>
          </div>
        </fieldset>
      </div>
      <button id="submit-settings"
              class="button govuk-button govuk-!-margin-top-2govuk-!-margin-bottom-5"
              type="submit">Save changes</button>
    </form>

  </div>
</div>
{% endblock %}
