{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Cookies on Ethnicity facts and figures - GOV.UK{% endblock %}
{% block metaDescription %}How cookies are used on Ethnicity facts and figures.{% endblock %}
{% block socialTitle %}Cookies on Ethnicity facts and figures{% endblock %}
{% block socialDescription %}How cookies are used on Ethnicity facts and figures.{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Cookies');{% endblock %}



{% block headEnd %}
<link rel="canonical"
      href="{{ config.RDU_SITE | strip_trailing_slash }}{{ url_for('static_site.cookies') }}">{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Cookies</h1>

    <p class="govuk-body">Small files (known as ‘cookies’) are put onto your computer to collect information about how
      you browse this website.</p>

    <p class="govuk-body">Cookies are used to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>measure how you use the website so it can be updated and improved based on your needs</li>
      <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
    </ul>

    <p class="govuk-inset-text"
       role="note"
       aria-label="Information">
      Our cookies aren’t used to identify you personally.
    </p>

    <p class="govuk-body">You’ll normally see a message on the site before we store a cookie on your computer.</p>

    <p class="govuk-body">Find out more about <a rel="external"
         class="govuk-link"
         href="https://ico.org.uk/your-data-matters/online/cookies/">how to manage cookies</a>.</p>

    <h2 class="govuk-heading-m">How cookies are used on this website</h2>

    <h2 class="govuk-heading-s">Measuring website usage (Google Analytics)</h2>

    <p class="govuk-body">We use Google Analytics software to collect information about how you use this website. We do
      this to help make sure the website is meeting the needs of its users and to help us make improvements.</p>

    <p class="govuk-body">Google Analytics stores information about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the pages you visit on this website</li>
      <li>how long you spend on each page</li>
      <li>how you got to the site</li>
      <li>what you click on while you’re visiting the site</li>
    </ul>

    <p class="govuk-body">We don’t collect or store your personal information (for example your name or address) so this
      information can’t be used to identify who you are.</p>

    <p class="govuk-inset-text"
       role="note"
       aria-label="Information">
      Google isn’t allowed to use or share our analytics data with anyone, but you can <a class="govuk-link"
         href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a>.
    </p>

    <p class="govuk-body">Google Analytics sets the following cookies:</p>

    <table class="govuk-table govuk-!-margin-bottom-8">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header"
              scope="col">Name</th>
          <th class="govuk-table__header"
              scope="col">Purpose</th>
          <th class="govuk-table__header"
              scope="col">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header"
              scope="row">_ga</th>
          <td class="govuk-table__cell">This helps us count how many people visit this website by tracking if you’ve
            visited before</td>
          <td class="govuk-table__cell">2&nbsp;years</td>
        </tr>
        <th class="govuk-table__header"
            scope="row">_gid</th>
        <td class="govuk-table__cell">This helps us count how many people visit this website by tracking if you’ve
          visited before</td>
        <td class="govuk-table__cell">24&nbsp;hours</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header"
              scope="row">_gat</th>
          <td class="govuk-table__cell">Used to manage the rate at which page view requests are made</td>
          <td class="govuk-table__cell">1&nbsp;minute</td>
        </tr>
      </tbody>
    </table>


    <h3 class="govuk-heading-s">Cookies message</h3>

    <p class="govuk-body">You may see a banner when you visit our website inviting you to accept cookies or review your
      settings. We’ll set cookies so that your computer knows you’ve seen it and not to show it again, and also to store
      your settings.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header"
              scope="col">Name</th>
          <th class="govuk-table__header"
              scope="col">Purpose</th>
          <th class="govuk-table__header"
              scope="col">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header"
              scope="row">cookies_policy</th>
          <td class="govuk-table__cell">Saves your cookie consent settings</td>
          <td class="govuk-table__cell">1 year</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header"
              scope="row">cookies_preferences_set</th>
          <td class="govuk-table__cell">Lets us know that you’ve saved your cookie consent settings</td>
          <td class="govuk-table__cell">1 year</td>
        </tr>
      </tbody>
    </table>


    <h2 class="govuk-heading-m"
        id="change-your-settings">Change your settings</h2>

    <p class="govuk-body">You can <a class="govuk-link"
         href="/cookie-settings">change which cookies you’re happy for us to use</a>.</p>

  </div>
</div>
{% endblock %}
