{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Newsletter from Race Disparity Unit - GOV.UK{% endblock %}
{% block metaDescription %}Sign up for the monthly newsletter from the Race Disparity Unit.{% endblock %}
{% block socialTitle %}Newsletter from Race Disparity Unit{% endblock %}
{% block socialDescription %}Sign up for the monthly newsletter from the Race Disparity Unit.{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Newsletter');{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Newsletter</h1>

      <p class="govuk-body">The Race Disparity Unit sends an email to subscribers at the start of every month.</p>

      <p class="govuk-body">The newsletter includes details of:</p>



      <ul class="govuk-list govuk-list--bullet">
        <li>new and updated pages on Ethnicity facts and figures</li>
        <li>policies and projects we're working on</li>
        <li>blog posts we've published</li>
        <li>news and consultations from other parts of government</li>
        <li>projects and funding from organisations outside government</li>

      </ul>

      <div class="govuk-!-margin-top-4">
        <h2 class="govuk-heading-m">Sign up for the newsletter</h2>

        <form action="{{ config.NEWSLETTER_SUBSCRIBE_URL }}"
              method="post">
          <input type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}" />

          <div class="govuk-form-group email govuk-!-margin-bottom-2">
            <label class="govuk-label"
                  for="newsletter-email">Email address</label>
            <input id="newsletter-email"
                  type="email"
                  class="govuk-input govuk-input--width-20"
                  name="EMAIL" />
            <button class="govuk-button">Subscribe</button>
          </div>

        </form>
      </div>
      <p class="govuk-body">
        <a class="govuk-link"
          href="{{ url_for('static_site.privacy_policy').rstrip('/') }}">How we use and protect your data</a></p>

      <h2 class="govuk-heading-m">See past newsletters</h2>

      <p class="govuk-body">Our last 6 newsletters, starting with the most recent:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://mailchi.mp/86f79740b611/august-2020-update-from-the-race-disparity-unit">August 2020</a></li>
        <li><a class="govuk-link" href="https://mailchi.mp/5e0ddf41e0cc/july-2020-update-from-the-race-disparity-unit">July 2020</a></li>
        <li><a class="govuk-link" href="https://mailchi.mp/3e3cd152c580/june-update-from-the-race-disparity-unit">June 2020</a></li>
        <li><a class="govuk-link" href="https://mailchi.mp/8f1d4d8bcdb3/ethnicity-facts-and-figures-update">May 2020</a></li>
        <li><a class="govuk-link" href="https://mailchi.mp/3b6e6160fa43/ethnicity-facts-and-figures-april-update">April 2020</a></li>
        <li><a class="govuk-link" href="https://mailchi.mp/4bed5d9a1414/ethnicity-facts-and-figures-update">March 2020</a></li>
     
      </ul>

      <h2 class="govuk-heading-m">Get other updates</h2>

      <p class="govuk-body">You can also:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>see the <a class="govuk-link"
            href="{{ url_for('dashboards.whats_new') }}">new and updated pages</a> we’ve published recently</li>
        <li>visit the <a class="govuk-link"
            href="https://www.gov.uk/government/organisations/race-disparity-unit">Race Disparity Unit</a> page on GOV.UK
          and
          sign up to <a class="govuk-link"
            href="https://www.gov.uk/email-signup?link=/government/organisations/race-disparity-unit">get an email
            whenever the page is updated</a></li>
      </ul>

      <p class="govuk-body">You might also be interested in updates from:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the <a class="govuk-link"
            href="https://www.gov.uk/government/organisations/commission-on-race-and-ethnic-disparities">Commission on
            Race and Ethnic Disparities</a></li>
        <li>the <a class="govuk-link"
            href="https://www.gov.uk/government/collections/windrush-cross-government-working-group">Windrush
            cross-government working group</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
