{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Newsletter from Race Disparity Unit - GOV.UK{% endblock %}
{% block metaDescription %}Sign up for the monthly newsletter from the Race Disparity Unit.{% endblock %}
{% block socialTitle %}Newsletter from Race Disparity Unit{% endblock %}
{% block socialDescription %}Sign up for the monthly newsletter from the Race Disparity Unit.{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Newsletter');{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Newsletter</h1>

    <p class="govuk-body">The Race Disparity Unit (RDU) sends an email to subscribers at the start of every month.</p>

    <p class="govuk-body">The newsletter includes details of:</p>



    <ul class="govuk-list govuk-list--bullet">
      <li>new and updated pages on Ethnicity facts and figures</li>
      <li>policies and projects we are working on, including <a class="govuk-link" rel="external"
       href="https://www.gov.uk/government/collections/inclusive-britain-publications-and-updates">Inclusive Britain</a></li>
      <li>blog posts we have published</li>
      <li>news and consultations from other parts of government</li>

    </ul>

    <div class="govuk-!-margin-top-4">
      <h2 class="govuk-heading-m">Sign up for the newsletter</h2>

      <form action="{{ config.NEWSLETTER_SUBSCRIBE_URL }}"
            method="post">
        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token() }}" />

        <div class="govuk-form-group email govuk-!-margin-bottom-2">
          <label class="govuk-label"
                 for="newsletter-email">Email address</label>
          <input id="newsletter-email"
                 type="email"
                 class="govuk-input govuk-input--width-20"
                 name="EMAIL" />
          <button class="govuk-button">Subscribe</button>
        </div>

      </form>
    </div>
    <p class="govuk-body">
      <a class="govuk-link" 
         href="{{ url_for('static_site.privacy_policy').rstrip('/') }}">How we use and protect your data</a></p>

    <h2 class="govuk-heading-m">See past newsletters</h2>

    <p class="govuk-body">See our <a class="govuk-link" rel="external"
       href="https://us17.campaign-archive.com/home/?u=d3d03c697590f8350546553f6&id=332cb53eb7">archive of past newsletters</a> on email platform Mailchimp.</p>


    <h2 class="govuk-heading-m">Get other updates</h2>

    <p class="govuk-body">You can also:</p>

    <ul class="govuk-list govuk-list--bullet">
                  <li>see our <a class="govuk-link" rel="external"
           href="https://www.gov.uk/government/collections/ethnicity-data-methods-and-quality-reports">blog posts and reports on ethnicity data</a></li>
            <li>see the <a class="govuk-link"
           href="{{ url_for('dashboards.whats_new') }}">new and updated pages</a> we have published on Ethnicity facts and figures</li>
      <li>go to the <a class="govuk-link" rel="external"
           href="https://www.gov.uk/government/organisations/race-disparity-unit">Race Disparity Unit</a> page and sign up to <a class="govuk-link" rel="external"
           href="https://www.gov.uk/email-signup?link=/government/organisations/race-disparity-unit">email updates</a></li>
       <li>read more about <a class="govuk-link" rel="external"
           href="https://www.gov.uk/government/collections/inclusive-britain-publications-and-updates">Inclusive Britain</a>, the government's strategy to tackle disparities, promote unity and build a more cohesive and inclusive society</li></ul>

  </div>
</div>
{% endblock %}
