{% extends "base.html" %}

{% set breadcrumbs = 
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
  ]
%}

{% block pageTitle %}Privacy policy for Ethnicity facts and figures - GOV.UK{% endblock %}
{% block socialTitle %}Privacy policy for Ethnicity facts and figures{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Misc');{% endblock %}
{% block headEnd %}<link rel="canonical" href="{{ config.RDU_SITE | strip_trailing_slash }}{{ url_for('static_site.privacy_policy') }}">{% endblock %}

{% block content %}
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">How your data is used and protected</h1>

        <p>The <a href="{{ url_for('static_site.index') }}">Ethnicity facts and figures</a> website is built and run by the Race&nbsp;Disparity&nbsp;Unit (RDU), which is part of Cabinet&nbsp;Office. We collect the following personal data:</p>
        
        <ul class="list-bullet">
          <li>cookies when you use the website</li>
          <li>an email address if you sign up for our monthly updates</li>
          <li>a name and email address if you register your interest in taking part in research<li>
        </ul>

        <h2 class="heading-medium">Website use</h2>

        <p>When you use our website, we collect data called session cookies. We use cookies to help us understand how you use the website so we can make improvements. We do not use cookies to identify you personally.</p>

        <p>You can read our full <a href="{{ url_for('static_site.cookies') }}">cookie policy</a> to find out how we use cookies to track user journeys using Google Analytics.</p>

        <h2 class="heading-medium">Subscriptions to the monthly update</h2>

      <p>When you sign up to our monthly update, you consent to us storing and using your email address so we can send you updates.</p>
        
        <p>Your email address:</p>

        
        <ul class="list-bullet">
          <li>will be stored by us securely for 2 years</li>
          <li>will be shared with IT and other suppliers who enable us to send our updates</li>
          <li>may be stored securely outside of the EU &ndash if it is, it will receive the same legal protection as in the UK through a scheme called <a href="https://www.privacyshield.gov/welcome">Privacy Shield</a>, or through contractual clauses<li>
        </ul>
        
        <p>You can unsubscribe from the monthly update at any time.</p>

        <h2 class="heading-medium">Registers of interest in research</h2>

        <p>We ask people visiting our website to give us feedback on their experience. For those who are interested in taking part in research, we ask for your name and email address. If you provide them, you consent to us contacting you about being involved in research.</p>
        
 <p>Your email address:</p>

        
        <ul class="list-bullet">
          <li>will be stored by us securely for 2 years</li>
          <li>will be shared with IT and other suppliers who enable us to collect survey responses</li>
          <li>may be stored securely outside of the EU &ndash if it is, it will receive the same legal protection as in the UK through a scheme called <a href="https://www.privacyshield.gov/welcome">Privacy Shield</a>, or through contractual clauses<li>
        </ul>
        
        <p>You can ask to have your name and email removed from our list by emailing <a href="mailto:ethnicity@cabinetoffice.gov.uk">ethnicity@cabinetoffice.gov.uk</a>.</p>
        
        <p>We have a separate privacy notice for those who take part in the research itself.</p>
        
        <h2 class="heading-medium">The law and your rights</h2>

        <p>Your data is processed under <a href="https://gdpr-info.eu/art-13-gdpr/">Article 13</a> of the General Data Protection Regulation.</p>
        
        <p>You have the right to withdraw your consent to us keeping and using your data at any time.</p>

        <p>You also have the right to ask for:</p>

        <ul class="list-bullet">
          <li>information about how your email address and/or name are processed</li>
          <li>a copy of all the personal data you’ve given to us, including in an electronic format if desired</li>
          <li>any mistakes in your personal data to be corrected</li>
          <li>your personal data to be deleted if we no longer need it</li>
        </ul>

        <h2 class="heading-medium">How to contact us</h2>

        <p>The body formally responsible for your data, known as the ‘data controller’, is the Cabinet Office. Contact details are as follows:</p>

        <h3 class="heading-small">Email</h3>

        <p><a href="mailto:publiccorrespondence@cabinetoffice.gov.uk">publiccorrespondence@cabinetoffice.gov.uk</a></p>
        
        <h3 class="heading-small">Telephone</h3>

        <p>0207 276 1234</p>

        <h3 class="heading-small">Post</h3>

        <p>Data Protection Officer<br>
        Cabinet Office<br>
        70 Whitehall<br>
        London<br>
        SW1A 2AS</p>

       <h2 class="heading-medium"> Making a complaint to an independent body</h2>

      <p>If you think your personal data has been misused or mishandled, you can <a href="https://www.gov.uk/data-protection/make-a-complaint">make a complaint to the Information Commissioner’s Office (ICO)</a>.</p>



      </div>
    </div>
{% endblock %}
