{% extends "base.html" %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block httpEquiv %}
<meta http-equiv="Content-Security-Policy" content="{{ get_content_security_policy(True) }}">
{%  endblock %}

{% block content %}
        <div class='govuk-grid-row'>
            <div class='govuk-grid-column-full'>
                <h1 class="govuk-heading-l">Search results{% if not static_mode %} for ‘{{ request.args.get('q') }}’{% endif %}</h1>
                <script>
                    (function () {
                        var cx = "{{ config.GOOGLE_CUSTOM_SEARCH_ID }}";
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:searchresults-only></gcse:searchresults-only>
            </div>
        </div>
{% endblock %}
