{% extends "base.html" %}
{% from "_macros/_back_to_top.html" import appBackToTop %}

{% from "_macros/_accordion.html" import govukAccordion %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
    {"url": "", "text": "Style guide"},
  ]
%}

{% block pageTitle %}Style guide - GOV.UK{% endblock %}
{% block metaDescription %}How to write for Ethnicity facts and figures.{% endblock %}
{% block socialTitle %}Style guide{% endblock %}
{% block socialDescription %}How to write for Ethnicity facts and figures.{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Ethnicity in the UK');{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4  govuk-!-margin-top-2">
      Style guide
    </h1>

    <p class="govuk-body">Guidance on writing for Ethnicity facts and figures.</p>

    <ol class="section-list govuk-!-margin-bottom-9">
      <li>
        <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_principles').rstrip('/') }}">
          <h2 class="subsection-title-text">Our writing principles</h2>
          <span class="subsection-summary govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">Writing content our
            users understand and trust.</span>
        </a>
      </li>
      <li>
        <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}">
          <h2 class="subsection-title-text">Writing about ethnicity</h2>
          <span class="subsection-summary  govuk-body  govuk-!-margin-top-1 govuk-!-margin-bottom-0">Words and phrases
            we use or avoid.</span>
        </a>
      </li>
      <li>
        <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_a_z').rstrip('/') }}">
          <h2 class="subsection-title-text">A to Z</h2>
          <span class="subsection-summary govuk-body  govuk-!-margin-top-1 govuk-!-margin-bottom-0">Style, spelling and
            grammar conventions.</span>
        </a>
      </li>
      <li>
        <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_ethnic_groups').rstrip('/') }}">
          <h2 class="subsection-title-text">List of ethnic groups</h2>
          <span class="subsection-summary govuk-body  govuk-!-margin-top-1 govuk-!-margin-bottom-0">Ethnic groups to use when asking for someone’s ethnicity.</span>
        </a>
      </li>
      <li>
        <a class="govuk-link"
           rel="external"
           href="https://design-system.service.gov.uk/patterns/ethnic-group/">
          <h2 class="subsection-title-text">Asking users for their ethnic group</h2>
          <span class="subsection-summary govuk-body  govuk-!-margin-top-1 govuk-!-margin-bottom-0">Design pattern for
            government service teams.</span>
        </a>
      </li>
    </ol>
  </div>
</div>
{% endblock %}
