{% extends "base.html" %}

{% set breadcrumbs = none %}

{% block pageTitle %}Done{% endblock %}

{% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-xl">Registration complete</h1>
                <p class="govuk-body">Your password has been set</p>
                <p class="govuk-body"><a class="govuk-link" href="{{ url_for('security.login')}}">Login here</a></p>
            </div>
        </div>
{% endblock %}
