{% extends "base.html" %}

{% block page_title %}Done{% endblock %}

{% block main_content %}
<main class="main" id="content">
        <div class="grid-row">
            <div class="column-full">
                <h1 class='heading-large no-breadcrumb'>
                    Ethnicity facts and figures
                </h1>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h2>Registration complete</h2>
                    <p>Your password for the Ethnicity Facts and Figures content management system has been set.</p>
                    <p>Your user name is {{ user.email }}.</p>
                    <p>
                        Race Disparity Unit users can now share pages with you to update and edit.
                    </p>
            </div>
        </div>
</main>
{% endblock %}
