{% extends "base.html" %}

{% set breadcrumbs = none %}

{% block pageTitle %}Set password{% endblock %}

{% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Set password</h1>
                <p class="govuk-body">Your user name: {{ user.email }}</p>
                <form class="form"  action="{{url_for('register.confirm_account', token=token)}}" method="POST">
                    {{ form.csrf_token | default('') }}
                    {{ form.password }}
                    {{ form.confirm_password }}
                    <button type="submit" class="govuk-button" name="set">Set password</button>
                </form>
            </div>
        </div>
{% endblock %}
