.top-bar {
    margin-bottom: 1.5em;
}

label {
    text-transform: capitalize;
}

.list-icon {
    font-size: 30px;
    color: white;
    padding: 10px;
}

.pages-menu h4 {
    color: white;
    padding: 10px;
}

.main-content {
    margin-top: 25px;
}