.top-bar {
    margin-bottom: 1.5em;
}

label {
    text-transform: capitalize;
}

.sidebar{
    background: #FAFAFA;
    padding: 32px 20px;
}

.draft {
     text-transform: capitalize;
}

.edit-form {
    margin-top: 25px;
}

.button-right {
    float: right !important;
}

.preview {
    float: right;
    padding: 10px;
}

.flash-message {
    text-align: center;
    font-size: 0.9em;
}