{# Required parameters: id_, name, class_, fieldset_class, field_class, field_type, legend, fields, errors, label_class, disabled #}

{% set govukBaseClass = 'govuk-' + ('checkboxes' if field_type == 'checkbox' else 'radios') %}

<div id="{{ id_ }}" name="{{ name }}" class="govuk-form-group{% if class_ %} {{ class_ }}{% endif %}{% if errors %} govuk-form-group--error{% endif %}">
  {% if fields|length == 1 %}
    {{ fields[0](disabled=disabled) }}
  {% else %}
  <fieldset class="govuk-fieldset{% if fieldset_class %} {{ fieldset_class }}{% endif %}">
    <legend class="govuk-fieldset__legend{% if legend_class %} {{ legend_class }}{% endif %}">
      {{- field.label.text }} {% if errors %}<span class="govuk-error-message">{{ errors[0] }}</span>{% endif -%}
    </legend>
    {% if field.hint or hint %}
    <span class="govuk-hint">{{ field.hint or hint }}</span>
    {% endif %}
      <div class="{{ govukBaseClass }}">
        {% for field in fields %}
            {% set field_options = {"disabled": disabled, "class_": field_class} %}
            {% if loop.last and other_field %}
              {% do field_options.update({"aria-controls": other_field.id + "-wrapper", "aria-expanded": "false"}) %}
            {% endif %}
            {{ field(**field_options) }}
        {% endfor %}
      </div>

      {% if fields and other_field %}
        <div class="panel panel-border-narrow govuk-form-group{% if other_field.errors %} govuk-form-group--error{% endif %}"
              id="{{ other_field.id }}-wrapper">
          {% set field_options = {"disabled": disabled, "class_": field_class} %}
          {{ other_field(**field_options) }}
        </div>
      {% endif %}

      <script>
          document.addEventListener('DOMContentLoaded', function () {
              showHideControl(document.getElementById("{{ fields[-1].id }}"))
          })
      </script>
  </fieldset>
  {% endif %}
</div>
