{# Required parameters: id_, name, class_, fieldset_class, field_class, legend, fields, errors, label_class, disabled #}

<div id="{{ id_ }}" class="form-group {{ class_ }} {% if errors %}form-group-error{% endif %}">
  {% if fields|length == 1 %}
    {{ fields[0](disabled=disabled) }}
  {% else %}
  <fieldset {% if fieldset_class %}class="{{ fieldset_class }}"{% endif %}>
    <legend>
      {{- field.label.text }} {% if errors %}<span class="error-message">{{ errors[0] }}</span>{% endif -%}
    </legend>
    {% if field.hint or hint %}
    <span class="form-hint">{{ field.hint or hint }}</span>
    {% endif %}
      {% for field in fields %}
          {% set field_options = {"disabled": disabled, "class_": field_class} %}
          {% if loop.last and other_field %}
            {% do field_options.update({"disabled": disabled, "aria-controls": other_field.id + "-wrapper", "aria-expanded": "false"}) %}
          {% endif %}
          {{ field(**field_options) }}
      {% endfor %}

      {% if fields and other_field %}
        <div class="panel panel-border-narrow form-group {% if other_field.errors %}form-group-error{% endif %}"
              id="{{ other_field.id }}-wrapper">
          {{ other_field(disabled=disabled) }}
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                showHideControl(document.getElementById("{{ fields[-1].id }}"))
            })
        </script>
      {% endif %}
  </fieldset>
  {% endif %}
</div>
