{# Required parameters: field, id_, name, class_, textarea, diffs, field_params #}

{{ field.label }}

{% if field.hint or hint %}
  <span class="form-hint">{{ field.hint or hint }}</span>
{% endif %}
{% if field.errors %}
  <span class="error-message">{{ field.errors[0] }}</span>
{% endif %}

{{ field.extended_hint if field.extended_hint }}

{% if textarea %}
  <textarea id="{{ id_ }}" name="{{ name }}" class="{{ class_ }}{% if field.errors %} error{% endif %}" {{ field_params }}>{{ value or "" }}</textarea>
{% else %}
  <input id="{{ id_ }}" name="{{ name }}" class="{{ class_ }}{% if field.errors %} error{% endif %}" value="{{ value }}" {{ field_params }}>
{% endif %}

{% if field.character_count_hint %}
  <span id="{{ id_ }}-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
    {{ field.character_count_hint }}
  </span>
{% endif %}


{% if not field.errors and diffs %}
  <p>Your update to "{{ field.label.text }}" is highlighted green and possible deletions are highlighted red. If these changes are fine, save the page, otherwise edit the copy above and then save.</p>
  <div class="differences">
      {{ diffs[name] | render_markdown }}
  </div>
{% endif %}
