{% extends "base.html" %}
{% from "_macros/_back_to_top.html" import appBackToTop %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
  ]
%}

{% block pageTitle %}Chinese ethnic group - GOV.UK Ethnicity facts and figures{% endblock %}
{% block metaDescription %}{% endblock %}
{% block socialTitle %}Chinese ethnic group: facts and figures{% endblock %}
{% block socialDescription %}{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Chinese ethnic group');{% endblock %}



{% block content %}

{# Page title and TOC  #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4  govuk-!-margin-top-2">
      Chinese ethnic group: facts and figures
    </h1>
    <p class="govuk-body-s">Published 27 January 2020</p>

    <div id="toc">
      <div class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-5">Contents</div>
      <ol class="eff-table-of-contents">
        <li><a class="govuk-link"
             href="#about-this-page"
             data-on="click"
             data-event-category="Table of contents link clicked"
             data-event-action="Indian ethnic group summary"
             data-event-label=""><span class="eff-table-of-contents__number">1. </span><span
                  class="eff-table-of-contents__content">About this page</span></a></li>
        <li><a class="govuk-link"
             href="#population"
             data-on="click"
             data-event-category="Table of contents link clicked"
             data-event-action="Chinese ethnic group summary"
             data-event-label=""><span class="eff-table-of-contents__number">2. </span><span
                  class="eff-table-of-contents__content">Population</span></a></li>
        <li><a class="govuk-link"
             href="#education"
             data-on="click"
             data-event-category="Table of contents link clicked"
             data-event-action="Chinese ethnic group summary"
             data-event-label=""><span class="eff-table-of-contents__number">3. </span><span
                  class="eff-table-of-contents__content">Education</span></a></li>
        <li><a class="govuk-link"
             href="#work-and-income"
             data-on="click"
             data-event-category="Table of contents link clicked"
             data-event-action="Chinese ethnic group summary"
             data-event-label=""><span class="eff-table-of-contents__number">4. </span><span
                  class="eff-table-of-contents__content">Work and income</span></a></li>
        <li><a class="govuk-link"
             href="#crime-and-policing"
             data-on="click"
             data-event-category="Table of contents link clicked"
             data-event-action="Chinese ethnic group summary"
             data-event-label=""><span class="eff-table-of-contents__number">5. </span><span
                  class="eff-table-of-contents__content">Crime and policing</span></a></li>
        <li><a class="govuk-link"
             href="#home-ownership-and-renting"
             data-on="click"
             data-event-category="Table of contents link clicked"
             data-event-action="Chinese ethnic group summary"
             data-event-label=""><span class="eff-table-of-contents__number">6. </span><span
                  class="eff-table-of-contents__content">Home ownership and renting</span></a></li>
        <li><a class="govuk-link"
             href="#health"
             data-on="click"
             data-event-category="Table of contents link clicked"
             data-event-action="Chinese ethnic group summary"
             data-event-label=""><span class="eff-table-of-contents__number">7. </span><span
                  class="eff-table-of-contents__content">Health</span></a></li>
      </ol>
    </div>
  </div>
</div>
{# end of Page title and TOC  #}

{# summary section (optional) #}
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="about-this-page">
      <span class="number">1. </span>About this page</h2>

    <p class="govuk-body">This is a summary of statistics about people from the Chinese ethnic group (also referred to
      here as ‘Chinese
      people’) living in England and Wales.</p>

    <p class="govuk-body">It is part of a series of <a rel="external"
         target="_blank"
         href="https://www.gov.uk/government/collections/ethnicity-facts-and-figures-ethnic-group-summaries"
         class="govuk-link">summaries about different ethnic groups</a>.</p>

    <p class="govuk-body">This summary includes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>some population statistics from the most recent Census (2011)</li>
      <li>data on the experiences of people from the Chinese ethnic group in areas including education, work and income,
        crime and policing, housing and health including mental health</li>
    </ul>

    <p class="govuk-body">This is an overview based on a selection of data published on <a href="/"
         class="govuk-link">Ethnicity facts and figures</a> or being published soon.</p>

    <p class="govuk-body">Some published data (for example, on higher education) is only available for the Asian ethnic
      group as a whole.
      Other data (for example, on employment) includes the figures for the Chinese ethnic group only as part of the
      Asian Other or Other ethnic group.</p>

  </div>
</div>
{# end of summary section #}

{# content #}
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l"
        id="population">
      <span class="number">2. </span>Population</h2>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">All data in this section comes from the 2011 Census of England and Wales, unless stated
        otherwise.</p>
    </div>

    <p class="govuk-body">In 2011, there were <a
         href="/uk-population-by-ethnicity/national-and-regional-populations/population-of-england-and-wales/1.4#by-ethnicity"
         class="govuk-link">393,141 people from the Chinese ethnic group</a> in England and Wales, making up 0.7% of the
      total population. This was a <a
         href="/uk-population-by-ethnicity/national-and-regional-populations/population-of-england-and-wales/1.4#by-ethnicity-over-time"
         class="govuk-link">0.3 percentage point increase from 2001</a>.</p>

    <h3 class="govuk-heading-m"
        id="where-chinese-people-live">
      <span class="number">2.1 </span>Where Chinese people live</h3>

    <p class="govuk-body">There were 348 local authorities in England and Wales at the time of the 2011 Census. Just
      over a quarter (26.1%)
      of the Chinese population lived in 13 of them.</p>

    <p class="govuk-body">Manchester was home to the largest Chinese population, with 3.4% of all Chinese people living
      there. This was
      followed by Birmingham (3.2%) and Barnet, Tower Hamlets and Southwark (all at 2.1%).</p>

    <h4 class="govuk-heading-s"
        id="figure-1-percentage-of-the-chinese-population-of-england-and-wales-living-in-each-local-authority-area-top-13-areas-labelled">
      Figure 1: Percentage of the Chinese population of England and Wales living in each local authority area (top 13
      areas labelled)</h4>


    <div><img class="govuk-!-width-full"
           src="/static/images/summaries/Chinese_Report_Population_v1-0.svg"
           alt="A map showing that people from the Chinese ethnic group are clustered in urban areas in London, the Midlands and the North.">
    </div>
    <p class="govuk-body">Source: Census of England and Wales, 2011</p>

    <h4 class="govuk-heading-s"
        id="table-1-percentage-of-the-chinese-population-of-england-and-wales-living-in-each-local-authority-area-top-13">
      Table 1: Percentage of the Chinese population of England and Wales living in each local authority area (top 13)
    </h4>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col"
              class="govuk-table__header">Local authority</th>
          <th scope="col"
              class="govuk-table__header">Number of Chinese residents</th>
          <th scope="col"
              class="govuk-table__header">Percentage of Chinese people living there</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Manchester</td>
          <td class="govuk-table__cell">13,539</td>
          <td class="govuk-table__cell">3.4%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Birmingham</td>
          <td class="govuk-table__cell">12,712</td>
          <td class="govuk-table__cell">3.2%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Barnet</td>
          <td class="govuk-table__cell">8,259</td>
          <td class="govuk-table__cell">2.1%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tower Hamlets</td>
          <td class="govuk-table__cell">8,109</td>
          <td class="govuk-table__cell">2.1%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Southwark</td>
          <td class="govuk-table__cell">8,074</td>
          <td class="govuk-table__cell">2.1%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Liverpool</td>
          <td class="govuk-table__cell">7,978</td>
          <td class="govuk-table__cell">2.0%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Sheffield</td>
          <td class="govuk-table__cell">7,398</td>
          <td class="govuk-table__cell">1.9%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Camden</td>
          <td class="govuk-table__cell">6,493</td>
          <td class="govuk-table__cell">1.7%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Lewisham</td>
          <td class="govuk-table__cell">6,164</td>
          <td class="govuk-table__cell">1.6%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Newcastle upon Tyne</td>
          <td class="govuk-table__cell">6,037</td>
          <td class="govuk-table__cell">1.5%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Nottingham</td>
          <td class="govuk-table__cell">5,988</td>
          <td class="govuk-table__cell">1.5%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Leeds</td>
          <td class="govuk-table__cell">5,933</td>
          <td class="govuk-table__cell">1.5%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Westminster</td>
          <td class="govuk-table__cell">5,917</td>
          <td class="govuk-table__cell">1.5%</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body"><a
         href="/uk-population-by-ethnicity/demographics/people-born-outside-the-uk/1.0#place-of-birth-uk-or-non-uk-by-ethnicity"
         class="govuk-link">23.7% of people from the Chinese ethnic group were born in the UK</a>, the second lowest
      percentage out of all ethnic groups. Over half (55.3%) were born in Eastern Asia and 13.4% were born in South-East
      Asia.</p>

    <p class="govuk-body">59 local authorities had fewer than 200 Chinese residents living there. This is around 1 in 6
      of all local
      authorities.</p>

    <p class="govuk-body"><a rel="external"
         target="_blank"
         href="https://www.gov.uk/government/statistics/english-indices-of-deprivation-2019"
         class="govuk-link">9.7% of Chinese people lived in the most deprived 10% of neighbourhoods</a>, compared with
      8.6% of White British people. (England, 2012/13)</p>

    <h3 class="govuk-heading-m"
        id="age-profile">
      <span class="number">2.2 </span>Age profile</h3>

    <p class="govuk-body">The Chinese ethnic group had a younger age profile than the White British group in 2011.</p>

    <p class="govuk-body"><a
         href="/uk-population-by-ethnicity/demographics/age-groups/1.4#asian-ethnic-groups-age-profile"
         class="govuk-link">47.2% of Chinese people were aged 18 to 34 years old</a> compared with 20.3% of White
      British people. This was the highest percentage out of all ethnic groups for these combined age groups.</p>

    <p class="govuk-body">25.2% of Chinese people were 18 to 24 years old – the highest percentage of Chinese people out
      of all age groups.
      The second highest percentage was in the 25 to 29 age group (12.2%). The younger age profile of the Chinese group
      could reflect the high proportion of students aged 16 and over within the Chinese population and this group
      migrating to the UK (<a rel="external"
         target="_blank"
         href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/internationalmigration/articles/immigrationpatternsofnonukbornpopulationsinenglandandwalesin2011/2013-12-17"
         class="govuk-link">ONS, 2013</a>).</p>

    <p class="govuk-body"><a
         href="/uk-population-by-ethnicity/demographics/working-age-population/1.0#ethnic-groups-by-working-age"
         class="govuk-link">82.1% of people from the Chinese ethnic group</a> were of working age (16 to 64 years old),
      the highest percentage out of all ethnic groups. In comparison, 63.7% of White British people were of working age.
    </p>

    <p class="govuk-body"><a
         href="/uk-population-by-ethnicity/demographics/age-groups/1.4#asian-ethnic-groups-age-profile"
         class="govuk-link">8.0% of Chinese people were aged 60 and above</a> compared with 25.6% of White British
      people.</p>

    <h4 class="govuk-heading-s"
        id="figure-2-age-profile-comparison-for-chinese-and-white-british-ethnic-groups">Figure 2: Age profile
      comparison for Chinese and White British ethnic groups</h4>

    <div><img class="govuk-!-width-full"
           src="/static/images/summaries/Chinese_Report_AgeProfile_v2-0.svg"
           alt="A chart showing that the Chinese ethnic group has a younger age profile than the White British ethnic group, with a much higher percentage of 18 to 34 year olds.">
    </div>

    <h4 class="govuk-heading-s"
        id="table-age-profiles">
      Table 2: Percentage of White British and Chinese people in each age group</h4>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col"
              class="govuk-table__header">Age group</th>
          <th scope="col"
              class="govuk-table__header">White British</th>
          <th scope="col"
              class="govuk-table__header">Chinese</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">85 and over</td>
          <td class="govuk-table__cell">2.6%</td>
          <td class="govuk-table__cell">0.4%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">80 to 84</td>
          <td class="govuk-table__cell">2.8%</td>
          <td class="govuk-table__cell">0.6%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">75 to 79</td>
          <td class="govuk-table__cell">3.6%</td>
          <td class="govuk-table__cell">1.0%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">70 to 74</td>
          <td class="govuk-table__cell">4.4%</td>
          <td class="govuk-table__cell">1.4%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">65 to 69</td>
          <td class="govuk-table__cell">5.4%</td>
          <td class="govuk-table__cell">1.6%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">60 to 64</td>
          <td class="govuk-table__cell">6.8%</td>
          <td class="govuk-table__cell">3.0%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">55 to 59</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">4.2%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">50 to 54</td>
          <td class="govuk-table__cell">6.8%</td>
          <td class="govuk-table__cell">5.1%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">45 to 49</td>
          <td class="govuk-table__cell">7.6%</td>
          <td class="govuk-table__cell">5.8%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">40 to 44</td>
          <td class="govuk-table__cell">7.3%</td>
          <td class="govuk-table__cell">6.3%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">35 to 39</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">7.7%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 to 34</td>
          <td class="govuk-table__cell">5.6%</td>
          <td class="govuk-table__cell">9.8%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25 to 29</td>
          <td class="govuk-table__cell">5.8%</td>
          <td class="govuk-table__cell">12.2%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">18 to 24</td>
          <td class="govuk-table__cell">8.9%</td>
          <td class="govuk-table__cell">25.2%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 to 17</td>
          <td class="govuk-table__cell">3.7%</td>
          <td class="govuk-table__cell">3.9%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">10 to 14</td>
          <td class="govuk-table__cell">5.6%</td>
          <td class="govuk-table__cell">3.8%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">5 to 9</td>
          <td class="govuk-table__cell">5.2%</td>
          <td class="govuk-table__cell">3.3%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">0 to 4</td>
          <td class="govuk-table__cell">5.6%</td>
          <td class="govuk-table__cell">4.7%</td>
        </tr>
      </tbody>
    </table>


    <p class="govuk-body">Source: Census of England and Wales, 2011</p>

    <h3 class="govuk-heading-m"
        id="families-and-households">
      <span class="number">2.3 </span>Families and households</h3>

    <p class="govuk-body"><a
         href="/uk-population-by-ethnicity/demographics/families-and-households/1.1#asian-ethnic-group-by-household-type"
         class="govuk-link">4.5% of Chinese households were made up of lone parents with dependent children</a>,
      compared with 6.7% of White British households.</p>

    <p class="govuk-body">17.4% of Chinese households were made up of married couples with dependent children, compared
      with 14.1% of White
      British households.</p>

    <p class="govuk-body">5.3% of Chinese households were made up of pensioners (either couples or single pensioners),
      compared with 23.0%
      of White British households.</p>

    <p class="govuk-body">7.5% of Chinese households were made up of all full-time students, compared with 0.4% of White
      British
      households. This was the highest percentage out of all Asian ethnic groups.</p>

    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="education">
      <span class="number">3. </span>Education</h2>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">Data in this section covers England for the academic year ending July 2019 unless stated
        otherwise.</p>
    </div>

    <p class="govuk-body">From primary education (key stages 1 and 2) to GCSEs (key stage 4), Chinese pupils had the
      highest level of
      attainment out of all ethnic groups.</p>

    <h3 class="govuk-heading-s"
        id="figure-3-educational-attainment-among-chinese-and-white-british-pupils">Figure 3: Educational attainment
      among Chinese and White British pupils</h4>

    <div><img class="govuk-!-width-full"
           src="/static/images/summaries/Chinese_Report_Education_v1-2.svg"
           alt="A chart showing that pupils from the Chinese ethnic group perform better than White British pupils at every key stage, with the difference getting bigger as pupils get older.">
    </div>

    <h3 class="govuk-heading-s"
        id="table-educational-attainment”>
      Table 3: Educational attainment among Chinese and White British pupils</h4>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col"
              class="govuk-table__header">Attainment</th>
          <th scope="col"
              class="govuk-table__header">Chinese pupils</th>
          <th scope="col"
              class="govuk-table__header">White British pupils</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
     <tr class="govuk-table__row">
          <td class="govuk-table__cell">Early years<br>Expected standard in development goals</td>
          <td class="govuk-table__cell">76%</td>
          <td class="govuk-table__cell">73%</td>
        </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell">Primary education<br>Expected standard in reading, writing and maths</td>
          <td class="govuk-table__cell">80%</td>
          <td class="govuk-table__cell">65%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">GCSEs<br>Grade 5 and over in English and maths</td>
          <td class="govuk-table__cell">75%</td>
          <td class="govuk-table__cell">43%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">A levels<br>Grade A or above in 3 subjects</td>
          <td class="govuk-table__cell">23%</td>
          <td class="govuk-table__cell">11%</td>
        </tr>
             </tbody>
    </table>


    <p class="govuk-body">Source: Department for Education, England. Key stage 2 statistics 2018/19; Key stage 4
      statistics, 207/18; A
      level and other 16 to 18 results, 2017/18. Figures for key stage 2 are rounded to whole numbers by DFE.
      ‘Primary education’ shows figures for key stage 2 reading, writing and maths, which pupils take when they are
      10 or 11 years old.</p>

    <h3 class="govuk-heading-m"
        id="early-years">
      <span class="number">3.1 </span>Early years</h3>

    <p class="govuk-body"><a rel="external"
         target="_blank"
         href="https://www.gov.uk/government/statistics/early-years-foundation-stage-profile-results-2018-to-2019"
         class="govuk-link">76% of pupils from the Chinese ethnic group met the expected standard in development across
        all early learning goals</a>. This was the second highest percentage out of all ethnic groups, after the Indian
      ethnic group (78%).</p>

    <h3 class="govuk-heading-m"
        id="primary-education">
      <span class="number">3.2 </span>Primary education</h3>

    <p class="govuk-body">For <a rel="external"
         target="_blank"
         href="https://www.gov.uk/government/statistics/national-curriculum-assessments-key-stage-2-2019-revised"
         class="govuk-link">key stage 2 reading, writing and maths</a>, pupils from the Chinese ethnic group were the
      highest achieving group at the expected and higher standards. 80% met the expected standard and 28% met the higher
      standard.</p>

    <h3 class="govuk-heading-m"
        id="gcse-english-and-maths">
      <span class="number">3.3 </span>GCSE English and maths</h3>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">Data in this section covers England for the academic year ending July 2018</p>
    </div>

    <p class="govuk-body"><a
         href="/education-skills-and-training/11-to-16-years-old/a-to-c-in-english-and-maths-gcse-attainment-for-children-aged-14-to-16-key-stage-4/3.0#by-ethnicity"
         class="govuk-link">75.3% of pupils from the Chinese ethnic group</a> got a ‘strong pass’ (grade 5 or above) in
      English and maths GCSE. This was the highest percentage out of all ethnic groups.</p>

    <p class="govuk-body">Among <a
         href="/education-skills-and-training/11-to-16-years-old/a-to-c-in-english-and-maths-gcse-attainment-for-children-aged-14-to-16-key-stage-4/3.0#by-ethnicity-and-eligibility-for-free-school-meals"
         class="govuk-link">pupils eligible for free school meals</a>, those from the Chinese ethnic group were most
      likely out of all ethnic groups to get a strong pass (at 67.3%).</p>

    <p class="govuk-body">Among <a
         href="/education-skills-and-training/11-to-16-years-old/a-to-c-in-english-and-maths-gcse-attainment-for-children-aged-14-to-16-key-stage-4/3.0#by-ethnicity-special-education-needs-and-gender"
         class="govuk-link">pupils with special education needs</a>, those from the Chinese ethnic group were the most
      likely out of all ethnic groups to get a strong pass (34.6%).</p>

    <h3 class="govuk-heading-m"
        id="further-education">
      <span class="number">3.4 </span>Further education</h3>

    <p class="govuk-body"><a
         href="/education-skills-and-training/after-education/destinations-of-school-pupils-after-key-stage-4-usually-aged-16-years/3.1#by-ethnicity"
         class="govuk-link">97% of students from the Chinese ethnic group went into further education</a> (such as A
      levels). This was the highest percentage out of all ethnic groups. (England, 2016 to 2017)</p>

    <p class="govuk-body">22.5% of students from the Chinese ethnic group got at least <a
         href="/education-skills-and-training/a-levels-apprenticeships-further-education/students-aged-16-to-18-achieving-3-a-grades-or-better-at-a-level/3.0#by-ethnicity"
         class="govuk-link">3 A grades at A level</a>. This was the highest percentage of the 6 aggregated ethnic
      groups. (England, academic year ending July 2018)</p>

    <p class="govuk-body"><a
         href="/education-skills-and-training/after-education/destinations-of-students-after-key-stage-5-usually-aged-18-years/3.1"
         class="govuk-link">84% of students from the Chinese ethnic group</a> stayed in education after key stage 5.
      This was the highest percentage out of all ethnic groups. (England, 2016 to 2017)</p>

    <h3 class="govuk-heading-m"
        id="school-exclusions">
      <span class="number">3.5 </span>School exclusions</h3>

    <p class="govuk-body"><a rel="external"
         target="_blank"
         href="https://www.gov.uk/government/statistics/permanent-and-fixed-period-exclusions-in-england-2017-to-2018"
         class="govuk-link">Pupils from the Chinese ethnic group had the lowest rate of temporary exclusion</a> out of
      all ethnic groups, at 0.5% (equivalent to 50 exclusions per 10,000 pupils). (England, academic year ending July
      2018)</p>

    <h3 class="govuk-heading-m"
        id="higher-education">
      <span class="number">3.6 </span>Higher education</h3>

    <p class="govuk-body">Pupils from the Chinese ethnic group had the <a
         href="/education-skills-and-training/higher-education/entry-rates-into-higher-education/2.2#by-ethnicity"
         class="govuk-link">highest entry rate into higher education every year between 2006 and 2018</a> out of all
      ethnic groups. In 2018, 66.3% of Chinese 18 year olds went into higher education.</p>

    <h4 class="govuk-heading-s"
        id="figure-4-percentage-of-state-school-pupils-aged-18-getting-a-higher-education-place">Figure 4: Percentage of
      state school pupils aged 18 getting a higher education place</h4>

    <div><img class="govuk-!-width-full"
           src="/static/images/summaries/Chinese_Report_HigherEd_v1-0__1_.svg"
           alt="A chart showing that pupils from the Chinese ethnic group had by far the highest entry rate into higher education every year between 2006 and 2018.">
    </div>

   <h4 class="govuk-heading-s"
        id="table-income-distribution”>
      Table 4: Percentage of state school pupils aged 18 getting a higher education place</h4>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col"
              class="govuk-table__header">Year</th>
 <th scope="col"
              class="govuk-table__header">Asian</th>
          <th scope="col"
              class="govuk-table__header">Black</th>
          <th scope="col"
              class="govuk-table__header">Chinese</th>
       <th scope="col"
              class="govuk-table__header">Mixed</th>
         <th scope="col"
              class="govuk-table__header">White</th>
         <th scope="col"
              class="govuk-table__header">Other</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2006</td>
          <td class="govuk-table__cell">34.5%</td>
          <td class="govuk-table__cell">21.6%</td>
          <td class="govuk-table__cell">53.6%</td>
          <td class="govuk-table__cell">22.9%</td>
          <td class="govuk-table__cell">21.8%</td>
          <td class="govuk-table__cell">27.0%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2007</td>
          <td class="govuk-table__cell">34.6%</td>
          <td class="govuk-table__cell">23.1%</td>
          <td class="govuk-table__cell">52.8%</td>
          <td class="govuk-table__cell">24.3%</td>
          <td class="govuk-table__cell">22.2%</td>
          <td class="govuk-table__cell">27.1%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2008</td>
          <td class="govuk-table__cell">35.7%</td>
          <td class="govuk-table__cell">25.7%</td>
          <td class="govuk-table__cell">52.0%</td>
          <td class="govuk-table__cell">25.0%</td>
          <td class="govuk-table__cell">23.5%</td>
          <td class="govuk-table__cell">27.9%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2009</td>
          <td class="govuk-table__cell">36.1%</td>
          <td class="govuk-table__cell">27.0%</td>
          <td class="govuk-table__cell">52.6%</td>
          <td class="govuk-table__cell">25.7%</td>
          <td class="govuk-table__cell">24.1%</td>
          <td class="govuk-table__cell">27.8%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2010</td>
          <td class="govuk-table__cell">35.0%</td>
          <td class="govuk-table__cell">28.4%</td>
          <td class="govuk-table__cell">52.6%</td>
          <td class="govuk-table__cell">25.6%</td>
          <td class="govuk-table__cell">24.2%</td>
          <td class="govuk-table__cell">27.8%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2011</td>
          <td class="govuk-table__cell">37.0%</td>
          <td class="govuk-table__cell">31.7%</td>
          <td class="govuk-table__cell">60.1%</td>
          <td class="govuk-table__cell">28.9%</td>
          <td class="govuk-table__cell">25.8%</td>
          <td class="govuk-table__cell">30.5%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2012</td>
          <td class="govuk-table__cell">36.1%</td>
          <td class="govuk-table__cell">31.4%</td>
          <td class="govuk-table__cell">57.1%</td>
          <td class="govuk-table__cell">27.8%</td>
          <td class="govuk-table__cell">24.7%</td>
          <td class="govuk-table__cell">30.6%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2013</td>
          <td class="govuk-table__cell">38.6%</td>
          <td class="govuk-table__cell">34.7%</td>
          <td class="govuk-table__cell">57.4%</td>
          <td class="govuk-table__cell">29.2%</td>
          <td class="govuk-table__cell">26.1%</td>
          <td class="govuk-table__cell">32.0%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2014</td>
          <td class="govuk-table__cell">39.8%</td>
          <td class="govuk-table__cell">36.0%</td>
          <td class="govuk-table__cell">59.3%</td>
          <td class="govuk-table__cell">31.0%</td>
          <td class="govuk-table__cell">27.3%</td>
          <td class="govuk-table__cell">34.3%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2015</td>
          <td class="govuk-table__cell">42.3%</td>
          <td class="govuk-table__cell">38.4%</td>
          <td class="govuk-table__cell">61.0%</td>
          <td class="govuk-table__cell">32.3%</td>
          <td class="govuk-table__cell">27.9%</td>
          <td class="govuk-table__cell">36.8%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2016</td>
          <td class="govuk-table__cell">44.1%</td>
          <td class="govuk-table__cell">39.1%</td>
          <td class="govuk-table__cell">60.9%</td>
          <td class="govuk-table__cell">33.4%</td>
          <td class="govuk-table__cell">28.9%</td>
          <td class="govuk-table__cell">38.0%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2017</td>
          <td class="govuk-table__cell">45.8%</td>
          <td class="govuk-table__cell">40.3%</td>
          <td class="govuk-table__cell">63.0%</td>
          <td class="govuk-table__cell">34.0%</td>
          <td class="govuk-table__cell">29.3%</td>
          <td class="govuk-table__cell">40.2%</td>
        </tr>
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">2018</td>
          <td class="govuk-table__cell">46.7%</td>
          <td class="govuk-table__cell">41.2%</td>
          <td class="govuk-table__cell">66.3%</td>
          <td class="govuk-table__cell">33.9%</td>
          <td class="govuk-table__cell">29.5%</td>
          <td class="govuk-table__cell">40.1%</td>
        </tr>
          </tbody>
    </table>


    <p class="govuk-body">Source: UCAS End Of Cycle Report 2018</p>

    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="work-and-income">
      <span class="number">4. </span>Work and income</h2>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">Data in this section covers England, Wales and Scotland in 2018, unless stated otherwise.
      </p>
    </div>

    <h3 class="govuk-heading-m"
        id="young-people-not-in-employment-education-or-training">
      <span class="number">4.1 </span>Young people not in employment, education or training</h3>

    <p class="govuk-body">6.2% of 16 to 24 year olds from the Chinese ethnic group were <a
         href="/work-pay-and-benefits/unemployment-and-economic-inactivity/young-people-not-in-employment-education-or-training-neet/1.1#by-ethnicity"
         class="govuk-link">not in employment, education or training</a>. This was lower than the UK average (12.8%).
    </p>

    <h3 class="govuk-heading-m"
        id="graduate-work-and-pay">
      <span class="number">4.2 </span>Graduate work and pay</h3>

    <p class="govuk-body">5 years after graduating, 72.7% of Chinese graduates were <a
         href="/education-skills-and-training/after-education/destinations-and-earnings-of-graduates-after-higher-education/2.0#graduate-destinations-by-ethnicity"
         class="govuk-link">in sustained education or employment</a>, the lowest percentage out of all ethnic groups.
      However, the destinations of 21.8% of Chinese graduates were not captured (higher than any other ethnic group).
    </p>

    <p class="govuk-body">On average, Chinese graduates were earning <a
         href="/education-skills-and-training/after-education/destinations-and-earnings-of-graduates-after-higher-education/2.0#average-earnings-of-graduates-by-ethnicity"
         class="govuk-link">£28,100 a year 5 years after graduating</a>, compared with a national average of £26,000.
      (England, 2016 to 2017)</p>

    <h3 class="govuk-heading-m"
        id="socio-economic-groups">
      <span class="number">4.3 </span>Socio-economic groups</h3>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">Data in this section covers England and Wales in 2011.</p>
    </div>

    <p class="govuk-body"><a href="/uk-population-by-ethnicity/demographics/socioeconomic-status/latest"
         class="govuk-link">12.8% of people from the Chinese ethnic group were in ‘higher managerial, administrative and
        professional occupations’</a>. This was the second highest percentage out of all ethnic groups after the Indian
      group (15.4%). Altogether, just over a quarter (26.2%) of people from the Chinese ethnic group were in the 2
      ‘managerial and professional’ groups, compared with a national average of 30.4%.</p>

    <p class="govuk-body">33.3% of people from the Chinese ethnic group were full-time students, the highest percentage
      out of all ethnic
      groups.</p>

    <h3 class="govuk-heading-m"
        id="household-income">
      <span class="number">4.4 </span>Household income</h3>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">Data in this section covers the UK for the 3 financial years to March 2018 combined.</p>
    </div>

    <p class="govuk-body"><a
         href="/work-pay-and-benefits/pay-and-income/income-distribution/3.0#by-ethnicity-before-housing-costs"
         class="govuk-link">38% of Chinese households had a total income of £34,700 a year or more</a> (before housing
      costs were deducted), putting them in the 2 highest income groups. This was a higher percentage than the average
      for all Asian households (29%).</p>

    <h4 class="govuk-heading-s"
        id="figure-5-income-distribution-among-chinese-white-british-and-all-asian-including-chinese-households">Figure
      5: Income distribution among Chinese, White British and all Asian (including Chinese) households</h4>

    <div><img class="govuk-!-width-full"
           src="/static/images/summaries/Chinese_Report_IncomeDistribution_v1-1.svg"
           alt="A chart showing that the percentage of Chinese households in the top 2 income groups was about the same as for White British households, but higher than for Asian households as a whole.">
    </div>

    <h4 class="govuk-heading-s"
        id="table-income-distribution”>
      Table 5: Income distribution among Indian, White British and all Asian households</h4>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col"
              class="govuk-table__header">Ethnic group</th>
 <th scope="col"
              class="govuk-table__header">2 lowest income groups</th>
          <th scope="col"
              class="govuk-table__header">Middle</th>
          <th scope="col"
              class="govuk-table__header">2 highest income groups</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Chinese</td>
          <td class="govuk-table__cell">42%</td>
          <td class="govuk-table__cell">20%</td>
          <td class="govuk-table__cell">38%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">White British</td>
          <td class="govuk-table__cell">38%</td>
          <td class="govuk-table__cell">21%</td>
          <td class="govuk-table__cell">42%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Asian</td>
          <td class="govuk-table__cell">53%</td>
          <td class="govuk-table__cell">17%</td>
          <td class="govuk-table__cell">29%</td>
        </tr>
             </tbody>
    </table>


    <p class="govuk-body">Source: Department for Work and Pensions (DWP) Households below average income: 1994/95 to
      2017/18. Please
      note: Values are given to the nearest whole percentage. Due to this rounding, some figures may not add up to
      100%.</p>

    <p class="govuk-body"><a href="/work-pay-and-benefits/pay-and-income/household-income/3.0#by-ethnicity"
         class="govuk-link">29% of Chinese households had a weekly income of £1,000 or more</a>, the third highest
      percentage out of all ethnic groups. 42% of Indian households and 31% of White Other households had a weekly
      income of £1,000 or more.</p>

    <h3 class="govuk-heading-m"
        id="civil-service-workforce-and-pay">
      <span class="number">4.5 </span>Civil Service workforce and pay</h3>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">Data for this section is for 2019 and covers UK and overseas staff.</p>
    </div>

    <p class="govuk-body"><a href="/workforce-and-business/workforce-diversity/civil-service-workforce/3.0#by-ethnicity"
         class="govuk-link">Chinese staff made up 0.3% of civil servants</a>, while Chinese people made up 0.9% of the
      working age population of England and Wales at the time of the 2011 Census.</p>

    <p class="govuk-body">Between 2015 and 2019, there was no change in the percentage of civil servants from the
      Chinese ethnic group,
      although there were slight increases for other ethnic minority groups (Black, Asian and Mixed ethnic groups).</p>

    <p class="govuk-body">Chinese civil servants’ average (median) pay <a
         href="/workforce-and-business/public-sector-pay/civil-service-pay/2.0#by-ethnicity-over-time"
         class="govuk-link">increased by 11% between 2015 and 2019</a>, from £26,600 to £29,500. This was the second
      highest increase in pay out of all ethnic groups. Pay for civil servants with Mixed ethnicity increased by 12%.
    </p>

    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="crime-and-policing">
      <span class="number">5. </span>Crime and policing</h2>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">Data in this section covers England and Wales in the financial year ending March 2019,
        unless stated otherwise.
      </p>
    </div>

    <h3 class="govuk-heading-m"
        id="stop-and-search">
      <span class="number">5.1 </span>Stop and search</h3>

    <p class="govuk-body">There was <a rel="external"
         target="_blank"
         href="https://www.gov.uk/government/statistics/police-powers-and-procedures-england-and-wales-year-ending-31-march-2019"
         class="govuk-link">1 stop and search per 1,000 Chinese people</a>, the lowest rate out of all ethnic groups.
    </p>

    <p class="govuk-body">Rates of stop and search differed depending on the police force area. National rates should be
      used with caution.
      For example, in the Metropolitan and Wiltshire police force areas, there were 3 stop and searches for every 1,000
      Chinese people, while in the Gwent police force area there were 10 stop and searches for every 1,000 Chinese
      people.</p>

    <h3 class="govuk-heading-m"
        id="fear-of-crime-and-confidence-in-the-police">
      <span class="number">5.2 </span>Fear of crime and confidence in the police</h3>

    <p class="govuk-body"><a
         href="/crime-justice-and-the-law/crime-and-reoffending/fear-of-crime/1.4#by-ethnicity-over-time"
         class="govuk-link">16% of Chinese people aged 16 and over thought they were likely to be a victim of crime</a>
      in the next year. This was broadly similar to the national average (19%). (Financial year ending March 2016)</p>

    <p class="govuk-body">87% of Chinese people aged 16 and over said that they had confidence in their local police.
      The national average
      was 75%.</p>

    <h3 class="govuk-heading-m"
        id="victims-of-crime">
      <span class="number">5.3 </span>Victims of crime</h3>

    <p class="govuk-body">14% of Chinese people aged 16 and over said they were a victim of crime in the previous 12
      months. This was
      broadly similar to the national average (15%).</p>

    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="home-ownership-and-renting">
      <span class="number">6. </span>Home ownership and renting</h2>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">Data in this section covers England in 2016/17 and 2017/18 combined, unless stated
        otherwise.</p>
    </div>

    <p class="govuk-body">45% of Chinese households were homeowners, compared with 68% of White British households.</p>

    <p class="govuk-body">10% of Chinese households lived in social housing, compared with 16% of White British
      households.</p>

    <p class="govuk-body">45% of Chinese households rented privately, compared with 16% of White British households.</p>

    <p class="govuk-body"><a
         href="/housing/owning-and-renting/financial-help-from-family-to-buy-a-home/2.1#by-ethnicity"
         class="govuk-link">19% of Chinese homeowner households received financial support from family to buy a
        home</a>, one of the highest percentages out of all ethnic groups. (England, 2015/16 and 2016/17 combined)</p>

    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="health">
      <span class="number">7. </span>Health</h2>

    <div role="note"
         aria-label="Information"
         class="govuk-inset-text">
      <p class="govuk-body">Data in this section covers England for 2017 to 2018.</p>
    </div>

    <h3 class="govuk-heading-m"
        id="mental-health">
      <span class="number">7.1 </span>Mental health</h3>

    <p class="govuk-body">Chinese people had the <a
         href="/health/mental-health/detentions-under-the-mental-health-act/2.1#by-ethnicity-16-ethnic-groups"
         class="govuk-link">lowest rate of detention under the Mental Health Act</a> out of all ethnic groups, at 46
      detentions per 100,000 people.</p>

    <p class="govuk-body">Chinese adults were the <a
         href="/health/mental-health/adults-using-nhs-funded-mental-health-and-learning-disability-services/1.2#by-ethnicity"
         class="govuk-link">least likely to use mental health and learning disability services</a> out of all ethnic
      groups where the data was reliable. Just over 1,500 adults per 100,000 of the Chinese population did so. (England,
      2014 to 2015)</p>

    <h3 class="govuk-heading-m"
        id="diet-and-exercise">
      <span class="number">7.2 </span>Diet and exercise</h3>

    <p class="govuk-body"><a href="/health/diet-and-exercise/overweight-adults/3.0#by-ethnicity-over-time"
         class="govuk-link">34.5% of adults from the Chinese ethnic group were overweight or obese</a>, the lowest
      percentage out of all ethnic groups.</p>

    <p class="govuk-body"><a href="/health/diet-and-exercise/overweight-children/3.1#by-ethnicity"
         class="govuk-link">30.1% of 10 to 11 year olds were overweight</a>, the second lowest out of all ethnic groups
      after the Mixed White and Asian group (29.7%).</p>


    <h2 class="govuk-heading-l govuk-!-padding-top-7">Help us improve this content</h2>
    <p class="govuk-body">Answer 4 short questions to <a rel="external"
         target="_blank"
         href="https://www.surveymonkey.co.uk/r/DWGFDWZ"
         class="govuk-link">help us improve this content</a>.</p>

  </div>
</div>
{# end of content #}

{{ appBackToTop(anchor="toc",text="Contents",attributes={"data-on": "click", "data-event-category":"Back to Top", "data-event-action": "Clicked", "data-event-label": "Contents"}) }}
{% endblock %}
