{% extends "base.html" %}
{% from "_macros/_back_to_top.html" import appBackToTop %}

{% set breadcrumbs =
[
{"url": url_for("static_site.index"), "text": "Home"},
]
%}

{% block pageTitle %}Pensioner income - GOV.UK Ethnicity facts and figures{% endblock %}
{% block metaDescription %}{% endblock %}
{% block socialTitle %}Pensioner income{% endblock %}
{% block socialDescription %}{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','Chinese ethnic group');{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4  govuk-!-margin-top-2" itemprop="headline" id="title">
        Pensioner income
      </h1>
      <p class="govuk-body-s govuk-!-margin-bottom-2">Published <time itemprop="datePublished" datetime="2020-05-26">2 December 2021</time>.</p>
      <p class="govuk-body govuk-!-margin-bottom-2">The data measures how much income pensioner families in the UK receive from all sources before taxes and other deductions, by ethnicity.</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <div id="toc" class="govuk-!-font-size-16">
        <div class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-5">Contents</div>
        <ol class="eff-table-of-contents govuk-list govuk-!-font-size-16">
          <li><a class="govuk-link" href="#download-the-data" data-on="click" data-event-category="Table of contents link clicked" data-event-action="Main facts and figures" data-event-label=""><span class="eff-table-of-contents__number">1. </span><span class="eff-table-of-contents__content">Download the data</span></a></li>
          <li><a class="govuk-link" href="#things-you-need-to-know" data-on="click" data-event-category="Table of contents link clicked" data-event-action="Dimension" data-event-label="By ethnicity (5 ethnic groups)"><span class="eff-table-of-contents__number">2. </span><span class="eff-table-of-contents__content">Things you need to know</span></a></li>
          <li><a class="govuk-link" href="#data-sources" data-on="click" data-event-category="Table of contents link clicked" data-event-action="Data sources" data-event-label=""><span class="eff-table-of-contents__number">3. </span><span class="eff-table-of-contents__content">Data sources</span></a></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-l" id="download-the-data" style="border-top: 1px solid #b1b4b6; padding-top:.75em;">1. Download the data</h2>
          <div class="call-to-action">
            <div itemprop="distribution" itemscope="" itemtype="http://schema.org/DataDownload">
              <meta itemprop="encodingFormat" content="text/csv">
              <meta itemprop="contentSize" content="2 KB">
              <meta itemprop="name" content="Pensioner income">
              <a class="govuk-link govuk-!-font-size-19" itemprop="contentUrl" href="https://www.ethnicity-facts-figures.service.gov.uk/work-pay-and-benefits/pay-and-income/pensioner-income/latest/downloads/pensioner-income-data.csv" data-on="click" data-event-category="CSV downloaded" data-event-action="Source data" data-event-label="Feeling of belonging to a neighbourhood">
                Pensioner income data - Spreadsheet (csv) 245 KB
              </a>
              <div class="metadata">
                <dl>
                  <dt>Location:</dt>
                  <dd>United Kingdom</dd>
                  <dt>Time period:</dt>
                  <dd>April 2008 to March 2020 (3-year averages)</dd>
                </dl>
              </div>
            </div>
          </div>
          <p class="govuk-body">This file contains the following variables:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>measure</li>
              <li>time</li>
              <li>ethnicity (ONS 5+2: Asian, Black, Mixed, White British, White other, Other)</li>
              <li>value</li>
              <li>value_type</li>
              <li>measure type</li>
            </ul>
          </div>
      </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds things-you-need-to-know">
          <h2 class="govuk-heading-l govuk-!-margin-top-9" id="things-you-need-to-know">2. Things you need to know</h2>
          <h3 class="govuk-heading-s">What the data measures</h3>
          <p class="govuk-body">The data measures how much income pensioner families in the UK receive from all sources before taxes and other deductions, by ethnicity.</p>
          <p class="govuk-body">A ‘pensioner family’ is either a single pensioner or a couple (married or living together) that includes at least one pensioner.</p>
          <p class="govuk-body">The data does not include income from other people in the household (such as adult children), except for benefit income of dependent children.</p>
          <p class="govuk-body">The data only covers private households.</p>
          <p class="govuk-body">Percentages are given to the nearest whole number, and income is rounded to the nearest pound. This means some figures may not add up.</p>
          <h3 class="govuk-heading-s">Not included in the data</h3>
          <p class="govuk-body">The data does not include people living in communal accommodation (such as care homes) or with no fixed address.</p>
          <h3 class="govuk-heading-s">The ethnic groups used in the data</h3>
          <p class="govuk-body">The data uses the <a class="govuk-link" href="/style-guide/ethnic-groups">ethnic group categories from the 2011 Census</a>.</p>
          <p class="govuk-body">Data is aggregated for each of the Black, Mixed and Other ethnic groups, which means estimates are shown for these groups as a whole. Data is shown separately for White British and all other White people (‘White Other’ ethnic group).</p>
          <p class="govuk-body">Some households contain people from different ethnic backgrounds. The ethnicity assigned to the household is that of the head of the household (usually the person with the highest income). The data does not account for people of different ethnic backgrounds who live in the same household.</p>
          <h3 class="govuk-heading-s">Methodology</h3>
          <p class="govuk-body">Read the <a class="govuk-link" href="https://www.gov.uk/government/statistics/pensioners-incomes-series-financial-year-2019-to-2020/pensioners-incomes-series-background-information-and-methodology-financial-year-2019-to-2020">detailed methodology document</a> for the data on this page.</p>
          <p class="govuk-body">The data is a time series of 3-year averages, the latest of which is from April 2017 to March 2020. This is to make sure there are enough pensioner families to be able to make reliable generalisations. You can read more about <a class="govuk-link" href="/understanding-our-data/how-to-read-survey-data#combining-multiple-years-of-data">combining multiple years of data</a> and some of the issues involved.</p>
          <p class="govuk-body">Confidence intervals have not been worked out, so comparisons between ethnic groups may not be reliable.</p>
          <p class="govuk-body">Household income has not been adjusted (or ‘equivalised’) to take into account the number of people who live there.</p>
          <p class="govuk-body">The Family Resources Survey has been shown to under-report the number of people receiving benefits compared with the Department for Work and Pensions’ administrative records. For this reason, the percentage of people receiving benefits shown here is likely to be slightly lower than the real percentage.</p>
          <p class="govuk-body">The figures on this page are based on survey data. Find out more about:</p>
          <ul class="govuk-list govuk-list--bullet eff-list--sparse">
          <li>
          <p class="govuk-body"><a class="govuk-link" href="/understanding-our-data/interpreting-our-data">interpreting survey data</a>, including how reliability is affected by the number of people surveyed</p>
          </li>
          <li>
          <p class="govuk-body"><a class="govuk-link" href="/understanding-our-data/how-to-read-survey-data#weighting">how weighting is used</a> to make survey data more representative of the whole group being studied</p>
          </li>
          </ul>
          <h3 class="govuk-heading-s">In the data file</h3>
          <p class="govuk-body">See <a class="govuk-link" href="#download-the-data">Download the data</a> for figures before the period April 2017 to March 2020.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div itemscope="" itemtype="http://schema.org/Dataset">
      <meta itemprop="version" content=" 4.0">
      <div itemprop="spatialCoverage" itemscope="" itemtype="http://schema.org/Place">
        <meta itemprop="name" content="United Kingdom">
      </div>
      <meta itemprop="dateModified" content="2021-08-02">      <meta itemprop="datePublished" content="2021-08-02">      <div itemprop="creator" itemscope="" itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Race Disparity Unit">
        <meta itemprop="url" content="https://www.gov.uk/government/organisations/race-disparity-unit">
      </div>

      <h2 class="govuk-heading-l" id="data-sources">
        3. Data sources
      </h2>

      <div itemprop="isBasedOn" itemscope="" itemtype="http://schema.org/Dataset">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body" itemprop="name"><a class="govuk-link" href="https://www.gov.uk/government/statistics/pensioners-incomes-series-financial-year-2019-to-2020" data-on="click" data-event-category="External link clicked" data-event-action="Data Source (Source Details section)" data-event-label="First year entrants onto undergraduate study" itemprop="url">
            Pensioners’ incomes series: financial year 2019/20</a>
        </p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type of data</h3>
        <p class="govuk-body">Survey data</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type of statistic</h3>
        <p class="govuk-body">National Statistics</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Publisher</h3>
        <p class="govuk-body" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization"><span itemprop="name">Department for Work and Pensions</span></p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Publication frequency</h3>
        <p class="govuk-body">Yearly</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Purpose of data source</h3>
        <p class="govuk-body">The Pensioners’ incomes series is based on data from the Family Resources Survey (FRS). The main purpose of the FRS is to give the Department for Work and Pensions data to develop, monitor and evaluate social welfare policy.</p>
        <p class="govuk-body">The survey is also used by other government departments, including for tax and benefit policy modelling by HM Treasury and HM Revenue and Customs. The FRS is also used by academics and research institutes for social and economic research.</p>

    <div class="eff-document-footer">

      <div class="history-information" id="history">

        <p>
          Publication release date:
          <span class="published definition">
            2 December 2021
          </span>
        </p>


        <div class="change-notes">


            <details id="full-page-history" class="govuk-details eff-details--page-history" data-module="govuk-details" data-event-action="Opened" data-event-category="Disclosure" data-event-label="Full page history" data-on="click">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      full page history
    </span>
  </summary>
  <div class="govuk-details__text">
              <ol class="govuk-list">
            <li>
              <a class="govuk-link" href="/education-skills-and-training/higher-education/first-year-entrants-onto-undergraduate-degrees/4.0"><time datetime="2021-08-02" class="timestamp">2 August 2021</time></a>
              Update with latest available data.
            </li>
          </ol>

  </div>
</details>


        </div>
      </div>
      <div class="related-information">
        <p>
          From:
          <span class="definition">Higher Education Statistics Assocation</span>
        </p>


        <div class="previous-editions">
          Previous editions:

          <ol class="govuk-list">
            <li>
              <a class="govuk-link" href="/education-skills-and-training/higher-education/first-year-entrants-onto-undergraduate-degrees/3.0"><span class="govuk-visually-hidden">Edition published on
                </span>11 December 2020</a>
            </li>
            <li>
              <a class="govuk-link" href="/education-skills-and-training/higher-education/first-year-entrants-onto-undergraduate-degrees/2.0"><span class="govuk-visually-hidden">Edition published on
                </span>20 May 2019</a>
            </li>
            <li>
              <a class="govuk-link" href="/education-skills-and-training/higher-education/first-year-entrants-onto-undergraduate-degrees/1.2"><span class="govuk-visually-hidden">Edition published on
                </span>14 May 2019</a>
            </li>
          </ol>
        </div>

      </div>

    </div>


      <div class="app-back-to-top app-back-to-top--hidden app-back-to-top--fixed" data-module="app-back-to-top">
    <div class="app-back-to-top__container">
      <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#title" data-event-action="Clicked" data-event-category="Back to Top" data-event-label="Contents" data-on="click">        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>Contents
      </a>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-s">Share this page</h2>
      <div class="share">
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-right-4 twitter" href="https://twitter.com/intent/tweet?text=First%20year%20entrants%20onto%20undergraduate%20study&amp;url=https%3A//www.ethnicity-facts-figures.service.gov.uk/education-skills-and-training/higher-education/first-year-entrants-onto-undergraduate-degrees/latest&amp;hashtags=ethnicityfacts&amp;via=cabinetofficeuk" rel="noreferrer noopener nofollow" data-on="click" data-event-category="External link clicked" data-event-action="Share" data-event-label="Twitter"><span class="govuk-visually-hidden">Share on </span>Twitter</a>
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-right-4 facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.ethnicity-facts-figures.service.gov.uk/education-skills-and-training/higher-education/first-year-entrants-onto-undergraduate-degrees/latest" rel="noreferrer noopener nofollow" data-on="click" data-event-category="External link clicked" data-event-action="Share" data-event-label="Facebook"><span class="govuk-visually-hidden">Share on </span>Facebook</a>
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-right-4 linkedin" href="https://www.linkedin.com/cws/share?url=https%3A//www.ethnicity-facts-figures.service.gov.uk/education-skills-and-training/higher-education/first-year-entrants-onto-undergraduate-degrees/latest" rel="noreferrer noopener nofollow" data-on="click" data-event-category="External link clicked" data-event-action="Share" data-event-label="LinkedIn"><span class="govuk-visually-hidden">Share on </span>LinkedIn</a>
      </div>
    </div>
  </div>

  </div>
</div>
</div>
</div>

{# end of content #}

{{ appBackToTop(anchor="toc",text="Contents",attributes={"data-on": "click", "data-event-category":"Back to Top", "data-event-action": "Clicked", "data-event-label": "Contents"}) }}
{% endblock %}
