.rd_chart {
  font-family: "nta", Arial, sans-serif;

  tspan, p, span {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
  }
}

.highcharts-axis {
  stroke-width: 0;

  path {
    stroke-width: 0;
  }
}

.highcharts-legend {
  display: none;
}

.highcharts-tick {
  display: none;
}

.highcharts-xaxis-labels {
  text {
    fill: black !important;
  }
}

.highcharts-xaxis .highcharts-axis-line {
  stroke: black;
}
