.rd_chart {
  font-family: "nta", Arial, sans-serif !important;
  margin-bottom: 40px;

  tspan, p, span, text, g {
    font-family: "nta", Arial, sans-serif !important;
    font-size: 13px !important;

    @media(min-width: 768px) {
      font-size: 16px !important;
    }
  }

  .highcharts-title {
    font-size: 19px !important;
  }
}

.chart-container {
}

.highcharts-legend-item {
  tspan, p, span, text, g {
    font-size: 16px !important;
  }
}

.highcharts-axis {
  stroke-width: 0;

  path {
    stroke-width: 0;
  }
}

.highcharts-tick {
  display: none !important;
}

.small-chart-title {
  padding: 0 15px;
}

.highcharts-title {
  tspan {
    font-weight: bold;
  }
}

.highcharts-yaxis-labels {
  text, span, tspan {
    font-size: 12px !important;
  }
}

.highcharts-xaxis-labels {
  text, span, tspan {
    font-size: 16px !important;
  }
}

.highcharts-xaxis .highcharts-axis-line {
  stroke: black;
}
  