.rd_chart {
  font-family: "nta", Arial, sans-serif !important;
  margin-bottom: 40px;

  tspan, p, span, text, g {
    font-family: "nta", Arial, sans-serif !important;
    font-size: 13px !important;

    @media(min-width: 768px) {
      font-size: 16px !important;
    }
  }

  .highcharts-title {
    font-size: 19px !important;
  }
}

.chart-container {
  @media(min-width: 641px) {
    width: 50%;
  }

  @media(min-width: 992px) {
    width: 33%;
  }
}

.highcharts-legend-item {
  tspan, p, span, text, g {
    font-size: 16px !important;
  }
}

.highcharts-axis {
  stroke-width: 0;

  path {
    stroke-width: 0;
  }
}

.highcharts-tick {
  display: none !important;
}

.highcharts-xaxis-labels, .highcharts-yaxis-labels {
  text, span {
    fill: black !important;
    color: black !important;
    font-size: 16px !important;
  }
}

.highcharts-xaxis .highcharts-axis-line {
  stroke: black;
}
  