// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_base/colours';
@import '_base/typography';

.question-graph {
  img { width: 80%; }
}

.related-items-section {
  border-top: 10px solid $govuk-blue;
  h2 {
    font-size:24px;
    line-height:1.25;
    font-weight:700;
  }

  li {
    margin-bottom:1.25em;
    font-size:16px;
  }
}

.quote{
  margin-top:20px;
  margin-bottom:20px;
  height:120px;
  width:40%;
  margin-left: 10px;
  border-left: 10px solid $grey-1;
}

#location-section{
    img {
    width: 100%;
  }
}


#navigation-tabs {
  &.homepage {
    padding-bottom: 60px;
  }

  .tabs-nav {
    list-style: none;

    li {
      text-align: center;
      font-family: "nta", Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 16px;
      line-height: 1.14286;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid $grey-2;
      float: left;
      width: 16%;
      padding-top: 5px;

      a {
        font-size: 16px;
        line-height: 1.25;
        padding-left: 5px;
        text-align: center;
        padding: 0 1em 0 1em;
        height: 2.25em;
      }
    }

    .selected {
      a {
        color:$black;
        text-decoration: none;

      }
      border: 1px solid $grey-2;
      border-bottom: 1px solid $white;
      z-index:5;
    }

  }

}

.graph-section {
  display:none;
}


.site-search {
  float:right;
}

.hero-container {
  background-color: $govuk-blue;
  width: 100%;
  padding-bottom: 20px;
  clear: both;
  overflow: hidden;
  margin-bottom: 45px;
  font-size: 19px;

  .hero {
    max-width: 990px;
    margin: 0 auto;
    padding: 0;
  }

  .hero-inner {
    padding: 15px 15px 0 15px;
  }

  #content {
    padding-bottom: 0px;
  }
  h1, p {
    color: white;
  }
  h1 {
    margin-bottom: 20px;
  }

}



.introduction {
  font-size: 24px;
  padding-bottom: 20px;
}

.topic {
  padding-bottom: 10px;
}
