//this site_path needs a bit of thinking - might be able to get rid of it if re org this app a bit
$static_path: '/static';
@import '_base/colours';

.plus-minus-icon {
  background-image: url('#{$static_path}/images/icon-plus-minus.svg');
  background: url('#{$static_path}/images/icon-plus-minus.svg');
  height: 16px;
  width: 16px;
  background-position: 0 -16px;
  position:absolute;
  right:15px;
  top: 50%;
  margin-top: -8px;

  &.open{
    background-position: 0 0;
  }
}

#accordion-all-control {
  text-align: center;
  margin-left:85%;

  cursor:pointer;
  border:none;
  font-size:16px;
  font-weight:400;
  background:none;
  color: $link-colour;
  display:block;
}

.accordion-link--expand-all {
  background: transparent;
  border: 0 solid transparent;
  color: $govuk-blue;
  float: right;
  font-size: 16px;
  padding: 8px 0;
}

.accordion__header {
  border-top: 1px solid $grey-2;
  position: relative;
  padding-top: 14px;
  padding-bottom: 12px;
  cursor: pointer;
  clear: both;

  &:hover {
    background: $grey-4;
  }

  button {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    border: 0;
    color: $link-colour;
    padding-left:0;
    text-align: left;
    cursor: pointer;
    background:none;
  }

}

.accordion__body {
  &.downloads {
    a {
      margin-top: 15px;
      display: block;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      font-size: 16px;
    }
  }

  &.no-bullets {
    ul {
      list-style: none;

      li {
        margin-bottom: 0;
      }
    }
  }

  ul {
    li {
      margin-bottom: 15px;
    }
  }
}

.breadcrumbs li {
  background-image: url(images/separator-2x.png);
}

.print-btn {
  background: transparent url(../images/icon-print.png) no-repeat center left;
  border-width: 0;
  text-decoration: underline;
  color: $govuk-blue;
  cursor: pointer;
  outline-width: 0;
  font-size: 16px;
  padding: 5px 0 5px 30px;

  &:hover {
    color: $light-blue;
  }

  @media(min-width: 641px) {
    font-size: 19px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background: transparent url(../images/icon-print-2x.png) no-repeat center left 0 50%;
  }
}

.print-node {
  display: none;
}

@media print {
  details {
    display: none;
  }

  .print-node {
    clear: both;
    overflow: hidden;
    display: block !important;
  }

  html {
    font-size: 50%;
  }

  .accordion__body {
    display: block !important;
  }

  .header-proposition nav ul{
    visibility: hidden;
  }

  table tbody {
    max-height: 100% !important;
  }
}

