//this site_path needs a bit of thinking - might be able to get rid of it if re org this app a bit
$static_path: '/static';
@import '_base/colours';


ul.links {
  list-style-type: none;
  margin-left: 0;
  margin-top: 5px;
}

ul.links li {
  padding-bottom: 10px;
}


.breadcrumbs li {
  background-image: url(images/separator.png);

  @media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url(images/separator-2x.png);
  }
}


.old-edition-notice {
  margin-top: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: $govuk-blue;
  margin-bottom: 45px;
  padding: 20px;
}

.old-edition-notice h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.old-edition-notice p {
  margin-bottom: 0;
}

.print-btn {
  background: transparent url(../images/icon-print.png) no-repeat center left;
  border-width: 0;
  text-decoration: underline;
  color: $govuk-blue;
  cursor: pointer;
  outline-width: 0;
  font-size: 16px;
  padding: 5px 0 5px 30px;

  &:hover {
    color: $light-blue;
  }

  @media(min-width: 641px) {
    font-size: 19px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background: transparent url(../images/icon-print-2x.png) no-repeat center left 0 50%;
  }
}

.print-node {
  display: none;
}

.downloads button {
  display: block;
}

@media print {
  details {
    display: none;
  }

  .print-node {
    clear: both;
    overflow: hidden;
    display: block !important;
  }

  html {
    font-size: 50%;
  }

  .header-proposition nav ul{
    visibility: hidden;
  }

  table tbody {
    max-height: 100% !important;
  }
}


.secondary-source {
  margin-top: 2em;
  border-top: 1px solid #bfc1c3;
}
