@import '_base/colours';
@import '_base/typography';

table {
  @include core-16;
  border-collapse: collapse;

  b {
    font-weight: bold;
  }

  .indent {
    padding-left: 15px !important;
  }

  .parent_row {
    font-weight: bold;
  }

  .child_row {
    padding-left: 15px;
    font-weight: normal;
  }

  /* grouped tables */

  &.grouped {
    &.extra-wide {
      thead {
        tr {
          &:last-child {
            td {
              word-break: break-word;
            }
          }
        }
      }
    }

    thead {
      border-bottom: 1px solid #bfc1c3;

      tr {
        &:first-child {
          td {
            font-weight: bold;
          }
        }
        &:last-child {
          td {
            word-break: normal;
          }
        }
      }

      td {
        border-bottom: 0px solid transparent;
        
        &:first-child {
          border-right: 1px solid #bfc1c3;
        }
      }
    }
    tbody {
      th {
        border-right: 1px solid #bfc1c3;
        min-width: 104px;
      }

    }

    td {
      &.line {
        border-right: 1px solid #bfc1c3;
        padding-right: 10px;
      }
    }
  }

  /* cropped tables */

  &.cropped {
    display: block;
    width: 100%;
    display: table;

    &.table-fix { // ie fixes
      tbody {
        padding-right: 0;
        margin-right: -2px;
      }
    }

    tr {
      width: 100%;
      display: table;
    }

    thead {
      display: block;
      margin-right: 1.5%;
    }

    tbody {
      display: block;
      max-height: 410px;
      overflow-y: scroll;
      padding-right: 1.5%;
      -webkit-overflow-scrolling: touch;

      &:before {
        display: block !important;
        height: 0px;
        opacity: 0;
        transition: 500ms opacity;
      }

      &.scrolling--disabled {
        overflow-y: hidden;
        position: relative;

        &:before {
          display: block !important;
          background: rgba(0, 0, 0, .7);
          content: "Use two fingers for scrolling";
          color: white;
          text-align: center;
          font-size: 24px;
          padding: 40px 0;
          height: 100%;
          left: 0;
          opacity: 1;
          position: absolute;
          top: 0;
          transition: 500ms opacity;
          width: 100%;
        }
      }
    }

    td {
      &.line {
        padding-right: 3px;

        @media(min-width: 768px) {
          padding-right: 10px;
        }
      }
    }

  }

  tr {
    td {
      display: none;
      padding-left: 0;

      @media(min-width: 480px) {
        display: table-cell;
        margin-right: 15px;
      }

      &:first-child, &:last-child {
        display: table-cell;
      }
    }
  }

  td, th {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
  }

  th {
    font-size: 16px;
  }

  td {
    @include core-16($tabular-numbers: true);
    text-align: right;
    vertical-align: text-top;
    padding: 10px 0 10px 10px;
    
    button {
      border: 0;
      padding: 0;
      background: transparent;
      color: $govuk-blue;
      font-size: 14px;

      @media(min-width: 768px) {
        font-size: 16px;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &:active, &:focus {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    
    &:first-of-type {
      @include core-16($tabular-numbers: false);
      padding-left: 0px;
    }

    &.last {
      padding-right: 10px;
    }

    &:focus {
      outline-width: 0;
    }

    &.sorting_asc, &.sorting_desc {
      position: relative;

      button {
        outline-width: 0;
        font-weight: bold;

        &:first-child {
          &:after {
            display: inline-block;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            content: '';
          }
        }

        &:after {
          position: absolute;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 6px solid $govuk-blue;
          content: '';
          top: 18px;
          margin-left: 2px;
        }
      }
    }

    &.sorting_desc {
      button {
        &:after {
          border-top: 0px solid transparent;
          border-bottom: 6px solid $govuk-blue;
        }
      }
    }
  }

  .border-bottom {
    border-bottom: 1px solid $border-colour;
  }

  thead {
    tr {
      font-weight: normal;

      td {
        &.first {
          text-align: left;
          min-width: 120px;
        }
      }

      &.top {
        td {
          border-bottom: 0px transparent solid;
          font-weight: bold;
          text-align: left;
          padding-left: 10px;
        }
      }
    }
  }
  
  .right-border {
      border-right: 1px solid $border-colour;
      padding-right: 10px;
    }

  tbody {
    td {
      border-bottom: 1px solid $border-colour;
    }
  }

  .breakdown-controller {
    color: $link-colour;
    &:hover {
      color: $link-hover-colour;
      cursor: pointer;
    }
  }

  .not-bold {
    font-weight: 400 !important;
  }

  .breakdown {
    td {
    padding-left: 20px;
    }
  }
}

.expand-triangle {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid $link-colour;
  transition-duration: .2s;
  margin-right: 10px;
  margin-left: -19px;
  margin-bottom: 2px;
}

.rotate {
  transition-duration: .2s;
  transform: rotate(90deg);
}

.table-footer {
  text-align: center;
  font-size: 12px;
  padding: 15px 0 0;
  display: block;

  @media(min-width: 768px) {
    font-size: 14px;
  }
}


//responsive table

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  min-width: 300px; // adjust to your needs
  table-layout: auto;

  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
    font-weight: bold;
  }
  
  td {
    display: block; 
    
    &:before {
      content: attr(data-th); // who knew you could do this? The internet, that's who.
      font-weight: bold;
      padding-left: 0px;

      // optional stuff to make it look nicer
      width: 50%; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    padding-left: 0px;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.ethnicity {
  font-size: 24px !important;
  padding-top: 20px;
}

// presentational styling

.rwd-table {
  overflow: hidden;
  th, td {
    @media (min-width: $breakpoint-alpha) { 
    }
  }
}


.multiple-graphs {
  float: right;
}

