@import '_base/colours';
@import '_base/typography';

.font-size-small {
  @include core-16;
}

.no-bullets {
  list-style-type: none;
  margin-left: 0;
}

.bullets {
  &.spaced-out {
    li {
      margin-bottom: 20px;
    }
  }
}

.metadata {
  @include core-16;
  padding-bottom: 40px;
  dt {
    float: left;
    clear: left;
    width: auto;
    min-width: 120px;
  }
  a {
    @include core-16;
  }
  dd {
    display: table-cell;
  }
  p {
    margin: 0;
  }
}

.bigger-data {
  @include core-19;
  dt {
    min-width: 200px;
  }
}

.loose-list {
  li {
    margin-bottom: 5px;
  }
}

.supporting-information {
  margin-top: 40px;
  border-top: 1px solid $border-colour;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.margin-bottom-small {
  margin-bottom: 5px;
}

.margin-bottom-medium {
  margin-bottom: 20px;
}

.margin-bottom-large {
  margin-bottom: 30px;
}
.margin-top-none {
  margin-top: 0px;
}

.margin-top-small {
  margin-top: 5px;
}

.margin-top-medium {
  margin-top: 20px;
}

.margin-top-large {
  margin-top: 30px;
}
dt {
  min-height: 1px;
}

.footer-categories {
  margin-bottom: 20px;
  h2 {
    border-bottom: 1px solid $border-colour;
    padding-bottom: 20px;
  }
  ul {
    margin-top: 30px;
    li {
      list-style: none;
      margin-left: -20px;
      margin-bottom: 20px;
      a {
        text-decoration: underline;
        font-size: 16px;
      }
    }
  }
}

.notice {
  margin: 20px 0px;
  p {
    margin-top: -30px;
  }
  .icon-important {
    text-align: center;
    padding: 6px 5px 5px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $black;
    border-radius: 100%;
    box-sizing: border-box;
  }
}

.meta-heading {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0px;
}


.downloads {
  li {
    margin-left: -20px;
    display: block;
    a {
      margin-left: 10px;
      margin-top: -100px;
    }
  }
  .download-icon {
    padding: 20px 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    width: 50px;
    height: 60px;
    border: 1px solid $black;
    box-sizing: border-box;
    text-shadow:
     -3px -3px 0 white,
      3px -3px 0 white,
     -3px 3px 0 white,
      3px 3px 0 white;
   }
 }

.page-nav {
  background-color: red;
  display: inline-block;
  margin-bottom: 1px solid $border-colour;
  ol {
    li {
      @include core-16;
    }
  }
}

.supporting-content {
  margin-top: 60px;
}

.contextual-analysis, .homepage-list {
  li {
    margin-bottom: 10px;
    a {
      @include core-19;
    }
  }
}


.breadcrumbs {
  a {
    &:visited {
      color: $black;
    }
  }
}

#global-header.with-proposition .header-wrapper .header-proposition {
  display: block;
  clear: both;
  float: left;
  width: 100%;

  @media(min-width: 641px) {
    clear: none;
    display: inline-block;
  }
  
  @media(min-width: 769px) {
    width: 33.33%;
  }
}

#global-header.with-proposition .header-wrapper .header-one-third {
  display: block;
  clear: both;
  float: left;
  width: 100%;

  @media(min-width: 641px) {
    clear: none;
    display: inline-block;
  }
  
  @media(min-width: 769px) {
    width: 33.33%;
  }
}

.heading-xlarge {
  margin-bottom: 45px;
}

.header-nav {
  clear: both;
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  color: white;
  list-style-type: none;
}

.header-nav:after {
  content: "";
  display: block;
  clear: both;
}

.header-nav li {
  float: left;
  width: 50%;
  padding: 3px 15px 3px 0;
  box-sizing: border-box;
}

.header-nav a {
  color: white;
  text-decoration: none;
  line-height: 1.25;
}

.header-nav a:hover {
  text-decoration: underline;
}

@media (min-width: 400px) {
  .header-nav {
    font-size: 16px;
    line-height: 24px;
  }

  .header-nav li {
    float: none;
    width: auto;
    display: inline;
  }
}

header a:link,
header a:visited {
  color: white;
  text-decoration: none;
}


.table-of-measures .actions {
  width: 160px;
  padding-right: 0;
}

.table-of-measures .actions a,
.table-of-measures .actions button {
  margin-right: 10px;
}
