{% extends "template.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset_path }}stylesheets/application.css">
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">ALPHA</strong>
			<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		</p>
	</div>

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large topic">{{ page.title }}</h1>
            {%  if page.meta.type == 'topic' %}
                <p class="lede">{{ page.description | render_markdown | safe }}</p>
            {% endif %}
{#            <h3 class="heading-small">Sections</h3>#}
{#            {%  if page_content.sections  %}#}
{#                <ul>#}
{#                    {%  for section in page_content.sections %}#}
{#                        <li>{{ section }}</li>#}
{#                    {%  endfor %}#}
{#                </ul>#}
{#            {%  endif %}#}
        </div>
    </div>
</main>

{%  endblock %}