{% extends "preview/govuk_template.html" %}

{% block content %}

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large topic">{{ page.title }}</h1>
            <p class="lede">{{ page.description | render_markdown | safe }}</p>
{#            <h3 class="heading-small">Sections</h3>#}
{#            {%  if page_content.sections  %}#}
{#                <ul>#}
{#                    {%  for section in page_content.sections %}#}
{#                        <li>{{ section }}</li>#}
{#                    {%  endfor %}#}
{#                </ul>#}
{#            {%  endif %}#}
        </div>
    </div>

{%  endblock %}