{% extends "base.html" %}

{% block title %}Ethnicity categorisation{% endblock %}

{% block main_content %}

  {% include 'dashboard/_nav.html' %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ethnic_group }}</h1>

      <p class="lede">There are <strong>{{ measure_count }}</strong> published measures using this ethnic group.</p>
    </div>
  </div>

  <table class="measures" id="measures">
      <thead>
        <tr>
          <th class="" aria-sort="none">Topic</th>
          <th class="" aria-sort="none">Sub-topic</th>
          <th class="" aria-sort="ascending">Title</th>
        </tr>
      </thead>

    <tbody>
    {% for subtopic in measure_tree %}
        {% for page in subtopic.measures %}
          <tr>
            <td>{{ subtopic.topic }}</td>
            <td>{{ subtopic.title }}</td>
            <td>
              <a href="{{ page.url }}">{{ page.title }}</a>
                {% for dimension in page.dimensions %}
                    <ul class="dimensions">
                       <li><a href="{{ page.url }}#{{ dimension.title|slugify_value }}">… {{ dimension.short_title }}</a></li>
                    </ul>
                {%  endfor %}
            </td>
          </tr>
        {%  endfor %}
    {%  endfor %}
    </tbody>
  </table>

  <style>
    .measures td {
      vertical-align: top;
    }

    .measures .dimensions {
      margin-top: 5px;
      margin-bottom: 0;
      list-style-type: none;
      margin-left: 0;
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('measures');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>


{% endblock %}