{% extends "base.html" %}

{% block title %}Ethnic groups{% endblock %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class='heading-large'>
          Ethnic groups
      </h1>

        <p class="lede">Our charts and tables reference <strong>{{ ethnicity_values|length }}</strong> different ethnic groups:</p>
    </div>
  </div>

  <table class="column-two-thirds table-skinny ethnic-groups" id="ethnic-group">

    <thead>
      <tr>
        <th aria-sort="none">Ethnic group</th>
        <th class="numeric" aria-sort="descending">Pages</th>
        <th class="numeric" aria-sort="none">Dimensions</th>
      </tr>
    </thead>

    <tbody>
      {% for ethnic_group in ethnic_groups %}
            <tr>
              <th>{{ ethnic_group.value }}</th>
              <td class="numeric">{{ ethnic_group.pages }}</td>
              <td class="numeric">{{ ethnic_group.dimensions }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>


  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('ethnic-group');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>

{% endblock %}