{% extends "base.html" %}

{% block title %}{{ ethnicity_categorisation.title }}{% endblock %}

{% block main_content %}

  {% include 'dashboard/_nav.html' %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ ethnicity_categorisation.title }}</h1>

        {% if pages|length > 1 %}
            <p class="lede">There are <strong>{{ pages|length }}</strong> published measures using this categorisation.</p>
        {% else %}
            <p class="lede">There is <strong>1</strong> published measure using this categorisation.</p>
        {% endif %}
    </div>
  </div>

  <table class="measures" id="measures">
      <thead>
        <tr>
          <th class="" aria-sort="none">Topic</th>
          <th class="" aria-sort="none">Sub-topic</th>
          <th class="" aria-sort="ascending">Title</th>
        </tr>
      </thead>

    <tbody>
    {% for page in pages %}
        <tr>
        <td>{{ page.topic }}</td>
        <td>{{ page.subtopic }}</td>
        <td>
          <a href="{{ page.measure_url }}">{{ page.measure }}</a>
            {% for dimension in page.dimensions %}
                <ul class="dimensions">
                   <li><a href="{{ page.measure_url }}#{{ dimension.dimension|slugify_value }}">… {{ dimension.short_title }}</a></li>
                </ul>
            {%  endfor %}
        </td>
      </tr>
    {%  endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener('DOMContentLoaded', function() {

      var table = document.getElementById('measures');

      if (table) {
        new SortableTable(table)
      }
    })
  </script>


{% endblock %}