{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block main_content %}

  <style>

    h1.heading-xlarge {
      margin-bottom: 20px;
    }

    .lede {
      margin-bottom: 40px;
    }

    .grid-row.dashboards {
      margin-bottom: 0;
      margin-top: 0;
    }

    .dashboards .heading-medium {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .dashboards a {
      text-decoration: none;
      display: block;
      margin-bottom: 40px;
    }

    .dashboards p {
      font-size: 16px;
      margin-top: 0;
    }

    .dashboards a .data {
      color: black;
      display: none;
    }


    .clearfix,
    .dashboards a:after {
      content: '';
      display: block;
      clear: both;
    }

    .dashboards a h2 {
      color: inherit;
      margin-bottom: 0px;
    }

    .dashboards .data {
      float: left;
      margin-right: 40px;
    }

  </style>

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Dashboards
      </h1>
      <p class="lede">Find information about the pages and data published on <a href="#">Ethnicity facts and figures</a>.</p>
    </div>
  </div>

  <div class="grid-row dashboards">

    <div class="column-full">
      <h2 class="heading-medium">Publications</h2>
    </div>

    <div class="column-one-third">
      <a href="#">
        <h2>Pages</h2>
        <p class="clearfix">A week-by-week breakdown of all new and updated pages.</p>

        <div class="data">
          <span class="data-item bold-xlarge">151</span>
          <span class="data-item bold-xsmall">pages</span>
        </div>

        <div class="data">
          <span class="data-item bold-xlarge">2</span>
          <span class="data-item bold-xsmall">updates</span>
        </div>

      </a>
    </div>

    <div class="column-one-third">
      <a href="#">
        <h2>Planned &amp; in progress</h2>
        <p>What’s planned and currently being worked&nbsp;on.</p>
        <div class="data">
          <span class="data-item bold-xlarge">183</span>
          <span class="data-item bold-xsmall">planned</span>
        </div>

        <div class="data">
          <span class="data-item bold-xlarge">26</span>
          <span class="data-item bold-xsmall">in progress</span>
        </div>
      </a>
    </div>
  </div>

  <div class="grid-row dashboards">

    <div class="column-full">
      <h2 class="heading-medium">Data</h2>
    </div>

    <div class="column-one-third">
      <a href="#">
        <h2>Ethnic groups</h2>
        <p>A list of all ethnic groups referenced in the data and the pages they appear in.</p>
        <div class="data">
          <span class="data-item bold-xlarge">39</span>
          <span class="data-item bold-xsmall">ethnic groups referenced</span>
        </div>
      </a>
    </div>

    <div class="column-one-third">
      <a href="#">
        <h2>Ethnicity categorisations</h2>
        <p>A list of ethnicity categorisations used in the data.</p>
        <div class="data">
          <span class="data-item bold-xlarge">19</span>
          <span class="data-item bold-xsmall">categorisations</span>
        </div>
      </a>
    </div>

    <div class="column-one-third">
      <a href="#">
        <h2>Geographic breakdown</h2>
        <p>A list of the levels of geography that the data is broken down into.</p>
        <div class="data">
          <span class="data-item bold-xlarge">5</span>
          <span class="data-item bold-xsmall">levels of geography</span>
        </div>
      </a>
    </div>

  </div>

{% endblock %}
