{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

    <div class="grid-row">
      <div class="column-full">
        <h1 class='heading-large'>
            Published measures
        </h1>

        <p>Since launching on {{ data.first_publication | format_friendly_date }} we have published:</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        <div class="stat">
          <span class="bold-xlarge">{{ data.number_of_publications }}</span>
          <span class="">{% if data.number_of_publications == 1 %}Measure{% else %}Measures{% endif %}</span>
        </div>

        <div class="stat">
          <span class="bold-xlarge">{{ data.number_of_major_updates }}</span>
          <span class="">{% if data.number_of_major_updates == 1 %}Update{% else %}Updates{% endif %}</span>
        </div>
      </div>
      <div class="column-two-thirds">

        {% set graph_height = 220 %}
        {% set graph_width = 630 %}
        {% set left_margin = 50 %}
        {% set right_margin = 20 %}
        {% set top_margin = 40 %}
        {% set bottom_margin = 40 %}

        <!-- TODO: generate a cumulative list of publications by week -->
        {% set values = [104,106,113,114,114,120,120,124,125,127,136,136,136,136,137,141,142,143] %}

        {% set xScale = (graph_width - (left_margin + right_margin)) / (values|length - 1) %}
        {% set yScale = (graph_height - (top_margin + bottom_margin)) / (values|last) %}

        <svg viewbox="0 0 {{ graph_width }} {{ graph_height }}" style="width: 100%; margin-bottom: 10px;">

          <rect width="{{ graph_width }}" height="{{ graph_height }}" x="0" y="0" fill="#F5F5F5" />

          <!-- X axis labels -->
          <text x="{{ left_margin }}" y="{{ (graph_height - bottom_margin) + 20 }}" text-anchor="start" style="font-size: 12px;">{{ (data.weeks|first).week | format_friendly_short_date_with_year }}</text>
          <text x="{{ graph_width - right_margin }}" y="{{ (graph_height - bottom_margin) + 20 }}" text-anchor="end" style="font-size: 12px;">{{ (data.weeks|last).week | format_friendly_short_date_with_year }}</text>


          <line x1="{{ left_margin }}" x2="{{ graph_width - right_margin }}" y1="{{ graph_height - bottom_margin }}" y2="{{ graph_height - bottom_margin }}" stroke="#e6e6e6" stroke-width="1"/>

          <!-- First value label -->
          <text x="{{ left_margin + 0.5 }}" y="{{ (graph_height - bottom_margin) - ((values|first) * yScale) - 14 }}" text-anchor="middle" style="font-size: 16px;">{{ values|first }}</text>

          <!-- Last value label -->
          <text x="{{ (graph_width - (right_margin + 0.5)) }}" y="{{ (graph_height - bottom_margin) - ((values|last) * yScale) - 13 }}" text-anchor="middle" style="font-size: 16px;">{{ values|last }}</text>

          <path d="
          {% for value in values %}
            {% if loop.index0 == 0 %}M{% else %}L{% endif %}
            {{ (loop.index0 * xScale) + left_margin + 0.5 }} {{ (graph_height - bottom_margin) - (value * yScale) }}

          {% endfor %}
          " stroke-width="2" stroke="#2B8CC4" fill="none" />

          {% for value in values %}
            <circle cx="{{ (loop.index0 * xScale) + left_margin + 0.5 }}" cy="{{ (graph_height - bottom_margin) - (value * yScale) }}" r="4" fill="#2B8CC4" />
          {% endfor %}

        </svg>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">
        <table class="measures-by-week">
            <thead>
                <tr>
                    <th>Week beginning</th>
                    <th>Measures</th>
                    <th>Updates</th>
                </tr>
            </thead>
            {% for week in data.weeks %}
                <tbody class="collapsed">
                  <tr class="week header {% if not week['publications'] and not week['major_updates'] %}empty{% endif %}">
                    <th>{{ week['week'] | format_friendly_date }}</th>
                    <td>{{ week['publications'] | count }}</td>
                    <td>{{ week['major_updates'] | count }}</td>
                  </tr>
                  {% if week['publications'] or week['major_updates'] %}
                      <tr class="measure-titles">
                        <td colspan="3">
                          {% if week['publications'] %}
                              <p>New measures:</p>
                              <ul>
                                {% for page in  week['publications'] %}
                                    <li><a href="{{ url_for('static_site.measure_page',
                                                            topic=page.parent().parent().uri,
                                                            subtopic=page.parent().uri,
                                                            measure=page.uri,
                                                            version='latest') }}">{{ page.title }}</a>
                                        <span class="source">{{ page.department_source.name }}</span>{{ page.publication_date | format_friendly_short_date}}</li>
                                {% endfor %}
                              </ul>
                          {% endif %}
                          {% if week['major_updates'] %}
                              <p>Updates:</p>
                              <ul>
                                {% for page in week['major_updates'] %}
                                    <li><a href="{{ url_for('static_site.measure_page',
                                                            topic=page.parent().parent().uri,
                                                            subtopic=page.parent().uri,
                                                            measure=page.uri,
                                                            version='latest') }}">{{ page.title }}</a>
                                        <span class="source">{{ page.department_source.name }}</span>{{ page.publication_date | format_friendly_short_date}}</li>
                                {% endfor %}
                              </ul>
                          {% endif %}
                        </td>
                      </tr>
                  {% endif %}
                </tbody>
            {%  endfor %}
        </table>
      </div>
    </div>

    <script>
      collapsibleTableBodies(document.querySelector('.measures-by-week'))
    </script>

{% endblock %}
