{% macro render_breadcrumbs(breadcrumbs) %}
  {% if breadcrumbs is not defined or breadcrumbs %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div id="breadcrumb" class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            {% if breadcrumbs is defined %}
              {% for breadcrumb in breadcrumbs %}
              <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
              </li>
              {% endfor %}
            {% else %}
            <li>
              <a class="govuk-breadcrumbs__list-item" href="{{ url_for('static_site.index') }}">Ethnicity facts and figures</a>
            </li>
            {% endif %}
          </ol>
        </div>

      </div>
    </div>
  {% endif %}
{% endmacro %}
