{% macro render_flash_messages(messages) %}
  {% if messages %}
    <div class='govuk-grid-row'>
      <div class='govuk-grid-column-full'>
          <div class="flash-message">
            {% for category, message in messages %}
            <div data-alert class="alert-box {% if category in ['error', 'dimension-error'] %}error{% else %}{{ category }}{% endif %}">
              <span>{{ message|render_markdown }}</span>
            </div>
            {% endfor %}
          </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
