<header id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="{{ homepage_url|default('https://www.gov.uk') }}" title="{{ logo_link_title|default('Go to the GOV.UK homepage') }}" id="logo" class="content">
          <img src="/static/images/gov.uk_logotype_crown_invert_trans.png?0.19.2" width="36" height="32" alt="" /> GOV.UK
        </a>
      </div>
    </div>
    <div class="header-proposition">
      <div class="content">
        <nav id="proposition-menu">
          <span itemprop="name"><a itemprop="url" href="{{ url_for('static_site.index',_external=True) }}" id="proposition-name">
            Ethnicity facts and figures
          </a></span>
          <ul class="header-nav">
            <li><a href="{{ url_for('static_site.ethnicity_in_the_uk') }}">Ethnicity in the UK</a></li>
            <li><a href="{{ url_for('static_site.background') }}">Background</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="header-one-third">
      <a href="#search-form" class="search-toggle js-header-toggle" aria-expanded="false">Search</a>
      <form id="search-form" class="site-search" action="{{ config.GOOGLE_CUSTOM_SEARCH_ENDPOINT }}" method="get" role="search">
        <div class="content">
          <label for="site-search-text" class="site-search-label" id="site-search-label">Search</label>
          <input type="search" name="q" id="site-search-text" title="Search facts and figures" class="js-search-focus" value="{{ current_search_value }}">
          <input id="search-form-cx" type="hidden" name="cx" value="{{ config.GOOGLE_CUSTOM_SEARCH_ID }}">
          <input class="submit" type="submit" value="Search">
        </div>
      </form>
    </div>
  </div>
</header>
