{% macro render_phase_banner(reversed=False) %}
<div class="{% if reversed %}eff-phase-banner-container{% else %}govuk-phase-banner-container{% endif %}">
  <div class="govuk-width-container">
    <div class="{% if reversed%}eff-phase-banner{% else %}govuk-phase-banner{% endif %}">
      <p class="{% if reversed%}eff-phase-banner__content{% else %}govuk-phase-banner__content{% endif %}">
        {% if config.SURVEY_ENABLED %}
          <span>We are creating new standards for ethnicity data &ndash; <a class="govuk-link" href="https://www.gov.uk/government/consultations/standards-for-ethnicity-data" data-on="click" data-event-category="Survey" data-event-action="Link clicked" data-event-label="Page header">tell us your views</a>.</span>
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endmacro %}
