<div class="eff-phase-banner-container">
  <div class="govuk-width-container">
    <div class="eff-phase-banner">
      <p class="eff-phase-banner__content">
        <strong class="govuk-tag eff-phase-banner__content__tag">BETA</strong>
        {% if config.SURVEY_ENABLED %}
          <span>Help us improve this website – <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/B2CBF6Z" data-on="click" data-event-category="Survey" data-event-action="Link clicked" data-event-label="Page header">answer 4 short questions</a>.</span>
        {% else %}
          <span>This is a new service – please send your feedback to <a class="govuk-link" data-on="click" data-event-category="E-mail link clicked" data-event-action="Contact e-mail" data-event-label="Header" href="mailto:ethnicity@cabinetoffice.gov.uk">ethnicity@cabinetoffice.gov.uk</a></span>
        {% endif %}
      </p>
    </div>
  </div>
</div>
