{% macro previousAndNextNavigation(previous_title=None,previous_link=None,next_title=None,next_link=None) %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <nav aria-label="Navigation" class="eff-previous-and-next-nav">

        <ul class="eff-previous-and-next-nav--list">

          {% if previous_title and previous_link %}
          <li class="eff-previous-and-next-nav__item">
            <div class="govuk-grid-column-one-third">
            <a href="{{ previous_link }}" class="govuk-link eff-previous-and-next-nav__link">
              <span class="eff-previous-and-next-nav__title">
                <svg class="eff-previous-and-next-nav__icon" xmlns="http://www.w3.org/2000/svg" height="12" width="15" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
               Previous</span><span class="govuk-visually-hidden">:</span>
              <span class="eff-previous-and-next-nav__label"> {{ previous_title }}</span>
            </a>
              </div>
          </li>
          {% else %}
          <li class="eff-previous-and-next-nav__item">
            <div class="govuk-grid-column-one-third">&nbsp;</div>
          </li>
          {% endif %}
          <li class="eff-previous-and-next-nav__item">
            <div class="govuk-grid-column-one-third">&nbsp;</div>
          </li>
          {% if next_title and next_link %}
          <li class="eff-previous-and-next-nav__item">
            <div class="govuk-grid-column-one-third">
              <a href="{{ next_link }}" class="govuk-link eff-previous-and-next-nav__link">
                <span class="eff-previous-and-next-nav__title">
                  <svg class="eff-previous-and-next-nav__icon" xmlns="http://www.w3.org/2000/svg" height="12" width="15" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                 Next</span><span class="govuk-visually-hidden">:</span>
                <span class="eff-previous-and-next-nav__label"> {{ next_title }}</span>
              </a>
            </div>
          </li>
          {% endif %}
        </ul>

      </nav>

    </div>
  </div>

{% endmacro %}
