{% extends "base.html" %}
{% from "cms/forms.html" import render_field %}

{% set breadcrumbs = none %}

{% block pageTitle %}Forgotten password{% endblock %}

{% block content %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">Forgotten password</h1>

            <p>
                Enter your email address and we'll send you a link so you can reset your password.
                Password reset links are only valid for 24 hours.
            </p>
            <form action="{{ url_for('auth.forgot_password') }}" method="POST">
                {{ form.csrf_token }}
                {{ render_field(form.email,
                                label_class='form-label-bold',
                                hint='Enter the email address you login with') }}

                <button type="submit" class="button" name="send-reset-email">Send reset email</button>
            </form>
        </div>
    </div>
{% endblock %}
