{% extends "base.html" %}
{% from "cms/forms.html" import render_field %}
{% block title %}Forgotten password{% endblock %}

{% block messages %}
    <div class='grid-row'>
        <div class='column-full'>
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    <div class="row">
                        <div class="flash-message">
                            {% for message in messages %}
                                <div data-alert class="alert-box">
                                    <span>{{ message[1] }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Forgotten password</h1>
            <p>
                Enter your email address and we'll send you a link so you can reset your password.
                Password reset links are only valid for 24 hours.
            </p>
            <form action="{{ url_for('auth.forgot_password') }}" method="POST">
                {{ render_field(form.email,
                                label_class='form-label-bold',
                                hint='Enter the email address you login with') }}

                <button type="submit" class="button" name="send-reset-email">Send reset email</button>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
{% endblock %}