{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block nav_home %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-offset-2 large-6 columns">
          <h2>Login</h2>
            <form action="{{url_for('auth.login')}}" method="post">
            <label for="email">{{ form.email.label }}</label>
                {{ form.email }}
                <button type="submit" class="button">Login</button>
                {{ form.csrf_token }}
            </form>
        </div><!-- columns -->
     </div><!-- row -->
{% endblock %}
