{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block nav_home %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="small-6 columns">
          <h1>Login</h1>
            <form action="{{url_for('auth.login')}}" method="post">
            <label>{{ form.label }}
                {{ form.email }}
            </label>
                <button type="submit" class="button">Login</button>
                {{ form.csrf_token }}
          </form>
        </div><!-- columns -->
     </div><!-- row -->
{% endblock %}
