{% extends "base.html" %}

{% set breadcrumbs = none %}

{% block pageTitle %}Set a new password{% endblock %}
{% block bodyClasses %}rd_cms{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class='govuk-heading-xl'>Set a new password</h1>

            <form action="{{ url_for('auth.reset_password', token=token) }}" method="POST">
                {{ form.csrf_token }}
                {{ form.password }}
                {{ form.confirm_password }}

                <button type="submit" class="govuk-button" name="update-password">Update password</button>
            </form>
        </div>
    </div>
{%  endblock %}
