{% extends "base.html" %}
{% from "_macros/_back_to_top.html" import appBackToTop %}

{% from "_macros/_accordion.html" import govukAccordion %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
    {"url": url_for("static_site.style_guide"), "text": "Style guide"},
    {"url": "", "text": "A to Z"}
  ]
%}

{% block pageTitle %}A to Z - GOV.UK{% endblock %}
{% block metaDescription %}A to Z of guidance on how to write words and phrases that appear commonly on Ethnicity facts and figures{% endblock %}
{% block socialTitle %}A to Z{% endblock %}
{% block socialDescription %}A to Z of guidance on how to write words and phrases that appear commonly on Ethnicity facts and figures{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','A to Z');{% endblock %}


{% block content %}
<div id="style-guide-az">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4  govuk-!-margin-top-2">
        A to Z
      </h1>

      <p class="govuk-body">This A to Z is for anyone writing content for Ethnicity facts and figures. It
        includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>general guidance on formatting, grammar and punctuation</li>
        <li>example text that can be used in commentary</li>
      </ul>

      <p class="govuk-body">It should be used alongside guidance on <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}">writing about
          ethnicity</a> and <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_principles').rstrip('/') }}">our writing principles</a>.</p>

    </div>

    <div class="govuk-grid-column-full">
      <nav id="toc">
        <ul>
          <li><a class="govuk-link"
               href="#a">A</a></li>
          <li><a class="govuk-link"
               href="#b">B</a></li>
          <li><a class="govuk-link"
               href="#c">C</a></li>
          <li><a class="govuk-link"
               href="#d">D</a></li>
          <li><a class="govuk-link"
               href="#e">E</a></li>
          <li><a class="govuk-link"
               href="#f">F</a></li>
          <li><a class="govuk-link"
               href="#g">G</a></li>
          <li><a class="govuk-link"
               href="#h">H</a></li>
          <li><span>I</span></li>
          <li><span>J</span></li>
          <li><span>K</span></li>
          <li><a class="govuk-link"
               href="#l">L</a></li>
          <li><a class="govuk-link"
               href="#m">M</a></li>
          <li><a class="govuk-link"
               href="#n">N</a></li>
          <li><a class="govuk-link"
               href="#o">O</a></li>
          <li><a class="govuk-link"
               href="#p">P</a></li>
          <li><span>Q</span></li>
          <li><a class="govuk-link"
               href="#r">R</a></li>
          <li><a class="govuk-link"
               href="#s">S</a></li>
          <li><span>T</span></li>
          <li><a class="govuk-link"
               href="#u">U</a></li>
          <li><span>V</span></li>
          <li><a class="govuk-link"
               href="#w">W</a></li>
          <li><span>X</span></li>
          <li><span>Y</span></li>
          <li><span>Z</span></li>
        </ul>
      </nav>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h2 id="a"
          class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-7 atoz-section">A</h2>

      <h3 class="govuk-heading-m"
          id="abbreviations-and-acronyms">Abbreviations and acronyms</h3>

      <p class="govuk-body">Follow the <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#abbreviations-and-acronyms">GOV.UK style
          guide on abbreviations</a>.</p>

      <p class="govuk-body">See also <a class="govuk-link"
           href="#ethnicity-facts-and-figures">Ethnicity facts and figures</a>, <a class="govuk-link"
           href="#race-disparity-unit">Race Disparity Unit</a> and <a class="govuk-link"
           href="#race-disparity-audit">Race Disparity
          Audit</a>.</p>

      <h3 class="govuk-heading-m"
          id="age-standardisation">Age standardisation</h3>

      <p class="govuk-body">If figures have been age standardised, add this content to the ‘Methodology’ subsection in ‘Things you need to know’:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">The statistics have been age-standardised so comparisons can be made between ethnic groups as if they had the same age profile (the number of people of different ages within an ethnic group). They do not show the actual percentage of people in each ethnic group who [insert text relevant to topic].</p>
      </div>

      <h3 class="govuk-heading-m"
          id="ages">Ages</h3>

      <p class="govuk-body">Use conversational language when talking about ages.</p>

      <p class="govuk-body">For example:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>‘16 to 64 year olds’, not ‘people aged 16 to 64 years’</li>
        <li>‘5 year olds’, not ‘children aged 5 years old’</li>
        <li>‘under 18s’, not ‘people aged 17 and under’</li>
      </ul>

      <p class="govuk-body">There are some exceptions. For example, say ‘people aged 65 and over’, not ‘over 64s’.</p>
      
  <p class="govuk-body">See <a class="govuk-link"
           href="#working-age">Working age</a>.</p>

      <h3 class="govuk-heading-m"
          id="academic-years">Academic years</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="#dates">Dates</a>.</p>

      <h3 class="govuk-heading-m"
          id="averages">Averages</h3>

      <p class="govuk-body">Don’t only use ‘mean’ or ‘median’ in bullet points. Say ‘average (median)’ instead.</p>

      <p class="govuk-body">Explain the type of average used in the ‘Methodology’ subsection in ‘Things you need to know’, and link to <a class="govuk-link"
           href="{{ url_for('static_site.our_statistical_principles').rstrip('/') }}">Our statistical principles</a>.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="b"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">B</h2>

      <h3 class="govuk-heading-m"
          id="bame-and-bme-black-asian-and-minority-ethnicblack-and-minority-ethnic">BAME and BME</h3>

      <p class="govuk-body">Don’t use these terms.</p>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#bame-bme-and-people-of-colour">Writing
          about
          ethnicity</a>.</p>

      <h3 class="govuk-heading-m"
          id="blacks">Blacks</h3>

      <p class="govuk-body">Don't use this term.</p>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#phrasing">Writing about
          ethnicity</a>.</p>

      <h3 class="govuk-heading-m"
          id="broad-and-specific-ethnic-groups">Broad and specific ethnic groups</h3>

      <p class="govuk-body">Don’t use these terms.</p>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#broad-and-specific-ethnic-groups">Writing
          about
          ethnicity</a>.</p>

      <h3 class="govuk-heading-m"
          id="bullet-points">Bullet points</h3>

      <p class="govuk-body">In most cases, follow the <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#bullet-points-steps">GOV.UK guidance on
          bullet points</a>.</p>

      <p class="govuk-body">There’s one exception. Don’t add a lead-in line above the bullet points in ‘Main facts and
        figures’.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="c"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">C</h2>

      <h3 class="govuk-heading-m"
          id="capitalisation">Capitalisation</h3>

      <p class="govuk-body">Follow the <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#capitalisation">GOV.UK
          guidance on capitalisation</a>.</p>

      <p class="govuk-body">See also guidance about capitalising ethnic groups in <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#capitalisation">Writing
          about ethnicity</a>.</p>

      <h3 class="govuk-heading-m"
          id="census">Census</h3>

      <p class="govuk-body">Write ‘Census’
        with a capital ‘C’ when you’re referring to a specific census.</p>

      <p class="govuk-body">For example:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">according to the 2011 Census, the total population of England and Wales was 56.1 million
        </p>
      </div>

      <p class="govuk-body">Use lower case:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>when you’re not referring to a specific census – for example, ‘census information shows that…’</li>
        <li>for the ‘school census’</li>
      </ul>

      <h3 class="govuk-heading-m"
          id="comparisons">Comparisons</h3>

      <p class="govuk-body">Don’t write ‘compared to’.</p>

      <p class="govuk-body">Write ‘compared with’ when you’re comparing groups with each other.</p>

      <p class="govuk-body">For example:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">between April 2018 and March 2019, there were 4 stop and searches for every 1,000 White people, compared with 38 for every 1,000 Black people</p>
      </div>

      <h3 class="govuk-heading-m"
          id="confidence-intervals">Confidence intervals</h3>

      <p class="govuk-body">If the data download includes confidence intervals, add this to the ‘In the data file’ subsection in ‘Things you need to know’:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">See [Download the data](#download-the-data) for confidence intervals for each ethnic group – find out more about how [confidence intervals](/understanding-our-data/how-to-read-survey-data#confidence-intervals) are used to determine how reliable estimates are.</p>
      </div>
      
      <h3 class="govuk-heading-m"
          id="covid-19">Coronavirus (COVID-19)</h3>

      <p class="govuk-body">Follow the <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#coronavirus-covid-19">GOV.UK
          guidance on COVID-19</a>.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="d"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">D</h2>

      <h3 class="govuk-heading-m"
          id="data">Data</h3>

      <p class="govuk-body">Follow the <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#data">GOV.UK style guide</a>
        and write data as a singular noun:</p>

      <p class="govuk-body">‘The data shows that…’, not ‘These data show that…’.</p>

      <h3 class="govuk-heading-m"
          id="dates">Dates</h3>

      <p class="govuk-body">Follow the <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#dates">GOV.UK style guide on
          dates</a>.</p>

      <p class="govuk-body">Dashes (-) and slashes (/) make it harder for users to read, and don’t work well for those
        who use screen
        readers.</p>

      <h4 class="govuk-heading-s"
          id="financial-or-academic-years">Financial or academic years</h4>

      <p class="govuk-body">Let users know if you’re referring to a date range other than a calendar year:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the year ending March 2019</li>
        <li>the academic year ending July 2019</li>
        <li>April 2018 to March 2019</li>
      </ul>

      <p class="govuk-body">For example:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">between April 2018 and March 2019, there were 375,588 stop and searches in England and Wales (excluding vehicle searches)</p>
      </div>

      <h4 class="govuk-heading-s"
          id="combining-data-across-multiple-years">Combining data across multiple years</h4>

      <p class="govuk-body">Don’t refer to ‘rolling averages’.</p>

      <p class="govuk-body">Use or adapt one of the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>3 years to March 2019</li>
        <li>in the 3 years to August 2020, an average of...</li>
      </ul>

      <p class="govuk-body">For example:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">in the 2 years to March 2019, an average of 3% of households in England had damp in at least one room of their home</p>
      </div>

      <h4 class="govuk-heading-s"
          id="periods-over-time">Periods over time</h4>

      <p class="govuk-body">Don’t write ‘2002/03 to 2018/19’.</p>

      <p class="govuk-body">Use or adapt one of the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>2002 to 2019</li>
        <li>the [number] years to [month] [year]</li>
      </ul>
      
       <p class="govuk-body">For example:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">the data shows that, in the 13 years to March 2020, the overall arrest rate in England and Wales went down from 27 to 12 arrests per 1,000 people</p>
      </div>

      <h3 class="govuk-heading-m"
          id="decimals">Decimals</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="#rounding">Rounding</a>.</p>

      <h3 class="govuk-heading-m"
          id="denominators-and-numerators">Denominators and numerators</h3>

      <p class="govuk-body">Don’t use the terms ‘numerators’ or ‘denominators’ except in data download files.</p>


      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="e"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">E</h2>

      <h3 class="govuk-heading-m"
          id="economically-inactive">Economically inactive</h3>

      <p class="govuk-body">Use this Plain English definition of economically inactive:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">Someone is economically inactive if they are 16 to 64 years old and:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>are out of work</li>
          <li>have not been looking for work in the past 4 weeks</li>
          <li>are not waiting to start a job</li>
        </ul>

        <p class="govuk-body">This could include people who care for their family or are retired.</p>
      </div>

      <h3 class="govuk-heading-m"
          id="ethnicity">Ethnicity</h3>

      <p class="govuk-body">Use ‘ethnicity’ instead of ‘race’.</p>

      <p class="govuk-body">See also <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#ethnicity-and-race">Writing
          about ethnicity</a>.</p>

      <h3 class="govuk-heading-m"
          id="ethnic-minorities">Ethnic minorities</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#ethnic-minorities">Writing
          about ethnicity</a>.</p>

      <h3 class="govuk-heading-m"
          id="ethnicities-and-nationalities">Ethnicities and nationalities</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#ethnicities-and-nationalities">Writing
          about ethnicity</a>.</p>

      <h3 class="govuk-heading-m"
          id="ethnicity-facts-and-figures">Ethnicity facts and figures</h3>

      <p class="govuk-body">Write ‘Ethnicity facts and figures’, not ‘Ethnicity Facts and Figures’ or ‘ethnicity facts
        and figures’.</p>

      <p class="govuk-body">This includes within a sentence. For example, ‘New data was recently added to Ethnicity
        facts and figures.’</p>

      <p class="govuk-body">Don’t use the abbreviations ‘EFF’ or ‘EFAF’. Either say ‘Ethnicity facts and figures’ or
        ‘the website’,
        depending on the context. Don’t call it a ‘service’.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="f"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">F</h2>

      <h3 class="govuk-heading-m"
          id="financial-years">Financial years</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="#dates">Dates</a>.</p>

      <h3 class="govuk-heading-m"
          id="fractions">Fractions</h3>

      <p class="govuk-body">Don’t use fractions. Use percentages. For example, say ‘20%’ instead of ‘one-fifth’ or ‘one in five’.</p>
      
       <p class="govuk-body">See also <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_principles').rstrip('/') }}">Our writing principles</a>.</p>

      <h3 class="govuk-heading-m"
          id="free-school-meals">Free school meals</h3>

      <p class="govuk-body">Follow the <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#abbreviations-and-acronyms">GOV.UK style
          guide on abbreviations</a> before using ‘FSM’.</p>

      <p class="govuk-body">Eligibility for free school meals can be used as an indicator of deprivation.</p>

      <p class="govuk-body">Where it is, add this content to dimension summaries, above the bullet points:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">Eligibility for free school meals (FSM) in England is used as an indicator of deprivation.
        </p>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="g"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">G</h2>

      <h3 class="govuk-heading-m"
          id="gender-and-sex">Gender and sex</h3>

      <p class="govuk-body">Use the same term as in the data source. The Office for National Statistics explains <a class="govuk-link"
           rel="external"
           href="https://www.ons.gov.uk/economy/environmentalaccounts/articles/whatisthedifferencebetweensexandgender/2019-02-21">the
          difference between the 2 terms</a>.</p>

      <p class="govuk-body">See also <a class="govuk-link"
           href="#women-and-men">Women and men</a>.</p>

      <h3 class="govuk-heading-m"
          id="great-britain">Great Britain</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="#uk-and-great-britain">UK and Great Britain</a>.</p>

      <h3 class="govuk-heading-m"
          id="gypsy-roma-and-traveller-ethnic-groups">Gypsy, Roma and Traveller ethnic groups</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#gypsy-roma-and-traveller-ethnic-groups">Writing
          about ethnicity</a>.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="h"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">H</h2>

      <h3 class="govuk-heading-m"
          id="household">Household</h3>
      <p class="govuk-body">Use this Plain English definition of household in the ‘What the data measures’ subsection in ‘Things you need to know’:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">The information relates to households of either one person or a group of people sharing cooking facilities and a living room or dining area. It must be their main or only home.</p>
      </div>

     
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="l"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">L</h2>

      <h3 class="govuk-heading-m"
          id="likelihood">Likelihood</h3>

      <p class="govuk-body">You can use ‘more likely’, ‘most likely’, ‘less likely’ and ‘least likely’ to compare ethnic groups where there are reliable differences between them.</p>

      <p class="govuk-body">Always make it clear what you’re comparing.</p>

      <p class="govuk-body">For example:</p>

      <div class="govuk-inset-text">
        <ul class="govuk-list govuk-list--bullet">
          <li>in all ethnic groups, men were more likely to be employed than women</li>
          <li>adults from the Chinese ethnic group were the least likely out of all ethnic groups to be overweight or
            obese</li>
          <li>people from ethnic minorities were more likely to receive an OBE or MBE than any other type of honour</li>
        </ul>
      </div>

      <p class="govuk-body">You should also use ‘as likely’ for relative likelihoods.</p>

      <p class="govuk-body">For example:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">Black people were over 3 times as likely to be arrested as White people – there were 35
          arrests for every
          1,000 Black people, and 11 for every 1,000 White people</p>
      </div>

      <h3 class="govuk-heading-m"
          id="links">Links</h3>

      <p class="govuk-body">Follow the <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/guidance/content-design/links">GOV.UK guidance on writing link text</a>.
      </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="m"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">M</h2>

      <h3 class="govuk-heading-m"
          id="maintained-schools">Maintained schools</h3>

      <p class="govuk-body">Don’t use ‘maintained schools’. Use ‘state-funded mainstream schools’ instead.</p>

      <h3 class="govuk-heading-m"
          id="mean">Mean</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="#averages">Averages</a>.</p>

      <h3 class="govuk-heading-m"
          id="median">Median</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="#averages">Averages</a>.</p>

      <h3 class="govuk-heading-m"
          id="mixed-ethnicity">Mixed ethnicity</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#phrasing">Writing about
          ethnicity</a>.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="n"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">N</h2>

      <h3 class="govuk-heading-m"
          id="non-white">Non-White</h3>

      <p class="govuk-body">Don’t say ‘Non-White’.</p>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#ethnic-minorities">Writing
          about ethnicity</a>.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="o"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">O</h2>

      <h3 class="govuk-heading-m"
          id="other-ethnic-groups">Other ethnic groups</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#capitalisation">Writing
          about ethnicity</a>.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="p"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">P</h2>

      <h3 class="govuk-heading-m"
          id="percentage-and-proportion">Percentage and proportion</h3>

      <p class="govuk-body">Don’t use ‘proportion’, ‘level’ or ‘rate’ as an alternative to ‘percentage’. They don’t mean
        the same thing.
      </p>

      <p class="govuk-body">See also <a class="govuk-link"
           href="#rates">Rates</a>.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    
      <h2 id="r"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">R</h2>

      <h3 class="govuk-heading-m"
          id="race">Race</h3>

      <p class="govuk-body">Use ‘ethnicity’ instead of ‘race’.</p>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}#ethnicity-and-race">Writing
          about ethnicity</a>.</p>

      <h3 class="govuk-heading-m"
          id="race-disparity-audit">Race Disparity Audit</h3>

      <p class="govuk-body">The <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/government/publications/race-disparity-audit">Race Disparity Audit</a> was
        published in October 2017.</p>

      <p class="govuk-body">It’s a standalone publication, and not the same as Ethnicity facts and figures.
      </p>

      <p class="govuk-body">If you need to refer to it, write ‘the Race Disparity Audit’, not ‘the race disparity
        audit’. In subsequent
        mentions, you can say ‘the audit’ (but not ‘the Audit’ or ‘the RDA’).</p>

      <h3 class="govuk-heading-m"
          id="race-disparity-unit">Race Disparity Unit</h3>

      <p class="govuk-body">The <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/government/organisations/race-disparity-unit">Race Disparity Unit</a> is the
        team that produced the Race Disparity Audit and now manages Ethnicity facts and figures.</p>

      <p class="govuk-body">Write ‘the Race Disparity Unit’, not ‘the Race disparity unit’ or ‘the race disparity unit’.
      </p>

      <p class="govuk-body">It’s fine to say ‘the RDU’, but write it out in full the first time you use it, as per the
        <a class="govuk-link"
           rel="external"
           href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#abbreviations-and-acronyms">GOV.UK style
          guide on abbreviations</a>.</p>

      <h3 class="govuk-heading-m"
          id="rates">Rates</h3>

      <p class="govuk-body">You can use ‘rate’ as in these examples:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">Black people had the highest unemployment rate out of all ethnic groups (9%).</p>
      </div>

      <div class="govuk-inset-text">
        <p class="govuk-body">There were 698,737 arrests in England and Wales in the year to March 2018 – a rate of 13 arrests per 1,000 people.</p>
      </div>

      <p class="govuk-body">See also <a class="govuk-link"
           href="#percentage-and-proportion">Percentage and proportion</a>.</p>

      <h3 class="govuk-heading-m"
          id="rolling-averages">Rolling averages</h3>

      <p class="govuk-body">Do not use the term 'rolling averages'.</p>

      <p class="govuk-body">See <a class="govuk-link"
           href="#dates">Dates</a>.</p>

      <h3 class="govuk-heading-m"
          id="rounding">Rounding</h3>

      <p class="govuk-body">Be consistent in your use of rounding. Write 1.2%, 6.0% and 10.1%, not 1.20%, 6% and 10.146%.</p>

      <p class="govuk-body">If you are rounding figures to 1 decimal place, whole numbers should be written as ‘10.0%’, not ‘10%’.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="s"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">S</h2>

      <h3 class="govuk-heading-m"
          id="sex">Sex</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="#gender-and-sex">Gender and sex</a>.</p>

      <h3 class="govuk-heading-m"
          id="socio-economic-groups">Socio-economic groups</h3>

      <p class="govuk-body">Write ‘socio-economic groups’. Don’t write ‘socioeconomic groups’ or ‘NS-SEC groups’.</p>

      <h3 class="govuk-heading-m"
          id="statistical-significance">Statistical significance</h3>

      <p class="govuk-body">See <a class="govuk-link"
           href="{{ url_for('static_site.style_guide_principles').rstrip('/') }}#explain-if-figures-arent-reliable">Our
          writing principles</a>.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="u"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">U</h2>

      <h3 class="govuk-heading-m"
          id="uk-and-great-britain">UK and Great Britain</h3>

      <p class="govuk-body">Write ‘UK’, not ‘United Kingdom’.</p>

      <p class="govuk-body">Write ‘England, Wales and Scotland’, not Great Britain.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 id="w"
          class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7 atoz-section">W</h2>

      <h3 class="govuk-heading-m"
          id="weighting">Weighting</h3>
      <p class="govuk-body">Use this in the ‘Methodology’ subsection in ‘Things you need to know’ where applicable:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">The figures on this page are based on survey data. Find out more about [how weighting is used](/understanding-our-data/how-to-read-survey-data#weighting) to make survey data more representative of the whole group being studied.</p>
      </div>

      <h3 class="govuk-heading-m"
          id="women-and-men">Women and men</h3>

      <p class="govuk-body">Use ‘women’ and ‘girls’ instead of ‘females’. Use ‘men’ and ‘boys’ rather than ‘males’.</p>

      <p class="govuk-body">Only use ‘male’ and ‘female’ as adjectives.</p>

      <p class="govuk-body">For example:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">in the same period, the percentage of female officers from the same backgrounds went up
          from 3.9% to 5.7%</p>
      </div>

      <h3 class="govuk-heading-m"
          id="working-age">Working age</h3>

      <p class="govuk-body">The working age population in employment statistics includes all 16 to 64 year olds.</p>

      <p class="govuk-body">Consider if it’s clearer to refer directly to ‘16 to 64 year olds’ instead of ‘people of
        working age’.</p>

      <p class="govuk-body">If you do use ‘working age’, include a definition in the first bullet point of each summary.
      </p>

      <p class="govuk-body">For example:</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">75% of working age people (people aged 16 to 64) in England, Wales and Scotland were
          employed in 2018</p>
      </div>
      
       <p class="govuk-body">See <a class="govuk-link"
           href="#ages">Ages</a>.</p>

      <h2 class="govuk-heading-l govuk-!-margin-top-9"
          id="related-guidance">Related guidance</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link"
             href="{{ url_for('static_site.style_guide_writing_about_ethnicity').rstrip('/') }}">Writing about
            ethnicity</a></li>
        <li><a class="govuk-link"
             href="{{ url_for('static_site.style_guide_principles').rstrip('/') }}">Our writing principles</a></li>
      </ul>


      <h2 class="govuk-heading-l govuk-!-margin-top-9"
          id="help-us-stay-up-to-date">Help us stay up to date</h2>

      <p class="govuk-body">We want to make sure our content reflects changes in language usage and acceptability over time.</p>
      
      <p class="govuk-body">
        <a href="https://www.gov.uk/guidance/contact-the-cabinet-office"
           class="govuk-link">
          Contact the Cabinet Office</a>
        with your feedback.
      </p>

    </div>
  </div>
</div>
{{ appBackToTop(anchor="toc",text="Contents",attributes={"data-on": "click", "data-event-category":"Back to Top", "data-event-action": "Clicked", "data-event-label": "Contents"}) }}
{% endblock %}
