{% extends "base.html" %}

{% from "_macros/_back_to_top.html" import appBackToTop %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Home"},
    {"url": url_for("static_site.style_guide"), "text": "Style guide"},
    {"url": "", "text": "List of ethnic groups"}
  ]
%}

{% block pageTitle %}List of ethnic groups - GOV.UK{% endblock %}
{% block metaDescription %}Read about the 18 ethnic groups recommended for use by government when they ask for someone’s
ethnicity in England and Wales.{% endblock %}
{% block socialTitle %}List of ethnic groups{% endblock %}
{% block socialDescription %}Read about the 18 ethnic groups recommended for use by government when they ask for
someone’s ethnicity in England and Wales.{% endblock %}
{% block googleAnalytics %}ga('set','contentGroup1','List of ethnic groups');{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4  govuk-!-margin-top-2">
      List of ethnic groups
    </h1>

    <div id="toc">
      <div class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-5">Contents</div>
      <ol class="eff-table-of-contents">
        <li><a class="govuk-link"
             href="#list-of-ethnic-groups">
            <span class="eff-table-of-contents__number">1. </span><span class="eff-table-of-contents__content">List of
              ethnic groups</span></a>
        </li>
        <li><a class="govuk-link"
             href="#how-the-groups-were-chosen">
            <span class="eff-table-of-contents__number">2. </span><span class="eff-table-of-contents__content">How the
              groups were chosen</span></a>
        </li>
        <li><a class="govuk-link"
             href="#exceptions">
            <span class="eff-table-of-contents__number">3. </span><span
                  class="eff-table-of-contents__content">Exceptions</span></a></li>
        <li><a class="govuk-link"
             href="#scotland-and-northern-ireland">
            <span class="eff-table-of-contents__number">4. </span><span class="eff-table-of-contents__content">Scotland
              and Northern Ireland</span></a></li>
        <li><a class="govuk-link"
             href="#combining-data">
            <span class="eff-table-of-contents__number">5. </span><span class="eff-table-of-contents__content">Combining
              data</span></a></li>
        <li><a class="govuk-link"
             href="#2001-census">
            <span class="eff-table-of-contents__number">6. </span><span class="eff-table-of-contents__content">2001
              Census</span></a></li>
      </ol>
    </div>
  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l govuk-!-margin-top-4"
        id="list-of-ethnic-groups">1. List of ethnic groups</h2>

    <div class="govuk-inset-text">If you’re in a government service team, there’s a design pattern for <a
         class="govuk-link"
         href="https://design-system.service.gov.uk/patterns/ethnic-group/">asking users for their ethnic group</a>.
    </div>

    <p class="govuk-body">In England and Wales, there are 18 ethnic groups recommended for use by government when they
      ask for someone’s ethnicity. These are grouped into 5 broad ethnic groups, each with an ‘Any other’ option where
      respondents can write in their ethnicity using their own words.</p>

    <p class="govuk-body">The recommended ethnic groups are:</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">White</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>English / Welsh / Scottish / Northern Irish / British</li>
      <li>Irish</li>
      <li>Gypsy or Irish Traveller</li>
      <li>Any other White background</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Mixed / Multiple ethnic groups</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>White and Black Caribbean</li>
      <li>White and Black African</li>
      <li>White and Asian</li>
      <li>Any other Mixed / Multiple ethnic background</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Asian / Asian British</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Indian</li>
      <li>Pakistani</li>
      <li>Bangladeshi</li>
      <li>Chinese</li>
      <li>Any other Asian background</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Black / African / Caribbean / Black British</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>African</li>
      <li>Caribbean</li>
      <li>Any other Black / African / Caribbean background</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Other ethnic group</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Arab</li>
      <li>Any other ethnic group</li>
    </ul>

    <p class="govuk-body">In Wales, the first option in the White broad category is changed so that Welsh appears first
      in the list, followed by English, Scottish, Northern Irish and British. </p>


    <p class="govuk-body">See statistics on the <a class="govuk-link"
         href="/british-population/national-and-regional-populations/population-of-england-and-wales/latest">population
        of England and Wales</a> broken down by ethnicity.</p>


    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="how-the-groups-were-chosen">2. How the groups were chosen</h2>

    <p class="govuk-body">The Office for National Statistics (ONS) runs the Census of England and Wales every 10 years.
      They decide which ethnic groups to include in consultation with:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>users of Census data (like government departments, local authorities, and the National Health Service)</li>
      <li>people completing the Census, and the interest groups that represent them</li>
    </ul>

    <p class="govuk-body">It is recognised that these ethnic groups do not represent how all people identify. People are
      encouraged to write in their ethnicity using their own words if they don’t identify with any groups in the list.
    </p>

    <p class="govuk-body">There has been an ethnicity question in the Census since 1991. It has been updated at every
      new Census since then. There are separate questions in the Census about <a class="govuk-link"
         href="https://www.ons.gov.uk/peoplepopulationandcommunity/culturalidentity/ethnicity/articles/ethnicityandnationalidentityinenglandandwales/2012-12-11#national-identity-in-england-and-wales"
         data-on="click"
         data-event-category="External link clicked"
         data-event-action="Ethnic groups link"
         data-event-label="national identity">national identity</a> and <a class="govuk-link"
         href="https://www.ons.gov.uk/peoplepopulationandcommunity/culturalidentity/religion"
         data-on="click"
         data-event-category="External link clicked"
         data-event-action="Ethnic groups link"
         data-event-label="Religion - Office for National Statistics">religion</a>.</p>

    <p class="govuk-body">You can read more about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the <a class="govuk-link"
           href="https://www.ons.gov.uk/file?uri=/census/2011census/howourcensusworks/howweplannedthe2011census/questionnairedevelopment/finalisingthe2011questionnaire/final-recommended-questions-2011-ethnic-group_tcm77-183998.pdf"
           data-on="click"
           data-event-category="External link clicked"
           data-event-action="Ethnic groups link"
           data-event-label="Final recommended questions for the 2011 Census in England and Wales">research and
          testing</a> (PDF) that went into the 2011 Census ethnicity question
      <li>the <a class="govuk-link"
           href="https://www.ons.gov.uk/census/censustransformationprogramme/questiondevelopment/2021censustopicresearchupdatedecember2018#ethnic-group"
           data-on="click"
           data-event-category="External link clicked"
           data-event-action="Ethnic groups link"
           data-event-label="2021 Census topic research update: December 2018">2021 Census consultation</a>, which
        considers adding Roma, Sikh, Jewish and Somali ethnic groups</li>
      <li><a class="govuk-link"
           href="https://www.gov.uk/government/publications/the-2021-census-of-population-and-housing-in-england-and-wales"
           data-on="click"
           data-event-category="External link clicked"
           data-event-action="Ethnic groups link"
           data-event-label="The 2021 Census of Population and Housing in England and Wales - GOV.UK">recommendations
          for the 2021 Census</a></li>
      <li><a class="govuk-link"
           href="https://history.blog.gov.uk/2019/03/07/50-years-of-collecting-ethnicity-data/"
           data-on="click"
           data-event-category="External link clicked"
           data-event-action="Ethnic groups link"
           data-event-label="50 years of collecting ethnicity data - History of government">how ethnicity data
          collection has changed over the last 50 years</a></li>
    </ul>


    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="exceptions">3. Exceptions</h2>

    <p class="govuk-body">The Government Statistical Service’s (GSS) <a class="govuk-link"
         href="https://gss.civilservice.gov.uk/policy-store/ethnicity/"
         data-on="click"
         data-event-category="External link clicked"
         data-event-action="Ethnic groups link"
         data-event-label="Ethnicity - GSS">harmonised principles for ethnicity</a> recommends that the 18 official
      ethnic groups are used whenever government carries out social surveys or collects administrative data.</p>

    <p class="govuk-body">A single, standardised list makes it easier to analyse ethnicity data wherever it is
      collected.</p>

    <p class="govuk-body">However, in practice, not all departments and organisations use the standardised list. For
      example, because:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>they need data on some ethnic groups, but not others</li>
      <li>they want their data to be consistent with data they’ve collected previously, which uses different ethnic
        groups</li>
      <li>the low number of people surveyed in some ethnic groups means data has to be combined to make it more
        reliable, or to protect individual identities</li>
    </ul>

    <p class="govuk-body">The <a class="govuk-link"
         href="/dashboards/ethnicity-classifications">dashboard of ethnic categories</a> shows that around 20 different
      ethnicity classifications are used on Ethnicity facts and figures.</p>


    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="scotland-and-northern-ireland">4. Scotland and Northern Ireland</h2>

    <p class="govuk-body">The Censuses in Scotland and Northern Ireland have differences in the ordering of the ethnic
      groups as well as the groups themselves.

    <h3 class="govuk-heading-s">Northern Ireland</h3>

    <p class="govuk-body">The ethnicity question in the <a class="govuk-link"
         href="https://www.nisra.gov.uk/publications/2011-census-questionnaires"
         data-on="click"
         data-event-category="External link clicked"
         data-event-action="Ethnic groups link"
         data-event-label="2011 Census - Questionnaires | Northern Ireland Statistics and Research Agency">2011 Census
        in Northern Ireland</a> asked respondents to choose from the following 11 ethnic groups:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>White</li>
      <li>Chinese</li>
      <li>Irish Traveller</li>
      <li>Indian</li>
      <li>Pakistani</li>
      <li>Bangladeshi</li>
      <li>Black Caribbean</li>
      <li>Black African</li>
      <li>Black Other</li>
      <li>Mixed ethnic group</li>
      <li>Any other ethnic group</li>
    </ul>

    <p class="govuk-body">The <a class="govuk-link"
         href="https://gss.civilservice.gov.uk/policy-store/ethnicity/#northern-ireland"
         data-on="click"
         data-event-category="External link clicked"
         data-event-action="Ethnic groups link"
         data-event-label="Ethnicity (Northern Ireland) - GSS">GSS harmonised principle for ethnicity in Northern
        Ireland</a> proposes almost the same standardised ethnic categories as the 2011 Census of England and Wales.
      However, there is 1 White ethnic group instead of 4. The Irish Traveller group is separate because it is
      categorised as its own ethnic group by law (the Race Relations Order).</p>

    <h3 class="govuk-heading-s">Scotland</h3>

    <p class="govuk-body">The <a class="govuk-link"
         href="https://www.scotlandscensus.gov.uk/variables-classification/ethnic-group"
         data-on="click"
         data-event-category="External link clicked"
         data-event-action="Ethnic groups link"
         data-event-label="Ethnic group | Scotland Census 2011">ethnicity question in the 2011 Census in Scotland</a>
      asked respondents to choose from the following 19 ethnic groups:</p>

    <p class="govuk-body">White</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>White Scottish</li>
      <li>Other White British</li>
      <li>White Irish</li>
      <li>Gypsy / Traveller</li>
      <li>White Polish</li>
      <li>Other</li>
    </ul>

    <p class="govuk-body">Mixed or multiple ethnic group</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Any mixed or multiple ethnic groups</li>
    </ul>

    <p class="govuk-body">Asian, Asian Scottish or Asian British</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Pakistani, Pakistani Scottish or Pakistani British</li>
      <li>Indian, Indian Scottish or Indian British</li>
      <li>Bangladeshi, Bangladeshi Scottish or Bangladeshi British</li>
      <li>Chinese, Chinese Scottish or Chinese British</li>
      <li>Other</li>
    </ul>

    <p class="govuk-body">African</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>African, African Scottish or African British</li>
      <li>Other</li>
    </ul>

    <p class="govuk-body">Caribbean or Black</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Caribbean, Caribbean Scottish or Caribbean British</li>
      <li>Black, Black Scottish or Black British</li>
      <li>Other</li>
    </ul>

    <p class="govuk-body">Other ethnic group</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Arab, Arab Scottish or Arab British</li>
      <li>Other</li>
    </ul>

    <p class="govuk-body">These are the same groups as those in the <a class="govuk-link"
         href="https://gss.civilservice.gov.uk/policy-store/ethnicity/#scotland"
         data-on="click"
         data-event-category="External link clicked"
         data-event-action="Ethnicity (Scotland) - GSS"
         data-event-label="GSS harmonised principle for ethnicity in Scotland">GSS harmonised principle for ethnicity
        in Scotland</a>.</p>


    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="combining-data">5. Combining data</h2>

    <p class="govuk-body">If you need to combine data that uses different ethnic classifications – for example from
      the different Censuses in the UK – you can aggregate some groups using either the GSS harmonised categories for
      either:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link"
           href="https://gss.civilservice.gov.uk/policy-store/ethnicity/#great-britain"
           data-on="click"
           data-event-category="External link clicked"
           data-event-action="Ethnicity (Great Britain) - GSS"
           data-event-label="England, Wales and Scotland">England, Wales and Scotland</a></li>
      <li><a class="govuk-link"
           href="https://gss.civilservice.gov.uk/policy-store/ethnicity/#united-kingdom"
           data-on="click"
           data-event-category="External link clicked"
           data-event-action="Ethnicity (United Kingdom) - GSS"
           data-event-label="England, Wales, Scotland and Northern Ireland">England, Wales, Scotland and Northern
          Ireland</a>
      </li>
    </ul>


    <h2 class="govuk-heading-l govuk-!-margin-top-9"
        id="2001-census">6. 2001 Census</h2>

    <p class="govuk-body">Some organisations, such as the NHS, still use the ethnic groups from the 2001 Census when
      recording people's ethnicity.
    </p>

    <p class="govuk-body">The main differences between the 2001 and 2011 Census ethnic groups are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the Chinese ethnic group moved from the ‘Other’ broad ethnic group (in 2001) to the ‘Asian’ broad ethnic group
        (in 2011)</li>
      <li>there were no ‘Gypsy or Irish Traveller’ or ‘Arab’ groups listed in 2001</li>
    </ul>

    <p class="govuk-body">The 2001 Census ethnic groups are:</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">White</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>British</li>
      <li>Irish</li>
      <li>Any other White background</li>
    </ul>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Mixed</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>White and Black Caribbean</li>
      <li>White and Black African</li>
      <li>White and Asian</li>
      <li>Any other Mixed background</li>
    </ul>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Asian or Asian British</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Indian</li>
      <li>Pakistani</li>
      <li>Bangladeshi</li>
      <li>Any other Asian background</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Black or Black British</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Caribbean</li>
      <li>African</li>
      <li>Any other Black background</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Chinese or other ethnic group</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Chinese</li>
      <li>Any other</li>
    </ul>


  </div>

  <div class="govuk-grid-column-one-third">
    <div class="gem-c-contextual-sidebar">
      <div class="gem-c-related-navigation">

        <h2 id="related-nav-related_items"
            class="govuk-heading-s govuk-!-padding-top-5">
          Related content
        </h2>

        <nav role="navigation"
             class="gem-c-related-navigation__nav-section"
             aria-labelledby="related-nav-related_items">

          <ul class="gem-c-related-navigation__link-list"
              data-module="track-click">

            <li class="gem-c-related-navigation__link">
              <a class="govuk-link"
                 href="/uk-population-by-ethnicity/national-and-regional-populations/population-of-england-and-wales/latest"
                 data-on="click"
                 data-event-category="Related links"
                 data-event-action="Clicked"
                 data-event-label="Population of England and Wales">Population of England and Wales</a>
            </li>

            <li class="gem-c-related-navigation__link">
              <a class="govuk-link"
                 href="/uk-population-by-ethnicity/national-and-regional-populations/regional-ethnic-diversity/latest"
                 data-on="click"
                 data-event-category="Related links"
                 data-event-action="Clicked"
                 data-event-label="Regional ethnic diversity">Regional ethnic diversity</a>
            </li>

            <li class="gem-c-related-navigation__link">
              <a class="govuk-link"
                 href="/uk-population-by-ethnicity/demographics/age-groups/latest"
                 data-on="click"
                 data-event-category="Related links"
                 data-event-action="Clicked"
                 data-event-label="Age groups">Age groups</a>
            </li>

            <li class="gem-c-related-navigation__link">
              <a class="govuk-link"
                 href="/crime-justice-and-the-law/policing/stop-and-search/latest"
                 data-on="click"
                 data-event-category="Related links"
                 data-event-action="Clicked"
                 data-event-label="Stop and search">Stop and search</a>
            </li>

            <li class="gem-c-related-navigation__link">
              <a class="govuk-link"
                 href="/workforce-and-business/workforce-diversity/nhs-workforce/latest"
                 data-on="click"
                 data-event-category="Related links"
                 data-event-action="Clicked"
                 data-event-label="NHS workforce">NHS workforce</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</div>
{{ appBackToTop(anchor="toc",text="Contents",attributes={"data-on": "click", "data-event-category":"Back to Top", "data-event-action": "Clicked", "data-event-label": "Contents"}) }}
{% endblock %}
