<details class="govuk-details govuk-!-margin-bottom-4">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Examples</span>
  </summary>
  <blockquote class="govuk-details__text">
    <p class="govuk-body">This data shows that:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>in 2014 to 2017, 680,000 (3%) of the 23 million households in England were overcrowded (that is, they had fewer bedrooms than they needed to avoid undesirable sharing)</li>
        <li>Bangladeshi households had the highest rate of overcrowding, at 30% (around 37,000 households)</li>
        <li>2% of White British households (around 306,000 households) lived in an overcrowded home</li>
    </ul>
  </blockquote>
</details>
