{% from "_macros/_details.html" import govukDetails %}

{% set html %}
<ul class="govuk-list govuk-list--bullet">
  <li>sample sizes</li>
  <li>sample selection and possible biases</li>
  <li>collection methods</li>
  <li>response rates</li>
  <li>significance tests and age standardisation</li>
</ul>
{% endset %}

{% set summaryHtml %}
What to include <span class="govuk-visually-hidden">for methodology</span>
{% endset %}

{{ govukDetails(
  summaryText=summaryHtml,
  html=html,
  classes="govuk-!-margin-bottom-4"
) }}


{% set weightingHtml %}
<p class="govuk-body">Give details of any weighting specific to this data source and measure.</p>
<p class="govuk-body">Copy and paste this content if you need to:</p>
<p class="govuk-body">[Download the data](#download-the-data) to see unweighted samples.</p>
{% endset %}

{% set weightingSummary %}
Weighting (optional) <span class="govuk-visually-hidden">for methodology</span>
{% endset %}

{{ govukDetails(
  summaryText=weightingSummary,
  html=weightingHtml,
  classes="govuk-!-margin-bottom-4"
) }}


{% set confidenceHtml %}
<p class="govuk-body">Copy and paste this content if confidence intervals are available in the data download:</p>
<p class="govuk-body">[Download the data](#download-the-data) to see confidence intervals for the estimates on this page. You can read more about [how confidence intervals are used](/methodology/reading-survey-data#confidence-intervals) to judge the reliability of survey data.</p>
{% endset %}

{% set confidenceSummary %}
Confidence intervals (optional) <span class="govuk-visually-hidden">for methodology</span>
{% endset %}

{{ govukDetails(
  summaryText=confidenceSummary,
  html=confidenceHtml,
  classes="govuk-!-margin-bottom-4"
) }}
