<details>
    <summary>Examples</summary>
    Give information about:
    <ul>
        <li>sample sizes</li>
        <li>sample selection and possible biases</li>
        <li>collection methods</li>
        <li>response rates</li>
        <li>significance tests and age standardisation</li>
    </ul>
</details>

<p><span class="form-hint">Find <a href="https://guide.ethnicity-facts-figures.service.gov.uk/a-z" target="_blank">example wording</a> in the style guide</span></p>

<p>Weighting (optional)<br><span class="form-hint">If weighting has been applied, explain how</span></p>

<p>
    Confidence intervals (optional)<br>
    <span class="form-hint">
        If the data includes confidence intervals, adapt the
        <a href="https://guide.ethnicity-facts-figures.service.gov.uk/a-z#confidence-intervals" target="_blank">example wording</a>
        to explain them
    </span>
</p>
