
{% from "_macros/_details.html" import govukDetails %}

{% set html %}
  <p class="govuk-body">Give information about:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>sample sizes</li>
      <li>sample selection and possible biases</li>
      <li>collection methods</li>
      <li>response rates</li>
      <li>significance tests and age standardisation</li>
  </ul>
  <p class="govuk-body">Find example wording in the <a href="https://guide.ethnicity-facts-figures.service.gov.uk/a-z" target="_blank" class="govuk-link">style guide</a> (this will open a new page).</p>
{% endset %}

{{ govukDetails(
  summaryText="Examples",
  html=html,
  classes="govuk-!-margin-bottom-4"
) }}

<p class="govuk-body">Weighting (optional)<br><span class="govuk-hint">If weighting has been applied, explain how</span></p>

<p class="govuk-body">
    Confidence intervals (optional)<br>
    <span class="govuk-hint">
        If the data includes confidence intervals, explain them by adapting the
        <a href="https://guide.ethnicity-facts-figures.service.gov.uk/a-z#confidence-intervals" target="_blank" class="govuk-link">example wording</a>
        (this will open a new page)
    </span>
</p>
