{% from "_macros/_details.html" import govukDetails %}

{% set html %}
  <ul class="govuk-list govuk-list--bullet">
    <li>related pages on the ethnicity facts and figures website</li>
    <li>related data</li>
    <li>analysis of the data that users won’t find through the link to data source</li>
  </ul>
{% endset %}

{% set summaryHtml %}
  Examples <span class="govuk-visually-hidden">for related publications</span>
{% endset %}

{{ govukDetails(
  summaryText=summaryHtml,
  html=html,
  classes="govuk-!-margin-bottom-4"
) }}
