{% from "_macros/_details.html" import govukDetails %}

{% set html %}
  <ul class="govuk-list govuk-list--bullet">
    <li>overall, the figures for fear of crime have remained consistent between 2013/14 and 2015/16</li>
    <li>in 2015/16, a smaller proportion of White people reported a fear of crime compared with Asian people, Black people, and those from the Other ethnic group</li>
    <li>pupils from the Traveller of Irish Heritage and Gypsy/Roma ethnic groups had the highest ‘overall absence’ rates (rates of school sessions missed due to authorised and unauthorised absences) and ‘persistent absence’ rates (pupils missing 10% or more of their school sessions)</li>
    <li>for other ethnic groups, too few adults responded to the survey or the responses were too varied to draw firm conclusions</li>
  </ul>
{% endset %}

{% set summaryHtml %}
  Examples <span class="govuk-visually-hidden">for summary</span>
{% endset %}

{{ govukDetails(
  summaryText=summaryHtml,
  html=html,
  classes="govuk-!-margin-bottom-4"
) }}
