{% from "_macros/_details.html" import govukDetails %}

{% set html %}
  <p class="govuk-body">Explain:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>small sample sizes</li>
    <li>missing or combined data</li>
    <li>changes in the way the data was collected</li>
    <li>the percentage of data where ethnicity wasn’t known or collected and whether it was used in your calculations.</li>
  </ul>
{% endset %}

{{ govukDetails(
  summaryText="What to include",
  html=html,
  classes="govuk-!-margin-bottom-4"
) }}