<details class="govuk-details govuk-!-margin-bottom-4">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">What to include</span>
  </summary>
  <div class="govuk-details__text">
  <p class="govuk-body">Explain:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>small sample sizes</li>
    <li>missing or combined data</li>
    <li>changes in the way the data was collected</li>
    <li>the percentage of data where ethnicity wasn’t known or collected and whether it was used in your calculations.</li>
  </ul>
  </div>
</details>
