button.link {
  color: $govuk-blue;
  font-size: inherit;
  border-width: 0;
  padding: 0;
  margin: 0;
  display: inline;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

button.link.hidden {
  display: none;
}

button.link.delete {
  color: $red;
}

/* Deprecated. Use the 'Destructive button' component instead.

  TODO: delete me once this is no longer being used anywhere.
*/
.button.delete,
.button.warning {
  background-color: $red;
}