.newsletter-sign-up {

  .section {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  /* On wider screens, have the e-mail input and the
     subscribe button side-by-side. */
  @media (min-width: 641px) {

    .form-group.email {
      float: left;
      max-width: 460px;
      padding-right: 10px;

      input {
        width: 100%;
      }
    }

    .form-group.subscribe {
      float: left;
      max-width: 100px;
      padding-top: 29px;
    }

    /* Match the height of the e-mail input. */
    .button {
      height: 36px;
    }

  }

}
