.newsletter-sign-up {
  @extend %site-width-container;

  .section {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  input {
    vertical-align: top;
    margin-top: 0
  }

  .button {
    height: 36px;
    margin-top: 0px;
    vertical-align: top;
  }

}
