/* OVERRIDES

These styles can be used to override defaults, and should be used fairly sparingly.

Naming convention follows https://design-system.service.gov.uk/styles/spacing/

*/

.eff-\!-margin-top-0 {
  margin-top: 0;
}

.eff-\!-padding-bottom-40 {
  padding-bottom: 40px;
}

/* Overrides for specific colours */
.background-light-blue {
  background-color: $light-blue;
}

.background-turquoise {
  background-color: $turquoise;
}
