
/* Reversed-out 'Phase Banner'

  This is a version of the 'BETA' banner which is white-on-blue, for
  use on our homepage which starts with a white-on-blue section.

  The .with-hero class is applied to the <body> tag to enable the
  same markup to be used on all pages.
 */

.with-hero .eff-phase-banner-container {
  margin-top: -10px;
  background-color: $govuk-blue;
}

.with-hero .govuk-phase-banner {
  border-bottom-width: 0;
}

.with-hero .govuk-phase-banner__content {
  color: govuk-colour("white");
}

.with-hero .govuk-phase-banner .govuk-link,
.with-hero .govuk-phase-banner .govuk-link:visited {
  color: govuk-colour("white");
}

.with-hero .govuk-phase-banner .govuk-tag {
  color: $govuk-blue;
  background-color: govuk-colour("white");
}