
/* Container for the beta banner */
.banner-container {
  @extend %site-width-container;
}


/* Altenative layout when appearing on a page with a 'hero' section
  (blue background should extend the full width of the screen).
 */
.with-hero .banner-container-outer {
  margin-top: -10px;
  padding-top: 10px;
  background-color: $govuk-blue;

  .phase-banner-reversed {
    padding-left: 0; padding-right: 0;
  }
}


/* Reversed-out 'Phase Banner'

  This is a version of the 'BETA' banner which is white-on-blue, for
  increased prominance – mainly intended for when we want to draw attention
  to a survey link.
 */
.phase-banner-reversed {
  background-color: $govuk-blue;
  padding: 0 10px 10px 10px;

  p {
    color: $page-colour;
    margin: 0;
  }

  a, a:hover {
    color: $page-colour;
  }

  /* 'BETA' label becomes blue-on-white to stand out. */
  .phase-tag {
    @include phase-tag();
    color: $govuk-blue;
    background-color: $white;
  }
}
