.share a {
  text-decoration: none;
  line-height: 32px;
}

.share a:before {
  content: '';
  width: 32px;
  height: 32px;
  margin-right: 6px;
  background-color: $link-colour;
  display: inline-block;
  vertical-align: middle;
  background-size: 28px 28px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 1.5px;
}

/* Visited colour should apply to text and icon */
.share a:visited {
  color: $link-visited-colour;
}

.share a:visited:before {
  background-color: $link-visited-colour;
}

/* Hover color should apply to text and icon, even when visited */
.share a:visited:hover {
  color: $link-hover-colour;
}

.share a:hover:before,
.share a:visited:hover:before {
  background-color: $link-hover-colour;
}

.share a.linkedin:before {
  background-image: url('/static/images/icon-linkedin.svg');
}

.share a.twitter:before {
  background-image: url('/static/images/icon-twitter.svg');
}

.share a.facebook:before {
  background-image: url('/static/images/icon-facebook.svg');
}
