

/* These tables don't need bold headers within the table body */
table.dashboard tbody th {
  font-weight: normal;
}


/* These tables have less vertical padding in them. */
table.table-skinny {
  td, th {
    padding: 4px 0px;
  }
}

table.measures {
  td {
    vertical-align: top;
  }

  .dimensions {
    margin-top: 5px;
    margin-bottom: 0;
    list-style-type: none;
    margin-left: 0;
  }
}

/* Double header tables have two or more rows in the <thead> */
table.with-double-header thead tr th:first-child {
  padding-left: 0;
}

table.with-double-header thead tr th {
  border-top-width: 0;
  border-bottom: 1px solid #bfc1c3;
  padding: 5px;
}

table.with-double-header thead tr:first-child th {
  border-top: 1px solid #bfc1c3;
  border-bottom: 0;
  border-left: 1px solid #bfc1c3;
  font-weight: normal;
}

table.with-double-header thead tr:first-child th:first-child {
  border-left: 0;
}

table.with-double-header .rowspan-header {
  text-align: center;
}

/* Numeric columns are fixed in width */
table .numeric {
  width: 100px;
}

/* Use on <th> for fixing column widths */
table .column-width-40 {
    width: 40%;
}

table .column-width-30 {
    width: 30%;
}

table .column-width-15 {
    width: 15%;
}
