/* Set compatibility mode for govuk-frontend */
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;

/* Set the GOV.UK Frontend assets path. This is used as a prefix
   for referencing the fonts and images in subfolders within
   this path. */
$govuk-assets-path: '/static/assets/';

/* GOV.UK Frontend, for the Design System. Installed via npm */
@import "node_modules/govuk-frontend/all";

@import '_govuk/govuk-template';
@import '_govuk/fonts';
@import '_govuk/_base/govuk-elements';
@import '_govuk/measure';
@import '_govuk/homepage';
@import '_govuk/tables';
@import '_govuk/chart';
@import '_govuk/typography-prototype';
@import '_govuk/_document_footer';
@import "cms/_banner.scss";
@import '_base';
@import '_icons';
@import '_accordion';
@import '_user_auth';
@import '_preview';
@import '_button';
@import '_reorderable_list_items';
@import '_share';
@import '_phase_banner_reversed';
@import '_new_tag';
@import '_item_date';
@import '_search';
@import '_search_results';
@import '_tables';
@import '_stat';
@import '_measures_by_week';
@import '_breadcrumbs';
@import '_overrides';
@import '_auto_resize_textarea';
@import '_planned_pages_dashboard';
@import '_status_banner';
@import '_updated_badge';
@import '_footer';
@import '_header';

/* Components unique to our service */
@import 'components/_destructive_button';
@import 'components/_quiet_button';
