@import "_govuk/_base/_buttons.scss";

/* Added by Ralph */

/* Generic */

.rd_cms {

  .show-for-sr {
    display: none;
  }

  .button-group {
    li {
      display: block;

      label {
        text-align: center;
        display: block;
      }
    }
  }

  .form-group, form {
    select, textarea, input {
      margin-bottom: 30px;
    }
  }

  select {
    width: 100%;
  }

  li .preview-link {
    margin-bottom: 20px;
  }

  .sidebar{
    background: #FAFAFA;
    padding: 32px 20px;
  }

  .draft {
    text-transform: capitalize;
  }

  .edit-form {
    margin-top: 25px;
  }

  .button-right {
    float: right !important;
  }

  h1 {
    line-height: 1.1;
    margin-bottom: 40px;
  }

  .heading-large {
    font-size: 48px !important;
    margin-top: 40px;
  }

  p, a {
    font-size: 19px;
  }

  h1, h2, h3, h4 {
    font-weight: bold;
  }

  .lead {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    textarea, input {
      border: 2px solid black;
      font-size: 19px;
      padding: 20px 10px;
      display: block;
      width: calc(100% - 24px);
    }
  }

  label {
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Specific */

  .topic-list {
    list-style: none;
    margin-left: 0px;
    font-size: 19px;
  }

  .name a:hover {
    color: white;
    text-decoration: underline;
  }

  /* Chart builder */

  .chart-builder-section {
    .form-group {
      margin-bottom: 0;
    }
  }

  /* Dimension form styling */

  table {
    margin-bottom: 30px;
    
    td {
      &:last-child {
        text-align: right;
      }
    }
  }
}