@import "_govuk/_base/_buttons.scss";
@import "_accessible-autocomplete.scss";

$black: #0B0C0C;
$text-colour: #0B0C0C;
$link-colour: #005EA5;
$link-colour-hover: #2B8CC4;
$button-colour: #00823B;
$button-colour-hover: #006435;
$focus-colour: #FFBF47;
$error-colour: #B10E1E;
$border-colour: #BFC1C3;

.rd_cms {

  body {
    font-size: 19px;
  }

  input[disabled],
  textarea[disabled] {
    border-color: grey;
  }

  fieldset {
    margin-top: 20px;
  }

  fieldset fieldset {
    margin-top: 0;
  }

  fieldset legend {
    margin-bottom: 10px;
  }

  fieldset legend div {
    margin-bottom: .5em;
  }


  /* Tables should use 16px rather than 19px */
  table th,
  table td {
    font-size: 16px;
  }

  /* Headings within table bodies don’t need to be bold by default */
  tbody th {
    font-weight: normal;
  }

  table [aria-sort] button,
  table [aria-sort] button:hover,
  table [aria-sort] button:active {
    font-weight: normal;
  }

  .button {
    display: inline-block;
    background-color: $button-colour;
    box-shadow: 0 2px 0 #003618;
    &:hover {
      background-color: $button-colour-hover;
    }
    &:focus {
      background-color: $button-colour-hover;
      outline: 5px solid $focus-colour;
    }
  }



  .show-for-sr {
    display: none;
  }

  .button-group {
    li {
      display: block;
      overflow: hidden;
      clear: both;

      label {
        display: block;
      }
    }
  }

  select {
    width: 100%;
  }

  li .preview-link {
    margin-bottom: 20px;
  }

  .sub-topic {
    max-width: 450px;
  }

  .sidebar {
    background: #FAFAFA;
    padding: 32px 20px;
  }

  .draft {
    text-transform: capitalize;
  }

  ins {
    background-color: #98FB98;
  }

  del {
    background-color: #FF544A;
  }

  .differences {
    border: solid 4px $error-colour;
    margin-bottom: 10px;
    padding: 5px;
  }

  .copy-button {
    margin-top: 40px;
  }

  .button-right {
    float: right !important;
  }

  h1 {
    line-height: 1.1;
    margin-bottom: 40px;
  }

  .heading-large {
    font-size: 48px !important;
    margin-top: 40px;
  }

  h1, h2, h3, h4 {
    font-weight: bold;
  }

  .lead {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    textarea, input {
      // border: 2px solid black;
      font-size: 19px;
      display: block;
      width: calc(100% - 24px);
    }
  }

  /* Specific */

  /* Move dimensions */
  .move-controls {
    text-align: right;
  }

  .movable span:hover {
    cursor: pointer;
  }

  .move-up,
  .move-down {
    color: $link-colour;
    display: block;
  }

  /* End move dimensions */

  .topic-list {
    list-style: none;
    margin-left: 0px;
    font-size: 19px;
  }

  .name a:hover {
    color: white;
    text-decoration: underline;
  }

  /* Chart builder */

  .chart-builder-section {
    margin-left: 0;
    margin-right: 0;

    .form-group {
      margin-bottom: 0;
    }
    .text-form-control {
      margin-bottom: 0;
    }

    .indented-option-block {
      padding-left: 16px;
      border-left: $border-colour 4px solid;
      margin: 12px 0 0 0;
    }

    .interactive-text-input {
      border-width: 0px;
      width: 100%;
    }
  }

  .chart {
    font-family: "nta", Arial, sans-serif;
  }

  tspan {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
  }

  .highcharts-axis {
    stroke-width: 0;

    path {
      stroke-width: 0;
    }
  }

  .highcharts-tick {
    display: none;
  }

  .highcharts-xaxis-labels {
    text {
      fill: black !important;
    }
  }

  .highcharts-xaxis .highcharts-axis-line {
    stroke: black;
  }

  /* tables */

  #charts {
    table {
      margin-bottom: 30px;

      td {
        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .child_row {
    padding-left: 10px;
    font-weight: normal;
  }

  #status-table_wrapper select {
    width: auto;
  }

  #status-table_wrapper input {
    padding: 0;
  }

  .button.warning {
    background-color: $red;
  }

  .button.neutral {
    background-color: $grey-3;

  }

  //edit measure page

  .status {
    margin-top: 10px;
    border: 4px solid $border-colour;
    padding: 8px;
  }

  // TODO: figure out how to make this responsive
  .status.sticky-js-fixed {
    margin-top: 0;
    background-color: $white;
    box-sizing: border-box;
    max-width: 960px;
    width: 960px;
    top: 0px;
    position: fixed;
    z-index: 2;
  }

  .status-inner {
    width: 100%;
    display: table;
  }

  .status .left {
    display: table-cell;
  }

  .status .right {
    display: table-cell;
    text-align: right;
  }

  .status .info {
    margin-right: 20px;
  }

  .status b {
    font-weight: bold;
  }

  .status .button {
    vertical-align: baseline;
  }

  .status .actions {

    .other-versions {
      display: table-cell;
      width: 50%;
      text-align: right;
      font-size: 16px;

      a {
        font-size: 16px;
        color: $link-colour;
        padding: 0;
        margin-left: 10px;
      }
    }
  }

  #review-url {
    font-size: 14px;
  }

  #review-link {
    position: fixed;
    top: -100px

  }

  span.warning {
    color: $error-colour
  }

  #copy-to-clipboard {
    display: none;
    margin-left: 5px;
    color: #000000;
  }

  #generate-review-url {
    color: #000000;
  }
  //end edit measure

  //new version

  .new-version {

    p {

      font-size: 19px;

      b {
        font-weight: bold;
        margin-right: 20px;
      }
    }

    .version-type {
      margin-bottom: 10px;
      font-weight: bold;
    }

    form {
      button {
        border-width: 0;
        color: white;
      }

      input {
        display: inline;
        width: auto;
        margin-bottom: 0;
        margin-right: 10px;
      }

      label {
        display: inline;
        font-weight: normal;
        text-transform: none;

      }

      b {
        font-weight: bold;
        margin-right: 10px;
      }
    }

    .input-radio {
      margin-bottom: 10px;
    }

  }
  //end new version

  /* end temp hacks */

}

.button-group li {
  display: block;
}

li .preview-link {
  margin-bottom: 20px;
}

.sidebar {
  background: #FAFAFA;
  padding: 32px 20px;
}

.draft {
  text-transform: capitalize;
}

h1, h2, h3, h4, p, li, label, a {
  color: $text-colour;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  line-height: 1.1;
  margin-bottom: 40px;
}

.heading-large {
  font-size: 48px;
  margin-top: 40px;
}

.no-breadcrumb {
  margin-top: 72px;
}

.lead {
  font-size: 24px;
  margin-bottom: 20px;
}

textarea, input {
  border: 2px solid black;
  font-size: inherit;
  padding: 5px 4px 4px;
  margin-bottom: 30px;
  &:focus {
    outline: 5px solid $focus-colour;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
  max-width: 400px;
}

/* Autocomplete styling. */
.rd_cms form input.autocomplete__input {
  max-width: 100%;
  margin-top: 0;
  width: calc(100% - 12px);
}

.rd_cms .autocomplete__hint {
  margin-top: 0;
  width: calc(100% - 12px);
}

input.date {
  max-width: 250px;
}

.rd_cms input.short {
  width: 160px;
}


/* Specific */

.topic-list {
  list-style: none;
  margin-left: 0px;
  font-size: 19px;
}

.name {
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.button-group {
  li {
    margin-bottom: 20px;
    button {
      margin-bottom: 0px;
    }
  }
}

.breadcrumbs .current {
  font-weight: bold;
}

.table-of-measures {
  width: 100%;
  border: none;
  border-collapse: collapse;

  td, th {
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
  }

  td:first-of-type,
  th:first-of-type {
    padding-left: 0;
  }

  td:last-of-type,
  th:last-of-type {
    padding-right: 0;
  }

  a {
    margin-right: .5em;
  }

}

.flash-message {
  .alert-box {
    text-align: left;
    color: #00833F;
    background-color: transparent;
    border: 5px solid #00833F;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px 10px;

    ul {
      margin-left: 0;
      list-style-type: none;
      margin-bottom: .5em;
    }

    &.error {
      border-color: $error-colour;

      a {
        color: $error-colour;
      }
      span {
        color: $error-colour;
      }
    }
  }
}

a label {
  color: inherit;
}

.error {
  border: 5px solid $error-colour;
}

button.link {
  color: $govuk-blue;
  font-size: inherit;
  border-width: 0;
  padding: 0;
  margin: 0 1em 0 0;
  display: inline;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;

  &:focus {
      background-color: #ffbf47;
  }
}

button.link.hidden {
  display: none;
}

button.link.delete {
  color: #B10E1E;
}

/* Source contact details (fieldset) */
.source-contact .contact-details {
  border-left: 4px solid #BFC1C3;
  margin-top: 10px;
  padding-top: 0;
  padding-left: 10px;
}

.contact-details input {
  margin-bottom: 20px;
}

.source-contact .further-explanation {
  font-weight: normal;
}

.source-contact legend {
  font-weight: bold;
}

.source-contact .contact-details label {
  font-weight: normal;
}

.source-contact input {
  max-width: 300px;
}

fieldset.source {
  border-width: 0 0 2px 0;
  border-color: #BFC1C3;
  border-style: solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

fieldset.source .delete {
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  fieldset.source .delete {
    margin-top: -40px;
    margin-right: 0;
    float: right
  }
}

fieldset.uk-countries .uk {
  margin-top: 1em;
}

fieldset.uk-countries .uk {
  margin-bottom: 1.5em;
}

.uk-countries .uk-select {
  margin-bottom: 1em;
}

.panel.form-group {
  padding-top: 0;
}

.forgotten-password {
  margin-top: 25px;
}


table.ethnicity-categorisations th.numeric {
  width: 100px;
}

#measure-autocomplete-container {
  max-width: 500px;
}

.shares td {
    vertical-align: top;
    font-size: 19px;
}

/* Styles for autocomplete CMS page */
.rd_cms_autocomplete {

    .pretend-link { color: $link-colour; cursor: pointer; }

    .empty { color: #777; cursor: auto; }

    h1.empty,
    h2.empty,
    h3.empty { color: #AAA; }

    .accordion-section {
      input[type=text] {
        width: 400px;
      }
    }

    button[type=submit] {
      margin-top: 25px;
    }

    button.accordion-expand-all {
      &:focus {
        outline: 3px solid $focus-colour;
      }
      background-color: transparent;
      box-shadow: 0 0;
    }

    button.link {
      border: none 0px;
      padding: 1px 6px;
      font-weight: inherit;
      font-size: inherit;
      background-color: transparent;
      cursor: pointer;
    }

    button.link.cancel {
      color: #B10E1E;
    }

    input {
        &:focus {
            outline: 3px solid $focus-colour;
          }
    }

    input.for-heading {
      font-size: 24px;
      max-width: 600px;
      width: 80%;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    input.for-metadata {
        font-size: inherit;
        margin-bottom: 0px;
        padding: 0px 2px 0px 2px;
    }

    fieldset {
      margin-top: 10px;
      margin-bottom: 10px;
    }

}

.button-container {
  margin-top: 20px;
}
