// Colors
$color-card-primary: #f5f5f5;
$color-card-primary-dark: #BFC1C3;
$color-card-secondary: #005ea5;

$color-white: #fff;
$color-black: #000;

.measure-table td, th {
	text-align: left !important;
}

.progress__title {
	margin-bottom: 40px;
}

.progress__explanatory-text {
	margin-bottom: 30px;

	&__link {
		&,
		&:link,
		&:visited {
			color: $color-black;
			text-decoration: none;
			cursor: pointer;
			font-weight: 700;
		}
		&:hover {
		text-decoration: underline;
		}
	}
}

.progress-card {
	// FUNCTIONALITY
		height: 80px;
		background-color:$color-card-primary;
		text-align: center;
		padding: 10px;
		margin-bottom: 20px;
		border-radius: 3px;

		&--selected {
			color: white;
			background-color: $color-card-secondary;
		}

		&--active {
			&:hover {
				background-color:$color-card-primary-dark;
				color: $color-white;
				cursor: pointer;
			}
		}

		&__value {
			font-size: 5rem;
		}

}

