<div class="govuk-body">
  {% set plural = data_source.measure_versions.count() != 1 %}

  <div class="govuk-body">{{ data_source.publisher.name }}</div>

  <div class="govuk-body">{% if data_source.publication_date %}Published on {{ data_source.publication_date }}{% else %}No publication date{% endif %}</div>

  <div class="govuk-body">Linked to {{ data_source.measure_versions.count() }} measure version{% if plural %}s{% endif %} ({{ data_source.measure_versions.all() | map(attribute='time_covered') | unique | join(', ') }})</div>

  <div class="govuk-body"><a class="govuk-link" href="{{ data_source.source_url }}">{{ data_source.source_url | url_with_line_breaks }}</a></div>

  <div class="govuk-body">{{ data_source.purpose  }}</div>

  {% set other_data_sources = request.args.getlist('data_sources') %}
  {% do other_data_sources.remove(data_source.id | string) %}
  <a class="govuk-link eff-link--warning" href="{{ url_for('admin.merge_data_sources', data_sources=other_data_sources) }}">Remove data source from comparison</a>
</div>
