{% if measures %}

  {% from "cms/measure_actions.html" import render_actions with context %}

    <div class="reordering-save-status" class="" style="font-size: 16px;">&nbsp;</div>

    <table class='table-of-measures' style="margin-bottom: {{ '20px' if current_user.can(CREATE_MEASURE) else '60px' }};">
    <thead>
    <tr>
        <th>
            Page title
        </th>
        <th></th>
        <th></th>
        <th>
            Status
        </th>
        <th class="actions">
        </th>
    </tr>
    </thead>
    <tbody class="measure-list">
      {% for measure in measures[subtopic.guid] %}
          {% set shared_with = (not current_user.is_departmental_user()) or current_user in measure.shared_with %}
          {% if shared_with %}
            <tr data-guid="{{ measure.guid }}" data-subtopic="{{ subtopic.guid }}">
                <td>
                    <a href="{{ url_for('static_site.measure_page', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                      {{ measure.title }}
                    </a>
                </td>
                {%  if measure.number_of_versions() > 1 %}
                <td>
                    <a href="{{ url_for('cms.list_measure_page_versions', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri) }}">
                        {{ measure.number_of_versions() | format_versions | safe }}
                    </a>
                </td>
                {%  else %}
                <td></td>
                {%  endif %}
                <td>{{ measure.version }}</td>
                <td>{{ measure.status | format_status | safe }}</td>
                <td class="actions">
                    {%  set include_delete = current_user.can(DELETE_MEASURE) and measure.number_of_versions() == 1 %}
                    {{ render_actions(topic, subtopic, measure, include_delete ) }}
                </td>
            </tr>
          {% else %}
            {# We want to show the latest published version (if one exists), not draft versions #}
            {% for version in measure.get_versions() %}
                {% if version.published and version.has_no_later_published_versions() %}
                <tr data-guid="{{ measure.guid }}" data-subtopic="{{ subtopic.guid }}">
                    <td>
                        {{ version.title }}
                    </td>
                    <td></td>
                    <td>{{ version.version }}</td>
                    <td>{{ version.status | format_status | safe }}</td>
                    <td class="actions"></td>
                </tr>
                {% endif %}
            {% endfor %}
          {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
