{% if measures %}

  {% from "cms/measure_actions.html" import render_actions with context %}

    <div class="reordering-save-status" class="" style="margin-top: 30px; font-size: 16px;">&nbsp;</div>

    <table class='table-of-measures' style="margin-bottom: 20px;">
    <thead>
    <tr>
        <th>
            Measure name
        </th>
        <th></th>
        <th></th>
        <th>
            Status
        </th>
        <th class="actions">
        </th>
    </tr>
    </thead>
    <tbody class="measure-list">
      {% for measure in measures[subtopic.guid] %}
          {% set shared_with = (not current_user.is_departmental_user()) or current_user in measure.shared_with %}
          <tr data-guid="{{ measure.guid }}" data-subtopic="{{ subtopic.guid }}">
              <td>
                  {% if shared_with %}
                    <a href="{{ url_for('static_site.measure_page', topic=topic.uri, subtopic=subtopic.uri, measure=measure.uri, version=measure.version) }}">
                      {{ measure.title }}
                    </a>
                  {% else %}
                      {{ measure.title }}
                  {% endif %}
              </td>
             {%  if measure.number_of_versions() > 1 %}
                  <td>
                     {% if shared_with %}
                      <a href="{{ url_for('cms.list_measure_page_versions', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid) }}">
                          {{ measure.number_of_versions() | format_versions | safe }}
                      </a>
                      {% else %}
                         {{ measure.number_of_versions() | format_versions | safe }}
                      {% endif %}
                  </td>
              {%  else %}
                 <td></td>
              {%  endif %}
              <td>{{ measure.version }}</td>
              <td>{{ measure.status | format_status | safe }}</td>
              <td class="actions">
                  {% if shared_with %}
                      {%  set include_delete = current_user.can(DELETE) and measure.number_of_versions() == 1 %}
                      {{ render_actions(topic, subtopic, measure, include_delete ) }}
                  {% endif %}
              </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
