{% extends "base.html" %}
{% from "cms/forms.html" import render_version_radio %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set breadcrumbs =
    [
        {
            "url": url_for('static_site.index'),
            "text": "Home"
        },
        {
            "url": url_for('static_site.topic', topic_slug = measure_version.measure.subtopic.topic.slug),
             "text": measure_version.measure.subtopic.topic.title},
        {
            "url": url_for(
                'static_site.measure_version',
                topic_slug = measure_version.measure.subtopic.topic.slug,
                subtopic_slug = measure_version.measure.subtopic.slug,
                measure_slug = measure_version.measure.slug,
                version = 'latest'),
             "text": measure_version.title
        },
    ]
%}

{% block pageTitle %}Archive page - GOV.UK Ethnicity facts and figures{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Archive page
            </h1>

            <p class="govuk-body">
                Are you sure you want to archive this page:
                <br>
                <strong>{{ measure_version.title }}</strong>?
            </p>

            <form method="POST">
                {{ form.csrf_token | default('') }}

                <div class="govuk-form-group">
                    <label class="govuk-label"
                           for="replaced_by_measure">
                        If the archived page is being replaced, choose the new page here:
                    </label>
                    <select class="govuk-select"
                            id="replaced_by_measure"
                            name="replaced_by_measure">
                        <option value="">
                            None - this page is not being replaced
                        </option>
                        {% for choiceId, choiceLabel in form.replaced_by_measure.choices %}
                            <option value="{{ choiceId }}">
                                {{ choiceLabel }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <button class="govuk-button govuk-button--warning">
                    Archive page
                </button>
            </form>
            <a class="govuk-link" href="{{
                    url_for(
                        'static_site.measure_version',
                        topic_slug = measure_version.measure.subtopic.topic.slug,
                        subtopic_slug = measure_version.measure.subtopic.slug,
                        measure_slug = measure_version.measure.slug,
                        version = 'latest')
                }}">
                Cancel
            </a>

        </div>
    </div>
{% endblock %}
