{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set form_disabled = measure_version.status != 'DRAFT' %}
{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title},
    {"url": url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version), "text": measure_version.title},
    {"url": url_for('cms.edit_dimension', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version, dimension_guid=dimension.guid), "text": dimension.title},
  ]
%}

{% block bodyClasses %}rd_cms{% endblock %}

{% block content %}
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-medium">
                Add Table
            </h1>
        </div>
        <div class="column-one-third">
            <div id="tab_seperated_content" class="chart-builder-section">
                <h2 class="heading-medium">1. Copy data from excel</h2>
                <div>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="data_text_area" rows="3" {% if form_disabled %}disabled="disabled"{% endif %}></textarea>
                        </div>
                    </form>
                </div>
            </div>

            <div id="table_options" class="chart-builder-section chart-option-group" style="display:none">
                <h2 class="heading-medium">2. Table builder options</h2>
                <form>
                    <div class="form-group">
                        <label for="table_title">Headers</label>
                        <textarea id="table_title" placeholder="Title" rows=2 data-module="autoresize no-newlines" {% if form_disabled %}disabled="disabled"{% endif %}>{% if dimension.table_source_data %}{{ dimension.table_source_data.tableOptions.table_title }}{% endif %}</textarea>
                        <input id="table_subtitle" placeholder="Subtitle" style="display:none" {% if form_disabled %}disabled="disabled"{% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="table_category_column">Rows</label>
                        <select id="table_category_column" class="form-control" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option>Ethnicity</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="margin-top-small" id="table_category_caption" placeholder="First column caption" {% if form_disabled %}disabled="disabled"{% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="table_group_column">Grouping</label>
                        <select id="table_group_column" class="form-control" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option>[None]</option>
                        </select>
                    </div>
                </form>

                <h2 class="heading-medium">3. Advanced options</h2>
                <form>
                    <div class="form-group">
                        <label for="table_parent_column">Parent</label>
                        <select id="table_parent_column" class="form-control" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option>[None]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="table_order_column">Order rows by</label>
                        <select id="table_order_column" class="form-control" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option>[None]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="table_group_order">Order columns by</label>
                        <select id="table_group_order" class="form-control" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option>[None]</option>
                        </select>
                    </div>
                </form>

                <h2 class="heading-medium">4. Data</h2>
                <form>
                    <div class="form-group">
                        <label for="table_column_1">Column 1</label>
                        <select id="table_column_1" class="form-control column_option_picker" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option value="none">[None]</option>
                        </select>
                        <input id="table_column_1_name" class="margin-top-small">

                        <label for="table_column_2">Column 2</label>
                        <select id="table_column_2" class="form-control column_option_picker" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option value="none">[None]</option>
                        </select>
                        <input id="table_column_2_name" class="margin-top-small">

                        <label for="table_column_3">Column 3</label>
                        <select id="table_column_3" class="form-control column_option_picker" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option value="none">[None]</option>
                        </select>
                        <input id="table_column_3_name" class="margin-top-small">

                        <label for="table_column_4">Column 4</label>
                        <select id="table_column_4" class="form-control column_option_picker" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option value="none">[None]</option>
                        </select>
                        <input id="table_column_4_name" class="margin-top-small">

                        <label for="table_column_5">Column 5</label>
                        <select id="table_column_5" class="form-control column_option_picker" {% if form_disabled %}disabled="disabled"{% endif %}>
                            <option value="none">[None]</option>
                        </select>
                        <input id="table_column_5_name" class="margin-top-small">

                        <div class="form-group">
                            <label for="table_footer">Footer</label>
                            <input id="table_footer" placeholder="Footer" {% if form_disabled %}disabled="disabled"{% endif %}>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="column-two-thirds">
            <div id="preview_section" class="chart-builder-section" style="display:none">
                <h2 class="heading-medium">3. Generate table</h2>
                <button class="btn button btn-primary" id="preview">Preview</button>
            </div>
            <div id="error_container"></div>

            <div id="container"></div>

            <div id="save_section" class="chart-builder-section">
                {% if 'UPDATE' in measure_version.available_actions() %}
                    <h2 class="heading-medium">4. Save</h2>
                {%  endif %}
                <div style="margin-top: 10px">
                    {% if 'UPDATE' in measure_version.available_actions() %}
                        <button class="govuk-button" id="save">Save</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
    <script type="text/javascript" src="/static/javascripts/{{ 'charts.js' | version_filter }}"></script>

<script type="text/javascript">
    $(document).ready(function() {

        $('#data_text_area').keyup(paste);
        $('#preview').click(preview);
        $('#save').click(saveTable);

        data = null;

        function uniqueDataInColumn(data, index) {
            var values = _.map(data.slice(start = 1), function(item) {
                return item[index]; });
            return _.uniq(values).sort();
        }
        function paste(evt) {
            var settings = getTablePageSettings();
            handleNewData(function() { refreshSettings(settings) });
        }

        function setDropdownWithDefault(dropdown_id, value, default_value) {
            if(value) {
                $('#' + dropdown_id).val(value);
            } else {
                $('#' + dropdown_id).val(default_value);
            }
        }

        function refreshSettings(settings) {
                $('#table_title').val(settings.tableOptions.table_title);
                document.getElementById('table_title').dispatchEvent(new Event("input"));

                $('#table_subtitle').val(settings.tableOptions.table_subtitle);
                $('#table_footer').val(settings.tableOptions.table_footer);

                setDropdownWithDefault('table_category_column', settings.tableOptions.table_category_column, 'Ethnicity');
                setDropdownWithDefault('table_category_caption', settings.tableOptions.table_category_caption, '[None]');
                setDropdownWithDefault('table_group_column', settings.tableOptions.table_group_column, '[None]');
                setDropdownWithDefault('table_order_column', settings.tableOptions.table_order_column, '[None]');
                setDropdownWithDefault('table_parent_column', settings.tableOptions.table_parent_column, '[None]');
                setDropdownWithDefault('table_group_order', settings.tableOptions.table_column_order_column, '[None]');

                setDropdownWithDefault('table_column_1', settings.tableOptions.table_column_1, 'none');
                setDropdownWithDefault('table_column_2', settings.tableOptions.table_column_2, 'none');
                setDropdownWithDefault('table_column_3', settings.tableOptions.table_column_3, 'none');
                setDropdownWithDefault('table_column_4', settings.tableOptions.table_column_4, 'none');
                setDropdownWithDefault('table_column_5', settings.tableOptions.table_column_5, 'none');

                $('#table_column_1_name').val(settings.tableOptions.table_column_1_name);
                $('#table_column_2_name').val(settings.tableOptions.table_column_2_name);
                $('#table_column_3_name').val(settings.tableOptions.table_column_3_name);
                $('#table_column_4_name').val(settings.tableOptions.table_column_4_name);
                $('#table_column_5_name').val(settings.tableOptions.table_column_5_name);
                showHideTableColumnNames();
                preview(null);
         }

        function handleNewData(on_complete) {
            // get the data
            var tabbedData = $("#data_text_area").val();
            // read data
            source_data = textToData(tabbedData);

            $.ajax({
                type: "post",
                url: "{{ url_for('cms.process_input_data') }}",
                dataType: 'json',
                data: JSON.stringify({'data': source_data}),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    // get the headers
                    data = response['data'];
                    // get the headers
                    headers = data[0];
                    populateTableOptions(headers);
                    $('#table_options').show();
                    $('#preview_section').show();

                    if(on_complete) {
                        on_complete();
                    }
                },
                failure: function() {
                    headers = data[0];
                    populateTableOptions(headers);
                    $('#table_options').show();
                    $('#preview_section').show();

                    if(on_complete) {
                        on_complete();
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function strippedHeaders(headers) {
            exclude = ['Measure', 'Value', 'Numerator', 'Denominator',
                'Upper bound', 'Lower bound',
                'Upper confidence interval', 'Lower confidence interval',
                'Note', 'Notes'];
            stripped = [];
            for (h in headers) {
                header = headers[h];
                if (exclude.indexOf(header) < 0) {
                    stripped.push(header);
                }
            }
            return stripped;
        }

        function populateTableOptions(headers) {
            $('#table_category_column').html(optionlistWithDefault(headers, 'Ethnicity'));
            $('#table_group_column').html(optionlistWithNone(headers));
            $('#table_group_order').html(optionlistWithNone(headers));
            $('#table_order_column').html(optionlistWithNone(headers));
            $('#table_parent_column').html(optionlistWithNone(headers));
            $('#table_column_1').html(optionlistWithAll(headers));
            $('#table_column_2').html(optionlistWithAll(headers));
            $('#table_column_3').html(optionlistWithAll(headers));
            $('#table_column_4').html(optionlistWithAll(headers));
            $('#table_column_5').html(optionlistWithAll(headers));
            setDefaultTableOptions(headers);
            showHideTableColumnNames();
        }

        function setDefaultTableOptions(headers) {
            if (_.contains(headers, 'Value')) {
                $('#table_column_1').val('Value');
                $('#table_column_1_name').val('Value');
                if (_.contains(headers, 'Denominator')) {
                    $('#table_column_2').val('Denominator');
                    $('#table_column_2_name').val('Denominator');
                    if (_.contains(headers, 'Numerator')) {
                        $('#table_column_2').val('Numerator');
                        $('#table_column_2_name').val('Numerator');
                    }
                }
            }
        }

        $('.column_option_picker').change(function () {
            showHideTableColumnNames();
            populateColumnNames();
        });

        function showHideTableColumnNames() {
            for (var i = 1; i <= 5; i++) {
                if ($('#table_column_' + i).val() === "none") {
                    $('#table_column_' + i + '_name').hide();
                } else {
                    $('#table_column_' + i + '_name').show();
                }
            }
        }

        function populateColumnNames() {
            for (var i = 1; i <= 5; i++) {
                if ($('#table_column_' + i).val() !== "none" && $('#table_column_' + i + '_name').val() === '') {
                    $('#table_column_' + i + '_name').val($('#table_column_' + i + ' option:selected').text());
                }
            }
        }

        function getColumnNames() {
            var columnNames = [];
            for (var i = 1; i <= 5; i++) {
                if ($('#table_column_' + i).val() !== 'none') {
                    columnNames.push($('#table_column_' + i + ' option:selected').text());
                }
            }
            return columnNames
        }

        function getColumnCaptions() {
            var columnCaptions = [];
            for (var i = 1; i <= 5; i++) {
                if ($('#table_column_' + i).val() !== 'none') {
                    columnCaptions.push($('#table_column_' + i + '_name').val());
                }
            }
            return columnCaptions
        }

        function optionlistWithNone(headers) {
            var html = '<option>[None]</option>';
            var stripped = strippedHeaders(headers);
            for (var h in stripped) {
                html = html + '<option>' + stripped[h] + '</option>';
            }
            return html;
        }

        function optionlistWithDefault(headers, defaultValue) {
            var html = '';
            var stripped = strippedHeaders(headers);
            for (var h in stripped) {
                var header = stripped[h];
                if (header === defaultValue) {
                    html = html + '<option selected="selected">' + header + '</option>';
                } else {
                    html = html + '<option>' + header + '</option>';
                }
            }
            return html;
        }

        function optionlistWithAll(headers) {
            var html = '<option value="none">[None]</option>';
            for (var h in headers) {
                html = html + '<option value="' + headers[h] + '">' + headers[h] + '</option>';
            }
            return html;
        }

        function preview(evt) {
            var category = $('#table_category_column').val();
            var group = $('#table_group_column').val();
            var errors = validateData(data, category, group==='[None]' ? null: group);
            if(errors.length > 0) {
                showErrors(errors);
                return
            } else {
                clearErrors();
            }

            var tableObject = buildTableObject(data,
                $('#table_title').val(),
                $('#table_subtitle').val(),
                $('#table_footer').val(),
                category,
                $('#table_parent_column').val(),
                group,
                $('#table_order_column').val(),
                getColumnNames(),
                getColumnCaptions(),
                $('#table_category_caption').val(),
                $('#table_group_order').val());
            drawTable('container', tableObject);
            $('#save_section').show();
        }

        function saveTable(evt) {
            $('#save').attr('disabled','disabled');
            var tableObject = buildTableObject(data,
                $('#table_title').val(),
                $('#table_subtitle').val(),
                $('#table_footer').val(),
                $('#table_category_column').val(),
                $('#table_parent_column').val(),
                $('#table_group_column').val(),
                $('#table_order_column').val(),
                getColumnNames(),
                getColumnCaptions(),
                $('#table_category_caption').val(),
                $('#table_group_order').val());
            if(tableObject) { postTableObject(tableObject, getTablePageSettings()); }
        }

        function getTablePageSettings() {
            var tabbedData = $("#data_text_area").val();
            return {
                'data': textToData(tabbedData),
                'type': $('#chart_type_selector').val(),
                'tableOptions': {

                    'table_title': $('#table_title').val(),
                    'table_subtitle': $('#table_subtitle').val(),
                    'table_footer': $('#table_footer').val(),
                    'table_category_column': $('#table_category_column').val(),
                    'table_category_caption': $('#table_category_caption').val(),
                    'table_group_column': $('#table_group_column').val(),
                    'table_order_column': $('#table_order_column').val(),
                    'table_parent_column': $('#table_parent_column').val(),
                    'table_column_1': $('#table_column_1').val(),
                    'table_column_2': $('#table_column_2').val(),
                    'table_column_3': $('#table_column_3').val(),
                    'table_column_4': $('#table_column_4').val(),
                    'table_column_5': $('#table_column_5').val(),
                    'table_column_1_name': $('#table_column_1_name').val(),
                    'table_column_2_name': $('#table_column_2_name').val(),
                    'table_column_3_name': $('#table_column_3_name').val(),
                    'table_column_4_name': $('#table_column_4_name').val(),
                    'table_column_5_name': $('#table_column_5_name').val(),
                    'table_column_order_column' : $('#table_group_order').val()
                }
            };
        };

        function postTableObject(tableObject, src) {
            $.ajax({
                type: "POST",
                url: "{{ url_for('cms.save_table_to_page', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version, dimension_guid=dimension.guid ) }}",
                dataType: 'json',
                data: JSON.stringify({'tableObject': tableObject, 'source': src}),
                contentType: 'application/json',
                success: function (data) {
                    console.log('OK');
                    location.reload();
                }
            });
        };

        function showErrors(errors) {

            var errorString = "<div class=\"error-summary\" role=\"alert\" aria-labelledby=\"error-summary-heading-example-1\" tabindex=\"-1\">" +
                "<h2 class=\"heading-medium error-summary-heading\" id=\"error-summary-heading-example-1\">" +
                "There are problems with your data" +
                "</h2><ul>";

            _.forEach(errors, function(error) {
                errorString = errorString + "<li>" + errorDescription(error) + "</li>"
            });

            errorString = errorString + "</ul>";

            // add hints to resolve these errors
            errorString = errorString + "<ul>";
            var hints = _.uniq(_.map(errors, function(error) { return errorResolutionHint(error)}));
            _.forEach(hints, function (hint) {
                errorString = errorString + "<li class=\"error-message\">" + hint + "</li></ul>";
            });
            errorString = errorString + "</ul>";

            $('#error_container').html(errorString);
            $('#save_section').hide();

            clearTableArea();
        }



        function clearErrors() {
            $('#error_container').html('');
        }

        function clearTableArea() {
            $('#container').html('');
        }

        function initialiseForm() {
            {% if dimension.table_source_data %}
                var settings = {{dimension.table_source_data|tojson|safe}};
            {% else %}
                var settings = "";
            {% endif %}
            if (settings.data) {
                var data_text = _.map(settings.data, function (d) {
                    return d.join('\t')
                }).join('\n');
                $('#data_text_area').val(data_text);
                handleNewData(function () { refreshSettings(settings)});
            }
        }

        initialiseForm();
    });
    </script>

    <script>
        function pasteJson(json) {
            var data_text_area = document.getElementById('data_text_area');

            data_text_area.value = _.map(json, function(row) { return row.join('\t'); }).join('\n');
            data_text_area.dispatchEvent(new Event("keyup"));
        }
    </script>

{% endblock %}
