{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set form_disabled = measure_version.status != 'DRAFT' %}
{% set settings_and_source_data = (dimension.dimension_table.settings_and_source_data if dimension.dimension_table else {}) %}
{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title},
    {"url": url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version), "text": measure_version.title},
    {"url": url_for('cms.edit_dimension', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version, dimension_guid=dimension.guid), "text": dimension.title},
  ]
%}

{% block headEnd %}
  {{ super() }}
  <script>
    var settings = {{ settings_and_source_data | tojson | safe }};
    var url_get_classifications = "{{ url_for('cms.get_valid_classifications') }}";
    var url_save_table_to_page = "{{ url_for('cms.save_table_to_page', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version, dimension_guid=dimension.guid ) }}";
  </script>
{% endblock %}

{% block pageTitle %}{% if settings_and_source_data %}Edit{% else %}Create a{% endif %} table{% endblock %}

<!-- On save success display back to link -->
{% block displayNavigationLinkOnMessage %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "info" %}
                    <a href="{{url_for('cms.edit_dimension', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version, dimension_guid=dimension.guid)}}" class="govuk-back-link">Back to dimension</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row eff-numbered-sections">

        <div id="errors_container"
             class="govuk-error-summary hidden"
             aria-labelledby="error-summary-title"
             role="alert"
             tabindex="-1"
             data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title"
                id="error-summary-title">
                There is an error
            </h2>
            <div class="govuk-error-summary__body">
                <ul id="tip-list"
                    class="govuk-list govuk-error-summary__list">
                    <li class="tip hidden"
                        id="tip__ethnicity-column">
                        We haven’t found a column for ethnicity in your data. The column should be headed ‘Ethnicity’.<br />
                        If your data doesn’t include ethnicity, please contact the Race Disparity Unit team for help.<br />
                        <a href="#data-edit-error">Click ‘Edit’ to check and update your data.</a>
                    </li>
                    <li class="tip hidden"
                        id="tip__rectangular-data">Your data is not a table.<br />
                        <a href="#data-edit-error">Click ‘Edit’ to check and update your data.</a>
                    </li>
                    <li class="tip hidden"
                        id="tip__duplicate-data">There are rows duplicated in your data.<br />
                        <a href="#data-edit-error">Click ‘Edit’ to check and update your data</a> or <br />
                        <a href="#table-options-error">Check table options.</a>
                    </li>
                    <li class="tip hidden"
                        id="tip__missing-data">There are rows missing from your data.<br />
                        <a href="#data-edit-error">Click ‘Edit’ to check and update your data</a> or <br />
                        <a href="#table-options-error">Check table options.</a>
                    </li>
                    <li class="tip hidden"
                        id="tip__complex-data">Your data is complex.<br />
                        <a href="#data-edit-error">Click ‘Edit’ to check and update your data</a> or <br />
                        <a href="#table-options-error">Check table options.</a>
                    </li>
                    <li class="tip hidden"
                        id="tip__required-settings">Please complete all required settings<br />
                        <a id="settings-error-anchor-link"
                           href="#table-options-error">Check required settings.</a>
                    </li>
                    <li class="data-missing hidden"
                        id="data-missing">
                        <a id="settings-error-anchor-link"
                           href="#data-error">Enter some data.</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-column-full">
            <h1 id="builder-title" class="govuk-heading-l">{% if settings_and_source_data %}Format and view{% else %}Create a{% endif %} table</h1>
        </div>

        {#
          DATA ENTRY PANEL
          This panel appears on create or when editing data
        #}
        <div id="data-panel" class="data-panel {% if settings_and_source_data %}hidden{% endif %}">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m no-top-border eff-numbered-sections__item"><label for="data_text_area">Data</label></h2>

                <div class="govuk-hint">
                    <p class="govuk-hint">Copy and paste your data here. You should:</p>
                    <ul class="govuk-list govuk-list--bullet eff-list--hint">
                        <li>only select the columns and rows you need for this chart or table</li>
                        <li>not paste any empty rows</li>
                        <li>include columns for ‘Ethnicity’ and ‘Value’</li>
                        <li>not format numbers (for example, by adding a % sign to percentages)</li>
                        <li>include extra information like sample sizes if it helps users to understand the data</li>
                    </ul>
                </div>

                <div class="govuk-form-group">
                  <form onsubmit="return false;">
                      <div class="govuk-form-group" id="data-form-group">
                          <span id="data-error" class="govuk-error-message"></span>
                          <textarea class="govuk-textarea" id="data_text_area" rows="10"
                                    {% if form_disabled %}disabled="disabled"{% endif %}></textarea>
                      </div>
                      <button type="button" class="govuk-button" id="confirm-data">Next</button>
                  </form>
                </div>
                <p class="govuk-body"><a class="govuk-link" id="cancel-edit-data" href="#">Cancel</a></p>
            </div>
        </div>

        <div id="edit-panel" class="edit-panel {% if not settings_and_source_data %}hidden{% endif %}">
            <div class="govuk-grid-column-one-third">
                {#
                    DATA DISPLAY
                    Data is displayed on the main builder in a small section that just lists its rows
                    and columns with an option to return to the DATA ENTRY PANEL
                #}
                <div id="tab_seperated_content" class="chart-builder-section">
                      <h2 class="govuk-heading-m eff-numbered-sections__item">Data</h2>
                      <div>
                          <p class="govuk-body" id="data-description">(no data)</p>
                          <span id="data-edit-error" class="govuk-error-message hidden" tabindex="-1">
                            <span class="govuk-visually-hidden">Error:</span> Click ‘Edit’ to check and update your data
                          </span>
                          <p class="govuk-body"><a class="govuk-link" id="edit-data" href="#">Edit</a></p>
                      </div>
                </div>

                {#
                    ETHNICITY SETTINGS
                    Here you select which of the preset options you want to use for this table
                    (presets are selected using a call to the /get-valid-presets-for-data python endpoint)
                #}
                <div id="ethnicity_settings_section" class="chart-builder-section">
                    <form>
                        <div>
                            <div class="govuk-form-group">
                                <label for="ethnicity_settings">
                                    <h2 class="govuk-heading-m eff-numbered-sections__item">Ethnicity classification</h2>
                                </label>
                                <select id="ethnicity_settings" class="govuk-select eff-!-fill-width" {% if form_disabled %}disabled="disabled"{% endif %}>
                                    <option>None</option>
                                </select>
                                {% include "cms/_custom_classification.html" %}
                            </div>
                        </div>
                    </form>
                </div>

                {#
                    TABLE OPTIONS SECTIONS
                    These allow you to enter appropriate settings for your tables
                    Builder 1 was data agnostic so had plenty of settings to standardise, order and display data
                    Builder 2 recognises all tables are BY ETHNICITY so makes the necessary assumptions
                #}

                {#
                    COMPLEX TABLES _______________________________
                    Here you require two columns to set up the tables
                    Ethnicity must be one of the two
                #}
                <div id="complex_table_options" class="chart-builder-section chart-option-group hidden">
                    <h2 class="govuk-heading-m eff-numbered-sections__item"><label for="complex-table__data-style">Table options</label></h2>
                    <span id="table-options-error" class="govuk-error-message hidden" tabindex="-1">
                        <span class="govuk-visually-hidden">Error:</span> Check table options
                    </span>
                    <form>
                        {#
                            Select style
                        #}
                        <div class="govuk-form-group">
                            <select class="govuk-select eff-!-fill-width" id="complex-table__data-style"
                                    {% if form_disabled %}disabled="disabled"{% endif %}>
                                <option value="ethnicity_as_row" selected>Use ethnicity for rows</option>
                                <option value="ethnicity_as_column">Use ethnicity for columns</option>
                            </select>
                        </div>

                        {#
                            Style 1 - Ethnicity for groups
                        #}
                        <div class="eff-select__conditional" id="complex-table__ethnicity-is-row">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ethnicity-as-row__columns">Column groups</label>
                                <span id="ethnicity-as-row__columns-error" class="govuk-error-message hidden" tabindex="-1">
                                    <span class="govuk-visually-hidden">Error:</span> Check required settings
                                </span>
                                <select id="ethnicity-as-row__columns" class="govuk-select eff-!-fill-width"
                                        {% if form_disabled %}disabled="disabled"{% endif %}>
                                    <option>Please select</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label for="ethnicity-as-row__column-order" class="govuk-label">Column group order</label>
                                <span id="ethnicity-as-row__column-order-error" class="govuk-error-message hidden" tabindex="-1">
                                    <span class="govuk-visually-hidden">Error:</span> Check required settings
                                </span>
                                <select id="ethnicity-as-row__column-order" class="govuk-select eff-!-fill-width"
                                        {% if form_disabled %}disabled="disabled"{% endif %}>
                                    <option value="[None]">[None]</option>
                                </select>
                            </div>
                        </div>

                        {#
                            Style 2  - Ethnicity for sub-groups
                        #}
                        <div class="eff-select__conditional hidden" id="complex-table__ethnicity-is-column">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ethnicity-as-column__rows">Rows</label>
                                <span id="ethnicity-as-column__rows-error" class="govuk-error-message hidden" tabindex="-1">
                                    <span class="govuk-visually-hidden">Error:</span> Check required settings
                                </span>
                                <select id="ethnicity-as-column__rows" class="govuk-select eff-!-fill-width"
                                        {% if form_disabled %}disabled="disabled"{% endif %}>
                                    <option>Please select</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label for="ethnicity-as-column__row-order" class="govuk-label">Row order</label>
                                <span id="ethnicity-as-column__row-order-error" class="govuk-error-message hidden" tabindex="-1">
                                    <span class="govuk-visually-hidden">Error:</span> Check required settings
                                </span>
                                <select id="ethnicity-as-column__row-order" class="govuk-select eff-!-fill-width"
                                        {% if form_disabled %}disabled="disabled"{% endif %}>
                                    <option>Please select</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <h2 class="govuk-heading-m eff-numbered-sections__item">Options</h2>
                <form onsubmit="return false;">
                    <div class="govuk-form-group">
                        <label for="index_column_name" class="govuk-label">Row title</label>
                        <input id="index_column_name" class="govuk-input">
                    </div>
                </form>


                <div id="column_settings_section" class="chart-builder-section">
                  <h2 class="govuk-heading-m eff-numbered-sections__item">Columns</h2>
                  <form>
                      <div class="govuk-form-group">
                        <div class="govuk-form-group govuk-!-margin-bottom-1">
                            <label for="table_column_1"
                                class="govuk-label">First column</label>
                            <span id="table_column_1-error"
                                class="govuk-error-message hidden" tabindex="-1">
                                <span class="govuk-visually-hidden">Error:</span> Check required settings
                            </span>
                            <select id="table_column_1"
                                    class="govuk-select column_option_picker eff-!-fill-width"
                                    {% if form_disabled %}disabled="disabled"
                                    {% endif %}>
                                <option value="none">[None]</option>
                            </select>
                        </div>

                          <div class="govuk-form-group">
                              <label for="table_column_1_name" class="govuk-label">Heading <span class="govuk-visually-hidden"> for first column</span></label>
                              <input id="table_column_1_name" class="govuk-input column_option_picker_name">
                          </div>

                          <div class="govuk-form-group govuk-!-margin-bottom-1">
                              <label for="table_column_2" class="govuk-label">Second column</label>
                              <select id="table_column_2" class="govuk-select column_option_picker eff-!-fill-width" {% if form_disabled %}disabled="disabled"{% endif %}>
                                  <option value="none">[None]</option>
                              </select>
                          </div>

                          <div class="govuk-form-group">
                              <label for="table_column_2_name" class="govuk-label">Heading <span class="govuk-visually-hidden"> for second column</span></label>
                              <input id="table_column_2_name" class="govuk-input column_option_picker_name">
                          </div>

                          <div class="govuk-form-group govuk-!-margin-bottom-1">
                              <label for="table_column_3" class="govuk-label">Third column</label>
                              <select id="table_column_3" class="govuk-select column_option_picker eff-!-fill-width" {% if form_disabled %}disabled="disabled"{% endif %}>
                                  <option value="none">[None]</option>
                              </select>
                          </div>

                          <div class="govuk-form-group">
                              <label for="table_column_3_name" class="govuk-label">Heading <span class="govuk-visually-hidden"> for third column</span></label>
                              <input id="table_column_3_name" class="govuk-input column_option_picker_name">
                          </div>

                          <div class="govuk-form-group govuk-!-margin-bottom-1">
                              <label for="table_column_4" class="govuk-label">Fourth column</label>
                              <select id="table_column_4" class="govuk-select column_option_picker eff-!-fill-width" {% if form_disabled %}disabled="disabled"{% endif %}>
                                  <option value="none">[None]</option>
                              </select>
                          </div>

                          <div class="govuk-form-group">
                              <label for="table_column_4_name" class="govuk-label">Heading <span class="govuk-visually-hidden"> for fourth column</span></label>
                              <input id="table_column_4_name" class="govuk-input column_option_picker_name">
                          </div>

                          <div class="govuk-form-group govuk-!-margin-bottom-1">
                              <label for="table_column_5" class="govuk-label">Fifth column</label>
                              <select id="table_column_5" class="govuk-select column_option_picker eff-!-fill-width" {% if form_disabled %}disabled="disabled"{% endif %}>
                                  <option value="none">[None]</option>
                              </select>
                          </div>

                          <div class="govuk-form-group">
                              <label for="table_column_5_name" class="govuk-label">Heading <span class="govuk-visually-hidden"> for fifth column</span></label>
                              <input id="table_column_5_name" class="govuk-input column_option_picker_name">
                          </div>
                      </div>
                  </form>
                </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <div id="preview_container">
                    <h2 class="govuk-heading-m eff-numbered-sections__item"><label for="table_title">Table title</label></h2>
                    <div class="chart-builder-section">
                        <span class="govuk-hint">For example, ‘Percentage of households who own their home by ethnicity and
                            socio-economic group’</span>
                        {% include 'forms/extended_hints/_chart_and_table_title.html' %}
                        <textarea id="table_title"
                                  class="govuk-textarea"
                                  rows="2"
                                  data-module="autoresize no-newlines"
                                  {% if form_disabled %}disabled="disabled"
                                  {% endif %}>{% if settings_and_source_data %}{{ settings_and_source_data.tableValues.table_title }}{% endif %}</textarea>
                    </div>

                    <h2 class="govuk-heading-m eff-numbered-sections__item">Preview</h2>
                    <div class="chart-builder-section">
                    </div>
                    <div id="container"></div>

                    {% if 'UPDATE' in measure_version.available_actions %}
                    <div id="save_section"
                         class="chart-builder-section"
                         class="hidden">
                        <div>
                            <button class="govuk-button"
                                    id="save">Save</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}

  <script type="text/javascript" src="/static/javascripts/{{ 'charts.js' | version_filter }}"></script>
  <script src="{{ url_for('static', filename='javascripts/') }}{{ 'tablebuilder.js' | version_filter }}"></script>
{% endblock %}
