{% extends "base_cms.html" %}

{%  set form_disabled = measure.status != 'DRAFT' %}

{% from "cms/forms.html" import render_field, render_textarea_field, render_checkboxes, render_category_select %}

{% block title %}Create dimension{% endblock %}
{% block breadcrumbs %}
    <nav class="" aria-label="You are here:" role="navigation">
        <ul class='breadcrumbs'>
            <li>
                <a href="{{ url_for('cms.index') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('cms.topic', topic=topic.guid) }}">{{ topic.title }}</a>
            </li>
            <li>
                <a href="{{ url_for('cms.subtopic', topic=topic.guid, subtopic=subtopic.guid) }}">{{ subtopic.title }}</a>
            </li>
            <li>
                <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">{{ measure.title }}</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block messages %}
 <div class='grid-row'>
        <div class='column-two-thirds'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        <div class="flash-message">
                            {% for category, message in messages %}
                                <div data-alert class="alert-box {% if category == 'error' %}error{% else %}{{ category }}{% endif %}">
                                    <span><p>{{ message }}</p></span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="grid-row">
        <div class="column-full">
          <h1 class="heading-medium">Create new dimension</h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
        {% block measure_form %}
            <form method="POST" action="{{ url_for('cms.create_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version )}}">
                {{ form.csrf_token }}
                {% block fields %}

                    {{ render_field(form.title, disabled=form_disabled) }}

                    {{ render_field(form.time_period, disabled=form_disabled) }}

                    {{ render_textarea_field(form.summary, rows='7', cols='100', disabled=form_disabled) }}

                    {{ render_category_select('If chart and table use different categories, select the most detailed one.', 9, categories_by_subfamily, disabled=form_disabled) }}

                    {{ render_checkboxes([form.include_parents,
                                      form.include_all,
                                      form.include_unknown],
                                          disabled=form_disabled,
                                          legend='Other values',
                                          class='country')}}

                {% endblock fields %}
                <ul class="button-group" data-topbar data-options="sticky_on: large">
                    <li>
                        <button type="submit" class="button" name="save">Save
                        </button>
                    </li>
                </ul>
            </form>
        {% endblock %}
    </div>
  </div>
{% endblock %}
