{% extends "base.html" %}

{% block endhead %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='vendor/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/rd-data-tools.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/rd-data-objects.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/rd-graph.js') }}"></script>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class='large-12 columns'>
                {% block breadcrumbs %}
                    <nav class="" aria-label="You are here:" role="navigation">
                        <ul class='breadcrumbs'>
                            <li>
                                <a href="{{ url_for('cms.index') }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ url_for('cms.topic_overview', topic=topic.guid) }}">{{ topic.title }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('cms.subtopic_overview', topic=topic.guid, subtopic=subtopic.guid) }}">{{ subtopic.title }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid) }}">{{ measure.title }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('cms.edit_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, dimension=dimension.guid) }}">{{ dimension.title }}</a>
                            </li>
                        </ul>
                    </nav>
                {% endblock %}
            </div>
            <!--Options-->
            <div class="large-4 column">
                <div id="tab_seperated_content" class="chart-builder-section">
                    <h3>1. Copy data from excel</h3>
                    <div>
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" id="data_text_area" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="select_chart_type" class="chart-builder-section" style="display:none">
                    <h3>2. Select chart type</h3>
                    <div>
                        <select class="form-control" id="chart_type_selector">
                            <option value="none">Select a chart type</option>
                            <option value="line_graph">Line graph</option>
                            <option value="bar_chart">Bar chart</option>
                            <option value="component_chart">Component chart</option>
                        </select>
                    </div>
                </div>

                <div id="line_graph_options" class="chart-builder-section chart-option-group" style="display:none">
                    <h3>3. Line graph options</h3>
                    <form>
                        <div class="form-group">
                            <label for="line_series_column">Series</label>
                            <select id="line_series_column" class="form-control">
                                <option>Ethnicity</option>
                            </select>
                        </div>
                        <div>
                            <label for="x_axis_column">X-Axis</label>
                            <select id="x_axis_column" class="form-control">
                                <option>Time</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div id="bar_chart_options" class="chart-builder-section chart-option-group" style="display:none">
                    <h3>3. Bar chart options</h3>
                    <form>
                        <div class="form-group">
                            <label for="primary_column">Primary grouping</label>
                            <select id="primary_column" class="form-control">
                                <option>Ethnicity</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="secondary_column">Secondary grouping</label>
                            <select id="secondary_column" class="form-control">
                                <option>[None]</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div id="component_chart_options" class="chart-builder-section chart-option-group" style="display:none">
                    <h3>3. Component chart options</h3>
                    <form>
                        <div class="form-group">
                            <label for="component_bar_column">Bar grouping</label>
                            <select id="component_bar_column" class="form-control">
                                <option>Ethnicity</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="component_component_column">Component grouping</label>
                            <select id="component_component_column" class="form-control">
                                <option>[None]</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div id="chart_format_options" class="chart-builder-section chart-option-group" style="display:none">
                    <h3>4. Chart format options</h3>
                    <form>
                        <div class="form-group">
                            <label for="chart_title">Chart title</label>
                            <input id="chart_title">
                        </div>
                        <div class="form-group">
                            <label for="x_axis_label">X axis</label>
                            <input id="x_axis_label">
                        </div>
                        <div class="form-group">
                            <label for="y_axis_label">Y axis</label>
                            <input id="y_axis_label">
                        </div>
                    </form>
                </div>

                <div id="preview_section" class="chart-builder-section" style="display:none">
                    <h3>4. Generate chart</h3>
                    <div>
                        <button class="btn btn-primary" id="preview">Preview</button>
                    </div>
                </div>

                <div id="save_section" class="chart-builder-section" style="display:none">
                    <h3>5. Save chart</h3>
                    <div>
                        <button class="" id="save">Save</button>
                    </div>
                </div>
                <div id="exit_section">
                    <button class="" id="exit">Back</button>
                </div>
            </div>
            <div class="large-8 column">
                <div id="container" class="chart-container" style="height: 600px"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
        $(document).ready(function() {
            const excluded_headers = exclude = ['Measure', 'Value', 'Numerator', 'Denominator',
                'Upper bound', 'Lower bound',
                'Upper confidence interval', 'Lower confidence interval',
                'Note', 'Notes'];

            $('#data_text_area').keyup(paste);
            $('#preview').click(preview);
            $('#save_section').click(saveChart);
            $('#exit_section').click(back);

            data = null;

            function back(evt) {
                window.location.replace("{{ url_for('cms.edit_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, dimension=dimension.guid) }}")
            }


            function uniqueDataInColumn(data, index) {
                values = _.map(data.slice(start = 1), function(item) {
                    return item[index]; });
                return _.uniq(values).sort();
            }

            function paste(evt) {
                    // get the data
                    var tabbedData = $("#data_text_area").val();

                    // read data
                    data = _.map(tabbedData.split('\n'), function(line) { return line.split('\t')});

                    // get the headers
                    headers = data[0];

                    populateChartOptions(headers);

                    $('#select_chart_type').show();
                }

            function strippedHeaders(headers) {
                exclude = ['Measure', 'Value', 'Numerator', 'Denominator',
                    'Upper bound', 'Lower bound',
                    'Upper confidence interval', 'Lower confidence interval',
                    'Note', 'Notes'];
                stripped = [];
                for(h in headers) {
                    header = headers[h];
                    if(exclude.indexOf(header) < 0) { stripped.push(header); }
                }
                return stripped;
            }

            function populateChartOptions(headers) {

                $('#line_series_column').html(optionlistWithDefault(headers, 'Ethnicity'));
                $('#x_axis_column').html(optionlistWithDefault(headers, 'Time'));

                $('#primary_column').html(optionlistWithDefault(headers, 'Ethnicity'));
                $('#secondary_column').html(optionlistWithNone(headers));

                $('#component_bar_column').html(optionlistWithDefault(headers, 'Ethnicity'));
                $('#component_component_column').html(optionlistWithNone(headers));
            }

            function optionlistWithNone(headers) {
                html = '<option>[None]</option>';
                stripped = strippedHeaders(headers);
                for(var h in stripped) {
                    header = stripped[h];
                    html = html + '<option>' + header + '</option>';
                }
                return html;
            }

            function optionlistWithDefault(headers, defaultValue) {
                html = '';
                stripped = strippedHeaders(headers);
                for(var h in stripped) {
                  header = stripped[h];
                  if(header === defaultValue) {
                      html = html + '<option selected="selected">' + header + '</option>';
                  } else {
                      html = html + '<option>' + header + '</option>';
                  }
                }
                return html;
            }

            function optionlistWithAll(headers) {
                html = '<option value="none">[None]</option>';
                for(var h in headers) {
                    html = html + '<option value="' + headers[h] + '">' + headers[h] + '</option>';
                }
                return html;
            }

            function preview(evt) {

                chart_type = $('#chart_type_selector').val();
                var chartObject = null;
                if(chart_type === 'bar_chart') {
                    chartObject = barchartObject(data, $('#primary_column').val(), $('#secondary_column').val(),
                        $('#chart_title').val(), $('#x_axis_label').val(), $('#y_axis_label').val());
                } else if (chart_type === 'line_graph') {
                    chartObject = linechartObject(data, $('#x_axis_column').val(), $('#line_series_column').val(),
                        $('#chart_title').val(), $('#x_axis_label').val(), $('#y_axis_label').val());
                } else if (chart_type === 'component_chart') {
                    chartObject = componentChartObject(data, $('#component_bar_column').val(), $('#component_component_column').val(),
                        $('#chart_title').val(), $('#x_axis_label').val(), $('#y_axis_label').val());
                }

                if(chartObject) { drawChart('container', chartObject); }

                $('#save_section').show();
            }

            function saveChart(evt) {

                chart_type = $('#chart_type_selector').val();
                var chartObject = null;
                if(chart_type === 'bar_chart') {
                    chartObject = barchartObject(data, $('#primary_column').val(), $('#secondary_column').val(),
                        $('#chart_title').val(), $('#x_axis_label').val(), $('#y_axis_label').val());
                } else if (chart_type === 'line_graph') {
                    chartObject = linechartObject(data, $('#x_axis_column').val(), $('#line_series_column').val(),
                        $('#chart_title').val(), $('#x_axis_label').val(), $('#y_axis_label').val());
                } else if (chart_type === 'component_chart') {
                    chartObject = componentChartObject(data, $('#component_bar_column').val(), $('#component_component_column').val(),
                        $('#chart_title').val(), $('#x_axis_label').val(), $('#y_axis_label').val());
                }

                if(chartObject) { postChartObject(chartObject, getChartPageSettings()); }
            }

            function getChartPageSettings() {
                return {
                    'data': data,
                    'type': $('#chart_type_selector').val(),
                    'chartOptions':{
                        'primary_column': $('#primary_column').val(),
                        'secondary_column': $('#secondary_column').val(),
                        'x_axis_column': $('#x_axis_column').val(),
                        'line_series_column': $('#line_series_column').val(),
                        'component_bar_column': $('#component_bar_column').val(),
                        'component_component_column': $('#component_component_column').val()
                    },
                    'chartFormat':{
                        'chart_title':$('#chart_title').val(),
                        'x_axis_label':$('#x_axis_label').val(),
                        'y_axis_label':$('#y_axis_label').val()
                    }
                }
            }

            function postChartObject(chartObject, src) {
                if (chartObject) {
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('cms.save_chart_to_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, dimension=dimension.guid ) }}",
                        dataType: 'json',
                        data: JSON.stringify({'chartObject': chartObject, 'source': src}),
                        contentType: 'application/json',
                        success: function () {
                            console.log('OK');
                        }
                    });
                }
            }

            function selectChartType(chart_type) {
                $('.chart-option-group').hide();
                $('#' + chart_type + "_options").show();
                $('#chart_format_options').show();
                $('#preview_section').show();
            }

            $(function() {
                $('#chart_type_selector').change(function(){
                    selectChartType($(this).val())
                });
            });

            function initialiseForm() {
                var settings = {{reload_settings|tojson}}

                if(settings.data) {
                    var data_text = _.map(settings.data, function(d) { return d.join('\t')}).join('\n');
                    $('#data_text_area').val(data_text);

                    paste(null);

                    $('#chart_type_selector').val(settings.type);
                    selectChartType(settings.type);

                    $('#primary_column').val(settings.chartOptions.primary_column);
                    $('#secondary_column').val(settings.chartOptions.secondary_column);
                    $('#x_axis_column').val(settings.chartOptions.x_axis_column);
                    $('#line_series_column').val(settings.chartOptions.line_series_column);
                    $('#component_bar_column').val(settings.chartOptions.component_bar_column);
                    $('#component_component_column').val(settings.chartOptions.component_component_column);

                    $('#chart_title').val(settings.chartFormat.chart_title);
                    $('#x_axis_label').val(settings.chartFormat.x_axis_label);
                    $('#y_axis_label').val(settings.chartFormat.y_axis_label);

                    preview(null);
                }
            }

            initialiseForm();
        });
</script>
<script>

</script>

{% endblock %}