{% extends "base_cms.html" %}
{%  from "cms/forms.html" import render_version_radio %}

{% block breadcrumbs %}
    <nav class="" aria-label="You are here:" role="navigation">
        <ul class='breadcrumbs'>
            <li>
                <a href="{{ url_for('cms.index') }}" id="home_breadcrumb">Home</a>
            </li>
            <li>
                <a href="{{ url_for('cms.topic', topic=topic.guid) }}"
                   id="{{ topic.guid }}_breadcrumb">{{ topic.title }}</a>
            </li>
            <li>
                <a href="{{ url_for('cms.subtopic', topic=topic.guid, subtopic=subtopic.guid) }}"
                   id="{{ subtopic.guid }}_breadcrumb">{{ subtopic.title }}</a>
            </li>

            <li>
                <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}"
                   id="{{ measure.guid }}_breadcrumb">{{ measure.title }}</a>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block main_content %}

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Create new version</h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds new-version">
            <p>Current version: <b>{{ measure.version }}</b>
                <a href="{{ url_for('static_site.measure_page', topic=topic.uri, subtopic=subtopic.uri, measure=measure.uri, version=measure.version) }}">
                    View page
                </a>
            </p>
            <form method="POST"
                  action="{{ url_for('cms.new_version', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">
                <div class="version-type">New version type:</div>
                {% for version in form.version_type %}
                    <div class="input-radio">
                        {{ render_version_radio(version, measure) }}
                    </div>
                {% endfor %}
                <button class="button">Create new version in draft</button>
                {{ form.csrf_token }}
            </form>
        </div>

        <div class="column-one-third">
            &nbsp;
        </div>

    </div>

{% endblock %}