{% extends "base.html" %}
{% from "cms/forms.html" import render_version_radio %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title},
    {"url": url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure.version), "text": measure.title},
  ]
%}

{% block bodyClasses %}rd_cms{% endblock %}

{% block content %}
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Create new version</h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds new-version">
            <p>Current version: <b>{{ measure.version }}</b>
                <a href="{{ url_for('static_site.measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure.version) }}">
                    View page
                </a>
            </p>
            <form method="POST"
                  action="{{ url_for('cms.new_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure.version) }}">
                {{ form.csrf_token }}
                {{ form.version_type }}
                <button class="button">Create new version in draft</button>
            </form>
        </div>

        <div class="column-one-third">
            &nbsp;
        </div>

    </div>
{% endblock %}
