{% extends "base_cms.html" %}
{% block endhead %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='vendor/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/rd-data-tools.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/rd-chart-objects.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/rd-graph.js') }}"></script>

{% endblock %}

{% block breadcrumbs %}
    <div class="grid-row">
        <div class='column-two-thirds'>
            <nav class="table-breadcrumbs" aria-label="You are here:" role="navigation">
                <ul class='breadcrumbs'>
                    <li>
                        <a href="{{ url_for('cms.index') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('cms.topic_overview', topic=topic.guid) }}">{{ topic.title }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('cms.subtopic_overview', topic=topic.guid, subtopic=subtopic.guid) }}">{{ subtopic.title }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">{{ measure.title }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('cms.edit_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid) }}">{{ dimension.title }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block messages %}
 <div class='grid-row'>
        <div class='column-full'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        <div class="flash-message">
                            {% for category, message in messages %}
                                <div data-alert
                                     class="alert-box {% if category == 'error' %}alert{% else %}{{ category }}{% endif %}">
                                    <span>{{ message }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}


{% block main_content %}
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-medium">
                Add Chart
            </h1>
        </div>
        <div id="console-message"></div>
        <div class='column-one-third'>
            <div id="tab_seperated_content" class="chart-builder-section">
                <form>
                    <div class="form-group">
                        <label for="data_text_area">
                            <h2 class="heading-medium">1. Copy data from excel</h2>
                        </label>
                        <textarea class="form-control" id="data_text_area" rows="3"></textarea>
                    </div>
                </form>
            </div>

            <div id="select_chart_type" class="chart-builder-section" style="display:none">
                <label for="chart_type_selector">
                    <h2 class="heading-medium">2. Select chart type</h2>
                </label>
                <select class="form-control" id="chart_type_selector">
                    <option value="none">Select a chart type</option>
                    <option value="line_graph">Line graph</option>
                    <option value="bar_chart">Bar chart</option>
                    <option value="component_chart">Component chart</option>
                    {% if simple_chart_builder %}
                        <!-- complex chart options are suppressed in this environment.-->
                    {% else %}
                        <option value="panel_bar_chart">Panel bar chart</option>
                        <option value="panel_line_chart">Panel line chart</option>
                    {% endif %}

                </select>
            </div>

            <div id="line_graph_options" class="chart-builder-section chart-option-group" style="display:none">
                <h2 class="heading-medium">3. Line graph options</h2>
                <form>
                    <div class="form-group">
                        <label for="line_series_column">Series</label>
                        <select id="line_series_column" class="form-control">
                            <option>Ethnicity</option>
                        </select>
                    </div>
                    <div>
                        <label for="x_axis_column">X-Axis</label>
                        <select id="x_axis_column" class="form-control">
                            <option>Time</option>
                        </select>
                    </div>
                </form>
            </div>

            <div id="bar_chart_options" class="chart-builder-section chart-option-group" style="display:none">
                <h2 class="heading-medium">3. Bar chart options</h2>
                <form>
                    <div class="form-group">
                        <label for="primary_column">Primary grouping</label>
                        <select id="primary_column" class="form-control">
                            <option>Ethnicity</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="secondary_column">Secondary grouping</label>
                        <select id="secondary_column" class="form-control">
                            <option>[None]</option>
                        </select>
                    </div>
                    <div class="form-group" style="display:none">
                        <label for="parent_column">Parent</label>
                        <select id="parent_column" class="form-control">
                            <option>[None]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="order_column">Order</label>
                        <select id="order_column" class="form-control">
                            <option>[None]</option>
                        </select>
                    </div>
                </form>
            </div>

            <div id="component_chart_options" class="chart-builder-section chart-option-group" style="display:none">
                <h2 class="heading-medium">3. Component chart options</h2>
                <form>
                    <div class="form-group">
                        <label for="component_bar_column">Bar grouping</label>
                        <select id="component_bar_column" class="form-control">
                            <option>Ethnicity</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="component_component_column">Component grouping</label>
                        <select id="component_component_column" class="form-control">
                            <option>[None]</option>
                        </select>
                    </div>
                </form>
            </div>

            <div id="panel_bar_chart_options" class="chart-builder-section chart-option-group" style="display:none">
                <h2 class="heading-medium">3. Panel bar chart options</h2>
                <form>
                    <div class="form-group">
                        <label for="panel_primary_column">Primary grouping</label>
                        <select id="panel_primary_column" class="form-control">
                            <option>[None]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="panel_grouping_column">Panel grouping</label>
                        <select id="panel_grouping_column" class="form-control">
                            <option>Ethnicity</option>
                        </select>
                    </div>
                </form>
            </div>

            <div id="panel_line_chart_options" class="chart-builder-section chart-option-group" style="display:none">
                <h2 class="heading-medium">3. Panel line chart options</h2>
                <form>
                    <div class="form-group">
                        <label for="panel_line_series">Panels</label>
                        <select id="panel_line_series" class="form-control">
                            <option>Ethnicity</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="panel_line_x_axis">X-Axis/label>
                            <select id="panel_line_x_axis" class="form-control">
                                <option>Time</option>
                            </select>
                    </div>
                </form>
            </div>

            <div id="chart_format_options" class="chart-builder-section chart-option-group" style="display:none">
                <h2 class="heading-medium">4. Chart format options</h2>
                <form>
                    <div class="form-group">
                        <label for="chart_title">Chart title</label>
                        <input id="chart_title">
                    </div>
                    <div class="form-group">
                        <label for="x_axis_label">X axis</label>
                        <input id="x_axis_label">
                    </div>
                    <div class="form-group">
                        <label for="y_axis_label">Y axis</label>
                        <input id="y_axis_label">
                    </div>
                    <div class="form-group">
                        <label for="number_format">Number format</label>
                        <select id="number_format" class="form-control">
                            <option value="none" selected="selected">[None]</option>
                            <option value="percent">Percentage</option>
                            <option value="percent100">Multiply up to percentage</option>
                            <option value="other">Other</option>
                        </select>
                        <div id="other_number_format" class="form-group" style="display:none">
                            <label for="number_format_prefix">Prefix</label>
                            <input id="number_format_prefix">
                            <label for="number_format_suffix">Suffix</label>
                            <input id="number_format_suffix">
                            <label for="number_format_min">Minimum</label>
                            <input id="number_format_min">
                            <label for="number_format_max">Maximum</label>
                            <input id="number_format_max">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="column-two-thirds">
            <div id="preview_section" class="chart-builder-section" style="display:none">
                <h2 class="heading-medium">5. Generate chart</h2>
                <p>
                    <button class="btn button btn-primary" id="preview">Preview</button>
                </p>
            </div>

            <div id="container" class="chart-container"></div>

            <div id="save_section" class="chart-builder-section" style="display:none">
                <h2 class="heading-medium">5. Save chart</h2>
                <div>
                    {% if 'UPDATE' in measure.available_actions() %}
                        <button class="button" id="save">Save</button>
                    {% endif %}
                    <button class="button" id="exit">Back</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        const excluded_headers = exclude = ['Measure', 'Value', 'Numerator', 'Denominator',
            'Upper bound', 'Lower bound',
            'Upper confidence interval', 'Lower confidence interval',
            'Note', 'Notes'];

        $('#data_text_area').keyup(paste);
        $('#preview').click(preview);
        $('#save').click(saveChart);
        $('#exit').click(back);

        var source_data = null;
        var data = null;
        function back(evt) {
            console.log("back");
            window.location.replace("{{ url_for('cms.edit_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid) }}")
        }


        function uniqueDataInColumn(data, index) {
            var values = _.map(data.slice(start = 1), function(item) {
                return item[index]; });
            return _.uniq(values).sort();
        }

        function paste(evt) {
            $('#console-message').html('<p>paste</p>');
            handleNewData(null);
        }

        function handleNewData(on_success) {
            // get the data
            $('#console-message').append('<div>handleNewData</div>');
            var tabbedData = $("#data_text_area").val();

            // read data
            source_data = textToData(tabbedData);
            data = _.clone(source_data);

            $.ajax({
                type: "post",
                url: "{{ url_for('cms.process_input_data') }}",
                dataType: 'json',
                data: JSON.stringify({'data': data}),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    // get the headers
                    data = response['data'];
                    headers = data[0];
                    populateChartOptions(headers);
                    $('#select_chart_type').show();

                    if(on_success) {
                        on_success();
                    }
                },
                failure: function() {
                    headers = data[0];
                    populateChartOptions(headers);
                    $('#select_chart_type').show();
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function strippedHeaders(headers) {
            const exclude = ['Measure', 'Value', 'Numerator', 'Denominator',
                'Upper bound', 'Lower bound',
                'Upper confidence interval', 'Lower confidence interval',
                'Note', 'Notes'];
            var stripped = [];
            for(h in headers) {
                var header = headers[h];
                if(exclude.indexOf(header) < 0) { stripped.push(header); }
            }
            return stripped;
        }

        function populateChartOptions(headers) {

            $('#line_series_column').html(optionlistWithDefault(headers, 'Ethnicity'));
            $('#x_axis_column').html(optionlistWithDefault(headers, 'Time'));

            $('#primary_column').html(optionlistWithDefault(headers, 'Ethnicity'));
            $('#secondary_column').html(optionlistWithNone(headers));
            $('#parent_column').html(optionlistWithNone(headers));
            $('#order_column').html(optionlistWithNone(headers));

            $('#component_bar_column').html(optionlistWithDefault(headers, 'Ethnicity'));
            $('#component_component_column').html(optionlistWithNone(headers));

            $('#panel_primary_column').html(optionlistWithDefault(headers, 'Ethnicity'));
            $('#panel_grouping_column').html(optionlistWithDefault(headers, 'Ethnicity'));

            $('#panel_line_series').html(optionlistWithDefault(headers, 'Ethnicity'));
            $('#panel_line_x_axis').html(optionlistWithDefault(headers, 'Time'));
        }

        function optionlistWithNone(headers) {
            var html = '<option>[None]</option>';
            var stripped = strippedHeaders(headers);
            for(var h in stripped) {
                var header = stripped[h];
                html = html + '<option>' + header + '</option>';
            }
            return html;
        }

        function optionlistWithDefault(headers, defaultValue) {
            var html = '';
            var stripped = strippedHeaders(headers);
            for(var h in stripped) {
                var header = stripped[h];
                if(header === defaultValue) {
                    html = html + '<option selected="selected">' + header + '</option>';
                } else {
                    html = html + '<option>' + header + '</option>';
                }
            }
            return html;
        }

        function optionlistWithAll(headers) {
            var html = '<option value="none">[None]</option>';
            for(var h in headers) {
                html = html + '<option value="' + headers[h] + '">' + headers[h] + '</option>';
            }
            return html;
        }

        function preview(evt) {

            var chart_type = $('#chart_type_selector').val();
            var chartObject = null;
            if(chart_type === 'bar_chart') {
                chartObject = barchartObject(data,
                    $('#primary_column').val(),
                    $('#secondary_column').val(),
                    $('#parent_column').val(),
                    $('#order_column').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
            } else if (chart_type === 'line_graph') {
                chartObject = linechartObject(data, $('#x_axis_column').val(),
                    $('#line_series_column').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
            } else if (chart_type === 'component_chart') {
                chartObject = componentChartObject(data, $('#component_bar_column').val(),
                    $('#component_component_column').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
            } else if (chart_type === 'panel_bar_chart') {
                chartObject = panelBarchartObject(
                    data,
                    $('#panel_primary_column').val(),
                    $('#panel_grouping_column').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
            } else if (chart_type === 'panel_line_chart') {
                chartObject = panelLinechartObject(
                    data,
                    $('#panel_line_x_axis').val(),
                    $('#panel_line_series').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
                console.log(chartObject);
            }

            if(chartObject) { drawChart('container', chartObject); }

            $('#save_section').show();
        }

        function saveChart(evt) {

            $('#save').attr('disabled','disabled');

            var chart_type = $('#chart_type_selector').val();
            var chartObject = null;
            if(chart_type === 'bar_chart') {
                chartObject = barchartObject(data,
                    $('#primary_column').val(),
                    $('#secondary_column').val(),
                    $('#parent_column').val(),
                    $('#order_column').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
            } else if (chart_type === 'line_graph') {
                chartObject = linechartObject(data,
                    $('#x_axis_column').val(),
                    $('#line_series_column').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
            } else if (chart_type === 'component_chart') {
                chartObject = componentChartObject(data,
                    $('#component_bar_column').val(),
                    $('#component_component_column').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
            } else if (chart_type === 'panel_bar_chart') {
                chartObject = panelBarchartObject(
                    data,
                    $('#panel_primary_column').val(),
                    $('#panel_grouping_column').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
            }   else if (chart_type === 'panel_line_chart') {
                chartObject = panelLinechartObject(
                    data,
                    $('#panel_line_x_axis').val(),
                    $('#panel_line_series').val(),
                    $('#chart_title').val(),
                    $('#x_axis_label').val(),
                    $('#y_axis_label').val(),
                    getNumberFormat());
                console.log(chartObject);
            }

            if(chartObject) {
                $.each(chartObject.series, function() {
                    for (var i = 0; i < this.data.length; i++) {
                        if(isNaN(this.data[i])) {
                            this.data[i] = 0;
                        }
                    }
                });
                postChartObject(chartObject, getChartPageSettings());
            }
        }

        function getChartPageSettings() {
            return {
                'data': source_data,
                'type': $('#chart_type_selector').val(),
                'chartOptions':{
                    'primary_column': $('#primary_column').val(),
                    'secondary_column': $('#secondary_column').val(),
                    'parent_column': $('#parent_column').val(),
                    'order_column': $('#order_column').val(),
                    'x_axis_column': $('#x_axis_column').val(),
                    'line_series_column': $('#line_series_column').val(),
                    'component_bar_column': $('#component_bar_column').val(),
                    'component_component_column': $('#component_component_column').val(),
                    'panel_primary_column': $('#panel_primary_column').val(),
                    'panel_grouping_column': $('#panel_grouping_column').val(),
                    'panel_line_x_axis': $('#panel_line_x_axis').val(),
                    'panel_line_series': $('#panel_line_series').val()
                },
                'chartFormat':{
                    'chart_title':$('#chart_title').val(),
                    'x_axis_label':$('#x_axis_label').val(),
                    'y_axis_label':$('#y_axis_label').val(),
                    'number_format':$('#number_format').val(),
                    'number_format_prefix':$('#number_format_prefix').val(),
                    'number_format_suffix':$('#number_format_suffix').val(),
                    'number_format_min':$('#number_format_min').val(),
                    'number_format_max':$('#number_format_max').val()
                }
            }
        }

        function postChartObject(chartObject, src) {
            if (chartObject) {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('cms.save_chart_to_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid ) }}",
                    dataType: 'json',
                    data: JSON.stringify({'chartObject': chartObject, 'source': src}),
                    contentType: 'application/json',
                    success: function () {
                        console.log('OK');
                        location.reload();
                    }
                });
            }
        }

        function selectChartType(chart_type) {
            $('.chart-option-group').hide();
            $('#' + chart_type + "_options").show();
            $('#chart_format_options').show();
            $('#preview_section').show();
        }

        $(function() {
            $('#chart_type_selector').change(function(){
                selectChartType($(this).val())
            });
        });

        $(function() {
            $('#number_format').change(function(){
                if($(this).val() === 'other') {
                    $('#other_number_format').show()
                } else {
                    $('#other_number_format').hide()
                }
            });
        });

        function getNumberFormat() {
            var format = $('#number_format').val();
            console.log(format);
            if(format === 'none') {
                return {'multiplier':1.0, 'prefix':'', 'suffix':'', 'min':'', 'max':''}
            } else if (format === 'percent') {
                return {'multiplier':1.0, 'prefix':'', 'suffix':'%', 'min':0.0, 'max':100.0}
            } else if (format === 'percent100') {
                return {'multiplier':100.0, 'prefix':'', 'suffix':'%', 'min':0.0, 'max':100.0}
            } else if (format === 'other') {
                return {'multiplier':1.0,
                    'prefix':$('#number_format_prefix').val(),
                    'suffix':$('#number_format_suffix').val(),
                    'min':$('#number_format_min').val(),
                    'max':$('#number_format_max').val()}
            }
        }

        function initialiseForm() {
              {% if dimension.chart_source_data %}
                  var settings = {{dimension.chart_source_data|safe}};
              {% else %}
                  var settings = "";
              {% endif %}

            if(settings.data) {

                var data_text = _.map(settings.data, function(d) { return d.join('\t')}).join('\n');
                $('#data_text_area').val(data_text);

                handleNewData(function() {

                    $('#chart_type_selector').val(settings.type);
                    selectChartType(settings.type);

                    $('#primary_column').val(settings.chartOptions.primary_column);
                    $('#secondary_column').val(settings.chartOptions.secondary_column);
                    $('#parent_column').val(settings.chartOptions.parent_column);
                    $('#order_column').val(settings.chartOptions.order_column);
                    $('#x_axis_column').val(settings.chartOptions.x_axis_column);
                    $('#line_series_column').val(settings.chartOptions.line_series_column);
                    $('#component_bar_column').val(settings.chartOptions.component_bar_column);
                    $('#component_component_column').val(settings.chartOptions.component_component_column);
                    $('#panel_primary_column').val(settings.chartOptions.panel_primary_column);
                    $('#panel_grouping_column').val(settings.chartOptions.panel_grouping_column);
                    $('#panel_line_x_axis').val(settings.chartOptions.panel_line_x_axis);
                    $('#panel_line_series').val(settings.chartOptions.panel_line_series);

                    $('#chart_title').val(settings.chartFormat.chart_title);
                    $('#x_axis_label').val(settings.chartFormat.x_axis_label);
                    $('#y_axis_label').val(settings.chartFormat.y_axis_label);


                    $('#number_format').val(settings.chartFormat.number_format);
                    $('#number_format_prefix').val(settings.chartFormat.number_format_prefix);
                    $('#number_format_suffix').val(settings.chartFormat.number_format_suffix);
                    $('#number_format_min').val(settings.chartFormat.number_format_min);
                    $('#number_format_max').val(settings.chartFormat.number_format_max);
                    if (settings.chartFormat.number_format === 'other') {
                        $('#other_number_format').show();
                    }

                    preview(null);
                });
            }
        }

        initialiseForm();
    });
</script>

{% endblock %}