{% extends "base.html" %}

{% block endhead %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='vendor/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/rd-data-tools.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/rd-data-objects.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/rd-table.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="grid-row">
            <div class='column-full'>
                {% block breadcrumbs %}
                    <nav class="table-breadcrumbs" aria-label="You are here:" role="navigation">
                        <ul class='breadcrumbs'>
                            <li>
                                <a href="{{ url_for('cms.index') }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ url_for('cms.topic_overview', topic=topic.guid) }}">{{ topic.title }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('cms.subtopic_overview', topic=topic.guid, subtopic=subtopic.guid) }}">{{ subtopic.title }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid) }}">{{ measure.title }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('cms.edit_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, dimension=dimension.guid) }}">{{ dimension.title }}</a>
                            </li>
                        </ul>
                    </nav>
                {% endblock %}
            </div>
        </div>
        <div class="grid-row">
            <!--Options-->
            <div class="column-half">
                <div id="tab_seperated_content" class="chart-builder-section">
                    <h3>1. Copy data from excel</h3>
                    <div>
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" id="data_text_area" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="table_options" class="chart-builder-section chart-option-group" style="display:none">
                    <h3>2. Table builder options</h3>
                    <form>
                        <div class="form-group">
                            <label for="table_category_column">Rows</label>
                            <select id="table_category_column" class="form-control">
                                <option>Ethnicity</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="table_group_column">Grouping</label>
                            <select id="table_group_column" class="form-control">
                                <option>[None]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Columns</label>
                            <select id="table_column_1" class="form-control column_option_picker">
                                <option>[None]</option>
                            </select>
                            <input id="table_column_1_name">
                            <select id="table_column_2" class="form-control column_option_picker">
                                <option>[None]</option>
                            </select>
                            <input id="table_column_2_name">
                            <select id="table_column_3" class="form-control column_option_picker">
                                <option>[None]</option>
                            </select>
                            <input id="table_column_3_name">
                            <select id="table_column_4" class="form-control column_option_picker">
                                <option>[None]</option>
                            </select>
                            <input id="table_column_4_name">
                            <select id="table_column_5" class="form-control column_option_picker">
                                <option>[None]</option>
                            </select>
                            <input id="table_column_5_name">
                        </div>
                    </form>
                </div>


                <div id="preview_section" class="chart-builder-section" style="display:none">
                    <h3>3. Generate table</h3>
                    <div>
                        <button class="btn btn-primary" id="preview">Preview</button>
                    </div>
                </div>

                <div id="save_section" class="chart-builder-section" style="display:none">
                    <h3>4. Save</h3>
                    <div>
                        <button class="" id="save">Save</button>
                    </div>
                </div>
                <div id="exit_section">
                    <button class="" id="exit">Back</button>
                </div>
            </div>
            <div class="column-half">
                <div id="container" class="chart-container" style="height: 600px"></div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
        $(document).ready(function() {
            const excluded_headers = exclude = ['Measure', 'Value', 'Numerator', 'Denominator',
                'Upper bound', 'Lower bound',
                'Upper confidence interval', 'Lower confidence interval',
                'Note', 'Notes'];

            $('#data_text_area').keyup(paste);
            $('#preview').click(preview);
            $('#save_section').click(saveTable);
            $('#exit_section').click(back);

            data = null;

            function back(evt) {
                window.location.replace("{{ url_for('cms.edit_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, dimension=dimension.guid) }}")
            }


            function uniqueDataInColumn(data, index) {
                values = _.map(data.slice(start = 1), function(item) {
                    return item[index]; });
                return _.uniq(values).sort();
            }

            function paste(evt) {
                    // get the data
                    var tabbedData = $("#data_text_area").val();

                    // read data
                    data = _.map(tabbedData.split('\n'), function(line) { return line.split('\t')});

                    // get the headers
                    headers = data[0];

                    populateTableOptions(headers);
                    $('#table_options').show();
                    $('#preview_section').show();
                }

            function strippedHeaders(headers) {
                exclude = ['Measure', 'Value', 'Numerator', 'Denominator',
                    'Upper bound', 'Lower bound',
                    'Upper confidence interval', 'Lower confidence interval',
                    'Note', 'Notes'];
                stripped = [];
                for(h in headers) {
                    header = headers[h];
                    if(exclude.indexOf(header) < 0) { stripped.push(header); }
                }
                return stripped;
            }

            function populateTableOptions(headers) {
                $('#table_category_column').html(optionlistWithDefault(headers, 'Ethnicity'));
                $('#table_group_column').html(optionlistWithNone(headers));
                $('#table_column_1').html(optionlistWithAll(headers));
                $('#table_column_2').html(optionlistWithAll(headers));
                $('#table_column_3').html(optionlistWithAll(headers));
                $('#table_column_4').html(optionlistWithAll(headers));
                $('#table_column_5').html(optionlistWithAll(headers));

                setDefaultTableOptions(headers);
                showHideTableColumnNames();
            }

            function setDefaultTableOptions(headers) {
                if(_.contains(headers, 'Value')) {
                    $('#table_column_1').val('Value');
                    $('#table_column_1_name').val('Value');
                    if(_.contains(headers, 'Denominator')) {
                       $('#table_column_2').val('Denominator');
                        $('#table_column_2_name').val('Denominator');
                        if(_.contains(headers, 'Numerator')) {
                           $('#table_column_2').val('Numerator');
                            $('#table_column_2_name').val('Numerator');
                        }
                    }
                }
            }

            $('.column_option_picker').change(function() {
                showHideTableColumnNames();
                populateColumnNames();
            });

            function showHideTableColumnNames() {
                for(var i=1; i<=5; i++) {
                    if ($('#table_column_' + i).val() === "none") {
                        $('#table_column_' + i + '_name').hide();
                    } else {
                        $('#table_column_' + i + '_name').show();
                    }
                }
            }

            function populateColumnNames() {
                for(var i=1; i<=5; i++) {
                    if ($('#table_column_' + i).val() !== "none" && $('#table_column_' + i + '_name').val() === '') {
                        $('#table_column_' + i + '_name').val($('#table_column_' + i + ' option:selected').text());
                    }
                }
            }

            function getColumnNames() {
                var columnNames = []
                for(var i=1; i<=5; i++) {
                    if ($('#table_column_' + i).val() !== 'none') {
                        columnNames.push($('#table_column_' + i + ' option:selected').text());
                    }
                }
                return columnNames
            }

            function getColumnCaptions() {
                var columnCaptions = []
                for(var i=1; i<=5; i++) {
                    if ($('#table_column_' + i).val() !== 'none') {
                        columnCaptions.push($('#table_column_' + i + '_name').val());
                    }
                }
                return columnCaptions
            }

            function optionlistWithNone(headers) {
                html = '<option>[None]</option>';
                stripped = strippedHeaders(headers);
                for(var h in stripped) {
                    header = stripped[h];
                    html = html + '<option>' + header + '</option>';
                }
                return html;
            }

            function optionlistWithDefault(headers, defaultValue) {
                html = '';
                stripped = strippedHeaders(headers);
                for(var h in stripped) {
                  header = stripped[h];
                  if(header === defaultValue) {
                      html = html + '<option selected="selected">' + header + '</option>';
                  } else {
                      html = html + '<option>' + header + '</option>';
                  }
                }
                return html;
            }

            function optionlistWithAll(headers) {
                html = '<option value="none">[None]</option>';
                for(var h in headers) {
                    html = html + '<option value="' + headers[h] + '">' + headers[h] + '</option>';
                }
                return html;
            }

            function preview(evt) {
                tableObject = simpleTableObject(data, $('#table_category_column').val(), $('#table_group_column').val(), getColumnNames(), getColumnCaptions())
                drawTable('container', tableObject);
                $('#save_section').show();
            }

            function saveTable(evt) {
                var tableObject = simpleTableObject(data, $('#table_category_column').val(), $('#table_group_column').val(), getColumnNames(), getColumnCaptions())
                if(tableObject) { postTableObject(tableObject, getTablePageSettings()); }
            }

            function getTablePageSettings() {
                return {
                    'data': data,
                    'type': $('#chart_type_selector').val(),
                    'tableOptions':{
                        'table_category_column': $('#table_category_column').val(),
                        'table_group_column': $('#table_group_column').val(),
                        'table_column_1': $('#table_column_1').val(),
                        'table_column_2': $('#table_column_2').val(),
                        'table_column_3': $('#table_column_3').val(),
                        'table_column_4': $('#table_column_4').val(),
                        'table_column_5': $('#table_column_5').val(),
                        'table_column_1_name': $('#table_column_1_name').val(),
                        'table_column_2_name': $('#table_column_2_name').val(),
                        'table_column_3_name': $('#table_column_3_name').val(),
                        'table_column_4_name': $('#table_column_4_name').val(),
                        'table_column_5_name': $('#table_column_5_name').val()
                    }
                }
            }

            function postTableObject(tableObject, src) {
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('cms.save_table_to_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, dimension=dimension.guid ) }}",
                        dataType: 'json',
                        data: JSON.stringify({'tableObject': tableObject, 'source': src}),
                        contentType: 'application/json',
                        success: function () {
                            console.log('OK');
                        }
                    });
            }

            function initialiseForm() {
                var settings = {{reload_settings|tojson}}
                console.log(settings);
                if(settings.data) {
                    console.log(settings);
                    var data_text = _.map(settings.data, function (d) {
                        return d.join('\t')
                    }).join('\n');
                    $('#data_text_area').val(data_text);

                    paste(null);

                    $('#table_category_column').val(settings.tableOptions.table_category_column);
                    $('#table_group_column').val(settings.tableOptions.table_group_column);
                    $('#table_column_1').val(settings.tableOptions.table_column_1);
                    $('#table_column_2').val(settings.tableOptions.table_column_2);
                    $('#table_column_3').val(settings.tableOptions.table_column_3);
                    $('#table_column_4').val(settings.tableOptions.table_column_4);
                    $('#table_column_5').val(settings.tableOptions.table_column_5);
                    $('#table_column_1_name').val(settings.tableOptions.table_column_1_name);
                    $('#table_column_2_name').val(settings.tableOptions.table_column_2_name);
                    $('#table_column_3_name').val(settings.tableOptions.table_column_3_name);
                    $('#table_column_4_name').val(settings.tableOptions.table_column_4_name);
                    $('#table_column_5_name').val(settings.tableOptions.table_column_5_name);

                    preview(null);
                }
            }

            initialiseForm();
        });
</script>
<script>

</script>

{% endblock %}