{% extends "cms/base_measure_page.html" %}
{% block title %}{% endblock %}
{% block breadcrumbs %}
  <nav class="" aria-label="You are here:" role="navigation">
    <ul class='breadcrumbs'>
      <li>
        <a href="{{ url_for('cms.index') }}">Home</a>
      </li>
      <li>
        <a href="{{ url_for('cms.topic_overview', topic=topic.guid) }}">{{ topic.title }}</a>
      </li>
      <li>
        <a href="{{ url_for('cms.subtopic_overview', topic=topic.guid, subtopic=subtopic.guid) }}">{{ subtopic.title }}</a>
      </li>
        <li>
        <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid) }}">{{ measure.title }}</a>
      </li>
    </ul>
  </nav>
{% endblock %}
{% block page_title %}
    <h2>New Dimension</h2>
{% endblock %}
{% block measure_form %}
    <div class="edit-form">
        <form method="POST"
              action="{{ url_for('cms.create_dimension', topic=topic, subtopic=subtopic, measure=measure )}}">
        {{ form.csrf_token }}
            {% block fields %}
                {{ form.title.label }}
                {{ form.title }}
                {{ form.time_period.label }}
                {{ form.time_period }}
                {{ form.summary.label }}
                {{ form.summary(rows='7',cols='100') }}
            {% endblock fields %}
            <ul class="button-group" data-topbar data-options="sticky_on: large">
                <li>
                    <button type="submit" class="button">Save
                    </button>
                </li>
            </ul>
        </form>
    </div>
{% endblock measure_form %}
