{% extends "base_cms.html" %}
{% block title %}Upload file{% endblock %}

{% block breadcrumbs %}
    <nav class="" aria-label="You are here:" role="navigation">
        <ul class='breadcrumbs'>
            <li>
                <a href="{{ url_for('cms.index') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('cms.topic', topic=topic.guid) }}">{{ topic.title }}</a>
            </li>
            <li>
                <a href="{{ url_for('cms.subtopic', topic=topic.guid, subtopic=subtopic.guid) }}">{{ subtopic.title }}</a>
            </li>
            <li>
                <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">{{ measure.title }}</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block messages %}
  <div class='grid-row'>
        <div class='column-full'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        <div class="flash-message">
                            {% for category, message in messages %}
                                <div data-alert class="alert-box {% if category in ['error', 'dimension-error'] %}error{% else %}{{ category }}{% endif %}">
                                    <span>{{ message | render_markdown }}</span>
                                    {% if form.errors and category =='error' %}
                                        <ul>
                                            {% for field, error in form.errors.items() %}
                                                <li><a href="#data_source_purpose">{{ form[field].label }}</a>: {{ error[0] }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}


{% block main_content %}

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-medium">Add download</h1>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            {% block measure_form %}
                <form method="POST" enctype="multipart/form-data"
                      action="{{ url_for('cms.create_upload', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version ) }}">
                    {{ form.csrf_token }}
                    {% block fields %}
                        {{ form.upload.label }}
                        {% if form.upload.errors %}
                            - {{ form.upload.errors[0] }}
                            {{ form.upload(class="error") }}
                        {% else %}
                            {{ form.upload }}
                        {% endif %}

                        {{ form.title.label }}
                        {% if form.title.errors %}
                            - {{ form.title.errors[0] }}
                            {{ form.title(class="error") }}
                        {% else %}
                            {{ form.title }}
                        {% endif %}

                        {{ form.description.label }}
                        {% if form.description.errors %}
                            - {{ form.description.errors[0] }}
                            {{ form.description(class="error", rows='7',cols='100') }}
                        {% else %}
                            {{ form.description(rows='7',cols='100') }}
                        {% endif %}

                    {% endblock fields %}
                     <button type="submit" class="button">Save</button>
                </form>
            {% endblock %}
        </div>
    </div>

{% endblock %}
