{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "_shared/_page_title.html" import page_title %}

{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title},
    {"url": url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version), "text": measure.title},
  ]
%}

{% block bodyClasses %}rd_cms{% endblock %}
{% block pageTitle %}{{ page_title("Add the source data", error=(form.errors|length > 0) ) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Add the source data</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% block measure_form %}
                <form method="POST" enctype="multipart/form-data"
                      action="{{ url_for('cms.create_upload', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version ) }}">
                    {{ form.csrf_token }}
                    {% block fields %}
                        {{ form.upload.label }}
                        {% if form.upload.errors %}
                            - {{ form.upload.errors[0] }}
                            {{ form.upload(class="error") }}
                        {% else %}
                            {{ form.upload }}
                        {% endif %}

                        {{ form.title(disabled=form_disabled) }}

                        {{ form.description(disabled=form_disabled, rows='7',cols='100') }}

                    {% endblock fields %}
                     <button type="submit" class="govuk-button">Save</button>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
