{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}

{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title},
    {"url": url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version), "text": measure_version.title},
  ]
%}

{% block pageTitle %}Add the source data{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Add the source data</h1>

            <p class="govuk-body">Source data files contain all the data used in the charts and tables. They can also include data like unweighted values, numerators and denominators.</p>

            <details class='govuk-details'
                        data-module='govuk-details'>
                    <summary class='govuk-details__summary'>
                        <span class='govuk-details__summary-text'>
                            Use the following column names for consistency
                        </span>
                    </summary>
                    <div class='govuk-details__text'>
                        <ul class='govuk-list govuk-list--bullet'>
                            <li>measure</li>
                            <li>ethnicity</li>
                            <li>time</li>
                            <li>gender or sex (use the term used by the department in the source data)</li>
                            <li>age</li>
                            <li>geography</li>
                            <li>value</li>
                            <li>numerator</li>
                            <li>denominator</li>
                            <li>upper bound</li>
                            <li>lower bound</li>
                        </ul>
                    </div>
                </details>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% block measure_form %}
                <form method="POST" enctype="multipart/form-data"
                      action="{{ url_for('cms.create_upload', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version ) }}">
                    {{ form.csrf_token | default('') }}
                    {% block fields %}
                        <div class="govuk-form-group {% if form.upload.errors %}govuk-form-group--error{% endif %}">
                        {{ form.upload.label(class='govuk-label') }}
                        {% if form.upload.errors %}
                            <span class="govuk-error-message">{{ form.upload.errors[0] }}</span>
                            {{ form.upload(class="govuk-file-upload error") }}
                        {% else %}
                            {{ form.upload(class="govuk-file-upload") }}
                        {% endif %}
                        </div>
                        {{ form.title() }}

                        {{ form.description(rows='7',cols='100') }}

                    {% endblock fields %}
                     <button type="submit" class="govuk-button" name="save">Save</button>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
