{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "_shared/_page_title.html" import page_title %}

{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title},
    {"url": url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure_version.measure.slug, version=measure_version.version), "text": measure_version.title},
  ]
%}

{% block bodyClasses %}rd_cms{% endblock %}
{% block pageTitle %}Delete pa{% endblock %}ge

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Delete
        ‘{{ measure_version.title }}’?
      </h1>

      <form method="POST" action="{{ url_for('cms.delete_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure_version.measure.slug, version=measure_version.version) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button class="govuk-button eff-button--destructive">Yes, delete</button>
      </form>

      <a class="govuk-link" href="{{ url_for('static_site.measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure_version.measure.slug, version=measure_version.version) }}">No, return</a>
    </div>
  </div>
{% endblock %}
