{% extends "base_cms.html" %}
{% block title %}Edit measure{% endblock %}
{% block left_content %}
<div class="panel {{ status }}">
  <p>Status: {{ status | format_as_title }}</p>
</div>
<div class='preview sticky'>
    <ul class="button-group" data-topbar data-options="sticky_on: large">
        {% if "UPDATE" in available_actions %}
            <li>
                <button type="submit" class="button">
                  {%  if status == 'rejected'%}
                    Send back to review
                  {%  else %}
                    Save
                  {%  endif %}
                </button>
            </li>
          {% endif %}
          <li class='preview-link'>
            <a href="{{ url_for('preview.preview_measure', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid) }}">
              View preview
            </a>
          </li>
          {% if  "APPROVE" in available_actions %}
            <li>
              <a class="button" href="{{ url_for('cms.publish_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid)}}">
                {{ next_approval_state | format_approve_button }}
              </a>
            </li>
          {% endif %}
        </ul>
    </div>
{% endblock %}
{#            <div class="button-bar">#}
{#                <ul class="button-group">#}
{#                    {% if "REJECT" in available_actions %}#}
{#                        <a class="button info" href="{{ url_for('cms.reject_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid)}}">Reject</a>#}
{#                    {% endif %}#}
{#                </ul>#}
{#                 <ul class="button-group button-right">#}
{#                    {% if "UPDATE" in available_actions %}#}
{#                        <button type="submit" class="button">{%  if status == 'rejected'%}Send back to review{%  else %}Update{%  endif %}</button>#}
{#                    {% endif %}#}
{#                    {% if  "APPROVE" in available_actions %}#}
{#                        <a class="button" href="{{ url_for('cms.publish_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid)}}">#}
{#                            {{ next_approval_state | format_approve_button }}#}
{#                        </a>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </div>#}
{% block main_content %}
    <h1 class='heading-large'>Edit measure</h1>
    <div class="edit-form">
        <form method="POST" action="{{ url_for('cms.edit_measure_page', topic=topic.meta.guid, subtopic=subtopic.meta.guid, measure=measure.meta.guid) }}">
            <label for="{{ form.guid.id }}">{{ form.guid.label }}</label>
            {{ form.guid }}
            <h3>Overview</h3>
            <label for="{{ form.title.id }}">{{ form.title.label }}</label>
            {{ form.title }}
            <label for="{{ form.measure_summary.id }}">{{ form.measure_summary.label }}</label>
            {{ form.measure_summary(rows='7',cols='100') }}
            <label for="{{ form.summary.id }}">{{ form.summary.label }}</label>
            {{ form.summary(rows='7',cols='100') }}
            <label for="{{ form.geographic_coverage.id }}">{{ form.geographic_coverage.label }}</label>
            {{ form.geographic_coverage }}
            <label for="{{ form.time_covered.id }}">{{ form.time_covered.label }}</label>
            {{ form.time_covered(rows='7',cols='100') }}
            <label for="{{ form.keywords.id }}">{{ form.keywords.label }}</label>
            {{ form.keywords }}
            <h3>Need To Know</h3>
            <label for="{{ form.need_to_know.id }}">{{ form.need_to_know.label }}</label>
            {{ form.need_to_know(rows='7',cols='100') }}
            <label for="{{ form.ethnicity_definition_summary.id }}">{{ form.ethnicity_definition_summary.label }}</label>
            {{ form.ethnicity_definition_summary(rows='7',cols='100') }}
            <label for="{{ form.ethnicity_definition_detail.id }}">{{ form.ethnicity_definition_detail.label }}</label>
            {{ form.ethnicity_definition_detail(rows='7',cols='100') }}
            <label for="{{ form.location_definition_summary.id }}">{{ form.location_definition_summary.label }}</label>
            {{ form.location_definition_summary(rows='7',cols='100') }}
            <label for="{{ form.location_definition_detail.id }}">{{ form.location_definition_detail.label }}</label>
            {{ form.location_definition_detail(rows='7',cols='100') }}
            <h3>Publishing Details</h3>
            <label for="{{ form.source_text.id }}">{{ form.source_text.label }}</label>
            {{ form.source_text(rows='7',cols='100') }}
            <label for="{{ form.source_url.id }}">{{ form.source_url.label }}</label>
            {{ form.source_url }}
            <label for="{{ form.department_source.id }}">{{ form.department_source.label }}</label>
            {{ form.department_source(rows='7',cols='100') }}
            <label for="{{ form.published_date.id }}">{{ form.published_date.label }}</label>
            {{ form.published_date }}
            <label for="{{ form.last_update_date.id }}">{{ form.last_update_date.label }}</label>
            {{ form.last_update_date }}
            <label for="{{ form.revisions.id }}">{{ form.revisions.label }}</label>
            {{ form.revisions }}
            <label for="{{ form.next_update_date.id }}">{{ form.next_update_date.label }}</label>
            {{ form.next_update_date }}
            <label for="{{ form.frequency.id }}">{{ form.frequency.label }}</label>
            {{ form.frequency }}
            <h4>Related Publications (Not implemented yet)</h4>
            <label for="{{ form.contact_name.id }}">{{ form.contact_name.label }}</label>
            {{ form.contact_name }}
            <label for="{{ form.contact_phone.id }}">{{ form.contact_phone.label }}</label>
            {{ form.contact_phone }}
            <label for="{{ form.contact_email.id }}">{{ form.contact_email.label }}</label>
            {{ form.contact_email }}
            <h3>Technical Details</h3>
            <label for="{{ form.methodology.id }}">{{ form.methodology.label }}</label>
            {{ form.methodology(rows='7',cols='100') }}
            <label for="{{ form.data_type.id }}">{{ form.data_type.label }}</label>
            {{ form.data_type(rows='7',cols='100') }}
            <label for="{{ form.population_or_sample.id }}">{{ form.population_or_sample.label }}</label>
            {{ form.population_or_sample(rows='7',cols='100') }}
            <label for="{{ form.disclosure_control.id }}">{{ form.disclosure_control.label }}</label>
            {{ form.disclosure_control(rows='7',cols='100') }}
            <label for="{{ form.estimation.id }}">{{ form.estimation.label }}</label>
            {{ form.estimation(rows='7',cols='100') }}
            <h3>Quality Assurance</h3>
            <label for="{{ form.quality_assurance.id }}">{{ form.quality_assurance.label }}</label>
            {{ form.quality_assurance(rows='7',cols='100') }}
            <label for="{{ form.qmi_text.id }}">{{ form.qmi_text.label }}</label>
            {{ form.qmi_text(rows='7',cols='100') }}
            <label for="{{ form.qmi_url.id }}">{{ form.qmi_url.label }}</label>
            {{ form.qmi_url(rows='7',cols='100') }}

        </form>

        <form method="POST" action="{{ url_for('cms.upload_file', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid)}}">
            <h3>Downloads</h3>
            <div>
                <ul class="list list-bullet">
                    {% for upload in measure.uploads %}
                    <li> {{ upload }} </li>
                    {% endfor %}
                </ul>
            </div>
            <label for = "fileUpload" class="button">Upload a data file</label>
            <div><input class="show-for-sr" type="file" id="fileUpload" value="Input"></div>
        </form>

     </div>
    </div>

    <script>
        $(document).ready(function() {

            $('#fileUpload').on('change', function(){
                var data = new FormData();
                data.append('file', $('#fileUpload').prop('files')[0]);
                $.ajax({
                    type: 'POST',
                    processData: false, // important
                    contentType: false, // important
                    data: data,
                    url: "{{ url_for('cms.upload_file', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid)}}",
                    dataType : 'json',
                    success: function(jsonData){
                        console.log("success")
                    }
                });
            });
        })
    </script>


{% endblock %}
