{% extends "base.html" %}
{% block title %}Edit page{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-offset-2 large-6 columns">
            <h2>Edit page</h2>
            Current state: {{ status }}
            <form method="POST"  action="{{url_for('cms.edit_page', guid=guid)}}">
                {{ form.title.label }} {{ form.title(size=20) }}
                {#                TODO: Dress up publish button with context #}
                <button type="submit" class="button">Save</button>
                <a class="button" href="{{ url_for('cms.publish_page', guid=guid)}}">Publish</a>
                <a class="button" href="{{ url_for('cms.reject_page', guid=guid)}}">Reject</a>
            </form>
        </div>
    </div>
{% endblock %}