{% extends "base_cms.html" %}
{% block title %}Edit topic{% endblock %}
{% block main_content %}
    <h2>Edit topic</h2>
    <div class="panel {{ status }}">
        <p>Status: {{ status | format_as_title }}</p>
    </div>
    <div class="edit-form">
        <form method="POST" action="{{ url_for('cms.edit_topic_page', slug=slug)}}">
            {{ form.title.label }} {{ form.title(size=20) }}
            {{ form.description.label }}{{ form.description(rows='10',cols='100') }}
            {#                TODO: Dress up publish button with context #}
            <div class="button-bar">
                <ul class="button-group">
                    {% if "REJECT" in available_actions %}
                        <a class="button info" href="{{ url_for('cms.reject_page', slug=slug)}}">Reject</a>
                    {% endif %}
                </ul>
                 <ul class="button-group button-right">
                    {% if "UPDATE" in available_actions %}
                        <button type="submit" class="button">{%  if status == 'rejected'%}Send back to review{%  else %}Update{%  endif %}</button>
                    {% endif %}
                    {% if  "APPROVE" in available_actions %}
                        <a class="button" href="{{ url_for('cms.publish_page', slug=slug)}}">
                            {{ next_approval_state | format_approve_button }}
                        </a>
                    {% endif %}
                </ul>
            </div>
        {{ form.csrf_token }}
        </form>
        <p class="preview">
            <a href="{{ url_for('preview.preview_page', slug=slug) }}">Preview page</a>
        </p>
        <p class="temp">
            <a href="{{ url_for('cms.create_measure_page', topic_slug=slug) }}">New measure page</a>
        </p>
     </div>
    </div>
{% endblock %}