{% extends "cms/create_dimension.html" %}

{% block title %}{% endblock %}
{% block page_title %}
    <h2>Edit Dimension</h2>
{% endblock %}
{% block measure_form %}
    <div class="edit-form">
        <form method="POST"
              action="{{ url_for('cms.edit_dimension', topic=topic, subtopic=subtopic, measure=measure, dimension=dimension.guid )}}">
            {{ form.csrf_token }}
            {% block fields %}
                {{ super() }}
            {% endblock fields %}
            <ul class="button-group">
                <li>
                    <button type="submit" class="button">Update</button>
                </li>
            </ul>
            <div id="charts">
                <h3>Charts & Tables</h3>
                <table>
                    {% if dimension.chart %}
                        <tr>
                            <td>Chart</td>
                            <td>{{ dimension.chart.title.value }}</td>
                            <td><a href="{{ url_for('cms.create_chart', topic=topic, subtopic=subtopic, measure=measure, dimension=dimension.guid)}}">edit</a></td>
                        </tr>
                    {% endif %}
                    {% if dimension.table  %}
                        <tr>
                            <td>Table</td>
                            <td>{{ dimension.table.title.value }}</td>
                            <td><a href="{{ url_for('cms.create_table', topic=topic, subtopic=subtopic, measure=measure, dimension=dimension.guid)}}">edit</a></td>
                        </tr>
                    {% endif %}
                </table>

                <ul class= "button-group">
                    {% if not dimension.chart %}
                    <li>
                        <a class="button" href="{{ url_for('cms.create_chart', topic=topic, subtopic=subtopic, measure=measure, dimension=dimension.guid)}}">
                            Add chart
                        </a>
                    </li>
                    {% endif %}
                    {% if not dimension.table %}
                    <li>
                        <a class="button" href="{{ url_for('cms.create_table', topic=topic, subtopic=subtopic, measure=measure, dimension=dimension.guid)}}">
                            Add table
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </form>
    </div>
{% endblock measure_form %}

