{% extends "cms/create_dimension.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "_shared/_page_title.html" import page_title %}

{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title},
    {"url": url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version), "text": measure_version.title},
  ]
%}

{% block bodyClasses %}rd_cms{% endblock %}
{% block pageTitle %}{{ page_title("Edit dimension", error=(form.errors|length > 0) )}}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Edit dimension</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% block measure_form %}
                <form id="dimension_form" method="POST"
                      action="{{ url_for('cms.edit_dimension', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version, dimension_guid=dimension.guid ) }}">
                    {{ form.csrf_token }}
                    {% block fields %}
                        {{ super() }}
                    {% endblock fields %}

                    {% if 'UPDATE' in  measure_version.available_actions() %}
                    <button type="submit" class="govuk-button" name="update">
                        Update
                    </button>
                    {% endif %}
                </form>

                    <div id="charts">
                        <h2 class="govuk-heading-m">Charts & Tables</h2>
                        <table class="govuk-table">
                          <tbody class="govuk-table__body">
                            {% if dimension.dimension_chart and dimension.dimension_chart.chart_object is not none and dimension.dimension_chart.chart_object != '""' %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__header" scope="row">Chart</td>
                                    <td class="govuk-table__cell">{{ dimension.dimension_chart.title }}</td>
                                    <td class="govuk-table__cell"><a class="govuk-link" id="edit_chart"
                                           href="{{ url_for('cms.create_chart', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version, dimension_guid=dimension.guid) }}">
                                        {% if 'UPDATE' in  measure_version.available_actions() %}edit{% else %}
                                            view{% endif %}</a></td>
                                    <td class="govuk-table__cell">
                                    {% if 'UPDATE' in  measure_version.available_actions() %}
                                        <form action="{{ url_for('cms.delete_chart', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure_version.measure.slug, version=measure_version.version, dimension_guid=dimension.guid) }}" method="post">
                                            {{ form.csrf_token }}
                                            <button id="delete_chart" class="eff-button--link">delete</button>
                                        </form>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if dimension.dimension_table and dimension.dimension_table.table_object is not none and dimension.dimension_table.table_object != '""' %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__header" scope="row">Table</td>
                                    <td class="govuk-table__cell">{{ dimension.dimension_table.title }}</td>
                                    <td class="govuk-table__cell"><a class="govuk-link" id="edit_table"
                                           href="{{ url_for('cms.create_table', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version, dimension_guid=dimension.guid) }}">
                                        {% if 'UPDATE' in  measure_version.available_actions() %}edit{% else %}
                                            view{% endif %}</a></td>
                                    <td class="govuk-table__cell">
                                        {% if 'UPDATE' in  measure_version.available_actions() %}
                                        <form action="{{ url_for('cms.delete_table', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure_version.measure.slug, version=measure_version.version, dimension_guid=dimension.guid) }}" method="post">
                                            {{ form.csrf_token }}
                                            <button id="delete_table" class="eff-button--link">delete</button>
                                        </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                          </tbody>
                        </table>
                        {% if 'UPDATE' in  measure_version.available_actions() %}

                                {% if not dimension.dimension_chart or (dimension.dimension_chart and (dimension.dimension_chart.chart_object is none or dimension.dimension_chart.chart_object == '""')) %}
                                <p class="govuk-body">
                                    <a class="govuk-link" id="create_chart"
                                       href="{{ url_for('cms.create_chart', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version, dimension_guid=dimension.guid) }}">
                                        Add chart
                                    </a>
                                </p>
                                {% endif %}
                                {% if not dimension.dimension_table or (dimension.dimension_table and (dimension.dimension_table.table_object is none or dimension.dimension_table.table_object == '""')) %}
                                <p class="govuk-body">
                                    <a class="govuk-link" id="create_table"
                                       href="{{ url_for('cms.create_table', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure_version.measure.slug, version=measure_version.version, dimension_guid=dimension.guid) }}">
                                        Add table
                                    </a>
                                </p>
                                {% endif %}

                        {% endif %}
                    </div>

                    {% if ethnicity_classification %}
                    <div id="data">
                        <h2 class="govuk-heading-m">Data classification</h2>
                        <table class="govuk-table">
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__header" scope="row">Classification</td>
                                <td class="govuk-table__cell">{{ ethnicity_classification }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__header" scope="row">Includes 'All'</td>
                                <td class="govuk-table__cell">{{ includes_all | yesno | title }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__header" scope="row">Includes broad categories</td>
                                <td class="govuk-table__cell">{{ includes_parents | yesno | title }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__header" scope="row">Include 'Unknown'</td>
                                <td class="govuk-table__cell">{{ includes_unknown | yesno | title }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__header" scope="row">Source of classification</td>
                                <td class="govuk-table__cell">{{ classification_source }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
