{% extends "base.html" %}
{% block title %}Edit page{% endblock %}
{% block main_content %}
    <h2>Edit page</h2>
    <div class="panel {{ status }}">
        <p>Status: {{ status }}</p>
    </div>
    <div class="edit-form">
        <form method="POST" action="{{ url_for('cms.edit_page', guid=guid)}}">
            {{ form.title.label }} {{ form.title(size=20) }}
            {{ form.description.label }}{{ form.description(rows='10',cols='100') }}
            {#                TODO: Dress up publish button with context #}
            <div class="button-bar">
                <ul class="button-group">
                    {% if "REJECT" in available_actions %}
                        <a class="button alert" href="{{ url_for('cms.reject_page', guid=guid)}}">Reject</a>
                    {% endif %}
                </ul>
                 <ul class="button-group button-right">
                    {% if "UPDATE" in available_actions %}
                        <button type="submit" class="button">Update</button>
                    {% endif %}
                    {% if  "APPROVE" in available_actions %}
                        <a class="button" href="{{ url_for('cms.publish_page', guid=guid)}}">
                            {{ next_approval_state | format_approve_button }}
                        </a>
                    {% endif %}
                </ul>
            </div>
        </form>
        <p class="preview">
            <a href="{{ url_for('preview.preview_page', guid=guid) }}">Preview page</a>
        </p>
     </div>
    </div>
{% endblock %}