{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "_shared/_page_title.html" import page_title %}

{% from "cms/forms.html" import render_field, render_textarea_field, render_contact_details_fields,
                                render_checkboxes, render_radio_field, render_department_select %}

{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_uri=topic.uri), "text": topic.title},
  ]
%}

{% block bodyClasses %}rd_cms{% endblock %}
{% block pageTitle %}{{ page_title(measure.title, error=(form.errors|length > 0)) }}{% endblock %}

{% block flashMessages %}
  <div class='grid-row'>
        <div class='column-full'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        <div class="flash-message">
                            {% for category, message in messages %}
                                <div data-alert class="alert-box {% if category in ['error', 'dimension-error'] %}error{% else %}{{ category }}{% endif %}">
                                    <span>{{ message | render_markdown }}</span>
                                    {% if form.errors and category =='error' %}
                                        <ul>
                                            {% for field, error in form.error_items() %}
                                                {% if field == 'administrative_data' %}
                                                    <li><a href="#type-of-data">Type of data</a>: {{ error[0] }}</li>
                                                {% elif field == 'frequency_id' %}
                                                    <li><a href="#frequency-of-release">Frequency of release</a>: {{ error[0] }}</li>
                                                {% elif field == 'type_of_statistic_id' %}
                                                    <li><a href="#type-of-statistic">Type of statistic</a>: {{ error[0] }}</li>
                                                {% elif field == 'england' %}
                                                    <li><a href="#area-covered">Area covered</a>: {{ error[0] }}</li>
                                                {% elif field == 'lowest_level_of_geography_id' %}
                                                    <li><a href="#lowest-level-of-geography">Lowest level of geography</a>: {{ error[0] }}</li>
                                                {% elif field == 'department_source' %}
                                                    <li><a href="#department-source">Publisher</a>: {{ error[0] }}</li>
                                                {% else %}
                                                    <li><a href="#">{{ form[field].label }}</a>: {{ error[0] }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {%  set form_disabled = measure.status != 'DRAFT' and not new %}

    <form method="POST" action="{% if new %}{{ url_for('cms.create_measure_page', topic_uri=topic.uri, subtopic_uri=subtopic.uri) }}{% else %}{{ url_for('cms.edit_measure_page', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}{% endif %}">

        <!-- version info -->
            <div class="grid-row">
                <div class="column-full">
                    <div class="status sticky-js">
                        <div class="status-inner">
                            <div class="version-info left">
                                <span class="info">Version&nbsp;<b>{% if new %}1.0{% else %}{{ measure.version }}{% endif %}</b></span>
                            </div>
                            <div class="centre">
                                <span class="info" id="status">Status:&nbsp;<b>
                                    {% if measure.published == True and measure.status == "APPROVED" %}
                                        Published
                                    {% else %}
                                        {% if new %}DRAFT{% else %}{{ measure.status | format_status | safe }}{% endif %}
                                    {% endif %}</b>
                                </span>
                                {% if measure.status == 'DEPARTMENT_REVIEW' %}
                                    <div id="review-url">
                                        {% if measure.review_token and measure.review_token_expires_in(config) > 0 %}
                                            {% set expires_in_days = measure.review_token_expires_in(config) %}
                                                <a href="{{ url_for('review.review_page', review_token=measure.review_token, _external=True) }}"  id='review-link-url'>Review link</a>
                                                expires in {{ expires_in_days }} {% if expires_in_days == 1 %}
                                                day{% else %}days{% endif %}<button id="copy-to-clipboard" class="button neutral">Copy link</button>
                                                <input id="review-link" value="{{ url_for('review.review_page', review_token=measure.review_token, _external=True) }}">
                                        {% else %}
                                            <span class="warning">Review link expired <button id="generate-review-url" class="button neutral">Renew</button></span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="right">
                                  {% if not new %}
                                      <a href="{{ url_for('static_site.measure_page', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}" name="preview">
                                        {% if measure.status == 'APPROVED' %}View{% else %}Preview this version{% endif %}
                                      </a>
                                  {% endif %}
                            </div>
                            <div class="actions right">
                                {% if measure.status == 'APPROVED' and measure.latest and current_user.can(CREATE_VERSION) %}
                                    <a class="button" href="{{ url_for('cms.new_version', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                                        Edit / Create new version
                                    </a>
                                    {% if current_user.can(PUBLISH) %}
                                        <a class="button warning" href="{{ url_for('cms.unpublish_page', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                                            Unpublish
                                        </a>
                                    {% endif %}

                                {%  elif measure.status == 'APPROVED' and not measure.latest%}

                                    {%  set latest = measure.latest_version() %}
                                    <div class="other-versions">

                                          {% if latest.status == 'DRAFT' or latest.status == 'INTERNAL_REVIEW' or latest.status == 'DEPARTMENT_REVIEW' %}
                                            <a href="{{ url_for('cms.edit_measure_page',
                                                                topic_uri=topic.uri,
                                                                subtopic_uri=subtopic.uri,
                                                                measure_uri=latest.uri,
                                                                version=latest.version) }}">Version {{ latest.version }}</a> of this page is in {{ latest.status | format_status | safe }}
                                        {% endif %}
                                        <a href="{{ url_for('cms.list_measure_page_versions',
                                                            topic_uri=topic.uri,
                                                            subtopic_uri=subtopic.uri,
                                                            measure_uri=latest.uri)}}">All versions</a>
                                    </div>

                                {%  elif measure.status == 'DRAFT' or new %}
                                     <button class="button" type="submit" name="save">
                                            Save
                                     </button>
                                {% endif %}

                                {% if "REJECT" in available_actions %}
                                    <a class="button warning"
                                       id="reject-measure"
                                       href="{{ url_for('cms.reject_page', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                                        Reject
                                    </a>
                                {% endif %}

                                {% if status == 'REJECTED' or status == 'UNPUBLISHED' %}
                                    <a class="button"
                                        id="send-back-to-draft"
                                        href="{{ url_for('cms.send_page_to_draft', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                                        Send back to draft
                                    </a>
                                {%  endif %}

                                {% if  "APPROVE" in available_actions %}
                                    {% if status == 'DRAFT' %}
                                        <button type="submit" class="button {% if next_approval_state == 'INTERNAL_REVIEW' %}neutral{%endif %}" name="save-and-review" id="save-and-review">
                                            {{ next_approval_state | format_approve_button | safe }}
                                        </button>
                                     {% elif next_approval_state == 'INTERNAL_REVIEW' %}
                                        <a class="button neutral" id="send-to-internal-review"
                                           href="{{ url_for('cms.send_to_review', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                                            {{ next_approval_state | format_approve_button | safe }}
                                        </a>
                                    {% elif next_approval_state == 'DEPARTMENT_REVIEW' %}
                                        <a class="button" id="send-to-department-review"
                                           href="{{ url_for('cms.send_to_review', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                                            {{ next_approval_state | format_approve_button | safe }}
                                        </a>
                                    {% elif next_approval_state == 'APPROVED' and current_user.can(PUBLISH) %}
                                        <a class="button" id="send-to-approved"
                                           href="{{ url_for('cms.publish', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                                            {{ next_approval_state | format_approve_button | safe }}
                                        </a>
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="grid-row">
            <div class="column-full">
                <h1 class="heading-large">{% if new %}Create{% else %}Edit{% endif %} page</h1>
                    {% if not new %}{{ form.db_version_id }}{% endif %}
                    {% if measure.publication_date %}
                        <h3 class="heading-medium">Publication date: {{ measure.publication_date | format_friendly_date}}</h3>
                    {% endif %}

                    {{ render_field(form.title, disabled=form_disabled, diffs=diffs, hint="For example, ‘Victims of crime’") }}

                    <div class="form-group">
                        <label class="form-label" for="subtopic">Topic</label>
                        <select id="subtopic" name="subtopic" class="form-control sub-topic"
                                {% if form_disabled or (measure and measure.version != '1.0') %}disabled{% endif %}>
                            {% for topic in topics %}
                                <optgroup label="{{ topic.title }}">
                                    {% for st in topic.children %}
                                        <option value="{{ st.guid }}"
                                                {% if st.guid == subtopic.guid %}selected{% endif %}>{{ st.title }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>

                {{ render_field(form.internal_reference, disabled=form_disabled, diffs=diffs, class='short', hint="This is for internal use by the Race Disparity Unit") }}
            </div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">

                {{ render_field(form.time_covered, disabled=form_disabled, diffs=diffs, hint="For example, 2016 to 2017, or 2014/15 to 2016/17") }}

                {{ render_checkboxes([form.england,
                                      form.wales,
                                      form.scotland,
                                      form.northern_ireland],
                                          disabled=form_disabled,
                                          legend='Areas covered',
                                          errors=form.england.errors,
                                          class='country',
                                          legend_class="uk-countries")}}

                {{ render_radio_field(form,
                                    form.lowest_level_of_geography_id,
                                    legend='Lowest level of geography',
                                    name='lowest_level_of_geography',
                                    disabled=form_disabled)}}
            </div>
            <div class="column-one-third edit-summary">
                {% if not new %}
                    {% if measure.version == '1.0' %}
                        {% set f = form.internal_edit_summary.process_data("Initial Version") %}
                        <div>
                            <ul class="button-group hidden">
                                <li>
                                    {{ render_textarea_field(form.external_edit_summary, rows='', cols='', disabled=form_disabled, diffs=diffs) }}
                                </li>
                                <li>
                                    {{ render_textarea_field(form.internal_edit_summary, rows='', cols='', disabled=form_disabled, diffs=diffs) }}
                                </li>

                            </ul>
                        </div>
                    {% else %}
                        <div>
                            <ul class="button-group">
                                <li>
                                    {{ render_textarea_field(form.external_edit_summary, rows='', cols='', disabled=form_disabled, diffs=diffs) }}
                                </li>
                                <li>
                                    {{ render_textarea_field(form.internal_edit_summary, rows='', cols='', disabled=form_disabled, diffs=diffs) }}
                                </li>

                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

     <div class="grid-row">
        <div class="column-full">
            <h3 class="heading-medium">Dimensions</h3>
                {% if measure.dimensions %}
                    <table>
                        {% for dimension in measure.dimensions %}
                            <tr class="movable" data-dimension-guid="{{ dimension.guid }}">
                                <td>{{ dimension.title }}</td>
                                <td>
                                    <a href="{{ url_for('cms.edit_dimension', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version, dimension_guid=dimension.guid ) }}">
                                        {% if 'UPDATE' in available_actions %}edit{% else %}view{% endif %}</a></td>
                                <td>{% if 'UPDATE' in available_actions %}
                                    <a href="{{ url_for('cms.delete_dimension', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version, dimension_guid=dimension.guid ) }}">delete</a>{% endif %}
                                </td>
                                <td class="move-controls">
                                    {% if 'UPDATE' in available_actions %}
                                        <span title="move up" class="move-up">&#x25B2</span>
                                        <span title="move down" class="move-down">&#x25BC</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}

                {% if 'UPDATE' in available_actions %}
                    <a href="{{ url_for('cms.create_dimension', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">Add
                        dimension</a><br/>
                {% endif %}

                {% if new %}
                    <p>Once this page is saved you will be able to add dimensions</p>
                {% endif %}
        </div>
    </div>

    <div class="grid-row">
            <div class="column-two-thirds">

                <h2 class="heading-medium">Data sources</h2>

                <fieldset class="source">

                  <legend>
                        <h3 class="heading-small">Primary source</h3>
                  </legend>

                  {{ render_field(form.source_text, disabled=form_disabled, diffs=diffs, hint="For example, Crime and Policing Survey") }}

                  {{ render_checkboxes([form.administrative_data, form.survey_data],
                                        disabled=form_disabled,
                                        legend='Method of data collection',
                                        errors=form.administrative_data.errors + form.survey_data.errors)}}

                  {{ render_radio_field(form,
                                        form.type_of_statistic_id,
                                        name='type_of_statistic',
                                        legend='Type of statistic',
                                        disabled=form_disabled)}}

                  {{ render_department_select('Published by',
                                              form.department_source,
                                              measure.department_source_id if measure else None,
                                              organisations_by_type,
                                              disabled=form_disabled,
                                              hint="For example, Ministry of Justice") }}

                  {{ render_field(form.source_url, disabled=form_disabled, diffs=diffs, hint="Link to a web page where users can easily find the source data. Don't link directly to a spreadsheet or a PDF. For example, ‘https://www.gov.uk/government/statistics/youth-justice-annual-statistics-2016-to-2017’") }}

                  {{ render_field(form.published_date, disabled=form_disabled, class="date", diffs=diffs, hint="For example, 1 January 2016") }}

                  {{ render_textarea_field(form.note_on_corrections_or_updates, disabled=form_disabled, diffs=diffs) }}

                  {{ render_radio_field(form,
                                        form.frequency_id,
                                        legend='Publication frequency',
                                        name='frequency',
                                        disabled=form_disabled,
                                        has_other=True)}}

                  {{ render_textarea_field(form.data_source_purpose, disabled=form_disabled, diffs=diffs) }}

                </fieldset>

                <!-- TODO: maybe have js clear the form when remove is clicked, so that a subsequent save will clear data in back end -->
                <div class="js-secondary-sources">

                  <fieldset class="source">
                    <legend>
                      <h3 class="heading-small">Secondary source</h3>
                    </legend>

                    {{ render_field(form.secondary_source_1_title, disabled=form_disabled, diffs=diffs, hint="For example, Annual Population Survey") }}

                    {{ render_checkboxes([form.secondary_source_1_administrative_data, form.secondary_source_1_survey_data],
                                        disabled=form_disabled,
                                        legend='Method of data collection',
                                        errors=form.secondary_source_1_administrative_data.errors + form.secondary_source_1_survey_data.errors)}}

                    {{ render_radio_field(form,
                                          form.secondary_source_1_type_of_statistic_id,
                                          legend='Type of statistic',
                                          disabled=form_disabled)}}

                    {{ render_department_select('Publisher',
                                                form.secondary_source_1_publisher,
                                                measure.secondary_source_1_publisher_id if measure else None,
                                                organisations_by_type,
                                                disabled=form_disabled,
                                                field_name='secondary-source-1-publisher') }}


                    {{ render_field(form.secondary_source_1_url, disabled=form_disabled, diffs=diffs, hint="Link to a web page, not a spreadsheet or a PDF. For example, ‘https://www.gov.uk/government/statistics/youth-justice-annual-statistics-2016-to-2017’") }}

                    {{ render_field(form.secondary_source_1_date, disabled=form_disabled,class="date", diffs=diffs) }}

                    {{ render_textarea_field(form.secondary_source_1_note_on_corrections_or_updates, disabled=form_disabled, diffs=diffs) }}

                    {{ render_radio_field(form,
                                          form.secondary_source_1_frequency_id,
                                          legend='Publication frequency',
                                          name='secondary_source_1_frequency',
                                          disabled=form_disabled,
                                          has_other=True)}}

                    {{ render_textarea_field(form.secondary_source_1_data_source_purpose, disabled=form_disabled, diffs=diffs) }}

                  </fieldset>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                    <h3 class="heading-medium">Commentary</h3>

                    {{ render_textarea_field(form.summary, disabled=form_disabled, diffs=diffs, hint="To add a bullet, type * followed by a space, for example: <br>* 29% of an ethnic group waited more than 4 hours for treatment<br><br>The main facts and figures show that:") }}

                    {{ render_textarea_field(form.need_to_know, disabled=form_disabled, diffs=diffs) }}

                    {{ render_textarea_field(form.measure_summary, disabled=form_disabled, diffs=diffs) }}

                    {{ render_textarea_field(form.ethnicity_definition_summary, disabled=form_disabled, diffs=diffs) }}

                    <h3 class="heading-medium">Methodology</h3>

                    {{ render_textarea_field(form.methodology, disabled=form_disabled, diffs=diffs) }}

                    {{ render_textarea_field(form.suppression_and_disclosure, disabled=form_disabled, diffs=diffs) }}

                    {{ render_textarea_field(form.estimation, disabled=form_disabled, diffs=diffs, hint="For example, ‘Percentages are rounded to one decimal place’") }}

                    {{ render_textarea_field(form.related_publications, disabled=form_disabled, diffs=diffs) }}

                    {{ render_field(form.qmi_url, disabled=form_disabled) }}

                    {{ render_textarea_field(form.further_technical_information, disabled=form_disabled, diffs=diffs) }}

                    <h3 class="heading-medium">Data</h3>
                    {% if measure.uploads %}
                        <table>
                            {% for upload in measure.uploads %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('static_site.measure_page_file_download', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version, filename=upload.file_name) }}">{{ upload.file_name }}</a>
                                    </td>
                                    <td>{{ upload.title }}</td>
                                    <td>
                                        <a href="{{ url_for('cms.edit_upload', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version, upload_guid=upload.guid ) }}">
                                            {% if 'UPDATE' in available_actions %}edit{% else %}view{% endif %}</a>
                                    </td>
                                    <td>
                                        {% if 'UPDATE' in available_actions %}
                                            <a href="{{ url_for('cms.delete_upload', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version, upload_guid=upload.guid ) }}">delete</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if 'UPDATE' in available_actions %}
                        <a href="{{ url_for('cms.create_upload', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">Add the source data</a><br/>
                    {% endif %}
                    {% if new %}
                        <p>Once this page is saved you will be able to add downloads</p>
                    {% endif %}

            </div>
        </div>

        <div class="grid-row">
            <div class="column-two-thirds">
                <h3 class="heading-medium">Contact details</h3>
                <p>Contact details are for internal use only, and will not be displayed on the website.</p>
                  {{ render_contact_details_fields(form.contact_name, form.contact_email, form.contact_phone, legend="Contact", further_explanation=False, disabled=form_disabled) }}

                  {{ render_contact_details_fields(form.contact_2_name, form.contact_2_email, form.contact_2_phone, legend="Contact 2", further_explanation=False, disabled=form_disabled, class="js-second-contact-details") }}
            </div>
        </div>
     {{ form.csrf_token }}
    </form>

    {% if current_user.can(COPY_MEASURE) %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <form id="measure-action-section__copy_measure_form-{{ measure.guid }}" method="POST" action="{{ url_for('cms.copy_measure_page', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                <button class="button copy-button" type="submit">Create a copy of this measure</button>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}

    <script>

        {%  if measure.status == 'DRAFT' or new %}

            document.addEventListener('DOMContentLoaded', function() {

              ukCountriesSelect(document.querySelector('fieldset.uk-countries'));

              var publisherFields = document.querySelectorAll('select.publisher');
              for (var i = 0; i < publisherFields.length; i++) {
                    govukGovernmentOrganisationsAutocomplete({
                        selectElement: publisherFields[i],
                        showAllValues: false,
                        minLength: 2,
                        defaultValue: ''
                    });
                }
            });

        {%  endif %}


        {%  if not new %}
            function refreshFileList() {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: "{{ url_for('cms.get_measure_page_uploads', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version)}}",
                    success: function (page) {
                        var fileListHtml = '';
                        for (i in page.uploads) {
                            fileListHtml = fileListHtml + '<tr>' +
                                '<td>' + page.uploads[i] + '</td>' +
                                '<td><a href="/cms/{{ topic.uri }}/{{ subtopic.uri }}/{{ measure.uri }}/{{ measure.version }}/uploads/' + page.uploads[i] + '/delete">Delete</a></td>' +
                                '</tr>';
                        }
                        $('#fileList').html(fileListHtml);
                    }
                })
            }
        {%  endif %}

        function moveDimensionUp(event) {
            event.preventDefault();
            var row = $(event.currentTarget).parents('tr:first');
            if (row.prev().length > 0) {
                row.insertBefore(row.prev());
                syncDimensionOrder();
            }
        }

        function moveDimensionDown(event) {
            event.preventDefault();
            var row = $(event.currentTarget).parents('tr:last');
            if (row.next().length > 0) {
                row.insertAfter(row.next());
                syncDimensionOrder();
            }
        }

        function syncDimensionOrder() {
            var rows = $('tr.movable'),
                dimensions = [],
                guid;

            $(rows).each(function (index, row) {
                guid = $(row).data('dimension-guid');
                dimensions.push({"index": index, "guid": guid});
            });
            $.ajax({
                type: 'POST',
                url: "{{ url_for('cms.set_dimension_order', topic=topic.uri,
                                                                subtopic=subtopic.uri,
                                                                measure=measure.uri) }}",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({"dimensions": dimensions}),
                success: function (data) {
                    console.log('Set order for dimensions:', dimensions);
                },
                error: function (data) {
                    console.log('Error setting order for dimensions:', dimensions);
                }
            });
        }

        function getPreviewUrl(event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                url: "{{ url_for('review.get_new_review_url', id=measure.guid, version=measure.version)}}",
                success: function (data) {
                    $('#review-url').html(data);
                    initialiseCopy();
                },
                error: function(data) {
                    $('#review-url').html('<span class="warning">Error trying to generate new preview url</span>');
                }
            })
        }

        function copyToClipboard(event) {
            event.preventDefault();
            var link = document.querySelector('#review-link');
            link.select();
            document.execCommand('copy');
        }

        function initialiseCopy() {
            if (document.queryCommandSupported('copy')){
                $('#copy-to-clipboard').show();
                $('#copy-to-clipboard').click(copyToClipboard);
            }
        }

        $(document).ready(function () {
            {%  if not new %}
                refreshFileList();
            {%  endif %}
            $('.move-up').click(moveDimensionUp);
            $('.move-down').click(moveDimensionDown);
            $('#generate-review-url').click(getPreviewUrl);
            initialiseCopy();
        })

    </script>

{% endblock %}
