{% extends "cms/create_dimension.html" %}

{% block title %}Edit dimension{% endblock %}


{% block main_content %}

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-medium">Edit dimension</h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            {% block measure_form %}
                <form id="dimension_form" method="POST"
                      action="{{ url_for('cms.edit_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid ) }}">
                    {{ form.csrf_token }}
                    {% block fields %}
                        {{ super() }}
                    {% endblock fields %}
                    <ul class="button-group" data-topbar data-options="sticky_on: large">
                        <li>
                            {% if 'UPDATE' in  measure.available_actions() %}
                                <button type="submit" class="button" name="update">Update</button>
                            {% endif %}
                            <button class="button" id="exit">Back</button>
                        </li>

                    </ul>
                    <div id="charts">
                        <h2 class="heading-medium">Charts & Tables</h2>
                        <table>
                            {% if dimension.chart and dimension.chart != '""' %}
                                <tr>
                                    <td>Chart</td>
                                    <td>{{ dimension.chart.title.text }}</td>
                                    <td><a id="edit_chart"
                                           href="{{ url_for('cms.chartbuilder', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid) }}">
                                        {% if 'UPDATE' in  measure.available_actions() %}edit{% else %}
                                            view{% endif %}</a></td>
                                    <td>{% if 'UPDATE' in  measure.available_actions() %}<a id="delete_chart"
                                                                                            href="{{ url_for('cms.delete_chart', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid) }}">delete</a>{% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if dimension.table and dimension.table != '""' %}
                                <tr>
                                    <td>Table</td>
                                    <td>{{ dimension.table.header }}</td>
                                    <td><a id="edit_table"
                                           href="{{ url_for('cms.create_table', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid) }}">
                                        {% if 'UPDATE' in  measure.available_actions() %}edit{% else %}
                                            view{% endif %}</a></td>
                                    <td>{% if 'UPDATE' in  measure.available_actions() %}<a id="delete_table"
                                                                                            href="{{ url_for('cms.delete_table', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid) }}">delete</a>{% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                        {% if 'UPDATE' in  measure.available_actions() %}
                            <ul class="button-group">
                                {% if not dimension.chart or dimension.chart == '""' %}
                                    <li>
                                        <a id="create_chart" class="button"
                                           href="{{ url_for('cms.chartbuilder', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid) }}">
                                            Add chart
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not dimension.table or dimension.table == '""' %}
                                    <li>
                                        <a id="create_table" class="button"
                                           href="{{ url_for('cms.create_table', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid) }}">
                                            Add table
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#exit').click(back);
            function back(evt) {
                evt.preventDefault();
                window.location.replace("{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}")
            }

            function submitForm(data) {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('cms.edit_dimension', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, dimension=dimension.guid )}}",
                    data: data,
                    success: function () {
                    }
                });
            }

            $("#create_chart").click(function (event) {
                var data = $('#dimension_form').serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                submitForm(data)
            });

            $("#edit_chart").click(function (event) {
                var data = $('#dimension_form').serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                submitForm(data)
            });

            $("#create_table").click(function (event) {
                var data = $('#dimension_form').serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                submitForm(data)
            });

            $("#edit_table").click(function (event) {
                var data = $('#dimension_form').serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                submitForm(data)
            });

        });
    </script>
{% endblock %}
