{% extends "cms/base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "_shared/_page_title.html" import page_title %}

{% block body_classes %}rd_cms{% endblock %}
{% block page_title %}{{ page_title("Edit download", error=(form.errors|length > 0) ) }}{% endblock %}

{% block messages %}
  <div class='grid-row'>
        <div class='column-full'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-message">
                        {% for category, message in messages %}
                            <div data-alert class="alert-box {% if category in ['error'] %}error{% else %}{{ category }}{% endif %}">
                                <span>{{ message| render_markdown }}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
  </div>
{% endblock %}

{% block main_content %}
    {% call breadcrumb() %}
        <li>
            <a href="{{ url_for('static_site.topic', uri=topic.uri) }}">{{ topic.title }}</a>
        </li>
        <li>
            <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">{{ measure.title }}</a>
        </li>
    {% endcall %}

    {{ self.messages() }}

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-medium">Edit download</h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            {% block measure_form %}
                <p>
                    Uploaded file:
                    <a href="{{ url_for('static_site.measure_page_file_download', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version, filename=upload.file_name) }}">{{ upload.file_name }}</a>
                </p>
                <p>To replace this file choose another file below</p>
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('cms.edit_upload',topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, upload=upload.guid, version=measure.version)}}">
                    {{ form.csrf_token }}
                    {% block fields %}
                        {{ form.upload.label }}
                        {% if form.upload.errors %}
                            - {{ form.upload.errors[0] }}
                            {{ form.upload(class="error") }}
                        {% else %}
                            {{ form.upload }}
                        {% endif %}

                        {{ form.title.label }}
                        {% if form.title.errors %}
                            - {{ form.title.errors[0] }}
                            {{ form.title(class="error") }}
                        {% else %}
                            {{ form.title }}
                        {% endif %}

                        {{ form.description.label }}
                        {% if form.description.errors %}
                            - {{ form.description.errors[0] }}
                            {{ form.description(class="error", rows='7',cols='100') }}
                        {% else %}
                            {{ form.description(rows='7',cols='100') }}
                        {% endif %}

                    {% endblock fields %}
                    <ul class="button-group" data-topbar data-options="sticky_on: large">
                        <li>
                            {% if 'UPDATE' in measure.available_actions() %}
                                <button type="submit" class="button">Save</button>
                            {% endif %}
                            <button class="button" id="exit">Back</button>
                        </li>
                    </ul>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
        $('#exit').click(back);
        function back(evt) {
            evt.preventDefault();
            window.location.replace("{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}")
        }
</script>
{% endblock %}
