{% macro render_contact_details_fields(name_field, email_field, phone_field, legend="Contact", further_explanation=False, disabled=False, class="") -%}

    <fieldset class="source-contact {{ class }}">
        <legend>{{ legend }} {% if further_explanation %}
            <span class="further-explanation">– {{ further_explanation }}</span>{% endif %}</legend>

        <div class="contact-details">
            <div class="field-group">
                <div>{{ name_field.label }}</div>
                <div>{{ name_field(class="name", disabled=disabled) }}</div>
            </div>

            <div class="field-group">
                <div>{{ email_field.label }}</div>
                <div>{{ email_field(disabled=disabled) }}</div>
            </div>

            <div class="field-group">
                <div>{{ phone_field.label }}</div>
                <div>{{ phone_field(disabled=disabled) }}</div>
            </div>

        </div>

    </fieldset>

{%- endmacro %}


{% macro render_textarea_field(field, rows='10', cols='100', disabled=False, diffs={}, hint=None) -%}
    {{ field.label }}
    {% if hint %}
        <span class="form-hint">{{ hint|safe }}</span>
    {% endif %}
    {% if field.errors %}
        <span class="error-message">{{ field.errors[0] }}</span>
        {{ field(rows=rows, cols=cols, class="error") }}
        {% if diffs %}
            <p>Your update to "{{ field.label.text }}" is highlighted green
                and possible deletions are highlighted red. If these changes are fine,
                save the page, otherwise edit the copy above and then save.</p>
            <div class="differences">
                {{ diffs[field.name]| render_markdown }}
            </div>
        {% endif %}
    {% else %}
        {{ field(rows=rows, cols=cols, disabled=disabled) }}
    {% endif %}
{%- endmacro %}


{% macro render_field(field, disabled=False, label_class=None, class="", hint=None, diffs={}) -%}
    {% if label_class %}
        {{ field.label(class=label_class) }}
    {% else %}
        {{ field.label }}
    {% endif %}

    {% if field.errors %}
        <span class="error-message">{{ field.errors[0] }}</span>
        {{ field(class="error " + class) }}
        {% if diffs %}
            <p>Your update to "{{ field.label.text }}" is highlighted green
                and possible deletions are highlighted red. If these changes are fine,
                save the page, otherwise edit the copy above and then save.</p>
            <div class="differences">
                {{ diffs[field.name] | render_markdown }}
            </div>
        {% endif %}
    {% else %}
        {% if hint %}
            <span class="form-hint">{{ hint }}</span>
        {% endif %}
        {{ field(disabled=disabled, class=class) }}
    {% endif %}
{%- endmacro %}


{% macro render_version_radio(field, measure) -%}

    <label>
        {{ field }}
        <b>{{ measure.next_version_number_by_type(field.data) }}</b>
        {% if field.data == 'minor' %}
            Edit this edition (eg for clarifications or corrections)
        {% else %}
            Create new edition (eg after new data becomes available)
        {% endif %}
    </label>
{%- endmacro %}

{% macro render_checkboxes(fields, legend, disabled=False, label_class=None, class="", errors=False, legend_class="") -%}
    {% set id = legend | lower | replace(' ', '-') %}
    <div class="form-group {% if errors %}form-group-error{% endif %}" id="{{ id }}">
        <fieldset class="{{ legend_class }}">
            <legend>{{ legend }}
                {% if errors %}
                    <span class="error-message">Select at least one</span>
                {% endif %}
            </legend>
            {% for field in fields %}
                <div class="multiple-choice">
                    {{ field(disabled=disabled, class=class) }}
                    {% if label_class %}
                        {{ field.label(class=label_class) }}
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
    </div>
{%- endmacro %}

{% macro render_radio_field(form, field, legend, name, disabled=False, has_other=False) -%}
    <div class="form-group {% if field.errors %}form-group-error{% endif %}">
        <fieldset id="{{ legend | lower | replace(' ', '-') }}">
            <legend>{{ legend }}
                {% if field.errors %}
                    <span class="error-message">Select one</span>
                {% endif %}
            </legend>

            {% for input in field %}

                <div class="multiple-choice">
                    {#  note the assumption is that 'other' radio button is always last #}
                    {% if input.data == (field.choices | count) %}
                        {{ input(**{'aria-controls': '%s-other-field' % name, 'aria-expanded': 'false', 'disabled': disabled}) }}
                    {% else %}
                        {{ input(disabled=disabled) }}
                    {% endif %}
                    {{ input.label }}
                </div>

            {% endfor %}


            {% if has_other %}
                <div class="panel panel-border-narrow form-group {% if form.get_other(name).errors %}form-group-error{% endif %}"
                     id="{{ name }}-other-field">
                  {{ form.get_other(name).label(class="form-label") }}
                    {%  if form.get_other(name).errors %}
                        <span class="error-message">Please specify</span>
                    {% endif %}
                  {{ form.get_other(name)(disabled=disabled) }}
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        showHideControl(document.getElementById("{{ '%s_id-%d'| format(name, (field.choices | count - 1))  }}"))
                    })
                </script>

            {% endif %}
        </fieldset>


    </div>

{%- endmacro %}


{% macro render_department_select(label,
                                  form_field,
                                  current_selected_id,
                                  organisations_by_type,
                                  disabled=False,
                                  field_name='department-source',
                                  hint=None) %}

        {# Not using a wtforms select field as they do not support optgroups out of the box #}
        <div class="form-group">
            <label class="form-label" for="{{ field_name }}">
                {{ label }}
                {% if hint %}
                    <span class="form-hint">{{ hint }}</span>
                {% endif %}
            </label>

            {% if form_field.errors %}
                <span class="error-message">This field is required</span>
            {% endif %}
            <select class="form-control publisher" id="{{ field_name }}" name="{{ field_name | replace('-','_') }}" {% if disabled %}disabled{% endif %}>
              <option >Please select</option>
              {% for type_of_org in organisations_by_type %}
                  <optgroup label="{{ type_of_org[0].pluralise() }}">
                    {% for org in type_of_org[1] %}
                        <option {% if org.id == current_selected_id %}selected{% endif %} value="{{ org.id }}"
                                data-abbreviations="{{ org.abbreviations_data() }}"
                                data-other-names="{{ org.other_names_data() }}">{{ org.name }}</option>
                    {% endfor %}
                  </optgroup>
              {% endfor %}
        </select>
    </div>
{%- endmacro %}
