
{%  macro render_textarea_field(field, rows='7', cols='100', disabled=False) -%}
    {{ field.label }}
    {% if field.errors %}
        - {{ field.errors[0] }}
        {{ field(rows=rows, cols=cols, class="error") }}
    {% else %}
        {{ field(rows=rows, cols=cols, disabled=disabled)}}
    {% endif %}
{%- endmacro %}


{%  macro render_text_field(field,disabled=False) -%}
    {{ field.label }}
    {% if field.errors %}
        - {{ field.errors[0] }}
        {{ field(class="error") }}
    {% else %}
        {{ field(disabled=disabled)}}
    {% endif %}
{%- endmacro %}


{%  macro render_version_radio(field, measure) -%}
    {{ field }}
    <b>{{ measure.next_version_by_type(field.data) }}</b>{{ field.label }} version
    {%  if field.data == 'minor' %}
        (eg for clarifications or corrections)
    {%  else %}
        (eg after new data becomes available)
    {% endif %}
{%- endmacro %}