

{%  macro render_contact_details_fields(name_field, email_field, phone_field, legend="Contact", further_explanation=False, disabled=False, class="") -%}

  <fieldset class="source-contact {{ class }}">
    <legend>{{ legend }} {% if further_explanation %}<span class="further-explanation">– {{ further_explanation }}</span>{% endif %}</legend>

    <div class="contact-details">
      <div class="field-group">
        <div>{{ name_field.label }}</div>
        <div>{{ name_field(class="name") }}</div>
      </div>

      <div class="field-group">
        <div>{{ email_field.label }}</div>
        <div>{{ email_field }}</div>
      </div>

      <div class="field-group">
        <div>{{ phone_field.label }}</div>
        <div>{{ phone_field }}</div>
      </div>

    </div>

  </fieldset>

{%- endmacro %}


{%  macro render_textarea_field(field, rows='10', cols='100', disabled=False) -%}
    {{ field.label }}
    {% if field.errors %}
        - {{ field.errors[0] }}
        {{ field(rows=rows, cols=cols, class="error") }}
    {% else %}
        {{ field(rows=rows, cols=cols, disabled=disabled)}}
    {% endif %}
{%- endmacro %}


{%  macro render_field(field, disabled=False, label_class=None, class="", hint=None) -%}
    {% if label_class %}
        {{ field.label(class=label_class) }}
    {% else %}
        {{ field.label }}
    {% endif %}

    {% if field.errors %}
        - {{ field.errors[0] }}
        {{ field(class="error " + class) }}
    {% else %}
        {% if hint %}
            <span class="form-hint">{{ hint }}</span>
        {% endif %}
        {{ field(disabled=disabled, class=class)}}
    {% endif %}
{%- endmacro %}


{%  macro render_version_radio(field, measure) -%}

    <label>
      {{ field }}
    <b>{{ measure.next_version_number_by_type(field.data) }}</b>
    {%  if field.data == 'minor' %}
        Edit this edition (eg for clarifications or corrections)
    {%  else %}
        Create new edition (eg after new data becomes available)
    {% endif %}
  </label>
{%- endmacro %}