{% extends "base.html" %}
{% block title %}Create a new page{% endblock %}
{% block content %}

{#    <h2>Create a new page</h2>#}
{#    <a class="button" href="{{ url_for('cms.create_page') }}">Start</a>#}

    <div class="row">
        <div class="large-6 columns large-offset-2">
            <h1 class='heading-large'>
                Government data on ethnicity
            </h1>
            <p class='lead'>
                Choose a topic to add content to:
            </p>
            <ul class='topic-list'>
                {% for page in pages %}
                    <li>
                        <a href="{{ url_for('cms.edit_topic_page', slug=page.meta.guid) }}">{{ page.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}å