{% extends "base.html" %}
{% block title %}Create a new page{% endblock %}
{% block content %}

{#    <h2>Create a new page</h2>#}
{#    <a class="button" href="{{ url_for('cms.create_page') }}">Start</a>#}

    <div class="grid-row">
        <div class="column-full">
            <h1 class='heading-large no-breadcrumb'>
                Government data on ethnicity
            </h1>
            <ul class='topic-list'>
                {% for page in pages %}
                    <li>
                        <a href="{{ url_for('cms.topic_overview', topic=page.meta.guid) }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}