{% extends "base.html" %}
{% block title %}Create a new page{% endblock %}
{% block content %}
    <main id="content">
        <div class="grid-row">
            <div class="column-full">
                <h1 class='heading-large no-breadcrumb'>
                    Ethnicity facts and figures
                </h1>
                <ul class='topic-list'>
                    {% for page in pages %}
                        <li>
                            <a href="{{ url_for('cms.topic_overview', topic=page.guid) }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}