{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "cms/measure_actions.html" import render_actions with context %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title},
  ]
%}

{% block bodyClasses %}rd_cms{% endblock %}
{% block pageTitle %}Version history: {{ measure.latest_version.title }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
              Version history
              <span class="govuk-caption-l">
                <span class="govuk-visually-hidden">of </span>
                {{ measure.latest_version.title }}
              </span>
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <table class="table-of-measures">
                <thead>
                <tr>
                    <th>
                        Version
                    </th>
                     <th>
                        Internal note
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Published
                    </th>
                    <td>
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for measure_version in measure.versions %}
                    <tr>
                        <td>
                          <a class="measure-link" href="{{ url_for('static_site.measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version) }}">
                            {{ measure_version.version }}
                          </a>
                        </td>
                        <td>
                            {{ measure_version.internal_edit_summary if measure_version.internal_edit_summary else '' }}
                        </td>

                        <td>{{ measure_version.status | format_status | safe }}</td>
                        <td>{{ measure_version.published_at | format_friendly_date }}</td>
                        <td class="actions">
                            {{ render_actions(topic, subtopic, measure, measure_version, current_user.can(DELETE_MEASURE)) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
