{% extends "cms/base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "cms/measure_actions.html" import render_actions with context %}

{% block body_classes %}rd_cms{% endblock %}
{% block page_title %}Version history: {{ measure_title }}{% endblock %}


{% block messages %}
  <div class='grid-row'>
    <div class='column-full'>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
          <div class="flash-message">
            {% for category, message in messages %}
            <div data-alert class="alert-box {% if category == 'error' %}alert{% else %}{{ category }}{% endif %}">
              <span>{{ message }}</span>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endblock messages %}

{% block main_content %}
    {% call breadcrumb() %}
        <li>
            <a href="{{ url_for('static_site.topic', uri=topic.uri) }}">{{ topic.title }}</a>
        </li>
    {% endcall %}

    {{ self.messages() }}

    <div class='grid-row'>
        <div class="column-two-thirds">
            <h1 class='heading-large'>
              Version history
              <span class="heading-secondary">
                <span class="visually-hidden">of </span>
                {{ measure_title }}
              </span>
            </h1>
        </div>
    </div>
    <div class='grid-row'>
        <div class='column-full'>

            <table class='table-of-measures'>
                <thead>
                <tr>
                    <th>
                        Version
                    </th>
                     <th>
                        Internal note
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Published
                    </th>
                    <td>
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for measure in measures %}
                    <tr>
                        <td>
                          <a class="measure-link" href="{{ url_for('static_site.measure_page', topic=topic.uri, subtopic=subtopic.uri, measure=measure.uri, version=measure.version) }}">
                            {{ measure.version }}
                          </a>
                        </td>
                        <td>
                            {{ measure.internal_edit_summary if measure.internal_edit_summary else '' }}
                        </td>

                        <td>{{ measure.status | format_status | safe }}</td>
                        <td>{{ measure.publication_date | format_friendly_date }}</td>
                        <td class="actions">
                            {{ render_actions(topic, subtopic, measure, current_user.can(DELETE_MEASURE)) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
