{% macro render_actions(topic, subtopic, measure, measure_version, include_delete) -%}
    <div class="measure-action-section">
        <div class="measure-action-section__main" id='measure-action-section-{{ measure.id }}'>
            <a class="govuk-link" href="{{ url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version) }}" id="measure-action-section__view_form_link-{{ measure_version.id }}">View&nbsp;form</a>
    </div>
{%- endmacro %}
