{% extends "base.html" %}
{% block title %}Create a new page{% endblock %}
{% block content %}

    <div class="grid-row">
        <div class="column-full">
            <h1 class='heading-large no-breadcrumb'>
                Government data on ethnicity
            </h1>
            <table id="status-table">

                <thead>
                <tr>
                    <td>Measure</td>
                    <td>ID</td>
                    <td>Version</td>
                    <td>Topic</td>
                    <td>Subtopic</td>
                    <td>Status</td>
                </tr>
                </thead>
                {% for topic in pages %}
                    {% for subtopic in topic.children %}
                        {% for measure in subtopic.children %}
                            <tr>
                                <td><a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">{{ measure.title }}</a></td>
                                <td><a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">{{ measure.guid }}</a></td>
                                <td><a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}">{{ measure.version }}</a></td>
                                <td>{{ topic.title}}</td>
                                <td>{{ subtopic.title }}</td>
                                <td>{{ measure.status }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}
