{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "cms/measure_actions.html" import render_actions with context %}

{% set breadcrumbs =
  [
    {"url": url_for("static_site.index"), "text": "Ethnicity facts and figures"},
    {"url": url_for('static_site.topic', topic_uri=topic.uri), "text": topic.title},
  ]
%}

{% block bodyClasses %}rd_cms{% endblock %}
{% block pageTitle %}Version history: {{ measure_title }}{% endblock %}

{% block content %}
    <div class='grid-row'>
        <div class="column-two-thirds">
            <h1 class='heading-large'>
              Version history
              <span class="heading-secondary">
                <span class="visually-hidden">of </span>
                {{ measure_title }}
              </span>
            </h1>
        </div>
    </div>
    <div class='grid-row'>
        <div class='column-full'>

            <table class='table-of-measures'>
                <thead>
                <tr>
                    <th>
                        Version
                    </th>
                     <th>
                        Internal note
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Published
                    </th>
                    <td>
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for measure in measures %}
                    <tr>
                        <td>
                          <a class="measure-link" href="{{ url_for('static_site.measure_page', topic_uri=topic.uri, subtopic_uri=subtopic.uri, measure_uri=measure.uri, version=measure.version) }}">
                            {{ measure.version }}
                          </a>
                        </td>
                        <td>
                            {{ measure.internal_edit_summary if measure.internal_edit_summary else '' }}
                        </td>

                        <td>{{ measure.status | format_status | safe }}</td>
                        <td>{{ measure.published_at | format_friendly_date }}</td>
                        <td class="actions">
                            {{ render_actions(topic, subtopic, measure, current_user.can(DELETE_MEASURE)) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
