{% macro render_actions(topic, subtopic, measure, include_delete) -%}
    <div class="measure-action-section">
        <div class="measure-action-section__main" id='measure-action-section-{{ measure.guid }}'>
            <div style="">
                {% if measure.status == 'DRAFT' %}
                    <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}" id="measure-action-section__edit_button-{{ measure.guid }}">Edit</a>
                    {% if include_delete %}
                        <button class="link" id="measure-action-section__delete_button-{{ measure.guid }}"
                                onclick="showDeleteForm('{{ measure.guid }}')">
                            Delete
                        </button>
                    {% endif %}
                {% else %}
                    {% if measure.latest and measure.status == 'APPROVED' and current_user.can(CREATE_VERSION) %}
                        <a href="{{ url_for('cms.new_version', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}" id="measure-action-section__create_new_link-{{ measure.guid }}">Create&nbsp;new&nbsp;version</a>
                    {%  else %}
                        <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}" id="measure-action-section__view_form_link-{{ measure.guid }}">View&nbsp;form</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if measure.status == 'DRAFT' and include_delete %}
            <div id="measure-action-section__delete-{{ measure.guid }}" style="display:none">
                <form name="measure-action-section__delete-{{ measure.guid }}"
                      action="{{ url_for('cms.delete_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid, version=measure.version) }}"
                      onsubmit="return submitDeleteForm('{{ measure.guid }}')">
                    <div class="delete_version" id='delete-version-{{ measure.guid }}'>
                        <div class="multiple-choice" style="display:block">
                            <input id="delete-radio-yes-{{ measure.guid }}" type="radio" name="radio-group" value="Yes">
                            <label for="delete-radio-yes-{{ measure.guid }}">Delete</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="delete-radio-no-{{ measure.guid }}" type="radio" name="radio-group" value="No">
                            <label for="delete-radio-no-{{ measure.guid }}">Cancel</label>
                        </div>
                        <div>
                            <button class="button" id="delete-confirm-button-{{ measure.guid }}" type="submit">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{%- endmacro %}
