{% extends "cms/base_measure_page.html" %}
{% block title %}Edit measure{% endblock %}
{% block main_content %}
    {% block measure_form %}
        <div class="edit-form">
            <form method="POST" action="{{ url_for('cms.create_measure_page', topic=topic.guid, subtopic=subtopic.guid) }}">
            {{ form.csrf_token }}
                {% block fields %}
                    <label for="{{ form.guid.id }}">{{ form.guid.label }}</label>
                    {{ form.guid }}
                    <label for="{{ form.title.id }}">{{ form.title.label }}</label>
                    {{ form.title }}
                {% endblock fields %}
                <ul class="button-group" data-topbar data-options="sticky_on: large">
                    <li>
                        <button type="submit" class="button" name="save">Save
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    {% endblock %}
    </div>
{% endblock %}
