{% extends "base_cms.html" %}
{% block title %}New measure{% endblock %}
{% block main_content %}
    <h2>New measure</h2>
    <form action="{{ url_for('cms.create_measure_page', topic_slug=parent.meta.guid) }}" method="post">
        <label for="{{ form.title.id }}">{{ form.title.label }}</label>
        {{ form.title }}
        <label for="{{ form.description.id }}">{{ form.description.label }}</label>
        {{ form.description(rows='10',cols='100') }}
        <button type="submit" class="button">Save</button>
        {{ form.csrf_token }}
    </form>
{% endblock %}