{% extends "base.html" %}
{% block title %}Create a new page{% endblock %}
{% block content %}
  <!--[if lte IE 8 ]>
    <link href="/static/stylesheets/ie-fixes.css" media="screen" rel="stylesheet" />
  <![endif]-->

    {#    <h2>Create a new page</h2>#}
    {#    <a class="button" href="{{ url_for('cms.create_page') }}">Start</a>#}

    <div class="grid-row">
        <div class="column-full">
            <h1 class='heading-large no-breadcrumb'>
                Government data on ethnicity
            </h1>
            <table id="status-table">

                <thead>
                <tr>
                    <td>Measure</td>
                    <td>ID</td>
                    <td>Topic</td>
                    <td>Subtopic</td>
                    <td>Status</td>
                </tr>
                </thead>
                {% for topic in pages %}
                    {% for subtopic in topic.children %}
                        {% for measure in subtopic.children %}
                            <tr>
                                <td><a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid) }}">{{ measure.title }}</a></td>
                                <td><a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=subtopic.guid, measure=measure.guid) }}">{{ measure.guid }}</a></td>
                                <td>{{ topic.title}}</td>
                                <td>{{ subtopic.title }}</td>
                                <td>{{ measure.status }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#status-table').DataTable({
                "iDisplayLength": 50,
                "order": [[ 3, "desc" ],[ 0, "asc"]]
            });
        });
    </script>
{% endblock %}

{% block endhead %}
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" media="all" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
{% endblock %}