{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "_macros/_back.html" import govukBackLink %}

{% block pageTitle %}Search for an existing data source{% endblock %}

{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title}
  ]
%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink(href=url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version ),text="Back") }}

      <form method="GET" action="{{ url_for('cms.search_data_sources', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version )}}">
        <div class="govuk-form-group">
          <span class="govuk-caption-xl">{{ measure_version.title }} </span>

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="q">Search for an existing data&nbsp;source</label>
          </h1>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <input class="govuk-input" id="q" name="q" type="text" value="{{ q }}">
            </div>

            <div class="govuk-grid-column-one-third">
              <button class="govuk-button govuk-button--secondary">Search</button>
            </div>
          </div>
        </div>
      </form>

      {% if request.args.q is defined and request.args.q != "" %}
        {% if data_sources|length == 0 %}
          <p class="govuk-body">No results found. Try again with different words or a less specific search, or create a new data source.</p>

          <p class="govuk-body">
            <a class="govuk-link" href="{{ url_for('cms.new_data_source', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version) }}">Create a new data source</a>
          </p>
        {% else %}
          <form action="{{ url_for('cms.link_existing_data_source', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version) }}" method="POST">
            {{ form.csrf_token | default('') }}
            {{ form.search_query }}

            {% if data_sources|length >= 100 %}
              <p class="govuk-body">Only the first 100 results are shown.</p>
            {% endif %}

            {{ form.data_source }}

            <button type="submit" class="govuk-button">Select</button>
          </form>
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}
