{% extends "base.html" %}
{% from "_shared/_breadcrumb.html" import breadcrumb %}
{% from "_macros/_back.html" import govukBackLink %}

{% block pageTitle %}Search for an existing data source{% endblock %}

{% set breadcrumbs =
  [
    {"url": url_for('static_site.topic', topic_slug=topic.slug), "text": topic.title}
  ]
%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink(href=url_for('cms.edit_measure_version', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version ),text="Back") }}

      <form method="GET" action="{{ url_for('cms.search_data_sources', topic_slug=topic.slug, subtopic_slug=subtopic.slug, measure_slug=measure.slug, version=measure_version.version )}}">
        <div class="govuk-form-group">
          <span class="govuk-caption-xl">{{ measure_version.title }} </span>

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="q">Search for an existing data&nbsp;source</label>
          </h1>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <input class="govuk-input" id="q" name="q" type="text" value="{{ q }}">
            </div>

            <div class="govuk-grid-column-one-third">
              <button class="govuk-button">Search</button>
            </div>
          </div>
        </div>
      </form>

      {% if not data_sources == None %}

        {% if data_sources|length > 0 %}

          {% if data_sources|length == 100 %}

            <p class="govuk-body">Only the first 100 results are shown.</p>
          {% endif %}

          <ul class="govuk-list">
            {% for data_source in data_sources %}

              <li>
                <div class="govuk-heading-s govuk-!-margin-bottom-2">{{ data_source.title }}</div>
                <div class="govuk-body">
                  {% if data_source.publication_date %}
                    <span class="eff-!-grey-1">Published on {{ data_source.publication_date }}</span>
                  {% endif %}
                  {% if data_source.source_url %}
                    <a class="govuk-link" href="{{ data_source.source_url }}">View publication</a>
                  {% endif %}
                </div>
              </li>

            {% endfor %}
          </ul>
        {% else %}
          <p class="govuk-body">No results found. Try again with different words or a less specific search.</p>
        {% endif %}
      {% endif %}

    </div>
  </div>

{% endblock %}
