{% extends "base.html" %}
{% block title %}Create a new page{% endblock %}
{% block content %}

{#    <h2>Create a new page</h2>#}
{#    <a class="button" href="{{ url_for('cms.create_page') }}">Start</a>#}
        <nav class="row" aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li>
                    <a href="{{ url_for('cms.index') }}">Home</a>
                </li>
                <li>
                    <a href = "{{ url_for('cms.topic_overview', topic=topic.meta.guid) }}">{{ topic.title }}</a>
                </li>
                <li>
                    <a href="#">{{ page.title }}</a></div>
                </li>
            </ul>
        </nav>
        <div class="large-10 columns large-offset-2">
            <h2>{{ page.title }}</h2>
            <p>Click on any of the measure pages below to edit.</p>
            <table>
                {% for child in children %}
                    <tr>
                        <td>
                            <a href="{{ url_for('cms.edit_measure_page', topic=topic.meta.guid, subtopic=page.meta.guid, measure=child.meta.guid) }}">{{ child.title }}</a>
                        </td>
                        <td>{{ child.publish_status() }}</td>
                        <td><a href="{{ url_for('cms.edit_measure_page', topic=topic.meta.guid, subtopic=page.meta.guid, measure=child.meta.guid) }}">edit</a></td>
                        <td><a href="{{ url_for('preview.preview_measure', topic=topic.meta.guid, subtopic=page.meta.guid, measure=child.meta.guid) }}">preview</a></td>
                    </tr>
                {% endfor %}
            </table>
            <p class="temp">
                <a href="{{ url_for('cms.create_measure_page', topic=topic.meta.guid, subtopic=page.meta.guid) }}">New measure page</a>
            </p>
        </div>
    </div>

{% endblock %}