{% extends "base.html" %}
{% block title %}Create a new page{% endblock %}
{% block content %}

<div class='grid-row'>
  <nav class="column-full" aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li>
        <a href="{{ url_for('cms.index') }}" id="home_breadcrumb">Home</a>
      </li>
      <li>
        <a href="{{ url_for('cms.topic_overview', topic=topic.guid) }}" id="{{ topic.guid }}_breadcrumb">{{ topic.title }}</a>
      </li>
    </ul>
  </nav>
</div>
<div class='grid-row'>
  <div class="column-two-thirds">
    <h1 class='heading-large'>{{ page.title }}</h1>
    <p class="temp">
      <a href="{{ url_for('cms.create_measure_page', topic=topic.guid, subtopic=page.guid) }}">Add a
        measure</a>
      </p>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-full'>
      {% if measures %}
      <table class='table-of-measures'>
        <thead>
        <tr>
            <td>
                Measure name
            </td>
            <td>
            </td>
            <td>
                Status
            </td>
            <td>

            </td>
        </tr>
        </thead>
        <tbody>
          {% for measure in measures %}
              <tr>
                  <td>
                      <a href="{{ url_for('cms.edit_measure_page', topic=topic.guid, subtopic=page.guid, measure=measure.guid, version=measure.version) }}">
                          {{ measure.title }}
                      </a>
                  </td>
                 {%  if measure.number_of_versions() > 1 %}
                      <td>
                          <a href="{{ url_for('cms.list_measure_page_versions', topic=topic.guid, subtopic=page.guid, measure=measure.guid) }}">
                              {{ measure.number_of_versions() }} versions
                          </a>
                      </td>
                  {%  elif measure.status == 'APPROVED' %}
                       <td>
                            <a href="{{ url_for('cms.update_published_page', topic=topic.guid, subtopic=page.guid, measure=measure.guid, version=measure.version) }}">
                            Add a version
                            </a>
                       </td>
                     {%  else %}
                     <td></td>
                  {%  endif %}
                  <td>{{ measure.status | format_as_title }}</td>
                  <td>
                      <a href="{{ url_for('static_site.measure_page', topic=topic.uri, subtopic=page.uri, measure=measure.uri, version=measure.version) }}">
                          View
                      </a>
                  </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>

  {% endblock %}