{% extends "base.html" %}
{% block title %}Create a new page{% endblock %}
{% block content %}
<div class='grid-row'>
  <nav class="column-full" aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li>
        <a href="{{ url_for('cms.index') }}" id="home_breadcrumb">Home</a>
      </li>
    </ul>
  </nav>
</div>
<div class="grid-row">
  <div class="column-full">
    <h1 class='heading-large'>{{ page.title }}</h1>
    <ul class='topic-list'>
      {% for child in children %}
      <li>
        <a href="{{ url_for('cms.subtopic_overview', topic=page.guid, subtopic=child.guid) }}">
          {{ child.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}