{% extends "base.html" %}
{% block title %}Create a new page{% endblock %}
{% block content %}

{#    <h2>Create a new page</h2>#}
{#    <a class="button" href="{{ url_for('cms.create_page') }}">Start</a>#}
    <div class="row">
        <a href="{{ url_for('cms.index') }}">Home</a> >
        <a href ="#">{{ page.title }}</a>
    <div class="row">
    <div class="row">
        <div class="large-10 columns large-offset-2">
            <h2>{{ page.title }}</h2>
            <p>Click on any of the subtopic pages below to see their measures.</p>
            <ul>
                {% for page in pages %}
                    <li><a href="{{ url_for('cms.subtopic_overview', slug=page.meta.guid) }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}