{% extends "static_site/export/_base_export.html" %}
{% block page_title %}{{ measure_page.title }} - GOV.UK Ethnicity facts and figures{% endblock %}
{% block meta_title %}{{ measure_page.title }}{% endblock %}

{% block main_content %}

    {% set version = 'latest' if measure_page.has_no_later_published_versions() else measure_page.version %}

    <main id="content" itemscope itemtype="http://schema.org/NewsArticle">
        <meta itemprop="image"
              content="https://www.ethnicity-facts-figures.service.gov.uk{{ asset_path }}images/opengraph-image.png"/>
        <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage"
              itemid="https://www.ethnicity-facts-figures.service.gov.uk{{ url_for('static_site.measure_page',
                          topic=topic,
                          subtopic=subtopic,
                          measure=measure_page.uri,
                          version=version) }}"/>

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-medium">Title: {{ measure_page.title }}</h1>
                {% if measure_page.internal_reference %}
                    <h2 class="heading-medium">Reference: {{ measure_page.internal_reference }}</h2>
                {% endif %}
            </div>
        </div>

        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="metadata">
                        <div style="padding-bottom: 10px">
                                <div class="bold-xsmall" id="department">Department</div>
                                {% if measure_page.department_source %}
                                    <div id="department-name">{{ measure_page.department_source.name }}</div>
                                {% else %}
                                    <div>[...]</div>
                                {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                                <div class="bold-xsmall" id="published">Published</div>
                                {% if measure_page.publication_date %}
                                    <div id="published-date">{{ measure_page.publication_date | format_friendly_date  }}</div>
                                {% else %}
                                    <div>[...]</div>
                                {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                                <div class="bold-xsmall" id="area-covered">Area covered</div>
                                {% if measure_page.area_covered %}
                                    <div id="area-covered-value">{{ measure_page.format_area_covered() }}</div>
                                {% else %}
                                    <div>[...]</div>
                                {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                                <div class="bold-xsmall" id="lowest-level-of-geography">Lowest level of geography</div>
                                {% if measure_page.lowest_level_of_geography %}
                                    <div id="lowest-level-of-geography-value">{{ measure_page.lowest_level_of_geography.name }}</div>
                                {% else %}
                                    <div>[...]</div>
                                {% endif %}
                        </div>

                        {% if measure_page.time_covered %}
                            <div style="padding-bottom: 10px">
                                <div class="bold-xsmall" id="time-period">Time period</div>
                                <div id="time-period-value">{{ measure_page.time_covered }}</div>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-two-thirds">
                <div style="padding-bottom: 10px">
                    <h2 class="heading-medium">Summary</h2>
                    {% if measure_page.summary %}
                        <div>{{ measure_page.summary | render_markdown }}</div>
                    {% else %}
                        <div>[...]</div>
                {% endif %}

                <div style="padding-bottom: 10px">
                    <h2 class="heading-medium">Things you need to know</h2>
                    {% if measure_page.need_to_know %}
                        <div id="things-you-need-to-know">{{ measure_page.need_to_know | render_markdown }}</div>
                    {% else %}
                        <div>[...]</div>
                {% endif %}

                <div style="padding-bottom: 10px">
                    <div class="heading-small">What the data measures</div>
                    {% if measure_page.measure_summary %}
                        <div id="what-the-data-measures">{{ measure_page.measure_summary | render_markdown }}</div>
                    {% else %}
                        <div>[...]</div>
                {% endif %}

                <div style="padding-bottom: 10px">
                    <div class="heading-small">The ethnic categories used in this data</div>
                    {% if measure_page.ethnicity_definition_summary %}
                        <div id="ethnic-categories-used-in-this-data">{{ measure_page.ethnicity_definition_summary | render_markdown }}</div>
                    {% else %}
                        <div>[...]</div>
                {% endif %}
            </div>
            </div>
        </div>

        <div class="grid-row">
            {% if measure_page.dimensions %}
                {% for dimension in dimensions %}

                    <div class="column-two-thirds">
                        <h1 class="heading-large">Dimension {{ loop.index }}</h1>
                        <h2 class="heading-medium">Title: {{ dimension.title }}</h2>
                        <div class="metadata">
                            <div style="padding-bottom: 10px">
                                <div class="bold-xsmall">Time period</div>
                                {% if dimension.time_period %}
                                    <div>{{ dimension.time_period }}</div>
                                {% else %}
                                    <div>[...]</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="column-full"
                         style="{% if not dimension.table and not dimension.chart %}display: none;{% endif %}">
                        <h3 class="heading-small">Charts and tables</h3>
                        <ul>
                            {% if dimension.chart and dimension.table %}
                                <li>Chart - {{ dimension.chart.title.text }}</li>
                                <li>Table - {{ dimension.table.header }}</li>
                            {% elif dimension.chart %}
                                <li>Chart - {{ dimension.chart.title.text }}</li>
                            {% elif dimension.table %}
                                <li>Table - {{ dimension.table.header }}</li>

                            {% else %}
                                <li>None</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="column-full">
                        <h3 class="heading-small">Summary</h3>
                        <div class="bullets spaced-out">
                            {{ dimension.summary | render_markdown }}
                        </div>
                    </div>
                    <div class="column-one-third"
                         style="{% if not dimension.table and not dimension.chart %}display: none;{% endif %}">

                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="column-full">

            <h1 class="heading-large">Methodology</h1>

            <div style="padding-bottom: 10px">
                <div class="heading-small">Methodology</div>
                {% if measure_page.methodology %}
                    <div id="methodology">{{ measure_page.methodology | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="heading-small">Suppression rules and disclosure control</div>
                {% if measure_page.suppression_and_disclosure %}
                    <div id="suppression-and-disclosure">{{ measure_page.suppression_and_disclosure | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="heading-small">Rounding</div>
                {% if measure_page.estimation %}
                    <div>{{ measure_page.estimation | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="heading-small">Related publications</div>
                {% if measure_page.related_publications %}
                    <div>{{ measure_page.related_publications }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="heading-small">Quality
                    and methodology information url
                </div>
                {% if measure_page.qmi_url %}
                    <div>{{ measure_page.qmi_url }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="heading-small">Further technical information</div>
                {% if measure_page.further_technical_information %}
                    <div>{{ measure_page.further_technical_information }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div>
                <h1 id="data-sources" class="heading-large">Data sources</h1>
            </div>
            <div>
                <div>
                    <h2 class="heading-medium">Primary source</h2>
                </div>
                <div style="padding-bottom: 10px">
                    <div id="primary-source-title" class="heading-small">Title</div>
                    {% if measure_page.source_text %}
                        <div id="primary-source-name">{{ measure_page.source_text }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="type-of-data" class="heading-small">Type of data (Admin or Survey)</div>
                    {% if measure_page.type_of_data %}
                        <div id="type-of-data-value">{{ measure_page.type_of_data| join_enum_display_names(' and ') }} data</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="type-of-statistic" class="heading-small">Type of statistic</div>
                    {% if measure_page.type_of_statistic_description.external %}
                        <div id="type-of-statistic-value">{{ measure_page.type_of_statistic_description.external }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="publisher" class="heading-small">Publisher</div>
                    {% if measure_page.department_source %}
                        <div id="publisher-value">{{ measure_page.department_source.name }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="source-url" class="heading-small">Source url</div>
                    {% if measure_page.source_url %}
                        <div id="source-url-value" >{{ measure_page.source_url }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="publication-release-date" class="heading-small">Publication release date</div>
                    {% if measure_page.published_date %}
                        <div id="publication-release-date-value">{{ measure_page.published_date }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="notes-on-corrections-or-update" class="heading-small">Note on corrections or updates</div>
                    {% if measure_page.note_on_corrections_or_updates %}
                        <div id="notes-on-corrections-or-update-value" >{{ measure_page.note_on_corrections_or_updates | render_markdown }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="publication-frequency" class="heading-small">Publication frequency</div>
                    {% if measure_page.frequency_of_release.description %}
                        <div id="publication-frequency-value" >{{ measure_page.frequency_of_release.description }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="purpose-of-data-source" class="heading-small">Purpose of data source</div>
                    {% if measure_page.data_source_purpose %}
                        <div id="purpose-of-data-source-value">{{ measure_page.data_source_purpose | render_markdown }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>
            </div>
{#            END PRIMARY SOURCE#}

            <div>
                <div>
                    <h2 class="heading-medium">Secondary source</h2>
                </div>
                <div>
                    {% if measure_page.secondary_source_1_title %}
                        <div style="padding-bottom: 10px">
                            <div  id="secondary-primary-source-title" class="heading-small">Title</div>
                            {% if measure_page.secondary_source_1_title %}
                                <div id="secondary-source-name">{{ measure_page.secondary_source_1_title }}</div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                            <div id="secondary-source-type-of-data" class="heading-small">Type of data (Admin or Survey)</div>
                            {% if measure_page.secondary_source_1_type_of_data %}
                                <div id="secondary-source-type-of-data-value" {{ measure_page.secondary_source_1_type_of_data| join_enum_display_names(' and ') }} data></div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                            <div id="secondary-source-type-of-satistic" class="heading-small">Type of statistic</div>
                            {% if measure_page.secondary_source_1_type_of_statistic_description.external %}
                                <div id="secondary-source-type-of-satistic-value">{{ measure_page.secondary_source_1_type_of_statistic_description.external }}</div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                            <div id="secondary-source-publisher" class="heading-small">Publisher</div>
                            {% if measure_page.secondary_source_1_publisher %}
                                <div id="secondary-source-publisher-value">{{ measure_page.secondary_source_1_publisher.name }}</div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                            <div id="secondary-source-url" class="heading-small">Source url</div>
                            {% if measure_page.secondary_source_1_url %}
                                <div id="secondary-source-url-value">{{ measure_page.secondary_source_1_url }}</div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                            <div id="secondary-source-publication-release" class="heading-small">Publication release date</div>
                            {% if measure_page.secondary_source_1_date %}
                                <div id="secondary-source-publication-release-value">{{ measure_page.secondary_source_1_date }}</div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                            <div id="secondary-source-notes-on-corrections-or-update" class="heading-small">Note on corrections or updates</div>
                            {% if measure_page.secondary_source_1_note_on_corrections_or_updates %}
                                <div id="notes-on-corrections-or-update-value">{{ measure_page.secondary_source_1_note_on_corrections_or_updates | render_markdown }}</div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>

                        <div style="padding-bottom: 10px">
                            <div id="secondary-source-publication-frequency" class="heading-small">Publication frequency</div>
                            {% if measure_page.secondary_source_1_frequency_of_release.description %}
                                <div id="secondary-source-publication-frequency-value">{{ measure_page.secondary_source_1_frequency_of_release.description }}</div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>

                         <div style="padding-bottom: 10px">
                            <div id="secondary-source-purpose-of-data-source" class="heading-small">Purpose of data source</div>
                            {% if measure_page.secondary_source_1_data_source_purpose %}
                                <div id="secondary-source-purpose-of-data-source-value">{{ measure_page.secondary_source_1_data_source_purpose | render_markdown }}</div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                       <div>[...]</div>
                    {% endif %}
                </div>

            <div>
                <h1 id="data-source-details" class="heading-large">Contact details</h1>
            </div>
                <div style="padding-bottom: 10px">

                    <div class="heading-small">Contact 1</div>
                    {% if measure_page.contact_name %}

                    <div class="heading-small">Contact name</div>
                    {% if measure_page.contact_name %}
                        <div>{{ measure_page.contact_name }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}

                    <div class="heading-small">Contact email</div>
                    {% if measure_page.contact_email %}
                        <div>{{ measure_page.contact_email }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}

                    <div class="heading-small">Contact phone</div>
                    {% if measure_page.contact_phone %}
                        <div>{{ measure_page.contact_phone }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}

                    {% else %}
                        <div>[...]</div>
                    {% endif %}


                    <div class="heading-small">Contact 2</div>
                    {% if measure_page.contact_2_name %}

                    <div class="heading-small">Contact name</div>
                    {% if measure_page.contact_2_name %}
                        <div>{{ measure_page.contact_2_name }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}

                    <div class="heading-small">Contact email</div>
                    {% if measure_page.contact_2_email %}
                        <div>{{ measure_page.contact_2_email }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}

                    <div class="heading-small">Contact phone</div>
                    {% if measure_page.contact_2_phone %}
                        <div>{{ measure_page.contact_2_phone }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>
        </div>

    </main>

{% endblock %}

{% block body_end_more %}

{% endblock %}

