{% extends "static_site/export/_base_export.html" %}

{% block pageTitle %}{{ measure_version.title }} - GOV.UK Ethnicity facts and figures{% endblock %}
{% block mainElementDefinition %}<main id="content" class="main" itemscope itemtype="http://schema.org/NewsArticle">{% endblock %}
{% block socialTitle %}{{ measure_version.title }}{% endblock %}

{% block content %}

    {% set version = 'latest' if measure_version.has_no_later_published_versions() else measure_version.version %}
    <meta itemprop="image"
          content="https://www.ethnicity-facts-figures.service.gov.uk/static/images/opengraph-image.png"/>
    <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage"
          itemid="https://www.ethnicity-facts-figures.service.gov.uk{{ url_for('static_site.measure_version',
                      topic_slug=topic_slug,
                      subtopic_slug=subtopic_slug,
                      measure_slug=measure_version.measure.slug,
                      version=version) }}"/>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-m">Title: {{ measure_version.title }}</h1>

            <div class="metadata">

                {% if measure_version.time_covered %}
                    <div style="padding-bottom: 10px">
                        <div class="govuk-!-font-size-16 govuk-!-font-weight-bold" id="time-period">Time period covered</div>
                        <div id="time-period-value">{{ measure_version.time_covered }}</div>
                    </div>
                {% endif %}

                <div style="padding-bottom: 10px">
                        <div class="govuk-!-font-size-16 govuk-!-font-weight-bold" id="area-covered">Areas covered</div>
                        {% if measure_version.area_covered %}
                            <div id="area-covered-value">{{ measure_version.format_area_covered() }}</div>
                        {% else %}
                            <div>[...]</div>
                        {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                        <div class="govuk-!-font-size-16 govuk-!-font-weight-bold" id="lowest-level-of-geography">Geographic breakdown</div>
                        {% if measure_version.lowest_level_of_geography %}
                            <div id="lowest-level-of-geography-value">{{ measure_version.lowest_level_of_geography.name }}</div>
                        {% else %}
                            <div>[...]</div>
                        {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                        <div class="govuk-!-font-size-16 govuk-!-font-weight-bold" id="department">Department</div>
                        {% if measure_version.primary_data_source.publisher %}
                            <div id="department-name">{{ measure_version.primary_data_source.publisher.name }}</div>
                        {% else %}
                            <div>[...]</div>
                        {% endif %}
                </div>

            </div>

            <h1 id="data-sources" class="govuk-heading-l">Data sources</h1>
            <h2 class="govuk-heading-m">Primary source</h2>

            <div style="padding-bottom: 10px">
                <div id="source-url" class="govuk-heading-s">Link to data source</div>
                {% if measure_version.primary_data_source and measure_version.primary_data_source.source_url %}
                    <div id="source-url-value" >{{ measure_version.primary_data_source.source_url }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div id="primary-source-title" class="govuk-heading-s">Title of data source</div>
                {% if measure_version.primary_data_source %}
                    <div id="primary-source-name">{{ measure_version.primary_data_source.title }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div id="publisher" class="govuk-heading-s">Source data published by</div>
                {% if measure_version.primary_data_source.publisher %}
                    <div id="publisher-value">{{ measure_version.primary_data_source.publisher.name }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div id="publication-release-date" class="govuk-heading-s">Source data publication date</div>
                {% if measure_version.primary_data_source and measure_version.primary_data_source.publication_date %}
                    <div id="publication-release-date-value">{{ measure_version.primary_data_source.publication_date }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div id="publication-frequency" class="govuk-heading-s">How often is the source data published?</div>
                {% if measure_version.primary_data_source and measure_version.primary_data_source.frequency_of_release.description %}
                    <div id="publication-frequency-value" >{{ measure_version.primary_data_source.frequency_of_release.description }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div id="type-of-data" class="govuk-heading-s">Type of data</div>
                {% if measure_version.primary_data_source and measure_version.primary_data_source.type_of_data %}
                    <div id="type-of-data-value">{{ measure_version.primary_data_source.type_of_data | join_enum_display_names(' and ') }} data</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div id="type-of-statistic" class="govuk-heading-s">Type of statistic</div>
                {% if measure_version.primary_data_source and measure_version.primary_data_source.type_of_statistic.external %}
                    <div id="type-of-statistic-value">{{ measure_version.primary_data_source.type_of_statistic.external }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div id="purpose-of-data-source" class="govuk-heading-s">Purpose of data source</div>
                {% if measure_version.primary_data_source and measure_version.primary_data_source.purpose %}
                    <div id="purpose-of-data-source-value">{{ measure_version.primary_data_source.purpose | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div id="notes-on-corrections-or-update" class="govuk-heading-s">Corrections or updates</div>
                {% if measure_version.primary_data_source and measure_version.primary_data_source.note_on_corrections_or_updates %}
                    <div id="notes-on-corrections-or-update-value" >{{ measure_version.primary_data_source.note_on_corrections_or_updates | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>


            <h2 class="govuk-heading-m">Secondary source</h2>

            {% if measure_version.secondary_data_source %}

                <div style="padding-bottom: 10px">
                    <div id="secondary-source-url" class="govuk-heading-s">Source url</div>
                    {% if measure_version.secondary_data_source.source_url %}
                        <div id="secondary-source-url-value">{{ measure_version.secondary_data_source.source_url }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div  id="secondary-primary-source-title" class="govuk-heading-s">Title</div>
                    {% if measure_version.secondary_data_source.title %}
                        <div id="secondary-source-name">{{ measure_version.secondary_data_source.title }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="secondary-source-publisher" class="govuk-heading-s">Publisher</div>
                    {% if measure_version.secondary_data_source.publisher %}
                        <div id="secondary-source-publisher-value">{{ measure_version.secondary_data_source.publisher.name }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="secondary-source-publication-release" class="govuk-heading-s">Publication release date</div>
                    {% if measure_version.secondary_data_source.publication_date %}
                        <div id="secondary-source-publication-release-value">{{ measure_version.secondary_data_source.publication_date }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="secondary-source-publication-frequency" class="govuk-heading-s">Publication frequency</div>
                    {% if measure_version.secondary_data_source.frequency_of_release.description %}
                        <div id="secondary-source-publication-frequency-value">{{ measure_version.secondary_data_source.frequency_of_release.description }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="secondary-source-type-of-data" class="govuk-heading-s">Type of data (Admin or Survey)</div>
                    {% if measure_version.secondary_data_source.type_of_data %}
                        <div id="secondary-source-type-of-data-value" {{ measure_version.secondary_data_source.type_of_data| join_enum_display_names(' and ') }} data></div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div class="govuk-heading-s">Type of statistic</div>
                    {% if measure_version.secondary_data_source.type_of_statistic.external %}
                        <div>{{ measure_version.secondary_data_source.type_of_statistic.external }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="secondary-source-purpose-of-data-source" class="govuk-heading-s">Purpose of data source</div>
                    {% if measure_version.secondary_data_source.purpose %}
                        <div id="secondary-source-purpose-of-data-source-value">{{ measure_version.secondary_data_source.purpose | render_markdown }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>

                <div style="padding-bottom: 10px">
                    <div id="secondary-source-notes-on-corrections-or-update" class="govuk-heading-s">Note on corrections or updates</div>
                    {% if measure_version.secondary_data_source.note_on_corrections_or_updates %}
                        <div id="notes-on-corrections-or-update-value">{{ measure_version.secondary_data_source.note_on_corrections_or_updates | render_markdown }}</div>
                    {% else %}
                        <div>[...]</div>
                    {% endif %}
                </div>


            {% else %}
               <div>[...]</div>
            {% endif %}

            <div style="padding-bottom: 10px">
                <h2 class="govuk-heading-m">Main points</h2>
                {% if measure_version.summary %}
                    <div>{{ measure_version.summary | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <h2 class="govuk-heading-m">Things you need to know</h2>
                {% if measure_version.need_to_know %}
                    <div id="things-you-need-to-know">{{ measure_version.need_to_know | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="govuk-heading-s">What the data measures</div>
                {% if measure_version.measure_summary %}
                    <div id="what-the-data-measures">{{ measure_version.measure_summary | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="govuk-heading-s">The ethnic categories used in this data</div>
                {% if measure_version.ethnicity_definition_summary %}
                    <div id="ethnic-categories-used-in-this-data">{{ measure_version.ethnicity_definition_summary | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <h1 class="govuk-heading-l">Methodology</h1>

            <div style="padding-bottom: 10px">
                <div class="govuk-heading-s">Methodology</div>
                {% if measure_version.methodology %}
                    <div id="methodology">{{ measure_version.methodology | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="govuk-heading-s">Suppression rules and disclosure control</div>
                {% if measure_version.suppression_and_disclosure %}
                    <div id="suppression-and-disclosure">{{ measure_version.suppression_and_disclosure | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="govuk-heading-s">Rounding</div>
                {% if measure_version.estimation %}
                    <div>{{ measure_version.estimation | render_markdown }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="govuk-heading-s">Related publications</div>
                {% if measure_version.related_publications %}
                    <div>{{ measure_version.related_publications }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="govuk-heading-s">Link to quality and methodology information</div>
                {% if measure_version.qmi_url %}
                    <div>{{ measure_version.qmi_url }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            <div style="padding-bottom: 10px">
                <div class="govuk-heading-s">Further technical information</div>
                {% if measure_version.further_technical_information %}
                    <div>{{ measure_version.further_technical_information }}</div>
                {% else %}
                    <div>[...]</div>
                {% endif %}
            </div>

            {% if measure_version.dimensions %}
                {% for dimension in dimensions %}
                    <h1 class="govuk-heading-l">Dimension {{ loop.index }}</h1>
                    <h2 class="govuk-heading-m">Title: {{ dimension.title }}</h2>
                    <div class="metadata">
                        <div style="padding-bottom: 10px">
                            <div class="govuk-!-font-size-16 govuk-!-font-weight-bold">Time period covered</div>
                            {% if dimension.time_period %}
                                <div>{{ dimension.time_period }}</div>
                            {% else %}
                                <div>[...]</div>
                            {% endif %}
                        </div>
                    </div>

                    <div style="{% if not dimension.table and not dimension.chart %}display: none;{% endif %}">
                        <h3 class="govuk-heading-s">Charts and tables</h3>
                        <ul>
                            {% if dimension.chart and dimension.table %}
                                <li>Chart - {{ dimension.chart.title.text }}</li>
                                <li>Table - {{ dimension.table.header }}</li>
                            {% elif dimension.chart %}
                                <li>Chart - {{ dimension.chart.title.text }}</li>
                            {% elif dimension.table %}
                                <li>Table - {{ dimension.table.header }}</li>

                            {% else %}
                                <li>None</li>
                            {% endif %}
                        </ul>
                    </div>
                    <h3 class="govuk-heading-s">Summary</h3>
                    <div class="bullets spaced-out">
                        {{ dimension.summary | render_markdown }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
